<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>进度条-动态</title>
	<link rel="stylesheet" type="text/css" href="http://wangwenjie1314.github.io/statics/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
	<h1>进度条-支持完全自定义文字</h1>
	<div class="progress progress-striped active" id="progress"><div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><span></span></div></div>
</div>
<script type="text/javascript" src="http://wangwenjie1314.github.io/statics/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="http://wangwenjie1314.github.io/statics/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(function(){
	var progress=$("#progress"),progress_i=0,
		progress_bar=progress.find(".progress-bar"),
    	progress_span=progress_bar.find("span"),
    	progress_tips=['25% 完成（开始）','50% 完成（信息）','75% 完成（警告）','100% 完成（成功）'];
	function init_progress(){
		progress_span.html(progress_tips[progress_i]);
		progress_i++;
		progress_bar.width(progress_i*25+"%");
		if(progress_i<4){
		    setTimeout(function(){init_progress();},800);
		}else{
			//alert("恭喜，提交成功！");
			//progress.remove();
		}
	}
	init_progress();
})
</script>
</body>
</html>