a:hover,a:active{text-decoration:none;outline:0}a,img{-webkit-touch-callout:none}a,input{-webkit-tap-highlight-color:rgba(0,0,0,0)}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both;overflow:hidden}
.clearfix{zoom:1}
.dn{display: none}
.music{position:absolute;right:10px;bottom:20px;z-index:9999;width:62px;height:25px}
.music-btn,.music-btn>div{height:100%;width:100%}
.music-btn img{float:left;width:25px;height:25px;margin-right:6px}
section[data-id="1"],section[data-id="2"],section[data-id="3"],section[data-id="4"],section[data-id="5"],section[data-id="6"],section[data-id="7"],section[data-id="8"],section[data-id="9"],section[data-id="10"],section[data-id="11"]{background-repeat: no-repeat;background-size:100% 100%}
section[data-id="12"]{background-repeat: no-repeat}
section[data-id="1"]{background-image:url(../images/1.jpg)}
section[data-id="2"]{background-image:url(../images/2.jpg)}
section[data-id="3"]{background-image:url(../images/3.jpg)}
section[data-id="4"]{background-image:url(../images/4.jpg)}
section[data-id="5"]{background-image:url(../images/5.jpg)}
section[data-id="6"]{background-image:url(../images/6.jpg)}
section[data-id="7"]{background-image:url(../images/7.jpg)}
section[data-id="8"]{background-image:url(../images/8.jpg)}
section[data-id="9"]{background-image:url(../images/9.jpg)}
section[data-id="10"]{background-image:url(../images/10.jpg)}
section[data-id="11"]{background-image:url(../images/11.jpg)}
section[data-id="12"]{background-image:url(../images/share.png);background-position: top right;background-color: #111}
.box-txt{position: absolute;bottom:2%;opacity:0;left:14%;width:66%;border-radius: 5px;background-color:#fff;z-index: 999999;box-shadow: 0 0 10px #333}
.box-txt p{margin:10px 0;padding:0 5px}
.box-txt a{color:#666;text-decoration: underline}
.page-share-img{display: block;width:50%;height: 30%;position: absolute;left:30%;bottom: 10%}
.xin{position: absolute;top:99%;opacity: 0;width:30px;height:30px;background: url(../images/ico-love-1.png) no-repeat;font-size:5em;z-index:1000000}
.xin-1{left:5%;-webkit-animation:movea 10s linear infinite}
.xin-2{left:95%;background-image:url(../images/ico-love-2.png);-webkit-animation:moveb 10s linear infinite}
.xin-3{left:25%;background-image:url(../images/ico-love-3.png);-webkit-animation:movec 10s linear infinite}
.xin-4{left:75%;background-image:url(../images/ico-love-3.png);-webkit-animation:moved 10s linear infinite}
@-webkit-keyframes movea{
    0%{top:95%;left:10%;opacity: 0}
    50%{top:50%;left:20%;opacity: 1}
    100%{top:5%;left:5%;opacity: 0}
}
@-webkit-keyframes moveb{
    0%{top:95%;left:80%;opacity: 0}
    50%{top:50%;left:60%;opacity: 1}
    100%{top:5%;left:50%;opacity: 0}
}
@-webkit-keyframes movec{
    0%{top:95%;left:30%;opacity: 0}
    50%{top:70%;left:50%;opacity: 1}
    100%{top:5%;left:25%;opacity: 0}
}
@-webkit-keyframes moved{
    0%{top:95%;left:60%;opacity: 0}
    50%{top:50%;left:50%;opacity: 1}
    100%{top:5%;left:65%;opacity: 0}
}