<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>中文字体 适用于无改动的文字展示</title>
	<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<div class="container">
		<div class="home">
			<h1>随心所用的样式组件</h1>
			<h2>FrozenUI提供的CSS组件是目前QQ会员前端开发组所用的通用样式库。遵循手Q样式规范，基本样式使用离线包的方式减少请求，并提供快速接入的方案。</h2>
			<h1>更显灵动的JS插件</h1>
			<h2>FrozenUI提供的一系列JavaScript插件，更优雅地在移动端上呈现更灵动的动画效果。</h2>
			<h1>酷炫好玩的案例秀</h1>
			<h2>FrozenUI提供的Animation case，把业务上有趣好玩的案例沉淀下来，帮助日后能更快速找到设计灵感。</h2>
			<h1>应用业务</h1>
			<h2>目前，FrozenUI已经应用到实际业务，并在不断完善中。</h2>
			<p style="margin-top:50px">了解更多：</p>
			<p><a href="http://font-spider.org/" target="_blank">字蛛-中文字体压缩器</a></p>
			<p><a href="http://note.youdao.com/share/?id=fdb624d02d109a7945232cc528216fe1&type=note" target="_blank">我的个人使用过程</a></p>
		</div>
	</div>
</body>
</html>