<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>中文字体 适用于无改动的文字展示</title>
	<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<div class="container">
		<div class="home">
			<h1>“汉字百人舞计划”出品</h1>
			<h1>站酷高端黑发布</h1>
			<h2>站酷网近百名设计师参与字库创作，供所有人永久免费下载。</h2>
			<h3>“汉字百人舞”计划，由字体设计师胡晓波、刘兵克发起，在站酷网征集100位字体设计师共同完成一套字库创作，供所有人永久免费下载。</h3>
			<h3>最初的字形由胡晓波、刘兵克设计，其余设计师根据已有字形，最初的120个汉字和基本偏旁部首的矢量文件，衍生其他字形设计。</h3>
			<h3>前后参与创作的设计师近百名，最终由79位设计师共同完成了这套包含6763个汉字、数字和英文字母的标准字库。</h3>
			<h1>笔画设计</h1>
			<h2>站酷高端黑的笔画简洁明朗，果断有力，笔势节奏鲜明而富有气势，字体形态表现出了独特的设计个性与创造性，传达着年轻锐气的进取心与力量感，在观赏性和设计感明显提升的同时，字形本身有着良好的识别性，非常适合标题用字，促销用字，广告语用字等视觉环境。</h2>
			<h3>在站酷高端黑中，笔画横线右端均保持了同一形式同一角度数的倾斜设计，从每一个字做起，从细节做起，让每一 个字都个性鲜明，与众不同；</h3>
			<h1>结构设计</h1>
			<h2>在笔画设计中，横线与竖线，横线与斜线的宽度对比清晰鲜明，延续了现代美术黑体字“横细竖粗”的设计规律， 从而保证了字体从一而终的流畅感和舒适感；</h2>
			<h3>站酷高端黑的设计特征，还具体表现在笔画设计感的提升上，以上述字体为例，与常规黑体字相比，站酷高端黑的笔画设计感在保证识别度的前提下进行了新颖而简约的设计变化。</h3>
			<p style="margin-top:50px">了解更多：</p>
			<p><a href="http://font-spider.org/" target="_blank">字蛛-中文字体压缩器</a></p>
			<p><a href="http://note.youdao.com/share/?id=fdb624d02d109a7945232cc528216fe1&type=note" target="_blank">我的个人使用过程</a></p>
			<p>本文中字体下载：</p>
			<p><a href="http://wangwenjie1314.github.io/views/chinafont/fonts/zhankuhei.ttf">站酷高端黑</a></p>
			<p><a href="http://wangwenjie1314.github.io/views/chinafont/fonts/anjingchen.ttf">安景臣字体</a></p>
			<p><a href="http://wangwenjie1314.github.io/views/chinafont/fonts/zhongqi.ttf">钟齐字体</a></p>
		</div>
	</div>
</body>
</html>