<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Color Name</title>
<link rel="stylesheet" type="text/css" href="css/pages.css" />
<style>
.table1 { float:left; width:380px; background:#fff; border-collapse:collapse; }
.table1 td { padding:2px; }
</style>
<script src="js/jquery-1.8.3.min.js"></script>
<script>
$(function(){
	$(".table1 tr").each(function(index){
		$this = $(this);
		$this.find("td:eq(0)").css("width","80px").next("td").css({"width":"135px","fontWeight":"bold"}).next("td").css("width","145px").next("td").css("width","60px").next("td").remove();
	});

	$("tr").hover(function(){
		$(this).css({"backgroundColor":"#333","border":"1px solid #000","color":"#fff"});
	},function(){
		$(this).css({"backgroundColor":"#fff","border":"0","color":"#333"});
	});
});
</script>
</head>

<body>
<table class="table1">
  <tr>
    <td bgcolor="lightpink">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">LightPink</td>
    <td>浅粉红</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFB6C1 </td>
    <td>255,182,193</td>
  </tr>
  <tr>
    <td bgcolor="pink">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Pink</td>
    <td>粉红</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFC0CB </td>
    <td>255,192,203</td>
  </tr>
  <tr>
    <td bgcolor="crimson">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Crimson</td>
    <td>猩红</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#DC143C </td>
    <td>220,20,60</td>
  </tr>
  <tr>
    <td bgcolor="lavenderblush">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">LavenderBlush</td>
    <td>脸红的淡紫色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFF0F5 </td>
    <td>255,240,245</td>
  </tr>
  <tr>
    <td bgcolor="palevioletred">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">PaleVioletRed</td>
    <td>苍白的紫罗兰红色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#DB7093 </td>
    <td>219,112,147</td>
  </tr>
  <tr>
    <td bgcolor="hotpink">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">HotPink</td>
    <td>热情的粉红</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FF69B4 </td>
    <td>255,105,180</td>
  </tr>
  <tr>
    <td bgcolor="deeppink">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DeepPink</td>
    <td>深粉色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FF1493 </td>
    <td>255,20,147</td>
  </tr>
  <tr>
    <td bgcolor="mediumvioletred">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">MediumVioletRed</td>
    <td>适中的紫罗兰红色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#C71585 </td>
    <td>199,21,133</td>
  </tr>
  <tr>
    <td bgcolor="orchid">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Orchid</td>
    <td>兰花的紫色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#DA70D6 </td>
    <td>218,112,214</td>
  </tr>
  <tr>
    <td bgcolor="thistle">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Thistle</td>
    <td>蓟</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#D8BFD8 </td>
    <td>216,191,216</td>
  </tr>
  <tr>
    <td bgcolor="plum">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">plum</td>
    <td>李子</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#DDA0DD </td>
    <td>221,160,221</td>
  </tr>
  <tr>
    <td bgcolor="violet">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Violet</td>
    <td>紫罗兰</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#EE82EE </td>
    <td>238,130,238</td>
  </tr>
  <tr>
    <td bgcolor="magenta">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Magenta</td>
    <td>洋红</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FF00FF </td>
    <td>255,0,255</td>
  </tr>
  <tr>
    <td bgcolor="fuchsia">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Fuchsia</td>
    <td>灯笼海棠(紫红色)</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FF00FF </td>
    <td>255,0,255</td>
  </tr>
  <tr>
    <td bgcolor="darkmagenta">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DarkMagenta</td>
    <td>深洋红色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#8B008B </td>
    <td>139,0,139</td>
  </tr>
  <tr>
    <td bgcolor="purple">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Purple</td>
    <td>紫色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#800080 </td>
    <td>128,0,128</td>
  </tr>
  <tr>
    <td bgcolor="mediumorchid">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">MediumOrchid</td>
    <td>适中的兰花紫</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#BA55D3 </td>
    <td>186,85,211</td>
  </tr>
  <tr>
    <td bgcolor="#da00e0">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DarkVoilet</td>
    <td>深紫罗兰色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#9400D3 </td>
    <td>148,0,211</td>
  </tr>
  <tr>
    <td bgcolor="darkorchid">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DarkOrchid</td>
    <td>深兰花紫</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#9932CC </td>
    <td>153,50,204</td>
  </tr>
  <tr>
    <td bgcolor="indigo">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Indigo</td>
    <td>靛青</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#4B0082 </td>
    <td>75,0,130</td>
  </tr>
  <tr>
    <td bgcolor="blueviolet">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">BlueViolet</td>
    <td>深紫罗兰的蓝色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#8A2BE2 </td>
    <td>138,43,226</td>
  </tr>
  <tr>
    <td bgcolor="mediumpurple">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">MediumPurple</td>
    <td>适中的紫色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#9370DB </td>
    <td>147,112,219</td>
  </tr>
  <tr>
    <td bgcolor="mediumslateblue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">MediumSlateBlue</td>
    <td>适中的板岩暗蓝灰色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#7B68EE </td>
    <td>123,104,238</td>
  </tr>
  <tr>
    <td bgcolor="slateblue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">SlateBlue</td>
    <td>板岩暗蓝灰色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#6A5ACD </td>
    <td>106,90,205</td>
  </tr>
  <tr>
    <td bgcolor="darkslateblue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DarkSlateBlue</td>
    <td>深岩暗蓝灰色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#483D8B </td>
    <td>72,61,139</td>
  </tr>
  <tr>
    <td bgcolor="lavender">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Lavender</td>
    <td>熏衣草花的淡紫色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#E6E6FA </td>
    <td>230,230,250</td>
  </tr>
  <tr>
    <td bgcolor="ghostwhite">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">GhostWhite</td>
    <td>幽灵的白色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#F8F8FF </td>
    <td>248,248,255</td>
  </tr>
  <tr>
    <td bgcolor="blue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Blue</td>
    <td>纯蓝</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#0000FF </td>
    <td>0,0,255</td>
  </tr>
  <tr>
    <td bgcolor="mediumblue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">MediumBlue</td>
    <td>适中的蓝色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#0000CD </td>
    <td>0,0,205</td>
  </tr>
  <tr>
    <td bgcolor="midnightblue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">MidnightBlue</td>
    <td>午夜的蓝色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#191970 </td>
    <td>25,25,112</td>
  </tr>
  <tr>
    <td bgcolor="darkblue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DarkBlue</td>
    <td>深蓝色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#00008B </td>
    <td>0,0,139</td>
  </tr>
  <tr>
    <td bgcolor="navy">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Navy</td>
    <td>海军蓝</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#000080 </td>
    <td>0,0,128</td>
  </tr>
  <tr>
    <td bgcolor="royalblue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">RoyalBlue</td>
    <td>皇军蓝</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#4169E1 </td>
    <td>65,105,225</td>
  </tr>
  <tr>
    <td bgcolor="cornflowerblue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">CornflowerBlue</td>
    <td>矢车菊的蓝色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#6495ED </td>
    <td>100,149,237</td>
  </tr>
  <tr>
    <td bgcolor="lightsteelblue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">LightSteelBlue</td>
    <td>淡钢蓝</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#B0C4DE </td>
    <td>176,196,222</td>
  </tr>
  <tr>
    <td bgcolor="lightslategray">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">LightSlateGray</td>
    <td>浅石板灰</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#778899 </td>
    <td>119,136,153</td>
  </tr>
  <tr>
    <td bgcolor="slategray">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">SlateGray</td>
    <td>石板灰</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#708090 </td>
    <td>112,128,144</td>
  </tr>
  <tr>
    <td bgcolor="DodgerBlue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DodgerBlue</td>
    <td>道奇蓝</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#1E90FF </td>
    <td>30,144,255</td>
  </tr>
  <tr>
    <td bgcolor="aliceblue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">AliceBlue</td>
    <td>爱丽丝蓝</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#F0F8FF </td>
    <td>240,248,255</td>
  </tr>
  <tr>
    <td bgcolor="steelblue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">SteelBlue</td>
    <td>钢蓝</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#4682B4 </td>
    <td>70,130,180</td>
  </tr>
  <tr>
    <td bgcolor="lightskyblue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">LightSkyBlue</td>
    <td>淡蓝色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#87CEFA </td>
    <td>135,206,250</td>
  </tr>
  <tr>
    <td bgcolor="skyblue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">SkyBlue</td>
    <td>天蓝色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#87CEEB </td>
    <td>135,206,235</td>
  </tr>
  <tr>
    <td bgcolor="deepskyblue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DeepSkyBlue</td>
    <td>深天蓝</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#00BFFF </td>
    <td>0,191,255</td>
  </tr>
  <tr>
    <td bgcolor="lightblue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">LightBLue</td>
    <td>淡蓝</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#ADD8E6 </td>
    <td>173,216,230</td>
  </tr>
  <tr>
    <td bgcolor="powderblue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">PowDerBlue</td>
    <td>火药蓝</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#B0E0E6 </td>
    <td>176,224,230</td>
  </tr>
  <tr>
    <td bgcolor="cadetblue">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">CadetBlue</td>
    <td>军校蓝</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#5F9EA0 </td>
    <td>95,158,160</td>
  </tr>
  <tr>
    <td bgcolor="azure">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Azure</td>
    <td>蔚蓝色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#F0FFFF </td>
    <td>240,255,255</td>
  </tr>
  <tr>
    <td bgcolor="lightcyan">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">LightCyan</td>
    <td>淡青色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#E1FFFF </td>
    <td>225,255,255</td>
  </tr>
  <tr>
    <td bgcolor="paleturquoise">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">PaleTurquoise</td>
    <td>苍白的绿宝石</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#AFEEEE </td>
    <td>175,238,238</td>
  </tr>
  <tr>
    <td bgcolor="cyan">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Cyan</td>
    <td>青色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#00FFFF </td>
    <td>0,255,255</td>
  </tr>
  <tr>
    <td bgcolor="aqua">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Aqua</td>
    <td>水绿色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#00FFFF </td>
    <td>0,255,255</td>
  </tr>
  <tr>
    <td bgcolor="darkturquoise">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DarkTurquoise</td>
    <td>深绿宝石</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#00CED1 </td>
    <td>0,206,209</td>
  </tr>
  <tr>
    <td bgcolor="darkslategray">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DarkSlateGray</td>
    <td>深石板灰</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#2F4F4F </td>
    <td>47,79,79</td>
  </tr>
  <tr>
    <td bgcolor="darkcyan">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DarkCyan</td>
    <td>深青色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#008B8B </td>
    <td>0,139,139</td>
  </tr>
  <tr>
    <td bgcolor="teal">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Teal</td>
    <td>水鸭色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#008080 </td>
    <td>0,128,128</td>
  </tr>
  <tr>
    <td bgcolor="mediumturquoise">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">MediumTurquoise</td>
    <td>适中的绿宝石</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#48D1CC </td>
    <td>72,209,204</td>
  </tr>
  <tr>
    <td bgcolor="lightseagreen">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">LightSeaGreen</td>
    <td>浅海洋绿</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#20B2AA </td>
    <td>32,178,170</td>
  </tr>
  <tr>
    <td bgcolor="turquoise">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Turquoise</td>
    <td>绿宝石</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#40E0D0 </td>
    <td>64,224,208</td>
  </tr>
  <tr>
    <td bgcolor="#a0a000">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Auqamarin</td>
    <td>绿玉\碧绿色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#7FFFAA </td>
    <td>127,255,170</td>
  </tr>
  <tr>
    <td bgcolor="mediumaquamarine">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">MediumAquamarine</td>
    <td>适中的碧绿色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#00FA9A </td>
    <td>0,250,154</td>
  </tr>
  <tr>
    <td bgcolor="mediumspringgreen">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">MediumSpringGreen</td>
    <td>适中的春天的绿色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#F5FFFA </td>
    <td>245,255,250</td>
  </tr>
  <tr>
    <td bgcolor="mintcream">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">MintCream</td>
    <td>薄荷奶油</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#00FF7F </td>
    <td>0,255,127</td>
  </tr>
  <tr>
    <td bgcolor="springgreen">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">SpringGreen</td>
    <td>春天的绿色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#3CB371 </td>
    <td>60,179,113</td>
  </tr>
  <tr>
    <td bgcolor="seagreen">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">SeaGreen</td>
    <td>海洋绿</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#2E8B57 </td>
    <td>46,139,87</td>
  </tr>
  <tr>
    <td bgcolor="honeydew">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Honeydew</td>
    <td>蜂蜜</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#F0FFF0 </td>
    <td>240,255,240</td>
  </tr>
  <tr>
    <td bgcolor="lightgreen">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">LightGreen</td>
    <td>淡绿色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#90EE90 </td>
    <td>144,238,144</td>
  </tr>
  <tr>
    <td bgcolor="palegreen">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">PaleGreen</td>
    <td>苍白的绿色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#98FB98 </td>
    <td>152,251,152</td>
  </tr>
  <tr>
    <td bgcolor="darkseagreen">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DarkSeaGreen</td>
    <td>深海洋绿</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#8FBC8F </td>
    <td>143,188,143</td>
  </tr>
  
  </table>
  <table class="table1">
  <tr>
    <td bgcolor="limegreen">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">LimeGreen</td>
    <td>酸橙绿</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#32CD32 </td>
    <td>50,205,50</td>
  </tr>
  <tr>
    <td bgcolor="lime">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Lime</td>
    <td>酸橙色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#00FF00 </td>
    <td>0,255,0</td>
  </tr>
  <tr>
    <td bgcolor="forestgreen">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">ForestGreen</td>
    <td>森林绿</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#228B22 </td>
    <td>34,139,34</td>
  </tr>
  <tr>
    <td bgcolor="green">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Green</td>
    <td>纯绿</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#008000 </td>
    <td>0,128,0</td>
  </tr>
  <tr>
    <td bgcolor="darkgreen">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DarkGreen</td>
    <td>深绿色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#006400 </td>
    <td>0,100,0</td>
  </tr>
  <tr>
    <td bgcolor="chartreuse">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Chartreuse</td>
    <td>查特酒绿</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#7FFF00 </td>
    <td>127,255,0</td>
  </tr>
  <tr>
    <td bgcolor="lawngreen">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">LawnGreen</td>
    <td>草坪绿</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#7CFC00 </td>
    <td>124,252,0</td>
  </tr>
  <tr>
    <td bgcolor="greenyellow">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">GreenYellow</td>
    <td>绿黄色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#ADFF2F </td>
    <td>173,255,47</td>
  </tr>
  <tr>
    <td bgcolor="olivedrab">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">OliveDrab</td>
    <td>橄榄土褐色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#556B2F </td>
    <td>85,107,47</td>
  </tr>
  <tr>
    <td bgcolor="beige">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Beige</td>
    <td>米色(浅褐色)</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#6B8E23 </td>
    <td>107,142,35</td>
  </tr>
  <tr>
    <td bgcolor="lightgoldenrodyellow">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">LightGoldenrodYellow</td>
    <td>浅秋麒麟黄</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FAFAD2 </td>
    <td>250,250,210</td>
  </tr>
  <tr>
    <td bgcolor="ivory">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Ivory</td>
    <td>象牙</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFFFF0 </td>
    <td>255,255,240</td>
  </tr>
  <tr>
    <td bgcolor="lightyellow">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">LightYellow</td>
    <td>浅黄色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFFFE0 </td>
    <td>255,255,224</td>
  </tr>
  <tr>
    <td bgcolor="yellow">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Yellow</td>
    <td>纯黄</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFFF00 </td>
    <td>255,255,0</td>
  </tr>
  <tr>
    <td bgcolor="olive">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Olive</td>
    <td>橄榄</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#808000 </td>
    <td>128,128,0</td>
  </tr>
  <tr>
    <td bgcolor="darkkhaki">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DarkKhaki</td>
    <td>深卡其布</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#BDB76B </td>
    <td>189,183,107</td>
  </tr>
  <tr>
    <td bgcolor="lemonchiffon">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">LemonChiffon</td>
    <td>柠檬薄纱</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFFACD </td>
    <td>255,250,205</td>
  </tr>
  <tr>
    <td bgcolor="#a00d00">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">PaleGodenrod</td>
    <td>灰秋麒麟</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#EEE8AA </td>
    <td>238,232,170</td>
  </tr>
  <tr>
    <td bgcolor="khaki">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Khaki</td>
    <td>卡其布</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#F0E68C </td>
    <td>240,230,140</td>
  </tr>
  <tr>
    <td bgcolor="gold">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Gold</td>
    <td>金</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFD700 </td>
    <td>255,215,0</td>
  </tr>
  <tr>
    <td bgcolor="#c00000">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Cornislk</td>
    <td>玉米色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFF8DC </td>
    <td>255,248,220</td>
  </tr>
  <tr>
    <td bgcolor="goldenrod">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">GoldEnrod</td>
    <td>秋麒麟</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#DAA520 </td>
    <td>218,165,32</td>
  </tr>
  <tr>
    <td bgcolor="floralwhite">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">FloralWhite</td>
    <td>花的白色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFFAF0 </td>
    <td>255,250,240</td>
  </tr>
  <tr>
    <td bgcolor="oldlace">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">OldLace</td>
    <td>老饰带</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FDF5E6 </td>
    <td>253,245,230</td>
  </tr>
  <tr>
    <td bgcolor="wheat">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Wheat</td>
    <td>小麦色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#F5DEB3 </td>
    <td>245,222,179</td>
  </tr>
  <tr>
    <td bgcolor="moccasin">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Moccasin</td>
    <td>鹿皮鞋</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFE4B5 </td>
    <td>255,228,181</td>
  </tr>
  <tr>
    <td bgcolor="orange">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Orange</td>
    <td>橙色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFA500 </td>
    <td>255,165,0</td>
  </tr>
  <tr>
    <td bgcolor="papayawhip">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">PapayaWhip</td>
    <td>番木瓜</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFEFD5 </td>
    <td>255,239,213</td>
  </tr>
  <tr>
    <td bgcolor="blanchedalmond">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">BlanchedAlmond</td>
    <td>漂白的杏仁</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFEBCD </td>
    <td>255,235,205</td>
  </tr>
  <tr>
    <td bgcolor="navajowhite">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">NavajoWhite</td>
    <td>Navajo白</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFDEAD </td>
    <td>255,222,173</td>
  </tr>
  <tr>
    <td bgcolor="antiquewhite">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">AntiqueWhite</td>
    <td>古代的白色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FAEBD7 </td>
    <td>250,235,215</td>
  </tr>
  <tr>
    <td bgcolor="tan">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Tan</td>
    <td>晒黑</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#D2B48C </td>
    <td>210,180,140</td>
  </tr>
  <tr>
    <td bgcolor="#b00000">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">BrulyWood</td>
    <td>结实的树</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#DEB887 </td>
    <td>222,184,135</td>
  </tr>
  <tr>
    <td bgcolor="bisque">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Bisque</td>
    <td>(浓汤)乳脂,番茄等</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFE4C4 </td>
    <td>255,228,196</td>
  </tr>
  <tr>
    <td bgcolor="darkorange">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DarkOrange</td>
    <td>深橙色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FF8C00 </td>
    <td>255,140,0</td>
  </tr>
  <tr>
    <td bgcolor="linen">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Linen</td>
    <td>亚麻布</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FAF0E6 </td>
    <td>250,240,230</td>
  </tr>
  <tr>
    <td bgcolor="peru">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Peru</td>
    <td>秘鲁</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#CD853F </td>
    <td>205,133,63</td>
  </tr>
  <tr>
    <td bgcolor="peachpuff">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">PeachPuff</td>
    <td>桃色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFDAB9 </td>
    <td>255,218,185</td>
  </tr>
  <tr>
    <td bgcolor="sandybrown">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">SandyBrown</td>
    <td>沙棕色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#F4A460 </td>
    <td>244,164,96</td>
  </tr>
  <tr>
    <td bgcolor="chocolate">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Chocolate</td>
    <td>巧克力</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#D2691E </td>
    <td>210,105,30</td>
  </tr>
  <tr>
    <td bgcolor="saddlebrown">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">SaddleBrown</td>
    <td>马鞍棕色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#8B4513 </td>
    <td>139,69,19</td>
  </tr>
  <tr>
    <td bgcolor="seashell">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">SeaShell</td>
    <td>海贝壳</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFF5EE </td>
    <td>255,245,238</td>
  </tr>
  <tr>
    <td bgcolor="sienna">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Sienna</td>
    <td>黄土赭色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#A0522D </td>
    <td>160,82,45</td>
  </tr>
  <tr>
    <td bgcolor="lightsalmon">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">LightSalmon</td>
    <td>浅鲜肉(鲑鱼)色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFA07A </td>
    <td>255,160,122</td>
  </tr>
  <tr>
    <td bgcolor="coral">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Coral</td>
    <td>珊瑚</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FF7F50 </td>
    <td>255,127,80</td>
  </tr>
  <tr>
    <td bgcolor="orangered">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">OrangeRed</td>
    <td>橙红色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FF4500 </td>
    <td>255,69,0</td>
  </tr>
  <tr>
    <td bgcolor="darksalmon">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DarkSalmon</td>
    <td>深鲜肉(鲑鱼)色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#E9967A </td>
    <td>233,150,122</td>
  </tr>
  <tr>
    <td bgcolor="tomato">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Tomato</td>
    <td>番茄</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FF6347 </td>
    <td>255,99,71</td>
  </tr>
  <tr>
    <td bgcolor="mistyrose">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">MistyRose</td>
    <td>薄雾玫瑰</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFE4E1 </td>
    <td>255,228,225</td>
  </tr>
  <tr>
    <td bgcolor="salmon">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Salmon</td>
    <td>鲜肉(鲑鱼)色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FA8072 </td>
    <td>250,128,114</td>
  </tr>
  <tr>
    <td bgcolor="snow">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Snow</td>
    <td>雪</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFFAFA </td>
    <td>255,250,250</td>
  </tr>
  <tr>
    <td bgcolor="lightcoral">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">LightCoral</td>
    <td>淡珊瑚色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#F08080 </td>
    <td>240,128,128</td>
  </tr>
  <tr>
    <td bgcolor="rosybrown">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">RosyBrown</td>
    <td>玫瑰棕色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#BC8F8F </td>
    <td>188,143,143</td>
  </tr>
  <tr>
    <td bgcolor="indianred">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">IndianRed</td>
    <td>印度红</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#CD5C5C </td>
    <td>205,92,92</td>
  </tr>
  <tr>
    <td bgcolor="red">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Red</td>
    <td>纯红</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FF0000 </td>
    <td>255,0,0</td>
  </tr>
  <tr>
    <td bgcolor="brown">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Brown</td>
    <td>棕色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#A52A2A </td>
    <td>165,42,42</td>
  </tr>
  <tr>
    <td bgcolor="firebrick">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">FireBrick</td>
    <td>耐火砖</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#B22222 </td>
    <td>178,34,34</td>
  </tr>
  <tr>
    <td bgcolor="darkred">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DarkRed</td>
    <td>深红色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#8B0000 </td>
    <td>139,0,0</td>
  </tr>
  <tr>
    <td bgcolor="maroon">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Maroon</td>
    <td>栗色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#800000 </td>
    <td>128,0,0</td>
  </tr>
  <tr>
    <td bgcolor="white">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">White</td>
    <td>纯白</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#FFFFFF </td>
    <td>255,255,255</td>
  </tr>
  <tr>
    <td bgcolor="whitesmoke">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">WhiteSmoke</td>
    <td>白烟</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#F5F5F5 </td>
    <td>245,245,245</td>
  </tr>
  <tr>
    <td bgcolor="gainsboro">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Gainsboro</td>
    <td>Gainsboro</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#DCDCDC </td>
    <td>220,220,220</td>
  </tr>
  <tr>
    <td bgcolor="lightgrey">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">LightGrey</td>
    <td>浅灰色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#D3D3D3 </td>
    <td>211,211,211</td>
  </tr>
  <tr>
    <td bgcolor="silver">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Silver</td>
    <td>银白色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#C0C0C0 </td>
    <td>192,192,192</td>
  </tr>
  <tr>
    <td bgcolor="darkgray">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DarkGray</td>
    <td>深灰色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#A9A9A9 </td>
    <td>169,169,169</td>
  </tr>
  <tr>
    <td bgcolor="gray">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Gray</td>
    <td>灰色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#808080 </td>
    <td>128,128,128</td>
  </tr>
  <tr>
    <td bgcolor="dimgray">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">DimGray</td>
    <td>暗淡的灰色</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#696969 </td>
    <td>105,105,105</td>
  </tr>
  <tr>
    <td bgcolor="black">　</td>
    <td onClick="clipboardData.setData('text',this.innerText)">Black</td>
    <td>纯黑</td>
    <td onClick="clipboardData.setData('text',this.innerText)">#000000 </td>
    <td>0,0,0</td>
  </tr>
</table>
</body>
</html>