<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>瀑布流jquery版</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="http://www.zgshjyyjh.com/Public/style/public.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    .clearfix:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden;}.clearfix{display:inline-block;}* html .clearfix{height:1%;}.clearfix{display:block;}
    .mainBox{padding:10px 15px}
    .mainBox .pin{float: left;padding: 15px 0 0 15px;width: 295px;text-align: center}
    .mainBox .box{padding: 8px;width:280px;border: 1px solid #ccc;box-shadow: 0 0 5px #ccc;border-radius: 5px}
    .mainBox .box img{width: 280px;height: auto}
    .mainBox .box p{margin:10px 0 0 0}
    </style>
</head>
<body>
<!--product show begin-->
<div class="w1335 clearfix" id="product">
<h1><span>作品欣赏</span></h1>
<div class="mainBox" id="main">
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://wangwenjie1314.github.io/views/tool/images/tools_img_01.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://wangwenjie1314.github.io/views/tool/images/tools_img_02.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://wangwenjie1314.github.io/views/tool/images/tools_img_03.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://wangwenjie1314.github.io/views/tool/images/tools_img_04.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://c.hiphotos.baidu.com/image/pic/item/0824ab18972bd4077f8873fd79899e510fb30966.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://wangwenjie1314.github.io/views/tool/images/tools_img_06.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://wangwenjie1314.github.io/views/tool/images/tools_img_07.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://d.hiphotos.baidu.com/image/pic/item/a8773912b31bb0514357ca2a357adab44aede045.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://wangwenjie1314.github.io/views/tool/images/tools_img_11.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://f.hiphotos.baidu.com/image/pic/item/f2deb48f8c5494eeb528761b2ef5e0fe99257ead.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://h.hiphotos.baidu.com/image/pic/item/ac345982b2b7d0a213987e5cc9ef76094a369a99.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://g.hiphotos.baidu.com/image/pic/item/2fdda3cc7cd98d1017905bab233fb80e7aec90e7.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://wangwenjie1314.github.io/views/tool/images/tools_img_07.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://wangwenjie1314.github.io/views/tool/images/tools_img_15.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://d.hiphotos.baidu.com/image/pic/item/0ff41bd5ad6eddc4aa295b333bdbb6fd53663328.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://wangwenjie1314.github.io/views/tool/images/tools_img_12.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://a.hiphotos.baidu.com/image/pic/item/b21bb051f81986182e1f284b48ed2e738ad4e6a1.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://d.hiphotos.baidu.com/image/pic/item/4b90f603738da9772a1d41e4b251f8198718e3cb.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://d.hiphotos.baidu.com/image/pic/item/c8177f3e6709c93dbb00ca389d3df8dcd000540b.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://d.hiphotos.baidu.com/image/pic/item/c2fdfc039245d6880ff0766ba6c27d1ed31b240b.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://g.hiphotos.baidu.com/image/pic/item/a1ec08fa513d269767e1cf9257fbb2fb4216d8cb.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://h.hiphotos.baidu.com/image/pic/item/9f2f070828381f30cedf4966ab014c086f06f03f.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://wangwenjie1314.github.io/views/tool/images/tools_img_05.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://wangwenjie1314.github.io/views/tool/images/tools_img_06.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://wangwenjie1314.github.io/views/tool/images/tools_img_07.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://wangwenjie1314.github.io/views/tool/images/tools_img_15.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://wangwenjie1314.github.io/views/tool/images/tools_img_11.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
    <div class="pin">
        <div class="box">
            <img class="lazy" src="http://wangwenjie1314.github.io/views/tool/images/tools_img_12.jpg"/>
            <p>月上柳梢头</p>
        </div>
    </div>
</div>
</div>
<script src="http://wangwenjie1314.github.io/statics/js/jquery-2.0.3.min.js"></script>
<script src="http://wangwenjie1314.github.io/statics/js/jquery.lazyload.min.js"></script>
<script src="http://wangwenjie1314.github.io/statics/js/jquery.masonry.min.js"></script>
<script type="text/javascript">
$(function(){
    var $container = $('#main');
    $container.imagesLoaded(function(){
        $container.masonry({
            itemSelector: '.pin',
            columnWidth: 12 //每两列之间的间隙为5像素
        });
    });
    $("img.lazy").lazyload({threshold : 200,effect : "fadeIn"});//异步加载img图片
});
</script>
</body>
</html>