<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
	<link rel="shortcut icon" href="http://cdn-img.easyicon.net/favicon.ico">
	<title>整屏滑动切换</title>
	<link rel="stylesheet" type="text/css" href="css/index.css" />
</head>
<body>
	<div class="loading" id="loading"><div class="progress"><div></div></div><div class="loading-text">正在加载中(<em>0</em>/<em>0</em>)……</div></div>
    <div class="page">
        <div class="sliderContainer" id="sliderContainer">
            <!-- page1 -->
            <div class="slider slider-1">
                <div class="ani title"></div>
                <div class="ani desc"></div>
                <div class="ani logo"></div>
                <div class="ani next js-next"></div>
            </div>
            <!-- page2 -->
            <div class="slider slider-2">
                <div class="ani pic"><img src="images/ico-user.png" alt="头像" /></div>
                <div class="ani title">麦玲玲，香港首席女风水师</div>
                <div class="ani desc">人，天生即有运势，此为天注定。而提早知道运势，则可以助我们趋吉避凶。<br/>
                通过参与互动，将会产生幸运网友，获得麦老师亲自提供的运势解析，机会难得不容错过！</div>
                <div class="ani bottom"><a href="javascirpt:;" class="button js-next">看看我的运势</a></div>
                <div class="ani next js-next"></div>
            </div>
            <!-- page3 -->
            <div class="slider slider-3">
                <div class="ani man">
                    <ul>
                        <li data-type="gou"><i class="iconfont icon-goushengxiao"></i></li>
                        <li data-type="hu"><i class="iconfont icon-hushengxiao"></i></li>
                        <li data-type="long"><i class="iconfont icon-longshengxiao"></i></li>
                        <li data-type="ma"><i class="iconfont icon-mashengxiao"></i></li>
                        <!-- <li class="iconfont icon-hushengxiao" data-type="hu"></li>
                        <li class="iconfont icon-longshengxiao" data-type="long"></li>
                        <li class="iconfont icon-mashengxiao" data-type="ma"></li> -->
                    </ul>
                    <ul>
						<li data-type="she"><i class="iconfont icon-sheshengxiao"></i></li>
                        <li data-type="shu"><i class="iconfont icon-shushengxiao"></i></li>
                        <li data-type="yang"><i class="iconfont icon-yangshengxiao"></i></li>
                        <li data-type="hou"><i class="iconfont icon-houshengxiao"></i></li>
                        <!-- <li class="iconfont icon-sheshengxiao" data-type="she"></li>
                        <li class="iconfont icon-shushengxiao" data-type="shu"></li>
                        <li class="iconfont icon-yangshengxiao" data-type="yang"></li>
                        <li class="iconfont icon-houshengxiao" data-type="hou"></li> -->
                    </ul>
                    <ul>
						<li data-type="ji"><i class="iconfont icon-jishengxiao"></i></li>
                        <li data-type="niu"><i class="iconfont icon-niushengxiao"></i></li>
                        <li data-type="tu"><i class="iconfont icon-tushengxiao"></i></li>
                        <li data-type="zhu"><i class="iconfont icon-zhushengxiao2"></i></li>
                        <!-- <li class="iconfont icon-jishengxiao" data-type="ji"></li>
                        <li class="iconfont icon-niushengxiao" data-type="niu"></li>
                        <li class="iconfont icon-tushengxiao" data-type="tu"></li>
                        <li class="iconfont icon-zhushengxiao2" data-type="zhu"></li> -->
                    </ul>
                </div>
                <div class="ani bottom">点击查看生肖运势</div>
            </div>
            <!-- page4 -->
            <div class="slider slider-4">
                <div class="ani title">鼠</div>
                <div class="ani desc">★运势详情：点击查看生肖运势详情点击查看生肖运势详情点击查看生肖运势详情点击查看生肖运势详情点击查看生肖运势详情点击查看生肖运势详情点击查看生肖运势详情点击查看生肖运势详情点击查看生肖运势详情<br/>
                ★开运吉祥物：慈云阁【慈云阁雄鹰齐辉】</div>
                <div class="ani bottom">
                    <a href="javascirpt:;" class="button wx-share">分享我的生肖运势</a>
                    <a href="javascirpt:;" class="button wx-tip">请老师帮我算算</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 分享1-->
    <div class="wxShare" id="wxShare"></div>
    <!-- 分享2-->
    <div class="wxTip" id="wxTip"></div>
	<script src="js/zepto.min.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript">
    var slider = {},
	allImages = {
	    images: ["http://p4.qhimg.com/d/_open360/ev/ar/wx/0_00.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/0_0.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/0_01.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/0_025.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/0_03.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/0_05.png"],
	    images1: ["http://p4.qhimg.com/d/_open360/ev/ar/wx/1_02.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/1_03.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/1_06.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/1_07.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/1_08.png"],
	    images2: ["http://p4.qhimg.com/d/_open360/ev/ar/wx/2_00.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/2_03.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/2_04.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/2_06.png"],
	    images3: ["http://p4.qhimg.com/d/_open360/ev/ar/wx/3_02.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/3_03.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/3_05.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/3_06.png"],
	    images4: ["http://p4.qhimg.com/d/_open360/ev/ar/wx/4_03.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/4_05.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/4_07.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/4_08.png"]
	},
	anim = new Animation;
	anim.played = [],
    anim.movie = [function(e) {
      if (anim.played[e]) return;
      anim.played[e] = 1,
      anim.add(".slider-1 .title", "moveFromTop"),
      anim.add(".slider-1 .desc", "moveFromLeft"),
      anim.add(".slider-1 .logo", "fadeIn"),
      anim.add(".slider-1 .next", "moveFromBottom", {
        remove: !0,
        onComplete: function() {
          $(".slider-1 .next").css("-webkit-animation", "float 1s linear 0 infinite alternate")
        }
      }),
      anim.onComplete = function() {
        anim.onComplete = new Function;
        var e = new Preloader(allImages.images1);
        e.load()
      },
      anim.play()
    },
    function(e) {
      if (anim.played[e]) return;
      anim.played[e] = 1,
      anim.add(".slider-2 .pic", "fadeIn"),
      anim.add(".slider-2 .title", "moveFromLeft"),
      anim.add(".slider-2 .desc", "moveFromBottom"),
      anim.add(".slider-2 .bottom", "zoomOut"),
      anim.add(".slider-2 .next", "moveFromBottom", {
        remove: !0,
        onComplete: function() {
          $(".slider-2 .next").css("-webkit-animation", "float 1s linear 0 infinite alternate")
        }
      }),
      anim.onComplete = function() {
        anim.onComplete = new Function;
        var e = new Preloader(allImages.images2);
        e.load()
      },
      anim.play()
    },
    function(e) {
      if (anim.played[e]) return;
      anim.played[e] = 1,
      anim.add(".slider-3 .man", "zoomOut"),
      anim.add(".slider-3 .bottom", "moveFromBottom"),
      anim.onComplete = function() {
        anim.onComplete = new Function;
        var e = new Preloader(allImages.images3);
        e.load()
      },
      anim.play()
    },
    function(e) {
      if (anim.played[e]) return;
      anim.played[e] = 1,
      anim.add(".slider-4 .title", "fadeIn"),
      anim.add(".slider-4 .desc", "moveFromBottom"),
      anim.add(".slider-4 .bottom", "zoomOut"),
      anim.onComplete = function() {
        anim.onComplete = new Function;
        var e = new Preloader(allImages.images4);
        e.load();
      },
      anim.play()
    }],
	anim.show = function(e) {
	    // if (anim.played[e]) return;
	    // anim.played[e] = 1,
	    // anim.play()
        anim.movie[e].call(anim, e)
	};
    var pageInit=function(){
        $("#sliderContainer").css("visibility", "visible"),
        $("#loading").remove(),
        slider.on("swipeTop",function(e){
            setTimeout(function(){anim.show(e + 1)},500)
        }),
        slider.on("swipeBottom",function(e) {
            setTimeout(function() {anim.show(e - 1)},500)
        }),
        anim.show(0)
    };
    var pageEvent=function(){
        var wxShare = $("#wxShare"),
            wxTip = $("#wxTip");
        $(document).on('tap','.iconfont',function(e){
            var t = $(this),
            n = t.closest(".slider"),
            r = n.index();
            type=t.attr("data-type");
            //add data
            $(".slider-4 .title").html('马');
            $(".slider-4 .desc").html('啊');

            slider._swipeTop(r, n),
            e.preventDefault();

        }).on('tap','.js-next',function(e){
            var t = $(this),
            n = t.closest(".slider"),
            r = n.index();
            slider._swipeTop(r, n),
            e.preventDefault();
        }).on('tap','.wx-share',function(){
            wxShare.show();
        }).on('tap','.wx-tip',function(){
            wxTip.show();
        }).on('tap','#wxShare',function(){
            $(this).hide();
        }).on('tap','#wxTip',function(){
            $(this).hide();
        });
    };
    var animApp = {
        images: allImages.images,
        init: function() {
            slider = new TouchSlider("#sliderContainer", ".slider", {
                vertical: !0
            });
            var e = this,
            t = this.getPreloader();
            t.onProgress = this.onPreloadProgress,
            t.load(function() {
                e.onPreloadLoad()
            }),
            window.timer_loaded = setTimeout(function() {
                e.onPreloadLoad()
            },5e3)
        },
        getPreloader: function() {
            return new Preloader(this.images)
        },
        onPreloadProgress: function(e, t) {
            var n = $("#loading em"),
            r = $("#loading .progress > div");
            n.eq(0).text(e),
            n.eq(1).text(t),
            r.css("-webkit-transition", "all .4s ease-in-out"),
            r.width(100 * e / t + "%")
        },
        onPreloadLoad: function() {
            clearTimeout(window.timer_loaded)
            setTimeout(pageInit, 500)
        }
    };
    $(function(){
        animApp.init();
        pageEvent();
    });
    </script>
</body>
</html>