<!DOCTYPE html>
<html manifest="app.appcache">
<!-- <html> -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
	<link rel="shortcut icon" href="http://cdn-img.easyicon.net/favicon.ico">
	<title>麦玲玲独家解读生肖4月运势-凤凰娱乐</title>
	<link rel="stylesheet" type="text/css" href="css/app.css" />
</head>
<body>
	<!-- 分享logo -->
	<img src="images/share-logo.jpg" class="sharepic" />
	<div class="loading" id="loading"><div class="progress"><div></div></div><div class="loading-text">正在加载中(<em>0</em>/<em>0</em>)……</div></div>
    <div class="page">
        <div class="sliderContainer" id="sliderContainer">
            <!-- page1 -->
            <div class="slider slider-1">
                <img src="images/page1-1.png" class="ani title" />
                <img src="images/page1-2.png" class="ani logo" />
                <div class="ani next js-next"></div>
            </div>
            <!-- page2 -->
            <div class="slider slider-2">
            	<img src="images/page2-1.png" class="ani pic" />
            	<img src="images/page2-2.png" class="ani title" />
            	<img src="images/page2-3.png" class="ani desc" />
                <div class="ani bottom"><a href="javascirpt:;" class="button js-next">看看我的运势</a></div>
                <div class="ani next js-next"></div>
            </div>
            <!-- page3 -->
            <div class="slider slider-3">
            	<img src="images/page3-1.png" class="ani title" />
                <div class="ani desc">
                   <a href="javascript:;" class="sx-shu" data-name="shu"></a>
                   <a href="javascript:;" class="sx-niu" data-name="niu"></a>
                   <a href="javascript:;" class="sx-hu" data-name="hu"></a>
                   <a href="javascript:;" class="sx-tu" data-name="tu"></a>
                   <a href="javascript:;" class="sx-long" data-name="long"></a>
                   <a href="javascript:;" class="sx-she" data-name="she"></a>
                   <a href="javascript:;" class="sx-ma" data-name="ma"></a>
                   <a href="javascript:;" class="sx-yang" data-name="yang"></a>
                   <a href="javascript:;" class="sx-hou" data-name="hou"></a>
                   <a href="javascript:;" class="sx-ji" data-name="ji"></a>
                   <a href="javascript:;" class="sx-gou" data-name="gou"></a>
                   <a href="javascript:;" class="sx-zhu" data-name="zhu"></a>
                </div>
            </div>
            <!-- page4 -->
            <div class="slider slider-4">
                <img src="images/page4-1-shu.png" class="ani pic" />
                <img src="images/page4-2-long.png" class="ani desc" />
                <div class="ani bottom">
                    <a href="javascirpt:;" class="button wx-share" id="wx-share" data-title="鼠">分享我的生肖运势</a>
                    <a href="javascirpt:;" class="button wx-tip" id="wx-tip" data-title="鼠">请老师帮我算算</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 分享1-->
    <div class="wxShare" id="wxShare"></div>
    <!-- 分享2-->
    <div class="wxTip" id="wxTip"></div>
    <script src="js/app.js"></script>
    <script type="text/javascript">
    var win_title="麦玲玲独家解读生肖4月运势-凤凰娱乐",
    win_type="",
    slider = {},
	allImages = {
	    images: ["images/bg-1.png", "images/swipe-tip.png","images/share-logo.jpg","images/page1-1.png", "images/page1-2.png"],
	    images1: ["images/page2-1.png", "images/page2-2.png", "images/page2-3.png"],
	    images2: ["images/page3-1.png", "images/page3-2.png"],
	    images3: ["images/page4-1-shu.png","images/page4-1-niu.png","images/page4-1-hu.png","images/page4-1-tu.png","images/page4-1-long.png","images/page4-1-she.png","images/page4-1-ma.png","images/page4-1-yang.png","images/page4-1-hou.png","images/page4-1-ji.png","images/page4-1-gou.png","images/page4-1-zhu.png","images/page4-2-long.png"],
	},
	anim = new Animation;
	anim.played = [],
    anim.movie = [function(e) {
      if (anim.played[e]) return;
      anim.played[e] = 1,
      anim.add(".slider-1 .title", "fadeIn"),
      anim.add(".slider-1 .logo", "moveFromBottom"),
      anim.add(".slider-1 .next", "moveFromBottom", {
        remove: !0,
        onComplete: function() {
          $(".slider-1 .next").css("-webkit-animation", "float 1s linear 0 infinite alternate")
        }
      }),
      anim.onComplete = function() {
        anim.onComplete = new Function;
        var e = new Preloader(allImages.images1);
        e.load()
      },
      anim.play()
    },
    function(e) {
      if (anim.played[e]) return;
      anim.played[e] = 1,
      anim.add(".slider-2 .pic", "fadeIn"),
      anim.add(".slider-2 .title", "fadeIn"),
      anim.add(".slider-2 .desc", "moveFromBottom"),
      anim.add(".slider-2 .bottom", "zoomOut"),
      anim.add(".slider-2 .next", "moveFromBottom", {
        remove: !0,
        onComplete: function() {
          $(".slider-2 .next").css("-webkit-animation", "float 1s linear 0 infinite alternate")
        }
      }),
      anim.onComplete = function() {
        anim.onComplete = new Function;
        var e = new Preloader(allImages.images2);
        e.load()
      },
      anim.play()
    },
    function(e) {
      if (anim.played[e]) return;
      anim.played[e] = 1,
      anim.add(".slider-3 .title", "moveFromTop"),
      anim.add(".slider-3 .desc", "zoomOut"),
      anim.onComplete = function() {
        anim.onComplete = new Function;
        var e = new Preloader(allImages.images3);
        e.load();
      },
      anim.play()
    },
    function(e) {
      if (anim.played[e]) return;
      anim.played[e] = 1,
      anim.add(".slider-4 .pic", "fadeIn"),
      anim.add(".slider-4 .desc", "moveFromBottom"),
      anim.add(".slider-4 .bottom", "zoomOut"),
      // anim.onComplete = function() {
      //   anim.onComplete = new Function;
      //   var e = new Preloader(allImages.images4);
      //   e.load();
      // },
      anim.play()
    }],
	anim.show = function(e) {
	    // if (anim.played[e]) return;
	    // anim.played[e] = 1,
	    // anim.play()
        anim.movie[e].call(anim, e)
	};
    var pageInit=function(){
        $("#sliderContainer").css("visibility", "visible"),
        $("#loading").remove(),
        slider.on("swipeTop",function(e){
            setTimeout(function(){anim.show(e + 1)},500)
        }),
        slider.on("swipeBottom",function(e) {
            setTimeout(function() {anim.show(e - 1)},500)
        }),
        anim.show(0)
    };
    var fixPic=function(type) {
      var title="鼠";
	  switch (type) {
	  	case "niu":
	    	title="牛";
	    	break;
	    case "hu":
	    	title="虎";
	    	break;
	    case "tu":
	    	title="兔";
	    	break;
	    case "long":
	    	title="龙";
	    	break;
	    case "she":
	    	title="蛇";
	    	break;
	    case "ma":
	    	title="马";
	    	break;
	    case "yang":
	    	title="羊";
	    	break;
	    case "hou":
	    	title="猴";
	    	break;
	    case "ji":
	    	title="鸡";
	    	break;
	    case "gou":
	    	title="狗";
	    	break;
	    case "zhu":
	    	title="猪";
	    	break;
	    default :
	    	title="鼠";
	  }
	  var pic_img="images/page4-1-"+type+".png",
	  	  desc_img="images/page4-2-long.png";
	  $(".slider-4 .pic").attr("src",pic_img);
	  $(".slider-4 .desc").attr("src",desc_img);
	  $("#wx-share").attr("data-title",title);
	  $("#wx-tip").attr("data-title",title);
	};
    var pageEvent=function(){
        var wxShare = $("#wxShare"),
            wxTip = $("#wxTip");
        $(document).on('tap','.slider-3 .desc > a',function(e){
            var t = $(this),
            n = t.closest(".slider"),
            r = n.index();
            win_type=t.attr("data-name");
            fixPic(win_type);
            slider._swipeTop(r, n),
            e.preventDefault();
        }).on('tap','.js-next',function(e){
            var t = $(this),
            n = t.closest(".slider"),
            r = n.index();
            slider._swipeTop(r, n),
            e.preventDefault();
        }).on('tap','#wx-share',function(){
        	var title=$(this).attr("data-title");
        	document.title="我的生肖是"+title+"，你也来测试一下你的生肖运势吧";
            wxShare.show();
        }).on('tap','#wx-tip',function(){
        	var title=$(this).attr("data-title");
        	document.title="我的生肖是"+title+"，请麦玲玲老师帮我算算";
            wxTip.show();
        }).on('tap','#wxShare',function(){
        	document.title=win_title;
            $(this).hide();
        }).on('tap','#wxTip',function(){
        	document.title=win_title;
            $(this).hide();
        });
    };
    var animApp = {
        images: allImages.images,
        init: function() {
            slider = new TouchSlider("#sliderContainer", ".slider", {
                vertical: !0
            });
            var e = this,
            t = this.getPreloader();
            t.onProgress = this.onPreloadProgress,
            t.load(function() {
                e.onPreloadLoad()
            }),
            window.timer_loaded = setTimeout(function() {
                e.onPreloadLoad()
            },5e3)
        },
        getPreloader: function() {
            return new Preloader(this.images)
        },
        onPreloadProgress: function(e, t) {
            var n = $("#loading em"),
            r = $("#loading .progress > div");
            n.eq(0).text(e),
            n.eq(1).text(t),
            r.css("-webkit-transition", "all .4s ease-in-out"),
            r.width(100 * e / t + "%")
        },
        onPreloadLoad: function() {
            clearTimeout(window.timer_loaded)
            setTimeout(pageInit, 500)
        }
    };
    $(function(){
        animApp.init();
        pageEvent();
    });
    </script>
</body>
</html>