<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>demo</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="alternate icon" type="image/png" href="assets/images/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/images/app-icon72x72@2x.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/app.css"/>
  <link rel="stylesheet" href="assets/css/player.css" media="screen" /> 
</head>
<body>
<!--am-topbar-fixed-top -->
<header class="am-topbar am-margin-0">
  <div class="am-container">
      <h1 class="am-topbar-brand">
        <a href="#"><img class="am-topbar-logo" src="http://i0.letvimg.com/img/201312/12/1152/logo.jpg" /></a>
      </h1>
      <div class="am-topbar-ad"></div>
  </div>
</header>
<script src="http://js.letvcdn.com/js/201501/08/lejs_1505/play.js"></script>
<section class="am-container">
	<video style="width:100%;height:100%;" poster="assets/images/cars.png" id="video"> 
	   <source src="assets/video/1.mp4" type="video/mp4"></source> 
    </video>  
	<!-- <video x-webkit-airplay="allow" preload="auto" autoplay="autoplay" style="width:100%;height:100%;">
	    <source src="assets/video/1.mp4" type="video/mp4">
	</video> -->
	<!-- <video x-webkit-airplay="allow" autoplay="autoplay" style="width:100%;height:100%;" preload="auto" src="assets/video/1.mp4"></video> -->
	<!-- <video id="really-cool-video" class="video-js vjs-default-skin" controls
	 preload="auto" style="width:100%;height:100%;"  poster="really-cool-video-poster.jpg"
	 data-setup='{}'>
	  <source src="assets/video/1.mp4" type='video/mp4'>
	  <p class="vjs-no-js">
	    To view this video please enable JavaScript, and consider upgrading to a web browser
	    that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
	  </p>
	</video> -->
	<!-- <video x-webkit-airplay="allow" style="width:100%;height:100%;" preload="auto" src="http://119.188.180.67/103/26/110/letv-uts/14/ver_00_22-302555824-avc-476374-aac-32035-30640-1982898-5924a867e4d40356337fe6317505beae-1421231439422.m3u8?crypt=43aa7f2e146&amp;b=517&amp;nlh=3072&amp;nlt=45&amp;bf=23&amp;p2p=1&amp;video_type=mp4&amp;termid=2&amp;tss=ios&amp;geo=CN-1-5-2&amp;tm=1421254800&amp;key=455622d76fbe390a85ff1db50b7d7145&amp;platid=3&amp;splatid=301&amp;proxy=2007471066,1981430552&amp;mmsid=26121447&amp;playid=0&amp;vtype=13&amp;cvid=914956526575&amp;pip=38e92aa9c8112d9d5d88d90a7e8bbe03&amp;p1=0&amp;p2=04&amp;ostype=macos&amp;hwtype=iphone&amp;_r=0&amp;errc=0&amp;gn=1113&amp;buss=4701&amp;qos=4&amp;cips=111.196.2.112"></video> -->
	<p class="am-padding am-text-lg am-font-bold am-margin-0 am-margin-bottom-1">杨幂机场与助理走失 网友笑：一孕傻三年</p>
	<div class="am-scrollable-vertical am-form-set">
		<p class="am-padding am-margin-0">描述：13日中午，有网友在机场巧遇杨幂助理走失……当时杨幂正站在墙角打电话，一副着急的样子。该网友偷拍下杨幂的照片，并在微博爆料称：“杨幂在上海虹桥机场跟助理走失了，萌哒哒站在原地打电话找助理，果然一孕那啥三年啊！助理急急赶来才认领走了大幂幂，之后被一外籍帅哥接走！”当晚，杨幂工作室转发相关微博，留言调侃：“外教英语老师第一天工作，就要额外负责寻找失踪少女，这样好么？”对此，网友们纷纷调侃起杨幂：“外教说有额外的工资么？以后还要负责找失踪的少女幂。”“要给大幂当外教的不现实，我准备以后去机场失物招领处工作了。”“蠢萌的少女，还知道在原地等”。</p>
	</div>
</section>
<section class="am-container">
	<div class="am-g am-form-set">
	  <div class="col-sm-4 col-lg-4">
	    <span class="am-show-md-down"><img src="http://amui.qiniudn.com/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" alt="img" class="am-img-bdrs"></span>
	  </div>
	  <div class="col-sm-8 col-lg-8">
	    <span class="am-show-md-down ">杨幂机场与助理走失 网友笑：一孕傻三年</span>
	  </div>
	</div>
	<div class="am-g am-form-set">
	  <div class="col-sm-4 col-lg-4">
	    <span class="am-show-md-down"><img src="http://amui.qiniudn.com/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" alt="img" class="am-img-bdrs"></span>
	  </div>
	  <div class="col-sm-8 col-lg-8">
	    <span class="am-show-md-down ">杨幂机场与助理走失 网友笑：一孕傻三年</span>
	  </div>
	</div>
	<div class="am-g am-form-set">
	  <div class="col-sm-4 col-lg-4">
	    <span class="am-show-md-down"><img src="http://amui.qiniudn.com/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" alt="img" class="am-img-bdrs"></span>
	  </div>
	  <div class="col-sm-8 col-lg-8">
	    <span class="am-show-md-down ">杨幂机场与助理走失 网友笑：一孕傻三年</span>
	  </div>
	</div>
	<div class="am-g am-form-set">
	  <div class="col-sm-4 col-lg-4">
	    <span class="am-show-md-down"><img src="http://amui.qiniudn.com/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" alt="img" class="am-img-bdrs"></span>
	  </div>
	  <div class="col-sm-8 col-lg-8">
	    <span class="am-show-md-down ">杨幂机场与助理走失 网友笑：一孕傻三年</span>
	  </div>
	</div>
</section>
<footer class="footer am-container">
  <p class="am-padding">© 2014 by the LeCloud Team.</p>
</footer>
<!-- <script src="assets/js/zepto.min.js"></script> -->
<!-- <script src="assets/js/amazeui.min.js"></script> -->
<script src="http://wangwenjie1314.github.io/statics/js/jquery.js"></script> 
<script src="assets/js/mediaelement-and-player.min.js"></script> 
<script>
$(function() {
	$('#video').mediaelementplayer({
		alwaysShowControls: false,
		videoVolume: 'horizontal',
		features: ['playpause','progress','volume','fullscreen']
	});
});
</script> 
</body>
</html>