<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>demo</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="手机乐视">
  <link rel="alternate icon" type="image/png" href="assets/images/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/images/app-icon72x72@2x.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/app.css"/>
</head>
<body>
<!--am-topbar-fixed-top -->
<header class="am-topbar am-margin-0">
  <div class="am-container">
      <h1 class="am-topbar-brand">
        <a href="#"><img class="am-topbar-logo" src="http://i0.letvimg.com/img/201312/12/1152/logo.jpg" /></a>
      </h1>
      <div class="am-topbar-ad"></div>
  </div>
</header>
<section class="am-container">
	<!-- autoplay="autoplay" -->
	<video x-webkit-airplay="allow" style="width:100%;height:100%;" preload="auto" src="http://119.188.180.96/121/50/82/letv-uts/14/ver_00_22-302512687-avc-482931-aac-32032-77920-5102163-36498914069b8c527e9f026ae718614a-1421198310703.m3u8?crypt=12aa7f2e98&amp;b=523&amp;nlh=3072&amp;nlt=45&amp;bf=15&amp;p2p=1&amp;video_type=mp4&amp;termid=2&amp;tss=ios&amp;geo=CN-1-5-2&amp;tm=1421249400&amp;key=b23b4568b772f2f764e429e48b7d7082&amp;platid=3&amp;splatid=301&amp;proxy=2008875692,2007471084&amp;mmsid=26108272&amp;playid=0&amp;vtype=126&amp;cvid=914956526575&amp;pip=38e92aa9c8112d9d5d88d90a7e8bbe03&amp;p1=0&amp;p2=04&amp;ostype=macos&amp;hwtype=iphone&amp;_r=0&amp;errc=0&amp;gn=1113&amp;buss=4701&amp;qos=4&amp;cips=111.196.2.112"></video>
	<p class="am-padding am-text-lg am-font-bold am-margin-0 am-margin-bottom-1">杨幂机场与助理走失 网友笑：一孕傻三年</p>
	<div class="am-scrollable-vertical am-form-set">
		<p class="am-padding am-margin-0">描述：13日中午，有网友在机场巧遇杨幂助理走失……当时杨幂正站在墙角打电话，一副着急的样子。该网友偷拍下杨幂的照片，并在微博爆料称：“杨幂在上海虹桥机场跟助理走失了，萌哒哒站在原地打电话找助理，果然一孕那啥三年啊！助理急急赶来才认领走了大幂幂，之后被一外籍帅哥接走！”当晚，杨幂工作室转发相关微博，留言调侃：“外教英语老师第一天工作，就要额外负责寻找失踪少女，这样好么？”对此，网友们纷纷调侃起杨幂：“外教说有额外的工资么？以后还要负责找失踪的少女幂。”“要给大幂当外教的不现实，我准备以后去机场失物招领处工作了。”“蠢萌的少女，还知道在原地等”。</p>
	</div>
</section>
<section class="am-container">
	<div class="am-g am-form-set">
	  <div class="col-sm-4 col-lg-4">
	    <span class="am-show-md-down"><img src="http://amui.qiniudn.com/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" alt="img" class="am-img-bdrs"></span>
	  </div>
	  <div class="col-sm-8 col-lg-8">
	    <span class="am-show-md-down ">杨幂机场与助理走失 网友笑：一孕傻三年</span>
	  </div>
	</div>
	<div class="am-g am-form-set">
	  <div class="col-sm-4 col-lg-4">
	    <span class="am-show-md-down"><img src="http://amui.qiniudn.com/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" alt="img" class="am-img-bdrs"></span>
	  </div>
	  <div class="col-sm-8 col-lg-8">
	    <span class="am-show-md-down ">杨幂机场与助理走失 网友笑：一孕傻三年</span>
	  </div>
	</div>
	<div class="am-g am-form-set">
	  <div class="col-sm-4 col-lg-4">
	    <span class="am-show-md-down"><img src="http://amui.qiniudn.com/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" alt="img" class="am-img-bdrs"></span>
	  </div>
	  <div class="col-sm-8 col-lg-8">
	    <span class="am-show-md-down ">杨幂机场与助理走失 网友笑：一孕傻三年</span>
	  </div>
	</div>
	<div class="am-g am-form-set">
	  <div class="col-sm-4 col-lg-4">
	    <span class="am-show-md-down"><img src="http://amui.qiniudn.com/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" alt="img" class="am-img-bdrs"></span>
	  </div>
	  <div class="col-sm-8 col-lg-8">
	    <span class="am-show-md-down ">杨幂机场与助理走失 网友笑：一孕傻三年</span>
	  </div>
	</div>
</section>
<footer class="footer">
  <p class="am-padding">© 2014 by the LeCloud Team.</p>
</footer>
<!-- <script src="assets/js/zepto.min.js"></script>
<script src="assets/js/amazeui.min.js"></script> -->
</body>
</html>