<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="apple-mobile-web-app-title" content="测试页面">
    <link rel="shortcut icon" href="http://cdn-img.easyicon.net/favicon.ico">
    <title>测试页面</title>
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>
<body>
    <!-- noscript -->
    <noscript><a class="noScript" href="#" title="页面需要开启JavaScript体验">页面需要开启JavaScript体验</a></noscript>
    <!-- con -->
    <div id="header-yuedong" onclick="downApp();">
	    <div class="app-icon"><img src="images/app-icon-yuedong.png"></div>
	    <div class="app-box">
	        <h2>懂球帝-足球客户端</h2>
	        <div class="app-info">
	            看新闻、看直播、聊天约球
	            <div class="app-star">
	                <span></span><span></span><span></span><span></span><span></span>3886万次免费下载
	            </div>
	        </div>
	        <div class="app-down-yuedong">免费下载</div>
	    </div>  
	</div>
	<div id="top"><div class="logo"><a href="/"><img src="images/logo.gif"></a></div><div class="logo-info">为足球而生</div></div>
	<div id="top-title"><div class="nav-address"><a href="/">首页</a><span id="kind" style=""><a href="/">资讯</a></span></div></div>
	<div id="context-box"><div id="container">
		<div class="title">
		<strong>纳瓦斯：非法监视气死我了！</strong>
		</div>
		<div class="subtitle">
		<span style="font-size:14px; color:#419558; padding-right:10px;"><a href="dongqiudi:///user/@凤尾鱼">凤尾鱼</a></span>
		<span style="font-size:14px; color:gray;">2014-10-30 12:00:27</span>
		</div>
		<article>
		<p>
		皇马门将纳瓦斯在周四对哥斯达黎加的24名警察监视一事发表了声明，声明中严厉批评了这一行为并宣布将使用法律手段追究当事人责任。</p>
		<p>
		<a href="http://img.dongqiudi.com/uploads8/allimg/141030/416-141030115344962.jpg!app.news.normal#.jpg"><img alt="" src="http://img.dongqiudi.com/uploads8/allimg/141030/416-141030115344962.jpg!app.news.normal#.jpg"></a></p>
		<p>
		声明内容如下：</p>
		<p>
		“我想说，这种行为已经完全激怒了我，我非常愤怒。这样的监视已经严重侵犯了我和我家人的隐私，而现在我对我们的司法制度产生了很大的不安全感。我已经要求我的律师在哥斯达黎加动用所有可能的法律手段将此事追查到底，在接下来的几个小时里我的代表们将会跟进行动报告。”</p>
		<p>
		纳瓦斯于今年七八月间被哥斯达黎加司法警察部门及公共事务部工作人员，总计24名警察监视。而司法部负责人表示这些调查是“毫无根据的”，同时也违反了哥斯达黎加的相关法律。</p>
		</article>
		<div class="source">
		<p>消息来源：阿斯报</p>
		</div>
		</div>
	</div></div>
    <script type="text/javascript">
    function getURLParameter(name) {
	  return decodeURI((RegExp(name + '=' + '(.+?)(&|$)').exec(location.search) || [, null])[1]);
	}
	function downApp() {
	  var from = getURLParameter("from");
	  if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
	    if (/(MicroMessenger)/i.test(navigator.userAgent)) {
	      window.location = "http://a.app.qq.com/o/simple.jsp?pkgname=com.dongqiudi.news";
	    } else {
	      window.location = "https://itunes.apple.com/cn/app/dong-qiu-di-zhuan-ye-quan/id766695512?ls=1&mt=8&at=1l3v3QB&ct=m";
	    }
	  } else if (/(Android)/i.test(navigator.userAgent)) {
	    if (/(MicroMessenger)/i.test(navigator.userAgent)) {
	      window.location = "http://app.xiaomi.com/detail/54976";
	    } else {
	      if (from == "null" || from == "") {
	        from = "website";
	        window.location = "http://static.dongqiudi.com/app/apk/dongqiudi_website.apk";
	      } else {
	        window.location = "http://static.dongqiudi.com/app/apk/channel/dongqiudi_" + from + ".apk";
	      }
	    }
	  } else {
	    window.location = "app.htm";
	  }
	}
	</script>
</body>
</html>
