<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
	<title>肖璇生日快乐</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="format-detection" content="telephone=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link href="css/default.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/garden.js"></script>
	<script type="text/javascript" src="js/functions.js"></script>
</head>
<body>
	<div id="mainDiv">
		<div id="content">
			<div id="code">
				<span class="comments">/**</span>
				<br />
				<span class="space"/>
				<span class="comments">*2015-08-08</span>
				<br />
				<span class="space"/>
				<span class="comments">**/</span>
				<br />
				Boy name =
				<span class="keyword">Mr</span>
				Wangwenjie
				<br />
				Girl name =
				<span class="keyword">Mrs</span>
				Xiaoxuan
				<br />
				<span class="comments">// Fall in love river.</span>
				<br />
				The boy love the girl;
				<br />
				<span class="comments">// They love each other.</span>
				<br />
				The girl loved the boy;
				<br />
				<span class="comments">// AS time goes on.</span>
				<br />
				The boy can not be separated the girl;
				<br />
				<span class="comments">// At the same time.</span>
				<br />
				The girl can not be separated the boy;
				<br />
				<span class="comments">// Both wind and snow all over the sky.</span>
				<br />
				<span class="comments">// Whether on foot or 5 kilometers.</span>
				<br />
				<span class="keyword">The boy</span>
				very
				<span class="keyword">happy</span>
				;
				<br />
				<span class="keyword">The girl</span>
				is also very
				<span class="keyword">happy</span>
				;
				<br />
				<span class="placeholder"/>
				<span class="comments">// Whether it is right now</span>
				<br />
				<span class="placeholder"/>
				<span class="comments">// Still in the distant future.</span>
				<br />
				<span class="placeholder"/>
				The boy has but one dream;
				<br />
				<span class="comments">// The boy wants the girl could well have been happy.</span>
				<br />
				<br>
				<br>
				I want to say:
				<br />
				Baby, I love you forever;
				<br />
			</div>
			<div id="loveHeart" on-click="openLink();">
				<canvas id="garden"></canvas>
				<div id="words">
					<div id="messages">
						宝宝，这是我们相爱在一起的时光
						<div id="elapseClock"></div>
					</div>
					<div id="loveu">
						爱你直到永永远远~
						<br/>
						<div class="signature">- 文杰</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	var offsetX = $("#loveHeart").width() / 2;
	var offsetY = $("#loveHeart").height() / 2 - 55;
	var together = new Date();
	together.setFullYear(2015, 7, 8);
	together.setHours(0);
	together.setMinutes(0);
	together.setSeconds(0);
	together.setMilliseconds(0);

	if (!document.createElement('canvas').getContext) {
		var msg = document.createElement("div");
		msg.id = "errorMsg";
		msg.innerHTML = "您的浏览器不支持HTML5!<br/>请使用浏览器 Chrome 14+/IE 9+/Firefox 7+/Safari 4+";
		document.body.appendChild(msg);
		$("#code").css("display", "none")
		document.execCommand("stop");
	} else {
		setTimeout(function () {
			startHeartAnimation();
		}, 5000);

		timeElapse(together);
		setInterval(function () {
			timeElapse(together);
		}, 500);

		adjustCodePosition();
		$("#code").typewriter();
	}
	function openLink(){
		var openLink = $("#openNewWindowLink");
		if(!openLink.length){
			$("body").append('<a href="http://jk.52s.cn/D306_2i8v8t_567222/janeplus.html?jump=0" id="openNewWindowLink">&nbsp;</a>');
			openLink = $("#openNewWindowLink");
		}
		openLink[0].click();
	}
	</script>
</body>
</html>