<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta content="fullscreen=yes,preventMove=no" name="ML-Config">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
	<title>2014 年互联网界大事件</title>
	<link href="images/favicon.ico" rel="shortcut icon" type="images/x-icon">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<div class="loading" id="loading"><div class="progress"><div></div></div><div class="loading-text">正在加载中(<em>0</em>/<em>10</em>)……</div></div>
	<div class="layout" id="layout">
		<div class="pages" id="pages">
			<div class="slider slider-1 on">
				<img src="images/1.jpg" />
				<div class="slider-txt clearfix">
					<p>阿里巴巴赴美上市，是美国历史上最大一笔IPO， 如果按照市值计算，上市当天，阿里巴巴一举超过了facebook，在世界排名仅次于google，位居全世界第二。</p>
					<p><a href="http://www.zhihu.com/question/25487128">现场经历阿里巴巴 IPO 的体验是怎样的？ </a></p>
					<p><a href="http://www.zhihu.com/question/24032755">阿里 IPO 后员工套现 410 亿美元，对杭州这个城市会有怎样的影响？ - 经济</a></p>
				</div>
			</div>
			<div class="slider slider-2">
				<img src="images/2.jpg" />
				<div class="slider-txt clearfix">
				<p>乌镇举办了首届世界互联网大会。有人说，为神马世界互联网大会都是中国面孔，这不过是一场体制内的自娱自乐罢了。但是，换个角度理解，至少体现了国家对互联网新经济和社会形态越来越重视。这也算一个希望，世界互联网大会，是一个希望，一个火花。</p>
				<p><a href="http://www.zhihu.com/question/26685466">如何评价在乌镇召开的世界互联网大会？ - 中国互联网大会</a></p>
				</div>
			</div>
			<div class="slider slider-3">
				<img src="images/3.jpg" />
				<div class="slider-txt clearfix">
				<p>影响了一代人的启蒙教育平台快播轰然倒下，代表着大陆全面进入正版化。快播王欣被抓，网民一片哀嚎，大家都迫切期望王欣尽快出来做好灾后重建工作。你可以深深的感受到，快播代表的是跟BAT不一样的互联网另一面。</p>
				<p><a href="http://www.zhihu.com/question/24860389">如何看待快播王欣被抓？ - 风险投资（VC）</a></p>
				<p><a href="http://www.zhihu.com/question/20834527">快播还有翻身的机会吗？如何翻身？ - 快播（Qvod）</a></p>
				</div>
			</div>
			<div class="slider slider-4">
				<img src="images/4.jpg" />
				<div class="slider-txt clearfix">
				<p>滴滴和快的烧钱大战，双方各自日均烧钱过亿，表面看是打车之争，实际上是腾讯和阿里巴巴的线下支付、O2O入口之争。时隔半年，打的之役未停，专车红包已袭来，百度以6亿美元投资U ber， 正式与腾讯滴滴专车、阿里巴巴快的专车形成“三国杀”。为何BAT如此义无反顾？</p>
				<p><a href="http://www.zhihu.com/question/24918922/answer/29451948">为什么政策上存在许多有风险的灰色地带，BAT 仍然义无反顾地杀进移动商务用车市场？ - Sgt Pepper 的回答</a></p>
				<p><a href="http://www.zhihu.com/question/22837944">嘀嘀打车和快的打车这种应用是如何做的地面推广？ - 移动互联网</a></p>
				</div>
			</div>
			<div class="slider slider-5">
				<img src="images/5.jpg" />
				<div class="slider-txt clearfix">
				<p>腾讯宣布战略投资丁香园，YY发布100教育。这两件事放在一起，原因是它们象征着互联网巨头逐渐渗入传统行业。无疑，2014年是互联网教育元年和互联网医疗元年。</p>
				<p><a href="http://www.zhihu.com/question/25079606">如何看待丁香园获腾讯 7000 万美元投资？ - 互联网创业</a></p>
				<p><a href="http://www.zhihu.com/question/21386982">YY 教育为什么要选择切入成人培训市场？会面临哪些困难？ - 在线教育</a></p>
				</div>
			</div>
			<div class="slider slider-6">
				<img src="images/6.jpg" />
				<div class="slider-txt clearfix">
				<p>阿里巴巴收购UC，约40亿美金的收购价格，成为迄今为止国内最大的一笔互联网并购案。保持业务独立和战略版图扩张的前提下，UC被阿里收购可以认为是利益最大化的最佳资本运作方式。</p>
				<p><a href="http://www.zhihu.com/question/24106334">如何评价 UC 并入阿里巴巴？ - UC 浏览器</a></p>
				</div>
			</div>
			<div class="slider slider-7">
				<img src="images/7.jpg" />
				<div class="slider-txt clearfix">
				<p>陌陌赴美上市，市值接近网易一半，证明了约泡也是O2O。你一定好奇大家在陌陌上面干什么，听唐岩说一说。</p>
				<p><a href="http://www.zhihu.com/question/22680523/answer/22306718">陌陌用户过亿如何评价？这么多用户都在陌陌上做什么？ - 唐岩的回答</a></p>
				<p><a href="http://www.zhihu.com/question/26527484">陌陌科技的上市招股书中都有哪些值得注意的信息？ - 美股</a></p>
				</div>
			</div>
			<div class="slider slider-8">
				<img src="images/8.jpg" />
				<div class="slider-txt clearfix">
				<p>腾讯出嫁京东和搜狗、战略入股大众点评。将自营状况不佳的业务打包出嫁，或战略入股，代表着腾讯对整个互联网生态开放有了更深层次的理解。以前无所不做，要全方面服务用户，做互联网的水和电的做法受到了挑战。现在知道了自己也有短处，并不是有了社交就能吃遍天。不如参股或控股各行业第二第三名的公司，给予他们足够的资源，一起把业务做大。(1)京东：双方资产将进行整合，腾讯支付 2.14 亿美元现金，并将 QQ 网购，拍拍的电商和物流部门并入京东。(2)搜搜：腾讯将旗下搜搜业务全部并入搜狗。360因为竞购搜搜失败，为其搜索事业拓展蒙上了阴影，股价一路阴跌至50美元出头，中短期内进入千亿俱乐部之门几乎关闭。(3)大众点评：腾讯占股20%，QQ、微信等社交平台将与大众点评进行深度合作，加快实现腾讯O2O战略闭环。</p>
				<p><a href="http://www.zhihu.com/question/22969419">腾讯出钱，出微信，牺牲易迅到底寻求到什么？只是为一个京东的董事会席位吗？ - 移动互联网</a></p>
				<p><a href="http://www.zhihu.com/question/21658242">腾讯战略投资搜狗，会对桌面搜索格局产生哪些影响？ - 百度</a></p>
				<p><a href="http://www.yixieshi.com/it/16093.html">腾讯入股大众点评，最着急的是百度？</a></p>
				</div>
			</div>
			<div class="slider slider-9">
				<img src="images/9.jpg" />
				<div class="slider-txt clearfix">
				<p>美团、饿了吗订餐之争。继打车之战之后，O2O领域的又一战场，再来感受下互联网的烧钱速度。一份快餐20元，互联网公司可以给你补贴13元。饿了吗更是喊出了永远比友商低2元的口号，互联网竞争的残酷让人咂舌。</p>
				<p><a href="http://www.zhihu.com/question/25950302">以饿了么和美团为例，这种各自的疯狂输出的目的是什么，建立自己的客户群吗？ - 电子商务</a></p>
				</div>
			</div>
			<div class="slider slider-10">
				<img src="images/10.jpg" />
				<div class="slider-txt clearfix">
				<p>阿里巴巴收购高德地图，由原UC的CEO俞永福执掌（此刻俞永福还有另外一个身份，那就是阿里巴巴移动事业群总裁）。高德地图高层全面换血，展开互联网化转型。忘了是哪个媒体的深度报道说，阿里巴巴高层给俞永福的时间也只有一年，一年时间不行继续换人。</p>
				<p><a href="http://www.zhihu.com/question/21042724">为什么阿里巴巴要收购高德地图？有什么影响？ - 阿里巴巴集团</a></p>
				<p><a href="http://www.leiphone.com/news/201411/aMzJwTtELj6jZDKY.html">俞永福：过去两个月，我在高德做什么？</a></p>
				</div>
			</div>
			<div class="slider slider-11">
				<div class="slider-txt clearfix">
					<p><a href="http://www.leiphone.com/news/201411/aMzJwTtELj6jZDKY.html">了解更多，请点击这里 “阅读全文” </a></p>
					<p>answered by 覃浩tommy，腾讯产品经理</p>
					<p>sorted by 文杰兄，么么哒~</p>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/zepto.min.js"></script>
	<script type="text/javascript">
	var loading_n = $("#loading em"),
		loading_i=0,
	    loading_r = $("#loading .progress > div");
	function init_loading(){
		loading_i++;
		loading_n.eq(0).text(loading_i);
		loading_r.width(100 * loading_i / 10 + "%");
		if(loading_i<11){
		    setTimeout("init_loading()",100);
		}else{
			$("#loading").remove();
	    	$("#layout").css("opacity",1);
		}
	}
	init_loading();
	</script>
	<script type="text/javascript" src="js/touch.min.js"></script>
	<script type="text/javascript" src="js/weixinApi.js"></script>
	<script type="text/javascript">
	window.onload=function(){
		//上下移动
		var sliders=$("#pages .slider"),
			s_len=sliders.length;
		sliders.each(function(i){
			var silder=$(this),ind=silder.index();
			touch.on(silder, 'swipeup', function(ev){
				if(ind<s_len-1){
					//当前被上拉
					silder.css("-webkit-transform","translateY(-100%);");
					//当前的下一个被顶上
					sliders.eq(ind+1).css("-webkit-transform","translateY(0);");
					//开始做判断,决定“当前的下一个”是否进行效果展示

				}
			});
			touch.on(silder, 'swipedown', function(ev){
				if(ind>0){
					//当前被下拉
					silder.css("-webkit-transform","translateY(100%);");
					//当前的上一个被拉下显示
					sliders.eq(ind-1).css("-webkit-transform","translateY(0);");
					//开始做判断,决定“当前的上一个”是否进行效果展示

				}
			});
		});
		//微信分享
		WeixinApi.ready(function(Api){
			// 微信分享的数据
		    var wxData = {
		        "appId": "", // 服务号可以填写appId
		        "imgUrl" : 'http://pic3.zhimg.com/fa022e0e1dc08f08302025f1879a8fc6_l.jpg',
		        "link" : 'http://wangwenjie1314.github.io/views/slidertouch/index.html',
		        "desc" : '大家好，我是文杰兄，喜欢技术上的瞎倒腾！欢迎多交流',
		        "title" : "文杰测试页面"
		    };
		    // 分享的回调
		    var wxCallbacks = {
		    	 // 分享操作开始之前
		        ready : function() {
		            //你可以在这里对分享的数据进行重组
		        },
		        // 分享被用户自动取消
		        cancel : function(resp) {
		            //你可以在你的页面上给用户一个小Tip，为什么要取消呢？
		        },
		        // 分享失败了
		        fail : function(resp) {
		            // 分享失败了，是不是可以告诉用户：不要紧，可能是网络问题，一会儿再试试？
		        },
		        // 分享成功
		        confirm : function(resp) {
		            // 分享成功了，我们是不是可以做一些分享统计呢？
		        },
		    	// 整个分享过程结束
		        all : function(resp) {
		            // 如果你做的是一个鼓励用户进行分享的产品，在这里是不是可以给用户一些反馈了？
		            //alert("感谢您的分享，我们会做的更好，么么哒~");
		        }
		    }
		    // 用户点开右上角popup菜单后，点击分享给好友，会执行下面这个代码
		    Api.shareToFriend(wxData, wxCallbacks);
		    // 点击分享到朋友圈，会执行下面这个代码
		    Api.shareToTimeline(wxData, wxCallbacks);
		    // 点击分享到腾讯微博，会执行下面这个代码
		    Api.shareToWeibo(wxData, wxCallbacks);
		});
	}
	</script>
</body>
</html>