@charset "utf-8";
/*reset*/
body,div,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,iframe,input,textarea,select,label,article,aside,footer,header,menu,nav,section,time,audio,video {
  margin:0;
  padding:0;
}
article,aside,footer,header,hgroup,nav,section,audio,canvas,video,img {
    display: block;
}
body {
    font-size: 100%; 
    font-family:Helvetica,STHeiti,Droid Sans Fallback;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
textarea {
    resize: none;
}
iframe,img {
    border:0;
}
ul,ol {
    list-style:none;
}
input,
select,
textarea {
    outline: 0;
    -webkit-user-modify: read-write-plaintext-only;
}
input {
    -webkit-appearance: none;
}
a{
    text-decoration: none;
}
body,.global{
    background: #fafafa
}
.global{
    min-width: 320px;
}
/*header*/
.header{
    width: 100%; height: 44px;
    background: url(http://mat1.gtimg.com/www/mobi/image/headerbg_v2.png) 139px top no-repeat;
    -webkit-background-size:141px 44px;
    -moz-background-size:141px 44px;
    -o-background-size:141px 44px;
    background-size:141px 44px;
    border-bottom: 2px solid #b30808;
}
.logo{
    display: inline-block; text-indent:-9999em;
    width: 119px; height: 30px;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size:119px 30px;
    -moz-background-size:119px 30px;
    -o-background-size:119px 30px;
    background-size:119px 30px;
    margin: 7px 0 0 10px;
}
.logo a{
    display: block;
}
.gochannels {
display: inline-block;
float: right;
margin: 14px 3.5px 0 0;
width: 52px;
height: 16px;
color: #b30808;!
}
.gochannels{
background: url(http://mat1.gtimg.com/www/mobi/image/down.png);
background-repeat: no-repeat;
background-position: 37px 7px;
-webkit-background-size: 9px 6px;
-moz-background-size: 119px 21px;
-o-background-size: 119px 21px;
background-size: 9px 6px;
}
.header .upall{
background: url(http://mat1.gtimg.com/www/mobi/image/up.png);
background-repeat: no-repeat;
background-position: 37px 7px;
-webkit-background-size: 9px 6px;
-moz-background-size: 119px 21px;
-o-background-size: 119px 21px;
background-size: 9px 6px;   
}

.jump,.cComm:before,.more .gomore:after,.more .gochannel:after,.gotop:after,.getPicmore .gochannel:after,.getNewsmore .gochannel:after,.getMilmore .gochannel:after{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/icon.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size:119px 21px;
    -moz-background-size:119px 21px;
    -o-background-size:119px 21px;
    background-size:119px 21px;
}
.jump{
    display: inline-block;
    float: right; margin: 13px 14px 0 0;
    width: 20px; height: 19px;
}
/*nav*/
.nav{
    width: 100%; overflow: hidden;
    /*border-top: 2px solid #317ecb;*/
    background: #ffffff;
    padding: 5px 0;
}
.nav ul{
    overflow: hidden;
}
.nav li{
    width: 19%; line-height: 30px;
    float: left; 
    font-size: 1.125em;
    display: inline-block; text-align: center;
}
.nav li.on{
    background: #b30808;
    border-radius:4px;
    margin-left:1%;
}
.nav li.on a{
    color:#fff;
}
.nav li a{
    display: block;
    color: #2e2e2e
}
.nav li a:focus{
    background: #226fbb
}
.navmore{
    display: none;
}
/*导航的更多和收起*/
#toggle{
    position: relative;
}
.togglemore:after,.togglesingle:after{
    position: absolute; 
    display: inline-block;
    content: "";
    width: 0; height: 0;
    line-height: 0; font-size: 0;
    color: #fafafa;
    border-style: solid;
    border-width: 5px;
}
.togglemore:after{
    margin-top: 14px;
    border-color: #fff #3e86ce #3e86ce #3e86ce;
}
.togglesingle:after{
    margin-top: 6px;
    border-color: #3e86ce #3e86ce #fff #3e86ce;
}
.nav .togglesingle,.nav .toggle .togglemore{
    display: none;
}
.nav .togglemore,.nav .toggle .togglesingle{
    display: block;
}

/*channels*/
.channels{
    width: 100%; overflow: hidden;
    background: #f5f5f5;
    padding: 5px 0;
    display: none;
    border-bottom: 1px solid #cccccc;
}
.channels ul{
    overflow: hidden;
}
.channels li{
    width: 20%; line-height: 30px;
    float: left; font-size: 1em;
    display: inline-block; text-align: center;
}
.channels li a{
    display: block;
    color: #232323;
}
.channels li a:focus{
    background: #317ecb
}
.channelstoggle{
    display: block;
}
/*gallery*/
.gallery{
    width: 100%; overflow: hidden;
    position: relative;
}
.galleryinner{
    display: block;
    position: relative;
}
.galleryimage{
    width: 100%;
    max-height: 165px; overflow: hidden;
}
.galleryimage img{
    max-width: 100%;
    margin: 0 auto
}
.gallerytitle{
    text-align: center;
    font-size: 1em;
    height: 32px;
    line-height: 32px;
    padding: 0 36px 0 0;
    color: #fafafa;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    font-weight: normal;
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(0,0,0,0);
    background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.9));
    background: -webkit-gradient(linear,top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.9)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.9));
    background: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.9));
}

/*------
list*/
.list{
    padding:0 8px 0;
}
.list li{
    overflow: hidden;
    border-bottom: 1px solid #eceef0;
    box-shadow: 0 1px 1px #fff;
}
.list li a {
    display: block;
    color: #000000;
}
.list li a:visited{
    color: #929292;
}
/*loading*/
.list .loading {
    height: 30px;
    padding: 10px 0;
    line-height: 30px;
    text-align: center;
    font-size: 1em;
    color: #000;
    border: none;
}
/*full-图文列表*/
.full{
    padding: 10px 0;
    border-bottom: 1px solid #eceef0;
}
.full h2,.modulelist .full h2 {
    height: 22px; line-height: 22px; overflow: hidden;
    font-size: 1.0625em;font-weight: normal; 
    text-overflow:ellipsis;white-space: nowrap;
    padding-left: 5px;
}
.full h2{
    margin-bottom:4px;
}
.modulelist .full h2{margin-bottom:0px;}
.full .thumb {
    width: 75px; 
    height: 55px; line-height: 51px;
    padding: 1px; background: #e9f1f4;
    border: 1px solid #e0e0e0;
    float: left;
    text-align: center;
}
.full .thumb img{
    display: inline-block;
    max-width: 100%; max-height: 100%;
    margin: 0 auto; vertical-align: middle;
}
.full p,.modulelist .full p {
    padding: 0 0 0 5px;
    line-height: 17px; font-size: 0.8125em;
    word-wrap:break-word; overflow: hidden;
    max-height: 34px; color: #878c92;
}
.full .count {
    height: 17px;
    line-height: 17px;
    display: inline-block;
    text-align: right; float: right;
}
.full .count i {
    font-size: 0.6875em; font-family: Helvetica; 
    color: #878c92; font-style: normal;
}
/*photo-组图*/
.photo{
    padding-bottom: 5px;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 1px 1px #fbfbfb;
}
.photo h2 {
    height:35px;line-height: 35px;
    font-size: 0.9375em;font-weight: normal;
    overflow: hidden;
    text-overflow:ellipsis;white-space: nowrap;
}
.photo .thumb {
    width: 100%; text-align: center;
    background: #e9f1f4; 
}
.photo .thumb img{
    display: block;
    max-width: 100%; max-height: 100%;
    margin: 0 auto; vertical-align: middle;
}
.photo p {
    padding: 5px 0 0;
    line-height: 17px; font-size: 0.8125em;
    word-wrap:break-word; overflow: hidden;
    max-height: 34px; color: #878c92;
}
.photo .count {
    height: 17px;
    line-height: 17px;
    display: inline-block;
    text-align: right;float: right;
}
.photo .count i {
    font-size: 0.6875em; font-family: Helvetica; 
    color: #878c92; font-style: normal;
}

/*类别
flag: "0"  普通

flag: "1"  独家
flag: "2"  投票
flag: "3"  视频
flag: "4"  专题
flag: "5"  快讯
flag: "6"  直播
*/

.flag{
    display: inline-block; margin-right: 4px;
    width: 24px; height: 14px; 
    background-image: url(http://mat1.gtimg.com/www/mobi/image/flagicon.png);
    background-repeat: no-repeat;
    -webkit-background-size:168px 14px;
    -moz-background-size:168px 14px;
    -o-background-size:168px 14px;
    background-size:168px 14px;
    vertical-align: -1px;
}
.flag0{
    background:none;
    width: 0; margin-right: 0;
}
.flag1{
    background-position: 0 0;
}
.flag2{
    background-position: -24px 0;
}
.flag3{
    background-position: -48px 0;
    /*display: none; margin: 0;*/
}
.flag4{
    background-position: -72px 0;
}
.flag5{
    background-position: -96px 0;
}
.flag6{
    background-position: -120px 0;
}
.full .flag{
    vertical-align: middle;
}
/*
.flag:before {
    display: inline-block;
    width: 24px; height: 14px; line-height: 14px;
    text-align: center;
    color: #fff; font-size:0.5625em;
    border-radius: 2px;
    background: #4886da;
}
.flag1:before {
    content: "独家";
}
.flag2:before {
    content: "投票";
}
.flag3:before {
    content: "视频";
}
.flag4:before {
    content: "专题";
}
.flag5:before {
    content: "直播";
    background: #cb2c17;
}
.lite .flag:before{
    vertical-align: 2px;
}*/
/*评论数*/
.cComm:before{
    content: "";
    width: 10px; height: 10px;
    display: inline-block;
    background-position: -84px 0;
    vertical-align: middle; margin-right:3px; 
}
.cComm{
    margin-left: 6px;
}

/*more*/
.more,.getPicmore,.getNewsmore,.getMilmore{
  height: 33px; line-height: 33px;
  margin: 0 8px; border:1px solid #efefef;
  background-color: #f6f5f5;
  text-align: center; margin-bottom: 15px;
}
.more,.more a,.more span,.getPicmore a,.getPicmore,.getNewsmore,.getNewsmore a,.getNewsmore span,.getMilmore,.getMilmore a,.getMilmore span{
    color: #b4b4b4
}
.more span,.getPicmore span,.getNewsmore span,.getMilmore span{
  font-size: 1em;
}
.more .gomore:after,.more .gochannel:after,.getPicmore .gochannel:after,.getNewsmore .gochannel:after,.getMilmore .gochannel:after{
  content: ""; display: inline-block;
  width: 21px; height: 21px;
  vertical-align: -5px;
  margin-left: 5px;
}
.more .gochannel:after,.getPicmore .gochannel:after,.getNewsmore .gochannel:after,.getMilmore .gochannel:after{
  background-position: -63px 0;
}
.more .gomore:after{
  background-position: -42px 0;
}
/*footnav*/
.footnav{
    width: 100%;
    background: #49535d;
    padding:12px 0;
    overflow: hidden;
}
.footnav li{
    float: left;
    width: 20%; text-align: center;
    height: 28px; line-height: 28px;
    font-size: 0.9375em;
}
.footnav li a{
    color: #95a0ac;
}
.footnav li.current{
    background: #404a54;
}
/*footer*/
.footer{
    background: #404a54;
    padding:10px 45px 12px 0;
    overflow: hidden;
    position: relative;
}
.footer .links {
    /*margin-top: 12px;*/
    height: 25px; line-height: 25px;
    color: #565e61; font-size: 0.8125em; text-align: left;
}
.footer .links a{
    color: #95a0ac;
    margin:  0 0 0 8px; display:inline;float: left;
}
.footer .links a:before{
    content: ""; background: #565e61;
    width: 1px; height: 12px;
    display: inline-block; vertical-align: -1px;
    font-size: 1em;
    color: #565e61;margin-right:8px;
}
.footer .links a:first-child:before{
    display: none;
}
.copyright {
    font-size: 0.5em;
    color: #707982; text-align: left;
    text-indent: 8px; white-space: nowrap;
}
.gotop{
    width: 40px; height: 36px;
    background: #313a43;
    position: absolute;
    right: 12px;
    top: 10px;
}
.gotop:after{
    content: "";
    display: block;margin: 10px auto 0;
    width: 25px;height: 15px;
    background-position: -95px 0;
}
.footer .links .iosweb{
  display: none;
}
a[href="http://ta.qq.com?ADTAG=FROUM.FOOTER.CLICK.ICON"] {
    display: none;
}
img[src="http://tajs.qq.com/icon/toss_11.gif"]{
    display: none;
}
/*stock*/
.stock{
    width: 100%; overflow: hidden;
    padding: 10px 0;
}
.stock a{
    display: block;
}
.stock ul{
    overflow: hidden;
    width: 100%; display: table;
}
.stock li{
    display: table-cell;
    height: 70px;
    text-align:center;
}
.stock li:nth-of-type(1){
    border-right: 1px solid #ddd;
}
.stock li:nth-of-type(2){
    border-left: 1px solid #fff;
    border-right: 1px solid #ddd;
}
.stock li:nth-of-type(3){
    border-left: 1px solid #fff;
}
.stock h3{
    font-size:0.75em; color: #777; font-weight: normal;
    margin-bottom: 3px;
}
.stock .rose,.stock .fall,.stock .flat{
    font-size: 1.1875em; display: inline-block;
    width: 100%; height: 30px; line-height: 30px; overflow: hidden;
}
.stock .rose:after,.stock .fall:after,.stock .flat:after{
    content: "";display: inline-block;
    width: 9px; height: 10px;
    background-image: url(http://mat1.gtimg.com/www/mobi/image/stockicon.png);
    background-repeat: no-repeat;
    -webkit-background-size:27px 10px;
    -moz-background-size:27px 10px;
    -o-background-size:27px 10px;
    background-size:27px 10px;
    vertical-align: 2px; margin-left: 2px;
}
/*涨*/
.rose{
    color: #d74835;
}
.stock .rose:after{
    background-position: -9px 0;
    
}
/*跌*/
.fall{
    color: #6cb73a;
}
.stock .fall:after{
    background-position: 0 0;
}
/*平*/
.flat{
    color: #c5c5c5;
}
.stock .flat:after{
    background-position: -18px 0;
}
.stock p {
    font-size: 0.625em; color: #bfbfbf; margin-top: 2px;
}
.stock p span:nth-of-type(2){
    margin-left: 3px;
}
@media (min-width:320px) and (max-width: 479px){
    .list {
        min-height: 396px;
    }
}
@media (min-width:480px){
    .list {
        min-height: 236px;
    }
}
.loads{
    width: 46px; height: 46px;
    position: absolute;
    left: 50%; top: 50%;
    margin: 23px 0 0 -23px;display:inline-block;
    background-position: left top;
}

.loads,.loads i{
  background-image:url(http://mat1.gtimg.com/www/mobi/image/loading.png);
  background-repeat:no-repeat;display:inline-block;
  -webkit-background-size:92px 46px;
    -moz-background-size:92px 46px;
    -o-background-size:92px 46px;
    background-size:92px 46px;
}
.loads i {
  width: 46px; height: 46px;
  background-position: right top;
  -webkit-animation-name: rotateRight;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}
@-webkit-keyframes rotateRight {
   from {-webkit-transform:rotate(360deg);}
   to {-webkit-transform:rotate(0deg);}
}
.chntui{
background: #fffbec;
border: 1px solid #f9f0dc;
line-height: 36px;
height: 36px;
text-align: center;
margin: 0 8px 15px;
}
.chntui a {
color: #9a8071;
}
/*加载状态 文本提示*/
.stock .loading{
    height: 30px; line-height: 30px;
    text-align: center;
    font-size: 1em; color: #000;
    border:none;
}
/*频道logo*/
.logonews,.logoNews{
    position: relative;
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_news.png);
}
.logonews:after,.logoNews:after{
    position: absolute;
    right: -40px;
    top: 8px;
    display: inline-block;
    content: "";
    width: 35px; height: 15px;
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/ssp.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size:35px 15px;
    -moz-background-size:35px 15px;
    -o-background-size:35px 15px;
    background-size:35px 15px;
}
.logofinance,.logoFinance{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_finance.png);
}
.logoent,.logoEnt{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_ent.png);
}
.logosports,.logoSports{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_sports.png);
}
.logomil,.logoMil{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_mil.png);
}
.logotech,.logoTech{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_tech.png);
}
.logodigi,.logoDigi{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_digi.png);
}
.logofashion,.logoFashion{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_fashion.png);
}
.logoauto,.logoAuto{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_auto.png);
}
.logogames,.logoGames{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_games.png);
}
.logohouse,.logoHouse{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_house.png);
}
.logoastro,.logoAstro{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_astro.png);
}
.logophoto,.logoPhoto{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_photo.png);
}
.logovideo,.logoVideo{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_video.png);
}
.logoshehui,.logoShehui{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_news.png);
}
.logocul,.logoCul{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_cul.png);
}
/*地方站*/
.logosh,.logogd,.logocd,.logocq,.logoxian,.logohn,.logohb,.logofj,.logohenan,.logozj,.logoln,.logojs{
    width: 102px; height: 30px;
    background-repeat: no-repeat;
    -webkit-background-size:102px 30px;
    -moz-background-size:102px 30px;
    -o-background-size:102px 30px;
    background-size:102px 30px;
}
.logosh{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_sh.png);
}
.logogd{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_dg.png);
}
.logocd{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_cd.png);
}
.logocq{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_cq.png);
}
.logoxian{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_xian.png);
}
.logohn{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_hn.png);
}
.logohb{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_hb.png);
}
.logohb{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_hb.png);
}
.logofj{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_fj.png);
}
.logohenan{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_henan.png);
}
.logozj{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_zj.png);
}
.logoln{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_ln.png);
}
.logojs{
    background-image: url(http://mat1.gtimg.com/www/mobi/image/logo/logo_js.png);
}

.stock{
    display/*\**/: none\9;
    display: none\9
}/*  |xGv00|6c3f66b2980b588486e8ce2aa7ead713 */

/*原创样式*/
.module{width:100%;}
.module{overflow:hidden;}
/*.original li:last-of-type{border-bottom:0;box-shadow:none;}*/
.original{margin:0 8px 15px;border:1px solid #d2e1f1;background:#fff;}
.original .modulelist>h2 {
    padding: 10px 0 0 0;
    font-size: 1.0625em;
    color: #c14545;
    font-weight: 700;
    text-indent: 10px;
}
.original .original_first{
    background-color: #f1f7fd;
    border-top: 1px solid #fafafa;
    background: -moz-linear-gradient(top,#eff6fd,#feffff);
    background: -webkit-gradient(linear,top,from(#eff6fd),to(#feffff));
    background: -webkit-linear-gradient(top,#eff6fd,#feffff);
}
/*.original .topnews{padding:0 8px 0px;}*/
.topnews li {
    padding:10px 0;
    position: relative;
    min-width: 234px;
    word-wrap: break-word;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.modulelist li{
    overflow:hidden;
    border-bottom:1px solid #eceef0;
    box-shadow:0 1px 1px #fff;
}
.original .modulelist{padding:0 0px 0;}
.original .modulelist li{padding:8px 8px 14.5px;}
.original .modulelist li:last-of-type{border-bottom: 0;box-shadow: none;}
.modulelist{padding:0 8px 0;list-style:none;}
.modulelist .thumb {
width: 75px;
height: 55px;
line-height: 51px;
padding: 1px;
background: #e9f1f4;
border: 1px solid #e0e0e0;
float: left;
text-align: center;
}
.modulelist .thumb img{
display: inline-block;
max-width: 100%;
margin: 0 auto;
vertical-align: middle;
}
.modulelist .thumb{
    line-height:51px;
    text-align:center;
}
.modulelist h2 {
height: 22px;
line-height: 22px;
overflow: hidden;
font-size: 1.0625em;
font-weight: normal;
text-overflow: ellipsis;
white-space: nowrap;
padding-left: 5px;
}
.modulelist li a:visited {
    color: #929292;
}
.modulelist li a{
    color:#000;
}
.original .modulelist p .count{
    float:right;
    height:40px;
    line-height:30px;
}
.modulelist p .count{
    float:right;
    height:17px;
    line-height:17px;
}
.modulelist p{
    padding: 5px 0 0 5px;
    line-height: 19px;
    font-size: 0.9375em;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 40px;
    color: #878c92;
}
/*社会模块*/
.head{
    height: 38px;
    border-top: 2px solid #9ac7ed;
    background-image: url(http://mat1.gtimg.com/www/mobi/image/headbg.png);
    background-repeat: no-repeat;
    -webkit-background-size: 320px 62px;
    -moz-background-size: 320px 62px;
    -o-background-size: 320px 62px;
    background-size: 320px 62px;
    background-position: left -31px;
}
.head h2 {
font-size: 1.125em;
font-weight: normal;
display: inline-block;
text-align: center;
float: left;
width: 64px;
height: 38px;
line-height: 38px;
}
.head h2.current {
border-top: 2px solid #2a70be;
margin-top: -2px;
margin-left:5px;
background-image: url(http://mat1.gtimg.com/www/mobi/image/tab_ui.png);
background-repeat: no-repeat;
-webkit-background-size: 64px 39px;
-moz-background-size: 64px 39px;
-o-background-size: 64px 39px;
background-size: 64px 39px;
background-position: left top;
color: #c14545;
}
.lite{
border-bottom: 1px solid #eceef0;
}
.lite h2 {
font-weight: normal;
height: 35px;
line-height: 35px;
font-size: 1.125em;
}
.lite h2 a {
display: block;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.content .show{
    display:block;
}
.photoList li p {
color: #333;
font-size: 15px;
letter-spacing: 0;
line-height: 18px;
text-decoration: none;
text-align: left;
padding: 6px 4px 0;
display:block;
}
.module .more,.module .getPicmore,.module .getNewsmore,.module .getMilmore{margin-top:15px;}
.photoList ul {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.photoList li {
width: 48%;
display: inline-block;
margin: 14px 0 0 1%;
text-align: center;
vertical-align: top;
}
.photoList li img {
    border:1px solid #e0e0e0;
    padding:2px;
    background:#fff;
    vertical-align:top;
    width: 98%;
}
/*20140723 add login*/
.foot_logout,.foot_login{
    display: none;
}

.foot_user{
    color:#95a0ac;
    font-size: 0.8125em;
    /*height: 25px;*/
    line-height: 25px;
    padding: 0 8px;
}
.foot_user strong,.foot_user span {
    font-weight: normal;
    vertical-align: middle;
}
.login_header{
    width: 100%; height: 44px;
    background: url(http://mat1.gtimg.com/www/mobi/image/headerbg.png) right top no-repeat;
    -webkit-background-size:141px 44px;
    -moz-background-size:141px 44px;
    -o-background-size:141px 44px;
    background-size:141px 44px;
    border-bottom: 2px solid #317ecb;
}
.login_header .txtlogo{
    font-size: 1.125em; line-height: 44px;
    color: #000; display: inline-block;
    text-indent: 10px;
    display: none;
}
.login_header .goclosed{
    display: inline-block;
    float: left;line-height: 44px;
    font-size: 1.125em; color: #458fce;
    background: url(http://mat1.gtimg.com/www/mobi/image/loginicon.png) no-repeat left 50%;
    -webkit-background-size:10px 19px;
    -moz-background-size:10px 19px;
    -o-background-size:10px 19px;
    background-size:10px 19px;
    padding-left: 12px; margin-left: 10px;
}
.login{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-height: 458px;
    display: none;
}/*  |xGv00|68eb3a89d5b853aa3a47ffaa49fbfa31 */