<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>北京岳氏集团</title>
<meta name="keywords" content="北京岳氏集团" />
<meta name="description" content="北京岳氏集团是集生物能源、石油、矿业、养老产业投资、服装服饰、生物医药研发经营、健康教育及文化传播、交通、安防、环境治理工程建设等为一体的多元化发展集团。集团公司秉承“孝为先、诚为业”的企业文化理念，开拓进取，努力将公司打造成具有百年历史品牌的集团企业。" />
<!--<link rel="shortcut icon" href="http://www.takungpao.com/favicon.ico" />-->
<link type="text/css" href="css/headFoot.css" rel="stylesheet" />
<link type="text/css" href="css/index.css" rel="stylesheet" />
</head>
<body>
<!-- banner-->
<div class="banner clearfix">
	<div class="banner_l fl_dib">
		<a href="#"><img src="http://www.yshi.net/images/logo.png" /></a>
	</div>
	<div class="banner_r fr_dib">
		<div class="banner_r_top"><a href="javascript:;">设为首页</a>|<a href="javascript:;">收藏我们</a></div>
		<div class="banner_r_bot">咨询电话：400-675-6602</div>
	</div>
</div>
<!-- banner end-->
<!-- 顶部导航-->
<div class="nav">
  <div class="nav_box">
    <ul>
	<li><a href="#" target="_blank">网站首页</a></li>
	<li><a href="#" target="_blank">新闻动态</a></li>
	<li><a href="#" target="_blank">企业文化</a></li>
	<li><a href="#" target="_blank">产品介绍</a></li>
	<li><a href="#" target="_blank">社会责任</a></li>
	<li><a href="#" target="_blank">人力资源</a></li>
	<li><a href="#" target="_blank">关于集团</a></li>
	<li><a href="#" target="_blank">联系我们</a></li>
	</ul>
  </div>
</div>
<!-- 顶部导航end-->
<!-- 内容区-->
<div class="conbox clearfix">
	<!-- 焦点图-->
	<div class="wj_jdt_1">
		<!--切换图片-->
		<div class="jdt_slide">
			<ul class="slide_ul clearfix">
				<li><img src="http://www.yshi.net/images/04.jpg"/><div class="pic-txt"><a target="_blank" href="#">北京岳氏集团是集生物医药、生物能源、矿业投资与一体</a></div>
				</li>
				<li><img src="http://www.walvax.com/upload/ad/201208/2012080815101154131.jpg"/><div class="pic-txt"><a target="_blank" href="#">科技创新</a></div>
				</li>
				<li><img src="http://www.yshi.net/images/01.jpg"/><div class="pic-txt"><a target="_blank" href="#">服装服饰</a></div>
				</li>
				<li><img src="http://www.yshi.net/images/02.jpg"/><div class="pic-txt"><a target="_blank" href="#">能源矿业</a></div>
				</li>
				<li><img src="http://www.yshi.net/images/03.jpg"/><div class="pic-txt"><a target="_blank" href="#">文化传媒</a></div>
				</li>
			</ul>
			<a class="slide_img_prev" href="javascript:;"></a>
			<a class="slide_img_next" href="javascript:;"></a>
		</div>
		<!--slide 切换按钮-->
		<div class="info_btn_div">
			<ul class="info_btn clearfix">
				<li class="on">0</li><li>1</li><li>2</li><li>3</li><li>4</li>
			</ul>
		</div>
	</div>
	<!-- 焦点图end-->
	<!-- 展示区-->
	<div class="content_box clearfix">
		<!-- 左-->
		<div class="c_box_l fl_dib">
			<div class="c_box_l_t">
				<div class="title">产品介绍<a href="#" target="_blank" class="more">更多>></a></div>
				<div class="con">创国际品牌 做百年岳氏；以诚为业 以孝为先；团结进取 共创辉煌</div>
			</div>
			<div class="c_box_l_b">
				<ul>
					<li><a target="_blank" href="#"><img src="http://www.yshi.net/images/04.jpg" /></a></li>
					<li><a target="_blank" href="#"><img src="http://www.yshi.net/images/01.jpg" /></a></li>
					<li><a target="_blank" href="#"><img src="http://www.yshi.net/images/02.jpg" /></a></li>
					<li><a target="_blank" href="#"><img src="http://www.yshi.net/images/03.jpg" /></a></li>
				</ul>
			</div>
		</div>
		<!-- 左end-->
		<!-- 右-->
		<div class="c_box_r fr_dib">
			<!-- 最新新闻-->
			<div class="c_box_r_t">
				<div class="title">最新新闻<a href="#" target="_blank" class="more">更多>></a></div>
				<div class="con_news clearfix">
					<div class="con_news_l fl_dib">
						<a href="#" target="_blank"><img src="http://www.walvax.com/upload/ad/201208/2012080815101154131.jpg" /></a>
					</div>
					<div class="con_news_r fr_dib">
						<ul>
							<li><a target="_blank" href="#">2014宁夏岳氏民族服装服饰..</a><img src="http://www.walvax.com/images/new.gif" /><span>2014-04-28</span></li>
							<li><a target="_blank" href="#">迎“五四”宁夏岳氏服装工艺..</a><span>2014-04-28</span></li>
							<li><a target="_blank" href="#">自治区民政厅副厅长王风刚莅临..</a><span>2014-04-28</span></li>
							<li><a target="_blank" href="#">自治区民政厅巡视员一行莅临服..</a><span>2014-04-28</span></li>
							<li><a target="_blank" href="#">岳氏集团总裁岳平安带领专家调..</a><span>2014-04-28</span></li>
							<li><a target="_blank" href="#">自治区民政厅巡视员一行莅临服..</a><span>2014-04-28</span></li>
						</ul>
						</ul>
					</div>
				</div>
			</div>
			<!-- 最新新闻end-->
			<!--公司介绍 -->
			<div class="c_box_r_b">
				<div class="tle">
					<div class="tle_l fl_dib">集团介绍</div>
					<div class="tle_r fr_dib">
					<ul>
						<li><a href="#" target="_blank">·董事长寄语</a></li>
						<li><a href="#" target="_blank">·发展历程</a></li>
						<li><a href="#" target="_blank">·事业版图</a></li>
						<li><a href="#" target="_blank">·企业荣誉</a></li>
					</ul>
					</div>
				</div>
				<div class="con clearfix">
					<div class="con_l fl_dib">
						<a href="http://www.yshi.net/company.asp" target="_blank"><img src="http://www.walvax.com/upload/mod_about.jpg" /></a>
					</div>
					<div class="con_r fr_dib">
						<div class="con_r_tle">岳氏概括</div>
						<div class="con_r_txt">北京岳氏集团是集生物能源、石油、矿业、养老产业投资、服装服饰、生物医药研发经营、健康教育及文化传播、交通、安防、环境治理工程建设等为一体的多元化发展集团。集团公司秉承“孝为先、诚为业”...<a href="http://www.yshi.net/company.asp" target="_blank">[详情]</a></div>
					</div>
				</div>
			</div>
			<!--公司介绍end -->
		</div>
		<!-- 右end-->
	</div>
	<!-- 展示区end-->
	<!-- 获奖区-->
	<div class="hj_img_box clearfix">
		<div class="img_box">
		<ul>
		<li><a href="#" target="_blank"><img src="http://img1.xkcar.cn/news/2014040449046673.jpg" /></a></li>
		<li><a href="#" target="_blank"><img src="http://www.56iq.net/upload/1009061336521875.jpg" /></a></li>
		<li><a href="#" target="_blank"><img src="http://www.sgcc.com.cn/xwzx/gsyw/images/2010/08/03/477C433E078094390263C725C8DA6A35.gif" /></a></li>
		<li><a href="#" target="_blank"><img src="http://www.hkfc.hk/uploadfile/2009/1116/20091116040527923.jpg" /></a></li>
		<li><a href="#" target="_blank"><img src="http://www.fdfang.com/uploadfile/2010/1208/20101208031835118.png" /></a></li>
		<li><a href="#" target="_blank"><img src="http://www.zdxy.cn/news/upload/20123131790.jpg" /></a></li>
		<li><a href="#" target="_blank"><img src="http://www.sgcc.com.cn/xwzx/gsyw/images/2010/08/03/477C433E078094390263C725C8DA6A35.gif" /></a></li>
		<li><a href="#" target="_blank"><img src="http://www.hkfc.hk/uploadfile/2009/1116/20091116040527923.jpg" /></a></li>
		<li><a href="#" target="_blank"><img src="http://www.fdfang.com/uploadfile/2010/1208/20101208031835118.png" /></a></li>
		</ul>
		</div>
		<!--<a href="javascript:;" class="img_box_prev">&lt;</a><a href="javascript:;" class="img_box_next">&gt;</a>-->
	</div>
	<!-- 获奖区end-->
	<!-- 友情链接-->
	<div class="friendlink">
		<div class="header_link">友情链接</div>
		<div class="con">
		<a title="中华人民共和国科学技术部" href="http://www.most.gov.cn/" target="_blank">中华人民共和国科学技术部</a> <span>|</span>
		<a title="中华人民共和国国家发展和改革委员会" href="http://www.ndrc.gov.cn/" target="_blank">中华人民共和国国家发展和改革委员会</a> <span>|</span>
		<a title="中华人民共和国卫生部" href="http://www.moh.gov.cn/" target="_blank">中华人民共和国卫生部</a> <span>|</span>
		<a title="国家食品药品监督管理局" href="http://www.sda.gov.cn/" target="_blank">国家食品药品监督管理局</a> <span>|</span>
		<a title="中国疾病预防控制中心" href="http://www.chinacdc.cn/" target="_blank">中国疾病预防控制中心</a> <span>|</span>
		<a title="中国食品药品检定研究院" href="http://www.nicpbp.org.cn/CL0001/" target="_blank">中国食品药品检定研究院</a> <span>|</span>
		<a title="WHO（世界卫生组织）" href="http://www.who.int/en/" target="_blank">WHO（世界卫生组织）</a> <span>|</span>
		<a title="FDA" href="http://www.fda.gov/default.htm" target="_blank">FDA</a> <span>|</span>
		<a title="CDC" href="http://www.cdc.gov/" target="_blank">CDC</a> <span>|</span>
		</div>
	</div>
	<!-- 友情链接end-->
</div>
<!-- 内容区end-->
<!-- 返回顶部-->
<div id="tipback" class="btn-top" title="返回顶部" onclick="gotop();"></div>
<!-- 返回顶部end-->
<!-- 底部footer-->
<div class="footer">
  	<div class="fnav"><a href="#" target="_blank">岳氏简介</a><span>|</span><a href="#" target="_blank">企业文化</a><span>|</span><a href="#" target="_blank">产品介绍</a><span>|</span><a href="#" target="_blank">在线招聘</a><span>|</span><a href="#" target="_blank">定期报告</a><span>|</span><a href="#" target="_blank">网站地图</a><span>|</span><a href="#" target="_blank">联系我们</a><span>|</span><a href="#" target="_blank">投诉建议</a></div>
  <p>地址：北京市朝阳区小营路5号四方大厦11F-1106室&#12288;电话：010-51313131(总机)&#12288;传真：010-51313160&#12288;邮箱：yshi666@sina.com</p>
  <p>Copyright@2014 北京岳氏集团All Rights Reserved&#12288;京ICP备11033668号</p>
</div>
<!-- 底部footer end-->
<script type="text/javascript" src="js/jquery.min.js?t=140504"></script>
<script type="text/javascript" src="js/jquery.imgScroll_yh.js?t=140504"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>