<!DOCTYPE html> 
<html lang="zh-CN"> 
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<title>maowo</title>
<link rel="shortcut icon" href="http://cdn-img.easyicon.net/favicon.ico" /> 
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/index.css" />
<!--[if lt IE 9]>
<script src="http://static.takungpao.com/js/html5shiv.min.js"></script>
<![endif]--> 
<!--[if lte IE 8]>
<noscript>
<style>.html5-wrappers{display:none!important;}</style>
<div class="ie-noscript-warning">您的浏览器禁用了脚本，请<a href="http://static.takungpao.com/home/openJavascript.html">查看这里</a>来启用脚本!
</div>
</noscript>
<![endif]-->
</head>
<body>
<!-- nav-->
<div id="mw-header" class="mw-header hide">
	<div class="mw-header-wrap mw-width clearfix">
		<div class="mw-logo-wrap"><a href="/" class="mw-logo hide-text">maowo</a></div>
		<div class="mw-header-right">
	        <ul>
	            <li><a href="index.html" title="MOWO首页">首页</a><i></i></li>
	            <li><a href="about_us.html" target="_blank" title="关于我们">关于我们</a><i></i></li>
	            <li><a href="#" target="_blank" title="加入我们">加入我们</a><i></i></li>
	        </ul>
	    </div>
	</div>
</div>
<!-- nav end-->
<!-- banner -->
<div id="mw-banner" class="mw-banner mw-minwidth">
  <div class="mw-banner-wrap mw-width">
    <div id="mw-banner-box" class="mw-banner-box hide-text hide">
    	<div class="mw-banner-logo"></div>
    	<div class="mw-banner-app">
    		<a class="app-iphone hide-text" href="#" title="MOWO iPHONE 版">iPHONE 版</a>
    		<a class="app-android hide-text" href="#" title="MOWO Android 版">Android 版</a>
    	</div>
    </div>
  </div>
  <div id="mw-banner-text-life" class="mw-banner-text-life hide-text hide"></div>
</div>
<!-- banner end -->
<!-- mw-box1 -->
<div id="mw-box-1" class="mw-box mw-box-1 mw-minwidth">
	<div class="mw-box-con mw-width">
		<!-- <div class="mw-box-text"></div> -->
		<div class="mw-box-b"></div>
		<div class="mw-box-l"></div>
		<div class="mw-box-r"></div>
	</div>
</div>
<!-- mw-box1 end-->
<!-- mw-box2 -->
<div id="mw-box-2" class="mw-box mw-box-2 mw-minwidth">
	<div class="mw-box-con mw-width">
		<div class="mw-box-b"></div>
		<div class="mw-box-l"></div>
		<div class="mw-box-r"></div>
	</div>
</div>
<!-- mw-box2 end-->
<!-- mw-box3 -->
<div id="mw-box-3" class="mw-box mw-box-3 mw-minwidth">
	<div class="mw-box-con mw-width">
		<div class="mw-box-b"></div>
		<div class="mw-box-l"></div>
		<div class="mw-box-r"></div>
	</div>
</div>
<!-- mw-box3 end-->
<!-- mw-box4 -->
<div id="mw-box-4" class="mw-box mw-box-4 mw-minwidth">
	<div class="mw-box-con mw-width">
		<div class="mw-box-b"></div>
		<div class="mw-box-l"></div>
		<div class="mw-box-r"></div>
	</div>
</div>
<!-- mw-box4 end-->
<!-- mw-footer -->
<div class="mw-footer">
	<div class="mw-width clearfix">
		<div class="mw-share-con fl_dib">
			<ul>
				<li><a class="mw-share-sina"><p class="hide t">新浪微博</p></a></li>
				<li><a class="mw-share-weixin"><p class="hide t">微信公众号</p></a></li>
				<li><a class="mw-share-txwb"><p class="hide t">腾讯微博</p></a></li>
			</ul>
		</div>
		<div class="mw-company-con fl_dib">
			<p>Copyright © 1998-2014 Tencent. All Rights Reserved.</p>
			<p>xxxxxxxxxxxx公司 版权所有</p>
		</div>
	</div>
</div>
<!-- mw-footer end-->
<script type="text/javascript" src="js/jquery.1.9.min.js"></script>
<script type="text/javascript" src="js/mw_index.js?t=0926"></script>
</body>
</html>
