<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>quickhtml</title>
	<link rel="stylesheet" type="text/css" href="../../statics/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h2>快速构建静态页面开发模板<small>致力于gulp 不喜欢grunt</small></h2>
		<h3>项目地址</h3>
		<p><a href="https://coding.net/u/wangwenjie/p/QuickHtmlFrame/git" target="_blank">https://coding.net/u/wangwenjie/p/QuickHtmlFrame/git</a></p>
		<h3>如何下载</h3>
		<p><blockquote>git clone https://git.coding.net/wangwenjie/QuickHtmlFrame.git</blockquote><blockquote>git clone git@git.coding.net:wangwenjie/QuickHtmlFrame.git</blockquote></p>
		<h3>author</h3>
		<p>wangwenjie(<a href="http://wangwenjie1314.github.io" target="_blank">http://wangwenjie1314.github.io</a>)</p>
		<h3>License</h3>
		<p>MIT License</p>
	</div>
</body>
</html>