<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>服务理念</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="TB传媒 网站开发 网页设计 传媒" />
  <meta name="description" content="TB传媒 优秀网页设计 打造与众不同的你 网站建设布道者" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="TB传媒">
  <link rel="alternate icon" type="image/png" href="assets/images/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/images/app-icon72x72@2x.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/app.css"/>
</head>
<body>
<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">
  <!-- <h1 class="am-header-title">
     <a href="index.html">TB传媒</a>
  </h1> -->
  <a href="index.html" class="am-icon-logo"></a>
</header>
<!-- Menu -->
<nav data-am-widget="menu" class="am-menu am-menu-offcanvas1" data-am-menu-offcanvas>
  <a href="javascript: void(0)" class="am-menu-toggle">
    <i class="am-menu-toggle-icon am-icon-bars"></i>
  </a>
  <div class="am-offcanvas">
    <div class="am-offcanvas-bar">
      <ul class="am-menu-nav sm-block-grid-1">
        <li><a href="index.html">首页</a></li>
        <li class="am-parent"><a href="javascript:;">关于</a>
         <ul class="am-menu-sub am-collapse sm-block-grid-1">
          <li><a href="companyInfo.html">公司信息</a></li>
          <li><a href="companyTeams.html">团队优势</a></li>
          <li><a href="companyLinian.html">服务理念</a></li>
          <li><a href="companyNews.html">公司新闻</a></li>
          <li><a href="companyGuandian.html">TB观点</a></li>
          <li><a href="companyYunying.html">网站运营</a></li>
         </ul></li>
        <li class="am-parent"><a href="javascript:;">服务</a>
         <ul class="am-menu-sub am-collapse sm-block-grid-1">
          <li><a href="serviceWebsite.html">企业官网</a></li>
          <li><a href="serviceWeiphp.html">手机网站</a></li>
          <li><a href="serviceSeo.html">网站优化</a></li>
          <li><a href="serviceDomain.html">企业管家</a></li>
          <li><a href="serviceTaobao.html">淘宝开店</a></li>
         </ul></li>
        <li class="am-parent"><a href="javascript:;">案例</a>
         <ul class="am-menu-sub am-collapse sm-block-grid-1">
          <li><a href="workBusiness.html">企业官网</a></li>
          <li><a href="workBusiness.html">手机网站</a></li>
          <li><a href="workBusiness.html">电子商城</a></li>
          <li><a href="workBusiness.html">成品网站</a></li>
         </ul></li>
        <li class="am-parent"><a href="javascript:;">联络</a>
         <ul class="am-menu-sub am-collapse sm-block-grid-1">
          <li><a href="contantUs.html">北京市海淀区上地科实大厦B座6层</a></li>
          <li><a href="contantUs.html">010-56019936 57186393</a></li>
          <li><a href="contantUs.html">service@tbchuanmei.com</a></li>
         </ul></li>
      </ul>
    </div>
  </div>
</nav>
<!-- banner -->
<div class="am-g">
  <img src="http://www.tbchuanmei.com/statics/images/skins/images/center_top.jpg" alt=""/>
</div>
<!-- breadcrumb -->
<ol class="am-breadcrumb am-margin-xs">
  <li><a href="index.html" class="am-icon-home">首页</a></li>
  <li><a href="#">关于</a></li>
  <li class="am-active">服务理念</li>
</ol>
<!-- info -->
<div class="am-article-bd am-margin-horizontal-sm am-text-sm">
  <p><b>公司文化</b></p>
  <p>我们的使命：让企业建站更容易</p>
  <p>我们的理念：求真务实、诚信诚挚</p>
  <p>我们的愿景：领先的企业信息化整体解决方案服务商</p>
  <p>我们的文化：轻松工作，快乐生活</p>
  <p><b>专业能力：</b>我们为客户提供针对性的建站营销解决方案，帮助客户解决企业互联网营销问题。</p>
  <p><b>长期服务：</b>我们与客户建立长期的伙伴关系，帮助客户解决发展中遇到的各种问题，伴随客户成长。</p>
  <p><b>诚信为本：</b>我们深信，诚信是企业取得客户信赖之根本。</p>
  <p><b>尊重客户：</b>聆听客户的需求与建议，用专业的技能、诚挚的态度帮助客户通过互联网实现商业价值。</p>
  <p><b>经营理念："求真务实、诚信诚挚"</b><br/>tb传媒公司历来兢兢业业，以脚踏实地、求真务实的工作作风；以诚实守信、言行合一的品质为客户提供优质服务。在日新月异的当今社会，我们任何时候都保持危机意识，保持与时代同步，并不断创新，使用最新的互联网技术为客户提供服务。</p>
  <p><b>服务理念："为全国中小企业提供互联网管家式服务"</b><br/>以网络为工具、以效益为目标、以客户为中心，企泰人通过自身多年的网络运营经验，整合时下最新的网络技术，诚心诚意、高效快速地为客户提供建站、内容维护、网络推广服务。</p>
  <p><b>文化理念："轻松工作、快乐生活"</b><br/>在TB传媒，你可以在明亮的办公环境中，轻松的工作氛围中，开开心心地工作，实现自己的人生价值和理想，我们希望员工能够在工作之余，可以快乐地生活，只有快乐地生活，才能更好地提高工作效率。</p>
  <p><b>人才理念："以人为本、长期合作"</b><br/>TB传媒历来注重人才的录用与培养，坚持以人为本，提供较好的薪资福利和足够大的职业发展平台，并建立公平合理的机制让员工人尽其才；我们一直认为，公司与员工是合作共赢关系，共同努力，共同发展。</p>
  <p><b>团队理念："各司其职、协同高效"</b><br/>TB传媒一直注重团队协作，无论为客户提供互联网应用及运营服务，还是公司内部运营管理，均以各司其职为团队协作方式，以协同高效为宗旨。</p>
  <p><img src="http://www.tbchuanmei.com/uploadfile/2014/1108/20141108085508744.jpg" /></p>
</div>
<!-- gotop-->
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
  <a href="#top" title="">
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>
<!-- footer-->
<footer data-am-widget="footer" class="am-footer am-footer-default">
  <div class="am-footer-switch">
    <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">移动版</span>
    <span class="am-footer-divider">|</span>
    <a id="godesktop" data-rel="desktop" class="am-footer-desktop"
    href="#">电脑版</a>
  </div>
  <div class="am-footer-miscs ">
    <p>TB传媒提供技术支持</p>
    <p>时间兄弟（北京）国际文化传播有限公司</p>
    <p>Copyright © 2014 tbchuanmei.com</p>
    <p>京ICP备14001143号</p>
  </div>
</footer>
<script src="assets/js/zepto.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>