<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>团队信息</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="TB传媒">
  <link rel="alternate icon" type="image/png" href="assets/images/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/images/app-icon72x72@2x.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/app.css"/>
</head>
<body>
<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">
  <h1 class="am-header-title">
    <a href="#title-link">Amaze UI</a>
  </h1>
</header>
<!-- Menu -->
<nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
  <a href="javascript:;" class="am-menu-toggle">
    <i class="am-menu-toggle-icon am-icon-bars"></i>
  </a>
  <div class="am-offcanvas">
    <div class="am-offcanvas-bar">
      <ul class="am-menu-nav sm-block-grid-1">
        <li class="">
          <a href="index.html">首页</a>
        </li>
        <li class="am-parent">
          <a href="##">关于</a>
          <ul class="am-menu-sub am-collapse sm-block-grid-1">
            <li class="">
              <a href="companyInfo.html">公司信息</a>
            </li>
            <li class="">
              <a href="companyTeams.html">团队优势</a>
            </li>
            <li class="">
              <a href="companyTeams.html">服务理念</a>
            </li>
            <li class="">
              <a href="companyNews.html">公司新闻</a>
            </li>
            <li class="">
              <a href="companyNews.html">TB观点</a>
            </li>
            <li class="">
              <a href="companyNews.html">网站运营</a>
            </li>
          </ul>
        </li>
        <li class="am-parent">
          <a href="##">服务</a>
          <ul class="am-menu-sub am-collapse sm-block-grid-1">
            <li class="">
              <a href="serviceWebsite.html">企业官网</a>
            </li>
            <li class="">
              <a href="serviceWeiphp.html">手机网站</a>
            </li>
            <li class="">
              <a href="serviceDomain.html">网站优化</a>
            </li>
            <li class="">
              <a href="serviceDomain.html">企业管家</a>
            </li>
            <li class="">
              <a href="serviceDomain.html">淘宝开店</a>
            </li>
          </ul>
        </li>
        <li class="am-parent">
          <a href="##">案例</a>
          <ul class="am-menu-sub am-collapse  sm-block-grid-1">
            <li class="">
              <a href="workBusiness.html">企业官网</a>
            </li>
            <li class="">
              <a href="workBusiness.html">手机网站</a>
            </li>
            <li class="">
              <a href="workBusiness.html">电子商城</a>
            </li>
            <li class="">
              <a href="workBusiness.html">成品网站</a>
            </li>
          </ul>
        </li>
        <li class="am-parent">
          <a href="##">联络</a>
          <ul class="am-menu-sub am-collapse  sm-block-grid-1">
            <li class="">
              <a href="contantUs.html">北京市海淀区上地科实大厦B座6层</a>
            </li>
             <li class="">
              <a href="contantUs.html">010-56019936 57186393</a>
            </li>
             <li class="">
              <a href="contantUs.html">service@tbchuanmei.com</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- banner -->
<div class="am-g">
  <img src="http://amui.qiniudn.com/bw-2014-06-19.jpg" alt=""/>
</div>
<!-- breadcrumb -->
<ol class="am-breadcrumb am-margin-xs">
  <li><a href="#" class="am-icon-home">首页</a></li>
  <li><a href="#">关于</a></li>
  <li class="am-active">团队信息</li>
</ol>
<!-- info -->
<div class="am-article-bd am-margin-horizontal-sm am-text-sm">
  <p><b>技术团队：</b>我们拥有一支经验丰富，多年从事网站建设及网站营销的精英团队，我们不仅拥有年轻的资本，我们更多拥有的是专业的技术，他们都是企业建站、营销的资深专业人才，具备开发众多大型网站的成功经验；站前策划团队与客户的详细解答与沟通，制定一套适合客户自身的网站体系结构，设计团队为您精心打造完美形象，根据您的要求，与众不同，使您的网站在众多网站中脱颖而出，独领风骚；网站技术团队，根据设计的页面，进行详细的剖析，根据功能的需求，做出相应的系统开发；售后的客户团队，精心为客户考虑，第一时间处理客户提交的问题，并做出相应的调整，以诚信的态度为每一位客户服务。</p>
  <p><b>解决方案：</b>我们拥有资深的网站策划专业人才，并根据各种不同网站的客户解决方案中总结归纳出许多套不同的客户解决方案，不断的修改，调整，从而适应更多的客户的需求，他们是具有丰富网站策划经验的一个群体，能够充分挖掘到客户的细微需求，从而拟定一套适合您的切实的网站解决方案。</p>
  <p><b>项目管理：</b>我们拥有一套实际运用和不断完善的项目实施方法和富有经验的项目管理人才，已经形成了自己独到的管理方法，保证TB传媒的每一个项目顺利的完成，有效协同各种专业人员共同参与，有组织和计划的进行资源的管理和分配，并能够在最大程度上保证我们的项目按时，按质的完成提交。</p>
  <p><b>售后服务：</b>完美的售后服务体系，我们对新客户都实施首年免维护的方案，对新客户我们以鼓励“互联网上岗”的方阵去服务，逐步引导客户逐渐重视互联网的重要性，协助客户建立互联网的营销体系，为品牌形象进行互联网的传播做好完美的铺垫。如果客户有需要，不论再远，我们也会与客户进行一对一的详细交流，并教会客户运营网站、怎样进行网络营销。我们也在不断升级和强化我们的学识，也希望能够更加专业细微的为客户提供企业信息化服务。</p>
  <p><img src="http://www.tbchuanmei.com/uploadfile/2014/1108/20141108093150588.jpg" /></p>
</div>
<!-- gotop-->
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
  <a href="#top" title="">
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>
<!-- footer-->
<footer data-am-widget="footer" class="am-footer am-footer-default">
  <div class="am-footer-switch">
    <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">移动版</span>
    <span class="am-footer-divider">|</span>
    <a id="godesktop" data-rel="desktop" class="am-footer-desktop"
    href="#">电脑版</a>
  </div>
  <div class="am-footer-miscs ">
    <p>TB传媒提供技术支持</p>
    <p>时间兄弟（北京）国际文化传播有限公司</p>
    <p>Copyright © 2014 tbchuanmei.com</p>
    <p>京ICP备14001143号</p>
  </div>
</footer>
<script src="assets/js/zepto.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>