<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>联系我们</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="TB传媒">
  <link rel="alternate icon" type="image/png" href="assets/images/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/images/app-icon72x72@2x.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/app.css"/>
</head>
<body>
<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">
  <h1 class="am-header-title">
    <a href="#title-link">TB传媒</a>
  </h1>
</header>
<!-- Menu -->
<nav data-am-widget="menu" class="am-menu am-menu-slide1" data-am-menu-collapse="">
 <a href="javascript:;" class="am-menu-toggle"><i class="am-menu-toggle-icon am-icon-bars"></i></a>
 <ul class="am-menu-nav sm-block-grid-4 am-collapse">
  <li class=""><a href="index.html">首页</a></li>
  <li class="am-parent"><a href="javascript:;">关于</a>
   <ul class="am-menu-sub am-collapse sm-block-grid-2">
    <li class=""><a href="companyInfo.html">公司信息</a></li>
    <li class=""><a href="companyTeams.html">团队优势</a></li>
    <li class=""><a href="companyTeams.html">服务理念</a></li>
    <li class=""><a href="companyNews.html">公司新闻</a></li>
    <li class=""><a href="companyNews.html">TB观点</a></li>
    <li class=""><a href="companyNews.html">网站运营</a></li>
   </ul></li>
  <li class="am-parent"><a href="javascript:;">服务</a>
   <ul class="am-menu-sub am-collapse sm-block-grid-2">
    <li class=""><a href="serviceWebsite.html">企业官网</a></li>
    <li class=""><a href="serviceWeiphp.html">手机网站</a></li>
    <li class=""><a href="serviceDomain.html">网站优化</a></li>
    <li class=""><a href="serviceDomain.html">企业管家</a></li>
    <li class=""><a href="serviceDomain.html">淘宝开店</a></li>
   </ul></li>
  <li class="am-parent"><a href="javascript:;">案例</a>
   <ul class="am-menu-sub am-collapse sm-block-grid-2">
    <li class=""><a href="workBusiness.html">企业官网</a></li>
    <li class=""><a href="workBusiness.html">手机网站</a></li>
    <li class=""><a href="workBusiness.html">电子商城</a></li>
    <li class=""><a href="workBusiness.html">成品网站</a></li>
   </ul></li>
  <li class="am-parent"><a href="javascript:;">联系方式</a>
   <ul class="am-menu-sub am-collapse sm-block-grid-1">
    <li class=""><a href="contantUs.html">北京市海淀区上地科实大厦B座6层</a></li>
    <li class=""><a href="contantUs.html">010-56019936 57186393</a></li>
    <li class=""><a href="contantUs.html">service@tbchuanmei.com</a></li>
   </ul></li>
 </ul>
</nav>
<!-- banner -->
<div class="am-g">
  <img src="http://www.tbchuanmei.com/statics/images/skins/images/center_top.jpg" alt=""/>
</div>
<!-- breadcrumb -->
<ol class="am-breadcrumb am-margin-xs">
  <li><a href="#" class="am-icon-home">首页</a></li>
  <li><a href="#">联络</a></li>
  <li class="am-active">联系方式</li>
</ol>
<!-- info -->
<div class="am-article-bd am-margin-sm">
  <p><span class="am-icon-phone am-text-primary"></span> 010-56019936</p>
  <p><span class="am-icon-phone am-text-primary"></span> 010-57186393</p>
  <p><span class="am-icon-qq am-text-primary"></span> 337329248</p>
  <p><span class="am-icon-qq am-text-primary"></span> 404768363</p>
  <p><span class="am-icon-qq am-text-primary"></span> 1736426799</p>
  <p><span class="am-icon-envelope am-text-primary"></span> service@tbchuanmei.com</p>
  <p><span class="am-icon-envelope am-text-primary"></span> luo@tbchuanmei.com</p>
  <p><span class="am-icon-map-marker am-text-primary"></span> 北京市海淀区上地科实大厦B座6层</p>
</div>
<!-- gotop-->
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
  <a href="#top" title="">
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>
<!-- footer-->
<footer data-am-widget="footer" class="am-footer am-footer-default">
  <div class="am-footer-switch">
    <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">移动版</span>
    <span class="am-footer-divider">|</span>
    <a id="godesktop" data-rel="desktop" class="am-footer-desktop"
    href="#">电脑版</a>
  </div>
  <div class="am-footer-miscs ">
    <p>TB传媒提供技术支持</p>
    <p>时间兄弟（北京）国际文化传播有限公司</p>
    <p>Copyright © 2014 tbchuanmei.com</p>
    <p>京ICP备14001143号</p>
  </div>
</footer>
<script src="assets/js/zepto.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>