<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>公司新闻等-正文页</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="TB传媒">
  <link rel="alternate icon" type="image/png" href="assets/images/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/images/app-icon72x72@2x.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/app.css"/>
</head>
<body>
<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">
  <!-- <h1 class="am-header-title">
     <a href="index.html">TB传媒</a>
  </h1> -->
  <a href="index.html" class="am-icon-logo"></a>
</header>
<!-- Menu -->
<nav data-am-widget="menu" class="am-menu am-menu-slide1" data-am-menu-collapse="">
 <a href="javascript:;" class="am-menu-toggle"><i class="am-menu-toggle-icon am-icon-bars"></i></a>
 <ul class="am-menu-nav sm-block-grid-4 am-collapse">
  <li class="am-parent"><a href="javascript:;">关于</a>
   <ul class="am-menu-sub am-collapse sm-block-grid-3">
    <li class=""><a href="companyInfo.html">公司信息</a></li>
    <li class=""><a href="companyTeams.html">团队优势</a></li>
    <li class=""><a href="companyLinian.html">服务理念</a></li>
    <li class=""><a href="companyNews.html">公司新闻</a></li>
    <li class=""><a href="companyGuandian.html">TB观点</a></li>
    <li class=""><a href="companyYunying.html">网站运营</a></li>
   </ul></li>
  <li class="am-parent"><a href="javascript:;">服务</a>
   <ul class="am-menu-sub am-collapse sm-block-grid-3">
    <li class=""><a href="serviceWebsite.html">企业官网</a></li>
    <li class=""><a href="serviceWeiphp.html">手机网站</a></li>
    <li class=""><a href="serviceSeo.html">网站优化</a></li>
    <li class=""><a href="serviceDomain.html">企业管家</a></li>
    <li class=""><a href="serviceTaobao.html">淘宝开店</a></li>
   </ul></li>
  <li class="am-parent"><a href="javascript:;">案例</a>
   <ul class="am-menu-sub am-collapse sm-block-grid-3">
    <li class=""><a href="workBusiness.html">企业官网</a></li>
    <li class=""><a href="workBusiness.html">手机网站</a></li>
    <li class=""><a href="workBusiness.html">电子商城</a></li>
    <li class=""><a href="workBusiness.html">成品网站</a></li>
   </ul></li>
  <li class="am-parent"><a href="javascript:;">联络</a>
   <ul class="am-menu-sub am-collapse sm-block-grid-1">
    <li class=""><a href="contantUs.html">北京市海淀区上地科实大厦B座6层</a></li>
    <li class=""><a href="contantUs.html">010-56019936 57186393</a></li>
    <li class=""><a href="contantUs.html">service@tbchuanmei.com</a></li>
   </ul></li>
 </ul>
</nav>
<!-- banner -->
<div class="am-g">
  <img src="http://www.tbchuanmei.com/statics/images/skins/images/center_top.jpg" alt=""/>
</div>
<!-- breadcrumb -->
<ol class="am-breadcrumb am-margin-xs">
  <li><a href="index.html" class="am-icon-home">首页</a></li>
  <li><a href="#">关于</a></li>
  <li><a href="#">公司新闻</a></li>
  <li class="am-active">正文</li>
</ol>
<!-- text -->
<article class="am-article am-margin-xs">
  <div class="am-article-hd">
    <h1 class="am-article-title">一加步小米后尘：是否唤醒中国厂商专利的重视</h1>
    <p class="am-article-meta">时间：2014-12-18 16:56:34　来源：蓝鲸TMT网　浏览次数：8</p>
  </div>
  <div class="am-article-bd">
    <p><img src="http://www.tbchuanmei.com/uploadfile/2014/1218/20141218045626184.png" /></p>
    <p>17日消息，印度德里最高法庭发出禁令，禁止中国硬件厂商一加手机出口到印度市场，并且禁止其宣传和销售新的手机设备。</p>
    <p>无独有偶，就在几天前小米手机也被发禁令，被指控侵犯爱立信核心专利组合，在印度市场禁止销售。直至昨日凌晨，小米宣布通过预交每台100卢比的价格获得印度“临时解禁令”。</p>
    <p>实际上，印度和其他国家相比，在知识产权方面上还不是最严格，其的成熟度和中国市场相去不远，参考国内知识产权的情况大概能体会到印度是怎样的一个状态。对于相对而言更加重视专利权的美国和一些欧洲国家等，这些中国厂商可能会面对更严重的专利指控。</p>
    <p>小米在印度被禁或导致小米在更多的海外国家卷入专利纷争。对专利授权的忽视致使这两家中国硬件厂商在印度接连被禁，对于这两家公司的海外扩张带来负面影响。</p>
    <p>编辑点评：<br/>当国产手机的市场份额多了之后，会更加受到竞争对手的重视，更有可能面临专利战。手机厂商利用专利形成专利壁垒，打击竞争对手是极为常见的手段，HTC就是前车之鉴。所以，对于想走出国门的国内硬件厂商来说，积淀自己的知识产权或者收购专利打造专利库就显得尤为重要。</p>
  </div>
</article>
<!-- pages -->
<ul data-am-widget="pagination" class="am-pagination am-page">
  <li class="am-pagination-prev">
    <a href="#">上一篇：微信发公告：域名在朋友圈内分享需要ICP备案</a>
  </li>
  <li class="am-pagination-next ">
    <a href="#">下一篇：TB传媒签约北京市法大律师事务所官网建设项目</a>
  </li>
</ul>
<!-- gotop-->
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
  <a href="#top" title="">
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>
<!-- footer-->
<footer data-am-widget="footer" class="am-footer am-footer-default">
  <div class="am-footer-switch">
    <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">移动版</span>
    <span class="am-footer-divider">|</span>
    <a id="godesktop" data-rel="desktop" class="am-footer-desktop"
    href="#">电脑版</a>
  </div>
  <div class="am-footer-miscs ">
    <p>TB传媒提供技术支持</p>
    <p>时间兄弟（北京）国际文化传播有限公司</p>
    <p>Copyright © 2014 tbchuanmei.com</p>
    <p>京ICP备14001143号</p>
  </div>
</footer>
<script src="assets/js/zepto.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>