<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>首页</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="TB传媒">
  <link rel="alternate icon" type="image/png" href="assets/images/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/images/app-icon72x72@2x.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/app.css"/>
</head>
<body>
<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">
  <h1 class="am-header-title">
    <a href="#title-link">Amaze UI</a>
  </h1>
</header>
<!-- Menu -->
<nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
  <a href="javascript:;" class="am-menu-toggle">
    <i class="am-menu-toggle-icon am-icon-bars"></i>
  </a>
  <div class="am-offcanvas">
    <div class="am-offcanvas-bar">
      <ul class="am-menu-nav sm-block-grid-1">
        <li class="">
          <a href="index.html">首页</a>
        </li>
        <li class="am-parent">
          <a href="##">关于</a>
          <ul class="am-menu-sub am-collapse sm-block-grid-1">
            <li class="">
              <a href="companyInfo.html">公司信息</a>
            </li>
            <li class="">
              <a href="companyTeams.html">团队优势</a>
            </li>
            <li class="">
              <a href="companyTeams.html">服务理念</a>
            </li>
            <li class="">
              <a href="companyNews.html">公司新闻</a>
            </li>
            <li class="">
              <a href="companyNews.html">TB观点</a>
            </li>
            <li class="">
              <a href="companyNews.html">网站运营</a>
            </li>
          </ul>
        </li>
        <li class="am-parent">
          <a href="##">服务</a>
          <ul class="am-menu-sub am-collapse sm-block-grid-1">
            <li class="">
              <a href="serviceWebsite.html">企业官网</a>
            </li>
            <li class="">
              <a href="serviceWeiphp.html">手机网站</a>
            </li>
            <li class="">
              <a href="serviceDomain.html">网站优化</a>
            </li>
            <li class="">
              <a href="serviceDomain.html">企业管家</a>
            </li>
            <li class="">
              <a href="serviceDomain.html">淘宝开店</a>
            </li>
          </ul>
        </li>
        <li class="am-parent">
          <a href="##">案例</a>
          <ul class="am-menu-sub am-collapse  sm-block-grid-1">
            <li class="">
              <a href="workBusiness.html">企业官网</a>
            </li>
            <li class="">
              <a href="workBusiness.html">手机网站</a>
            </li>
            <li class="">
              <a href="workBusiness.html">电子商城</a>
            </li>
            <li class="">
              <a href="workBusiness.html">成品网站</a>
            </li>
          </ul>
        </li>
        <li class="am-parent">
          <a href="##">联络</a>
          <ul class="am-menu-sub am-collapse  sm-block-grid-1">
            <li class="">
              <a href="contantUs.html">北京市海淀区上地科实大厦B座6层</a>
            </li>
             <li class="">
              <a href="contantUs.html">010-56019936 57186393</a>
            </li>
             <li class="">
              <a href="contantUs.html">service@tbchuanmei.com</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Slider -->
<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}'>
  <ul class="am-slides">
    <li>
      <img src="http://cn.bing.com/az/hprichv/LondonTrainStation_GettyRR_139321755_ZH-CN742316019.jpg">
    </li>
    <li>
      <img src="http://s.cn.bing.net/az/hprichbg/rb/CardinalsBerries_ZH-CN10679090179_1366x768.jpg">
    </li>
    <li>
      <img src="http://s.cn.bing.net/az/hprichbg/rb/QingdaoJiaozhou_ZH-CN10690497202_1366x768.jpg">
    </li>
    <li>
      <img src="http://s.cn.bing.net/az/hprichbg/rb/FennecFox_ZH-CN13720911949_1366x768.jpg">
    </li>
  </ul>
</div>
<!-- Item-->
<div class="am-g am-margin-vertical-sm am-link-muted">
  <div class="col-sm-3 col-lg-3">
    <a href="#"><p class="am-text-center am-margin-xs"><span class="am-icon-btn am-icon-html5"></span></p>
    <p class="am-text-sm am-text-center am-margin-vertical-xs">企业官网</p>
    </a>
  </div>
  <div class="col-sm-3 col-lg-3">
    <a href="#"><p class="am-text-center am-margin-xs"><span class="am-icon-btn am-icon-mobile-phone"></span></p>
    <p class="am-text-sm am-text-center am-margin-vertical-xs">手机网站</p>
    </a>
  </div>
  <div class="col-sm-3 col-lg-3">
    <a href="#"><p class="am-text-center am-margin-xs"><span class="am-icon-btn am-icon-search"></span></p>
    <p class="am-text-sm am-text-center am-margin-vertical-xs">网站优化</p>
    </a>
  </div>
  <div class="col-sm-3 col-lg-3">
    <a href="#"><p class="am-text-center am-margin-xs"><span class="am-icon-btn am-icon-cloud"></span></p>
    <p class="am-text-sm am-text-center am-margin-vertical-xs">企网管家</p>
    </a>
  </div>
</div>
<!-- Tabs-->
<div data-am-widget="tabs" class="am-tabs am-tabs-default" data-am-tabs-noswipe="1">
  <ul class="am-tabs-nav am-cf am-text-sm">
    <li class="am-active">
      <a href="[data-tab-panel-0]">企业官网</a>
    </li>
    <li class="">
      <a href="[data-tab-panel-1]">微网站</a>
    </li>
    <li class="">
      <a href="[data-tab-panel-2]">电子商城</a>
    </li>
    <li class="">
      <a href="[data-tab-panel-3]">成品网站</a>
    </li>
  </ul>
  <div class="am-tabs-bd">
    <div data-tab-panel-0 class="am-tab-panel am-active">
      <ul data-am-widget="gallery" class="am-gallery sm-block-grid-2 md-block-grid-3 lg-block-grid-4 am-gallery-default" data-am-gallery="{ pureview: true }">
        <li>
          <div class="am-gallery-item">
            <a href="assets/images/1.jpg">
              <img src="assets/images/1.jpg"
              alt="不要太担心 只因为我相信" />
              <h3 class="am-gallery-title">不要太担心 只因为我相信</h3>
            </a>
          </div>
        </li>
        <li>
          <div class="am-gallery-item">
            <a href="assets/images/2.jpg">
              <img src="assets/images/2.jpg"
              alt="终会走过这条遥远的道路" />
              <h3 class="am-gallery-title">终会走过这条遥远的道路</h3>
            </a>
          </div>
        </li>
        <li>
          <div class="am-gallery-item">
            <a href="assets/images/3.jpg">
              <img src="assets/images/3.jpg"
              alt="不要太担心 只因为我相信" />
              <h3 class="am-gallery-title">不要太担心 只因为我相信</h3>
            </a>
          </div>
        </li>
        <li>
          <div class="am-gallery-item">
            <a href="assets/images/4.jpg">
              <img src="assets/images/4.jpg"
              alt="终会走过这条遥远的道路" />
              <h3 class="am-gallery-title">终会走过这条遥远的道路</h3>
            </a>
          </div>
        </li>
        <li>
          <div class="am-gallery-item">
            <a href="assets/images/1.jpg">
              <img src="assets/images/1.jpg"
              alt="不要太担心 只因为我相信" />
              <h3 class="am-gallery-title">不要太担心 只因为我相信</h3>
            </a>
          </div>
        </li>
        <li>
          <div class="am-gallery-item">
            <a href="assets/images/2.jpg">
              <img src="assets/images/2.jpg"
              alt="终会走过这条遥远的道路" />
              <h3 class="am-gallery-title">终会走过这条遥远的道路</h3>
            </a>
          </div>
        </li>
        <li>
          <div class="am-gallery-item">
            <a href="assets/images/3.jpg">
              <img src="assets/images/3.jpg"
              alt="不要太担心 只因为我相信" />
              <h3 class="am-gallery-title">不要太担心 只因为我相信</h3>
            </a>
          </div>
        </li>
        <li>
          <div class="am-gallery-item">
            <a href="assets/images/4.jpg">
              <img src="assets/images/4.jpg"
              alt="终会走过这条遥远的道路" />
              <h3 class="am-gallery-title">终会走过这条遥远的道路</h3>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div data-tab-panel-1 class="am-tab-panel">
        <ul data-am-widget="gallery" class="am-gallery sm-block-grid-2 md-block-grid-3 lg-block-grid-4 am-gallery-default" data-am-gallery="{ pureview: true }">
        <li>
          <div class="am-gallery-item">
            <a href="assets/images/1.jpg">
              <img src="assets/images/1.jpg"
              alt="不要太担心 只因为我相信" />
              <h3 class="am-gallery-title">不要太担心 只因为我相信</h3>
            </a>
          </div>
        </li>
        <li>
          <div class="am-gallery-item">
            <a href="assets/images/2.jpg">
              <img src="assets/images/2.jpg"
              alt="终会走过这条遥远的道路" />
              <h3 class="am-gallery-title">终会走过这条遥远的道路</h3>
            </a>
          </div>
        </li>
        <li>
          <div class="am-gallery-item">
            <a href="assets/images/3.jpg">
              <img src="assets/images/3.jpg"
              alt="不要太担心 只因为我相信" />
              <h3 class="am-gallery-title">不要太担心 只因为我相信</h3>
            </a>
          </div>
        </li>
        <li>
          <div class="am-gallery-item">
            <a href="assets/images/4.jpg">
              <img src="assets/images/4.jpg"
              alt="终会走过这条遥远的道路" />
              <h3 class="am-gallery-title">终会走过这条遥远的道路</h3>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div data-tab-panel-2 class="am-tab-panel">
        <ul data-am-widget="gallery" class="am-gallery sm-block-grid-2 md-block-grid-3 lg-block-grid-4 am-gallery-default" data-am-gallery="{ pureview: true }">
        <li>
          <div class="am-gallery-item">
            <a href="assets/images/1.jpg">
              <img src="assets/images/1.jpg"
              alt="不要太担心 只因为我相信" />
              <h3 class="am-gallery-title">不要太担心 只因为我相信</h3>
            </a>
          </div>
        </li>
        <li>
          <div class="am-gallery-item">
            <a href="assets/images/2.jpg">
              <img src="assets/images/2.jpg"
              alt="终会走过这条遥远的道路" />
              <h3 class="am-gallery-title">终会走过这条遥远的道路</h3>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div data-tab-panel-3 class="am-tab-panel ">
        <ul data-am-widget="gallery" class="am-gallery sm-block-grid-2 md-block-grid-3 lg-block-grid-4 am-gallery-default" data-am-gallery="{ pureview: true }">
        <li>
          <div class="am-gallery-item">
            <a href="assets/images/1.jpg">
              <img src="assets/images/1.jpg"
              alt="不要太担心 只因为我相信" />
              <h3 class="am-gallery-title">不要太担心 只因为我相信</h3>
            </a>
          </div>
        </li>
        <li>
          <div class="am-gallery-item">
            <a href="assets/images/2.jpg">
              <img src="assets/images/2.jpg"
              alt="终会走过这条遥远的道路" />
              <h3 class="am-gallery-title">终会走过这条遥远的道路</h3>
            </a>
          </div>
        </li>
        <li>
          <div class="am-gallery-item">
            <a href="assets/images/3.jpg">
              <img src="assets/images/3.jpg"
              alt="不要太担心 只因为我相信" />
              <h3 class="am-gallery-title">不要太担心 只因为我相信</h3>
            </a>
          </div>
        </li>
        <li>
          <div class="am-gallery-item">
            <a href="assets/images/4.jpg">
              <img src="assets/images/4.jpg"
              alt="终会走过这条遥远的道路" />
              <h3 class="am-gallery-title">终会走过这条遥远的道路</h3>
            </a>
          </div>
        </li>
      </ul>
    </div>
</div>
</div>
<!-- How use-->
<h4 class="about-color am-margin-sm">他们选择了TB传媒 !</h4>
<p class="am-text-sm am-margin-sm am-line-clamp">我们是一家以创意为基准的设计型网站公司，从项目的前期定位策划分析、顾问咨询以及技术架构、到项目实施的界面设计、创意表现、站点架构搭建以及后续的访问监控服务、后续维护服务以及运营反馈建议等内容。丰富的网络信息化服务经验、专家级的策划师、设计师、工程师、充足的软硬件资源、完善的管理制度；我们是站在为客户带来价值的角度， 规划、定制符合企业发展需求的，带有开发功能和营销价值的网络信息化专家。</p>
<ul data-am-widget="gallery" class="am-gallery sm-block-grid-4 md-block-grid-3 lg-block-grid-4 am-gallery-overlay" data-am-gallery="{}">
  <li>
    <div class="am-gallery-item">
      <a href="#">
        <img src="assets/images/1.jpg" alt="远方 有一个地方 那里种有我们的梦想" />
        <h3 class="am-gallery-title">远方 有一个地方 那里种有我们的梦想</h3>
      </a>
    </div>
  </li>
  <li>
    <div class="am-gallery-item">
      <a href="#">
        <img src="assets/images/2.jpg" alt="某天 也许会相遇 相遇在这个好地方" />
        <h3 class="am-gallery-title">某天 也许会相遇 相遇在这个好地方</h3>
      </a>
    </div>
  </li>
  <li>
    <div class="am-gallery-item">
      <a href="#">
        <img src="assets/images/3.jpg" alt="不要太担心 只因为我相信" />
        <h3 class="am-gallery-title">不要太担心 只因为我相信</h3>
      </a>
    </div>
  </li>
  <li>
    <div class="am-gallery-item">
      <a href="#">
        <img src="assets/images/4.jpg" alt="不要太担心 只因为我相信" />
        <h3 class="am-gallery-title">终会走过这条遥远的道路</h3>
      </a>
    </div>
  </li>
  <li>
    <div class="am-gallery-item">
      <a href="#">
        <img src="assets/images/1.jpg" alt="远方 有一个地方 那里种有我们的梦想" />
        <h3 class="am-gallery-title">远方 有一个地方 那里种有我们的梦想</h3>
      </a>
    </div>
  </li>
  <li>
    <div class="am-gallery-item">
      <a href="#">
        <img src="assets/images/2.jpg" alt="某天 也许会相遇 相遇在这个好地方" />
        <h3 class="am-gallery-title">某天 也许会相遇 相遇在这个好地方</h3>
      </a>
    </div>
  </li>
  <li>
    <div class="am-gallery-item">
      <a href="#">
        <img src="assets/images/3.jpg" alt="不要太担心 只因为我相信" />
        <h3 class="am-gallery-title">不要太担心 只因为我相信</h3>
      </a>
    </div>
  </li>
  <li>
    <div class="am-gallery-item">
      <a href="#">
        <img src="assets/images/4.jpg" alt="不要太担心 只因为我相信" />
        <h3 class="am-gallery-title">终会走过这条遥远的道路</h3>
      </a>
    </div>
  </li>
   <li>
    <div class="am-gallery-item">
      <a href="#">
        <img src="assets/images/1.jpg" alt="远方 有一个地方 那里种有我们的梦想" />
        <h3 class="am-gallery-title">远方 有一个地方 那里种有我们的梦想</h3>
      </a>
    </div>
  </li>
  <li>
    <div class="am-gallery-item">
      <a href="#">
        <img src="assets/images/2.jpg" alt="某天 也许会相遇 相遇在这个好地方" />
        <h3 class="am-gallery-title">某天 也许会相遇 相遇在这个好地方</h3>
      </a>
    </div>
  </li>
  <li>
    <div class="am-gallery-item">
      <a href="#">
        <img src="assets/images/3.jpg" alt="不要太担心 只因为我相信" />
        <h3 class="am-gallery-title">不要太担心 只因为我相信</h3>
      </a>
    </div>
  </li>
  <li>
    <div class="am-gallery-item">
      <a href="#">
        <img src="assets/images/4.jpg" alt="不要太担心 只因为我相信" />
        <h3 class="am-gallery-title">终会走过这条遥远的道路</h3>
      </a>
    </div>
  </li>
</ul>
<!-- news-->
<div data-am-widget="list_news" class="am-list-news am-list-news-default">
  <!--列表标题-->
  <div class="am-list-news-hd am-cf">
    <!--带更多链接-->
    <a href="##">
      <h2>NEWS//新闻</h2>
      <span class="am-list-news-more am-fr">更多 &raquo;</span>
    </a>
  </div>
  <div class="am-list-news-bd">
    <ul class="am-list">
      <li class="am-g am-list-item-dated">
        <a href="##" class="am-list-item-hd">TB传媒签约北京唯美雅韵家具网站建设项目</a>
        <span class="am-list-date">2013-09-18</span>
      </li>
      <li class="am-g am-list-item-dated">
        <a href="##" class="am-list-item-hd">TB传媒签约北京市法大律师事务所网站建...</a>
        <span class="am-list-date">2013-10-14</span>
      </li>
      <li class="am-g am-list-item-dated">
        <a href="##" class="am-list-item-hd">一加步小米后尘：是否唤醒中国厂商专利...</a>
        <span class="am-list-date">2013-11-18</span>
      </li>
    </ul>
  </div>
  <!--列表标题-->
  <div class="am-list-news-hd am-cf">
    <!--带更多链接-->
    <a href="##">
      <h2>THINKING//观点</h2>
      <span class="am-list-news-more am-fr">更多 &raquo;</span>
    </a>
  </div>
  <div class="am-list-news-bd">
    <ul class="am-list">
      <li class="am-g am-list-item-dated">
        <a href="##" class="am-list-item-hd">TB传媒签约北京唯美雅韵家具网站建设项目</a>
        <span class="am-list-date">2013-09-18</span>
      </li>
      <li class="am-g am-list-item-dated">
        <a href="##" class="am-list-item-hd">TB传媒签约北京市法大律师事务所网站建...</a>
        <span class="am-list-date">2013-10-14</span>
      </li>
      <li class="am-g am-list-item-dated">
        <a href="##" class="am-list-item-hd">一加步小米后尘：是否唤醒中国厂商专利...</a>
        <span class="am-list-date">2013-11-18</span>
      </li>
    </ul>
  </div>
  <!--列表标题-->
  <div class="am-list-news-hd am-cf">
    <!--带更多链接-->
    <a href="##">
      <h2>OPERATE//运营</h2>
      <span class="am-list-news-more am-fr">更多 &raquo;</span>
    </a>
  </div>
  <div class="am-list-news-bd">
    <ul class="am-list">
      <li class="am-g am-list-item-dated">
        <a href="##" class="am-list-item-hd">TB传媒签约北京唯美雅韵家具网站建设项目</a>
        <span class="am-list-date">2013-09-18</span>
      </li>
      <li class="am-g am-list-item-dated">
        <a href="##" class="am-list-item-hd">TB传媒签约北京市法大律师事务所网站建...</a>
        <span class="am-list-date">2013-10-14</span>
      </li>
      <li class="am-g am-list-item-dated">
        <a href="##" class="am-list-item-hd">一加步小米后尘：是否唤醒中国厂商专利...</a>
        <span class="am-list-date">2013-11-18</span>
      </li>
    </ul>
  </div>
</div>
<!-- contant us-->
<!-- <h3 class="about-color am-margin-sm">联系我们</h3> -->
<div class="am-g">
<div class="col-lg-6 col-md-4 col-sm-12">
  <form class="am-form">
    <label for="name" class="about-color">你的姓名</label>
    <input id="name" type="text">
    <br>
    <label for="email" class="about-color">你的邮箱</label>
    <input id="email" type="email">
    <br>
    <label for="message" class="about-color">你的留言</label>
    <textarea id="message"></textarea>
    <br>
    <button type="submit" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-check"></i> 提 交</button>
  </form>
  <hr class="am-article-divider am-show-sm-only">
</div>
</div>
<!-- toolbar-->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default " id="">
  <ul class="am-navbar-nav am-cf sm-block-grid-4">
    <li>
      <a href="tel:56019936">
        <span class="am-icon-phone"></span>
        <span class="am-navbar-label">咨询热线</span>
      </a>
    </li>
    <li data-am-navbar-share>
      <a href="###">
        <span class="am-icon-share-square-o"></span>
        <span class="am-navbar-label">分享</span>
      </a>
    </li>
    <li data-am-navbar-qrcode>
      <a href="###">
        <span class="am-icon-qrcode"></span>
        <span class="am-navbar-label">二维码</span>
      </a>
    </li>
    <li>
      <a href="##">
        <span class="am-icon-user-md"></span>
        <span class="am-navbar-label">关于我们</span>
      </a>
    </li>
    <!-- <li>
      <a href="##">
        <span class="am-icon-download"></span>
        <span class="am-navbar-label">下载使用</span>
      </a>
    </li>
    <li>
      <a href="##">
        <span class="am-icon-location-arrow"></span>
        <span class="am-navbar-label">联系我们</span>
      </a>
    </li> -->
  </ul>
</div>
<!-- gotop-->
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed am-gotop-fixed-50">
  <a href="#top" title="">
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>
<!-- footer-->
<footer data-am-widget="footer" class="am-footer am-footer-default">
  <div class="am-footer-switch">
    <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">移动版</span>
    <span class="am-footer-divider">|</span>
    <a id="godesktop" data-rel="desktop" class="am-footer-desktop"
    href="#">电脑版</a>
  </div>
  <div class="am-footer-miscs ">
    <p>TB传媒提供技术支持</p>
    <p>时间兄弟（北京）国际文化传播有限公司</p>
    <p>Copyright © 2014 tbchuanmei.com</p>
    <p>京ICP备14001143号</p>
  </div>
</footer>
<script src="assets/js/zepto.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>