<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>企网管家</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="TB传媒">
  <link rel="alternate icon" type="image/png" href="assets/images/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/images/app-icon72x72@2x.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/app.css"/>
</head>
<body>
<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">
  <!-- <h1 class="am-header-title">
     <a href="index.html">TB传媒</a>
  </h1> -->
  <a href="index.html" class="am-icon-logo"></a>
</header>
<!-- Menu -->
<nav data-am-widget="menu" class="am-menu am-menu-slide1" data-am-menu-collapse="">
 <a href="javascript:;" class="am-menu-toggle"><i class="am-menu-toggle-icon am-icon-bars"></i></a>
 <ul class="am-menu-nav sm-block-grid-4 am-collapse">
  <li class="am-parent"><a href="javascript:;">关于</a>
   <ul class="am-menu-sub am-collapse sm-block-grid-3">
    <li class=""><a href="companyInfo.html">公司信息</a></li>
    <li class=""><a href="companyTeams.html">团队优势</a></li>
    <li class=""><a href="companyLinian.html">服务理念</a></li>
    <li class=""><a href="companyNews.html">公司新闻</a></li>
    <li class=""><a href="companyGuandian.html">TB观点</a></li>
    <li class=""><a href="companyYunying.html">网站运营</a></li>
   </ul></li>
  <li class="am-parent"><a href="javascript:;">服务</a>
   <ul class="am-menu-sub am-collapse sm-block-grid-3">
    <li class=""><a href="serviceWebsite.html">企业官网</a></li>
    <li class=""><a href="serviceWeiphp.html">手机网站</a></li>
    <li class=""><a href="serviceSeo.html">网站优化</a></li>
    <li class=""><a href="serviceDomain.html">企业管家</a></li>
    <li class=""><a href="serviceTaobao.html">淘宝开店</a></li>
   </ul></li>
  <li class="am-parent"><a href="javascript:;">案例</a>
   <ul class="am-menu-sub am-collapse sm-block-grid-3">
    <li class=""><a href="workBusiness.html">企业官网</a></li>
    <li class=""><a href="workBusiness.html">手机网站</a></li>
    <li class=""><a href="workBusiness.html">电子商城</a></li>
    <li class=""><a href="workBusiness.html">成品网站</a></li>
   </ul></li>
  <li class="am-parent"><a href="javascript:;">联络</a>
   <ul class="am-menu-sub am-collapse sm-block-grid-1">
    <li class=""><a href="contantUs.html">北京市海淀区上地科实大厦B座6层</a></li>
    <li class=""><a href="contantUs.html">010-56019936 57186393</a></li>
    <li class=""><a href="contantUs.html">service@tbchuanmei.com</a></li>
   </ul></li>
 </ul>
</nav>
<!-- banner -->
<div class="am-g">
  <img src="http://www.tbchuanmei.com/statics/images/skins/images/center_top_fw.jpg" alt=""/>
</div>
<!-- breadcrumb -->
<ol class="am-breadcrumb am-margin-xs">
  <li><a href="index.html" class="am-icon-home">首页</a></li>
  <li><a href="#">服务</a></li>
  <li class="am-active">企网管家</li>
</ol>
<!-- info -->
<div class="am-article-bd am-margin-horizontal-sm am-text-sm">
  <p><img src="http://www.tbchuanmei.com/uploadfile/2014/1124/20141124013849284.png" /></p>
  <p>惊喜一：你将获得精美大气的企业品牌官网一个（该服务目前只面向建材、家具、灯饰、汽修、汽配等行业）、顶级域名一个（.com或.cn）以及500M网站空间；</p>
  <p>惊喜二：从域名注册、网站内容上传到网站上线只要三个工作日，我们就能为您实现；</p>
  <p>惊喜三：网站上线后7个工作日就能在百度首页看到您的网站，并让百度喜欢上您的网站；</p>
  <p>惊喜四：我们为您的网站提供全年的网站内容维护更新，让您不再有做好网站没人维护管理的尴尬；</p>
  <p>惊喜五：我们提供上百套企业营销型网站供您选择，并有专业技术团队维护，网站不会再有打不开或数据丢失的问题；</p>
  <p>最大惊喜：如需详细了解我们《企网管家》内容、年服务费及推广优化请致电我们，您会获得最大惊喜。</p>
  <p><img src="http://www.tbchuanmei.com/uploadfile/2014/1125/20141125114903939.png" /></p>
</div>
<!-- gotop-->
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
  <a href="#top" title="">
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>
<!-- footer-->
<footer data-am-widget="footer" class="am-footer am-footer-default">
  <div class="am-footer-switch">
    <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">移动版</span>
    <span class="am-footer-divider">|</span>
    <a id="godesktop" data-rel="desktop" class="am-footer-desktop"
    href="#">电脑版</a>
  </div>
  <div class="am-footer-miscs ">
    <p>TB传媒提供技术支持</p>
    <p>时间兄弟（北京）国际文化传播有限公司</p>
    <p>Copyright © 2014 tbchuanmei.com</p>
    <p>京ICP备14001143号</p>
  </div>
</footer>
<script src="assets/js/zepto.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>