<!DOCTYPE html> 
<html lang="zh-CN"> 
<head>
<meta charset="UTF-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta name="renderer" content="webkit">
<title>404</title>
<link rel="shortcut icon" href="http://www.takungpao.com/favicon.ico" /> 
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="css/style.css?t=140930" />
<!--[if lt IE 9]>
<script src="http://static.takungpao.com/js/html5shiv.min.js"></script>
<![endif]-->
</head>
 <body class="fourofour">
<!-- Login Screen -->
<div class="fourofour-container">
  <h1>404</h1>
  <h2>服务器貌似离家出走了...</h2>
  <a class="btn btn-lg btn-default-outline" href="index.html">返回首页</a>
</div>
<!-- End Login Screen -->
</body>
</html>
