@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a,span{ margin:0; padding:0 }
fieldset,img{ border:0 }
:focus{ outline:0 }
/*font*/
address,caption,cite,code,dfn,em,strong,th,var,optgroup{ font-style:normal; font-weight:normal }
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal }
input,button,textarea,select,optgroup,option{ font-family:inherit; font-size:inherit; font-style:inherit; font-weight:inherit }
input,button,textarea,select{ *font-size:100% }
ol,ul{ list-style:none }
table{ border-collapse:collapse; border-spacing:0 }
:link,:visited,ins{ text-decoration:none }
/*main*/
body{ background-color:#f2f4f5 }
.con{ width:640px; padding-top:50px; margin:0 auto }
.img-list{ overflow:hidden}
.img-list li{ width:202px; height:127px; line-height:0; float:left }
.img-list li img{ width:200px; height:125px; border:1px solid #fff }
.btn{ width:120px; height:32px; margin-top:20px; text-align:center; font:normal 14px/32px "Microsoft YaHei"; color:#fff; background:#05b; display:inline-block; border-radius:5px; cursor:pointer }
/*jingdutiao*/
.graph { width:450px; height:22px; margin:20px auto 0; border:1px solid #05b; overflow:hidden }
#bar { background:#5da7ff; height:100%; text-align:center; font:normal 12px/22px Arial; color:#fff; display:block; float:left }
#barNum { position:absolute }