<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSS3Ps bluesdog.net</title>
</head>

<body>
<h1>CSS3Ps - PS插件</h1>
<article>
能做什么？ 视频说明一切。。。<br>
<embed src="http://player.youku.com/player.php/sid/XNDQ4NTQwNjIw/v.swf" allowFullScreen="true" quality="high" width="640" height="480" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed><br><br>
<h3>CSS3Ps官方地址：<a href="http://css3ps.com/">http://css3ps.com/</a></h3>
<p>官方有各个版本photoshop的下载，包括最新的photoshop CC. </p>
<p>下载地址：<a href="http://css3ps.com/Download/">http://css3ps.com/Download/</a></p>
<p><strong>安装演示：</strong></p>
<p><img data-src="http://image.zhangxinxu.com/image/blog/201309/css3ps-step-2.png" width="560" height="413" alt="photoshop扩展安装 张鑫旭-鑫空间-鑫生活" src="http://image.zhangxinxu.com/image/blog/201309/css3ps-step-2.png"></p>
<p>然后下面这个：<br>
    <img data-src="http://image.zhangxinxu.com/image/blog/201309/css3ps-step-3.png" width="560" height="413" alt="photoshop扩展安装中" src="http://image.zhangxinxu.com/image/blog/201309/css3ps-step-3.png"></p>
<p>然后就会下面这样：<br>
    <img data-src="http://image.zhangxinxu.com/image/blog/201309/css3ps-step-4.png" width="560" height="414" alt="接受协议" src="http://image.zhangxinxu.com/image/blog/201309/css3ps-step-4.png"></p>
<p>接受之，然后就会：<br>
    <img data-src="http://image.zhangxinxu.com/image/blog/201309/css3ps-step-5.png" width="560" height="413" alt="安装完成" src="http://image.zhangxinxu.com/image/blog/201309/css3ps-step-5.png"></p>
<p>如上，安装完毕。此时，重启或打开photoshop，点击window(窗口) -&gt; Extension(扩展) -&gt; CSS3Ps 就会出现一个方块区域，见下图右侧：<br>
    <img data-src="http://image.zhangxinxu.com/image/blog/201309/css3ps-step-6.png" width="560" height="257" alt="窗口 扩展 " src="http://image.zhangxinxu.com/image/blog/201309/css3ps-step-6.png"></p>
<p>下面变身设计师，画个圆角矩形，搞个渐变投影什么的，选中该图层，然后点击上面那个有CSS3Ps字样的方框区域：<br>
    <img data-src="http://image.zhangxinxu.com/image/blog/201309/css3ps-step-9.png" width="560" height="215" alt="绘图" src="http://image.zhangxinxu.com/image/blog/201309/css3ps-step-9.png"></p>
<p>默认的Chrome就会打开，便秘一段时间后，就会出现下面这个：<br>
    <img data-src="http://image.zhangxinxu.com/image/blog/201309/css3ps-step-10.jpg" width="560" height="242" alt="CSS3代码呈现" src="http://image.zhangxinxu.com/image/blog/201309/css3ps-step-10.jpg"></p>
<p><strong>需要注意，能够识别成CSS3的图层是有限制的。例如，渐变CSS3似乎只能使用图层样式的渐变才能识别，投影、描边等都尽量使用fx图层样式。</strong></p>
<p><img data-src="http://image.zhangxinxu.com/image/blog/201309/2013-09-07_231145.png" width="278" height="298" alt="图层样式" src="http://image.zhangxinxu.com/image/blog/201309/2013-09-07_231145.png"></p>
<p>圆角需要使用圆角矩形工具，而且要保留路径。</p>
<p>据传，photoshop cc可以直接导出为CSS3. 但是目前，我还没有使用过cc，因此尚未清楚，是否能完全取代CSS3Ps。</p>
</article>
</body>
</html>