<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>在线书法生成器 bluesdog.net</title>
</head>

<body>
<h1>毛笔字制作教程</h1>
<article>
电商活动越来越多，字体上的设计也越来多了，一个好的字体设计能帮你解决很多的问题，毛笔字近期运用也还算可以<br>
<img src="http://image.zcool.com.cn/2013/5/35/m_1389007219515.jpg"><br>
在线书法生成器：<a href="shufa2.html" target="_blank">http://www.bluesdog.net/tools/shufa</a><br>
<a href="http://www.zcool.com.cn/work/ZMzA3OTA3Ng==.html" target="_blank">原始出处，附“笔触素材”下载</a>
</article>
</body>
</html>