/*reset*/
body,dl,dd,h1,h2,h3,h4,h5,h6,p,form{margin:0}
ul,ol{margin:0;padding:0}
table,td,th{border-collapse:collapse}
ol,ul,li{list-style:none}
h1,h2,h3{font-size:100%}
img,input,textarea{vertical-align:middle;border:0}
a{text-decoration:none;outline:0}
a:hover,a:active{text-decoration:none;outline:0}
body{font-family:"Microsoft YaHei","Helvetica Neue",Helvetica,STHeiTi,sans-serif;position:relative}
a,img{-webkit-touch-callout:none}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both;overflow:hidden}
.clearfix{zoom:1}
.fl{float:left}
.fr{float:right}
.els{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
body{max-width:480px;margin:0 auto}
a,input{-webkit-tap-highlight-color:rgba(0,0,0,0)}
::-webkit-scrollbar{width:0}
html{font-size:14px}
html,body{overflow:hidden;display:block;height:100%}
body{max-width:480px;margin:0 auto;display:block;position:relative;background-color:#fff}
/*Animation*/
.fadeIn{-webkit-animation-name:fadeIn}
@-webkit-keyframes fadeIn{from{opacity:0;-webkit-transform:translateZ(0)}
to{opacity:1;-webkit-transform:translateZ(0)}
}
.zoomOut{-webkit-animation-name:zoomOut}
@-webkit-keyframes zoomOut{from{-webkit-transform:scale(3) translateZ(0);opacity:0}
to{-webkit-transform:scale(1) translateZ(0);opacity:1}
}
.zoomIn{-webkit-animation-name:zoomIn}
@-webkit-keyframes zoomIn{from{-webkit-transform:scale(.1) translateZ(0);opacity:0}
to{-webkit-transform:scale(1) translateZ(0);opacity:1}
}
.zoom{-webkit-animation:zoom 1s linear infinite alternate}
@-webkit-keyframes zoom{0%{-webkit-transform:scale(1) translateZ(0);opacity:1}
100%{-webkit-transform:scale(1.3) translateZ(0);opacity:.9}
}
.zoomOut2{-webkit-animation:zoomOut2 1s ease-in-out}
@-webkit-keyframes zoomOut2{from{-webkit-transform:scale(3) translateZ(0);opacity:0}
to{-webkit-transform:scale(1) translateZ(0);opacity:1}
}
.zoomOut3{-webkit-animation:zoomOut3 1s ease-in-out}
@-webkit-keyframes zoomOut3{from{-webkit-transform:scale(3) rotate(0) translateZ(0);opacity:0}
to{-webkit-transform:scale(1) rotate(360deg) translateZ(0);opacity:1}
}
.moveFromLeft{-webkit-animation-name:moveFromLeft}
@-webkit-keyframes moveFromLeft{from{-webkit-transform:translateX(-100%) translateZ(0);opacity:0}
to{-webkit-transform:translateX(0) translateZ(0);opacity:1}
}
.moveFromRight{-webkit-animation-name:moveFromRight}
@-webkit-keyframes moveFromRight{from{-webkit-transform:translateX(100%) translateZ(0);opacity:0}
to{-webkit-transform:translateX(0) translateZ(0);opacity:1}
}
.moveFromTop{-webkit-animation-name:moveFromTop}
@-webkit-keyframes moveFromTop{from{-webkit-transform:translateY(-100%) translateZ(0);opacity:0}
to{-webkit-transform:translateY(0) translateZ(0);opacity:1}
}
.moveFromBottom{-webkit-animation-name:moveFromBottom}
@-webkit-keyframes moveFromBottom{from{-webkit-transform:translateY(100%) translateZ(0);opacity:0}
to{-webkit-transform:translateY(0) translateZ(0);opacity:1}
}
.rotate{-webkit-animation-name:rotate}
@-webkit-keyframes rotate{from{-webkit-transform:rotate(0) translateZ(0)}
to{-webkit-transform:rotate(360deg) translateZ(0)}
}
.rotate2{-webkit-animation-name:rotate2;-webkit-animation-duration:.5s}
@-webkit-keyframes rotate2{from{-webkit-transform:rotate(180deg) translateZ(0)}
to{-webkit-transform:rotate(0) translateZ(0)}
}
.float{-webkit-animation-name:float}
@-webkit-keyframes float{0%{-webkit-transform:translateY(0) translateZ(0)}
100%{-webkit-transform:translateY(-20%) translateZ(0)}
}
.float2{-webkit-animation-name:float2}
@-webkit-keyframes float2{0%{-webkit-transform:translateX(0) translateZ(0)}
100%{-webkit-transform:translateX(-10%) translateZ(0)}
}
/*loading*/
.loading{position:absolute;background:#000;opacity:.9;top:0;left:0;width:100%;height:100%;font-size:1.4rem;color:#7482bb;white-space:nowrap;text-align:center}
.progress{width:80%;background:#fff;margin:0 auto;border-radius:10px;margin-top:75%;margin-bottom:3%}
.progress>div{background:#7482bb;width:0;height:6px;border-radius:10px}
.page,.sliderContainer,.slider{height:100%;background-color:#fff}
.sliderContainer{visibility:hidden}
.slider{position:relative;background:url(../images/bg-1.png) no-repeat;background-size:100% 100%;color:#fff}
.ani{display:none;position:absolute;background:url(../images/kong.gif) no-repeat;-webkit-background-size:100% 100%;background-size:100% 100%;-webkit-animation-duration:.3s}
.sharepic{position:absolute;z-index:-1;opacity:0}
.button{display:inline-block;border:1px solid #fff;padding:0 15px;height:35px;line-height:35px;border-radius:5px;color:#fff;font-size:16px}
.next{background:url(../images/swipe-tip.png) center center no-repeat;width:20px;height:18px;background-size:20px 18px;position:absolute;left:50%;bottom:5%;margin-left:-10px}
.slider-1 .bg,.slider-1 .title,.slider-1 .logo{width:100%;left:0}
.slider-1 .title,.slider-1 .bg{top:8%}
.slider-1 .bg{
	display: block;
-webkit-animation: rotate 15s linear;
-webkit-animation-iteration-count: infinite;}
.slider-1 .logo{bottom:15%}
.slider-2 .pic,.slider-2 .title,.slider-2 .desc{width:82%;left:50%;margin-left:-41%}
.slider-2 .pic{top:6%}
.slider-2 .title{top:35%}
.slider-2 .desc{top:43%}
.slider-2 .bottom{width:300px;height:40px;bottom:11%;left:50%;margin-left:-150px;text-align:center}
.slider-3 .title,.slider-3 .desc{width:90%;left:50%;margin-left:-45%}
.slider-3 .title{top:15%}
.slider-3 .desc{top:28%;height:50%;background:url(../images/page3-2.png) center center no-repeat;background-size:100% 100%}
.slider-3 .desc > a{display:inline-block;width:24%;height:25%;margin-bottom:11%}
/*生肖间距 媒体查询*/
@media all and (max-width:375px){
	.slider-3 .desc > a{width:23.8%}
}
@media all and (min-height:430px) and (max-height:500px){
	.slider-3 .desc{height: 60%}
}
@media all and (min-height:670px){
	.slider-3 .desc > a{margin-bottom:11.5%}
}
.slider-4 .pic,.slider-4 .tip,.slider-4 .desc{width:82%;left:50%;margin-left:-41%}
.slider-4 .pic{top:5%}
.slider-4 .tip{top:25%}
.slider-4 .desc{top:35%}
.slider-4 .bottom{width:100%;left:0;bottom:10%;text-align:center}
.slider-4 .bottom > .button{margin:0 5px;padding:0 10px}
/*分享*/
.wxShare,.wxTip{position:absolute;top:0;left:0;width:100%;height:100%;background:url(../images/wx-share.png) no-repeat;background-size:100% 100%;z-index:10000;display:none}
.wxTip{background-image:url(../images/wx-tip.png)}