/*css rest*/
*{margin:0;padding:0;outline:none}
*:not(input,textarea){-webkit-touch-callout:inherit;-webkit-user-select:auto}
html,body{overflow:hidden;-webkit-tap-highlight-color:rgba(0,0,0,0)}
body{width:100%;font-family:Hiragino Sans GB,Arial,Helvetica,sans-serif;font-size:14px;color:#fff;-webkit-touch-callout:inherit;-webkit-user-select:auto}
body{background:url(../images/bg.png) no-repeat center center;background-size:100% 100%;max-width:480px;margin:0 auto}
ul,li{list-style-type:none}
a{text-decoration:none;-webkit-tap-highlight-color:transparent}
a:hover{text-decoration:none}
/*fullpage*/
#superContainer{height:100%;position:relative;-ms-touch-action:none;touch-action:none}
.fp-section{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.fp-slide{float:left}
.fp-slide,.fp-slidesContainer{height:100%;display:block}
.fp-slides{z-index:1;height:100%;overflow:hidden;position:relative;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out}
.fp-section.fp-table,.fp-slide.fp-table{display:table;table-layout:fixed;width:100%}
.fp-tableCell{display:table-cell;vertical-align:middle;width:100%;height:100%}
.fp-slidesContainer{float:left;position:relative}
.fp-controlArrow{position:absolute;z-index:4;top:50%;cursor:pointer;width:0;height:0;border-style:solid;margin-top:-38px;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.fp-controlArrow.fp-prev{left:15px;width:0;border-width:38.5px 34px 38.5px 0;border-color:transparent #fff transparent transparent}
.fp-controlArrow.fp-next{right:15px;border-width:38.5px 0 38.5px 34px;border-color:transparent transparent transparent #fff}
.fp-scrollable{overflow:scroll}
.fp-notransition{-webkit-transition:none !important;transition:none !important}
#fp-nav{position:fixed;z-index:100;margin-top:-32px;top:50%;opacity:1;-webkit-transform:translate3d(0,0,0)}
#fp-nav.right{right:17px}
#fp-nav.left{left:17px}
.fp-slidesNav{position:absolute;z-index:4;left:50%;opacity:1}
.fp-slidesNav.bottom{bottom:17px}
.fp-slidesNav.top{top:17px}
#fp-nav ul,.fp-slidesNav ul{margin:0;padding:0}
#fp-nav ul li,.fp-slidesNav ul li{display:block;width:14px;height:13px;margin:7px;position:relative}
.fp-slidesNav ul li{display:inline-block}
#fp-nav ul li a,.fp-slidesNav ul li a{display:block;position:relative;z-index:1;width:100%;height:100%;cursor:pointer;text-decoration:none}
#fp-nav ul li a.active span,.fp-slidesNav ul li a.active span,#fp-nav ul li:hover a.active span,.fp-slidesNav ul li:hover a.active span{height:12px;width:12px;margin:-6px 0 0 -6px;border-radius:100%}
#fp-nav ul li a span,.fp-slidesNav ul li a span{border-radius:50%;position:absolute;z-index:1;height:4px;width:4px;border:0;background:#333;left:50%;top:50%;margin:-2px 0 0 -2px;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out}
#fp-nav ul li:hover a span,.fp-slidesNav ul li:hover a span{width:10px;height:10px;margin:-5px 0px 0px -5px}
#fp-nav ul li .fp-tooltip{position:absolute;top:-2px;color:#fff;font-size:14px;font-family:arial,helvetica,sans-serif;white-space:nowrap;max-width:220px;overflow:hidden;display:block;opacity:0;width:0}
#fp-nav ul li:hover .fp-tooltip{-webkit-transition:opacity 0.2s ease-in;transition:opacity 0.2s ease-in;width:auto;opacity:1}
#fp-nav ul li .fp-tooltip.right{right:20px}
#fp-nav ul li .fp-tooltip.left{left:20px}
/*content*/
.hide{position:absolute;z-index:-1;opacity:0}
.arrow-up{background:url(../images/swipe-tip.png) center center no-repeat;width:20px;height:18px;background-size:20px 18px;position:absolute;left:50%;bottom:5%;margin-left:-10px;-webkit-animation:float 1s linear 0 infinite alternate}
.button{display:inline-block;border:1px solid #fff;height:35px;line-height:35px;border-radius:5px;color:#fff;font-size:16px;width:45%;margin:0 4px;text-align:center;font-family:"Microsoft Yahei"}
.section .part{position:absolute}
.st1 .part{width:100%}
.st1 .part img{width:100%}
.st1 .part-1{top:8%;-webkit-animation:rotate 15s linear;-webkit-animation-iteration-count:infinite}
.st1 .part-2{top:8%}
.st1 .part-3{bottom:13%}
.st2 .part{width:82%;left:50%;margin-left:-41%}
.st2 .part img{width:100%}
.st2 .part-1{top:4%}
.st2 .part-2{top:35%}
.st2 .part-3{top:43%}
.st2 .part-4{width:300px;height:40px;bottom:11%;left:50%;margin-left:-150px;text-align:center}
.st3 .part{width:90%;left:50%;margin-left:-45%}
.st3 .part img{width:100%}
.st3 .part-1{top:15%}
.st3 .part-2{top:30%}
.st3 .part-2 li{float:left;width:24%;margin-right:1%;margin-bottom:7%;cursor:pointer}
.st4 .part{width:82%;left:50%;margin-left:-41%}
.st4 .part img{width:100%}
.st4 .part-1{top:5%}
.st4 .part-2{top:25%}
.st4 .part-3{top:35%}
.st4 .part-4{width:84%;margin-left:-42%;bottom:10%;overflow:hidden}
.wx-share-wap,.wx-follow-wap{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:url(../images/wx-share.png) no-repeat;background-size:100% 100%;z-index:10000}
.wx-follow-wap{background-image:url(../images/wx-tip.png)}
.wx-follow-wap .wxEwm{display:block;position:absolute;top:11%;left:0;width:100%}
/*pc端*/
.wx-modal-bg{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:.8;z-index:10000}
.wx-share-pc,.wx-follow-pc{display:none;position:absolute;width:440px;height:500px;left:50%;top:50%;margin-left:-220px;margin-top:-250px;text-align:center;z-index:10001}
.wx-share-pc > p,.wx-follow-pc > p{font:16px/30px "Microsoft Yahei";color:#fff;margin:10px 0}
.wx-follow-pc > p{text-align:left}
.wx-modal-bg.active,.wx-share-pc.active,.wx-follow-pc.active{display:block}
/*animation*/
.float{-webkit-animation-name:float}
@-webkit-keyframes float{0%{-webkit-transform:translateY(0) translateZ(0)}
100%{-webkit-transform:translateY(-20%) translateZ(0)}
}
.rotate{-webkit-animation-name:rotate}
@-webkit-keyframes rotate{from{-webkit-transform:rotate(0) translateZ(0)}
to{-webkit-transform:rotate(360deg) translateZ(0)}
}
.active .fadeIn{animation-name:fadeIn;-webkit-animation-name:fadeIn;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible !important}
@keyframes fadeIn{0%{transform:scale(0);opacity:0.0}
60%{transform:scale(1.1)}
80%{transform:scale(0.9);opacity:1}
100%{transform:scale(1);opacity:1}
}
@-webkit-keyframes fadeIn{0%{-webkit-transform:scale(0);opacity:0.0}
60%{-webkit-transform:scale(1.1)}
80%{-webkit-transform:scale(0.9);opacity:1}
100%{-webkit-transform:scale(1);opacity:1}
}
.active .slideLeft{animation-name:slideLeft;-webkit-animation-name:slideLeft;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible !important}
@keyframes slideLeft{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@-webkit-keyframes slideLeft{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
.active .slideRight{animation-name:slideRight;-webkit-animation-name:slideRight;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible !important}
@keyframes slideRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@-webkit-keyframes slideRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
.active .slideUp{animation-name:slideUp;-webkit-animation-name:slideUp;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible !important}
@keyframes slideUp{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@-webkit-keyframes slideUp{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
.active .slideDown{animation-name:slideDown;-webkit-animation-name:slideDown;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible !important}
@keyframes slideDown{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@-webkit-keyframes slideDown{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
.active .rotateIn{animation-name:rotateIn;-webkit-animation-name:rotateIn;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible !important}
@keyframes rotateIn{0%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:rotate3d(0,0,1,-200deg);transform:rotate3d(0,0,1,-200deg);opacity:0}
100%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:none;transform:none;opacity:1}
}
@-webkit-keyframes rotateIn{0%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:rotate3d(0,0,1,-200deg);transform:rotate3d(0,0,1,-200deg);opacity:0}
100%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:none;transform:none;opacity:1}
}
.active .zoomIn{animation-name:zoomIn;-webkit-animation-name:zoomIn;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible !important}
@-webkit-keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
50%{opacity:1}
}
@keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
50%{opacity:1}
}
.active .heartBeat{animation-name:heartBeat;-webkit-animation-name:heartBeat;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite}
@keyframes heartBeat{0%{transform:scale(0.9);opacity:0.7}
50%{transform:scale(1);opacity:1}
100%{transform:scale(0.9);opacity:0.7}
}
@-webkit-keyframes heartBeat{0%{-webkit-transform:scale(0.95);opacity:0.7}
50%{-webkit-transform:scale(1);opacity:1}
100%{-webkit-transform:scale(0.95);opacity:0.7}
}
.active .rollInLeft{animation-name:rollInLeft;-webkit-animation-name:rollInLeft;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out}
@-webkit-keyframes rollInLeft{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg);transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes rollInLeft{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg);transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
.active .rollInRight{animation-name:rollInRight;-webkit-animation-name:rollInRight;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out}
@-webkit-keyframes rollInRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg);transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes rollInRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg);transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg)}
100%{opacity:1;-webkit-transform:none;transform:none}
}