<!DOCTYPE html>
<html lang="zh-CN">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta content="width=320,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
  <title>响应式页面</title>
  <meta name="author" content="wangwenjie" />
  <link rel="shortcut icon" href="http://cdn-img.easyicon.net/favicon.ico" />
  <link rel="stylesheet" href="http://wangwenjie1314.github.io/blog/stylesheets/zui.min.css" />
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <!--[if lt IE 8]>
    <div class="alert alert-danger">您正在使用 <strong>过时的</strong> 浏览器. 是时候 <a href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>
  <![endif]-->
</head>
<body>
  <div class="container">
	<img src="images/lagou_job.png" />
  </div>
  <script type="text/javascript" src="http://wangwenjie1314.github.io/blog/javascripts/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="http://wangwenjie1314.github.io/blog/javascripts/zui.min.js"></script>
</body>
</html>