<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
	<link rel="shortcut icon" href="http://cdn-img.easyicon.net/favicon.ico">
	<title>整屏滑动切换</title>
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<link rel="stylesheet" type="text/css" href="css/index.css" />
</head>
<body>
	<div class="loading"><div class="progress"><div></div></div><div class="loading-text">正在加载中(<em>0</em>/<em>0</em>)……</div></div>
    <div class="page">
        <div class="sliderContainer">
            <!-- 首页 -->
            <div class="slider slider-1">
                <div class="ani man"></div>
                <div class="ani title"></div>
                <div class="ani desc"></div>
                <div class="ani next js-next"></div>
            </div>
            <!-- 四大技能 -->
            <div class="slider slider-2">
                <div class="ani title"></div>
                <div class="ani desc"></div>
                <div class="ani bg"></div>
                <div class="ani bottom"></div>
                <div class="ani bg2"></div>
                <div class="ani man"></div>
            </div>
            <!-- 面对面快传 -->
            <div class="slider slider-3">
                <div class="ani title"></div>
                <div class="ani desc"></div>
                <div class="ani bg"></div>
                <div class="ani bottom"></div>
            </div>
            <!-- 好友都在玩 -->
            <div class="slider slider-4">
                <div class="ani mask"></div>
                <div class="ani title"></div>
                <div class="ani desc"></div>
                <div class="ani bg"></div>
                <div class="ani bottom"></div>
            </div>
            <!-- 附近的人都在玩 -->
            <div class="slider slider-5">
                <div class="ani mask"></div>
                <div class="ani title"></div>
                <div class="ani desc"></div>
                <div class="ani bg"></div>
                <div class="ani bottom"></div>
            </div>
            <!-- wifi -->
            <div class="slider slider-6">
                <div class="ani mask"></div>
                <div class="ani title"></div>
                <div class="ani desc"></div>
                <div class="ani bg"></div>
                <div class="ani goast"></div>
                <div class="ani bottom"></div>
                <div class="ani pao"></div>
            </div>
            <!-- 去分享 -->
            <div class="slider slider-7">
                <div class="wrap">
                    <div class="cdmain">
                        <div class="logo"><img src="http://p5.qhimg.com/d/inn/2e5787f1/logo.png" width="100%"></div>
                        <div class="desc"><img src="http://p4.qhimg.com/d/_open360/ev/ar/wx/7_03.png" width="100%"></div>
                        <div class="radar">
                            <img src="http://p6.qhimg.com/d/inn/daa11394/c0.png" width="100%">
                            <div class="c1"><img src="http://p6.qhimg.com/d/inn/daa11394/c1.png" width="100%"></div>
                            <div class="c2"><img src="http://p5.qhimg.com/d/inn/daa11394/c2.png" width="100%"></div>
                        </div>
                        <div class="cloud"></div>
                        <a href="#nogo" class="next js-next" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script src="http://s9.qhimg.com/apc/zepto.min/45.js"></script>
    <script type="text/javascript" src="http://s3.qhimg.com/static/d4ea795eef0daa45.js" info="Animation"></script>
    <script type="text/javascript" src="http://s4.qhimg.com/static/c1a51835b3d0018d.js" info="TouchSlider.edit.js"></script>
     <script type="text/javascript" src="http://s0.qhimg.com/static/5b194a37dc1876e1.js" info="utilM2"></script>
    <script type="text/javascript">
    var slider = {},
	urlParams = utilM2.getParams(),
	G_pos = "around20141024" + (urlParams.from || ""),
	countOfWX = 0,
	allImages = {
	    images: ["http://p4.qhimg.com/d/_open360/ev/ar/wx/0_00.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/0_0.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/0_01.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/0_025.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/0_03.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/0_05.png"],
	    images1: ["http://p4.qhimg.com/d/_open360/ev/ar/wx/1_02.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/1_03.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/1_06.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/1_07.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/1_08.png"],
	    images2: ["http://p4.qhimg.com/d/_open360/ev/ar/wx/2_00.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/2_03.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/2_04.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/2_06.png"],
	    images3: ["http://p4.qhimg.com/d/_open360/ev/ar/wx/3_02.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/3_03.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/3_05.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/3_06.png"],
	    images4: ["http://p4.qhimg.com/d/_open360/ev/ar/wx/4_03.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/4_05.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/4_07.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/4_08.png"],
	    images5: ["http://p4.qhimg.com/d/_open360/ev/ar/wx/5_03.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/5_05.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/5_09.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/5_10.png", "http://p4.qhimg.com/d/_open360/ev/ar/wx/5_11.png"]
	},
	anim = new Animation;
	anim.played = [],
	anim.movie = [function(e) {
	    if (anim.played[e]) return;
	    anim.played[e] = 1,
	    anim.add(".slider-1 .title", "moveFromTop"),
	    anim.add(".slider-1 .man", "fadeIn"),
	    anim.add(".slider-1 .desc", "moveFromLeft"),
	    anim.add(".slider-1 .next", "moveFromBottom", {
	        remove: !0,
	        onComplete: function() {
	            $(".slider-1 .next").css("-webkit-animation", "float 1s linear 0 infinite alternate")
	        }
	    }),
	    anim.onComplete = function() {
	        anim.onComplete = new Function;
	        var e = new Preloader(allImages.images1);
	        e.load()
	    },
	    anim.play()
	},
	function(e) {
	    if (anim.played[e]) return;
	    anim.played[e] = 1,
	    anim.add(".slider-2 .title", "fadeIn"),
	    anim.add(".slider-2 .desc", "moveFromLeft"),
	    anim.add(".slider-2 .bg", "moveFromRight"),
	    anim.add(".slider-2 .bottom", "moveFromBottom"),
	    anim.add(".slider-2 .bg2", "fadeIn"),
	    anim.add(".slider-2 .man", "zoomOut"),
	    anim.onComplete = function() {
	        anim.onComplete = new Function;
	        var e = new Preloader(allImages.images2);
	        e.load()
	    },
	    anim.play()
	},
	function(e) {
	    if (anim.played[e]) return;
	    anim.played[e] = 1,
	    anim.add(".slider-3 .bg", "zoomOut"),
	    anim.add(".slider-3 .title", "fadeIn"),
	    anim.add(".slider-3 .desc", "moveFromLeft"),
	    anim.add(".slider-3 .bottom", "moveFromBottom"),
	    anim.onComplete = function() {
	        anim.onComplete = new Function;
	        var e = new Preloader(allImages.images3);
	        e.load()
	    },
	    anim.play()
	},
	function(e) {
	    if (anim.played[e]) return;
	    anim.played[e] = 1,
	    anim.add(".slider-4 .bg", "zoomOut"),
	    anim.add(".slider-4 .title", "fadeIn"),
	    anim.add(".slider-4 .mask", "fadeIn"),
	    anim.add(".slider-4 .desc", "moveFromLeft"),
	    anim.add(".slider-4 .bottom", "moveFromBottom"),
	    anim.onComplete = function() {
	        anim.onComplete = new Function;
	        var e = new Preloader(allImages.images4);
	        e.load()
	    },
	    anim.play()
	},
	function(e) {
	    if (anim.played[e]) return;
	    anim.played[e] = 1,
	    anim.add(".slider-5 .bg", "zoomOut"),
	    anim.add(".slider-5 .title", "fadeIn"),
	    anim.add(".slider-5 .mask", "fadeIn"),
	    anim.add(".slider-5 .desc", "moveFromLeft"),
	    anim.add(".slider-5 .bottom", "moveFromBottom"),
	    anim.onComplete = function() {
	        anim.onComplete = new Function;
	        var e = new Preloader(allImages.images5);
	        e.load()
	    },
	    anim.play()
	},
	function(e) {
	    if (anim.played[e]) return;
	    anim.played[e] = 1,
	    anim.add(".slider-6 .goast", "zoomIn", {
	        remove: !0
	    }),
	    anim.add(".slider-6 .title", "fadeIn"),
	    anim.add(".slider-6 .mask", "fadeIn"),
	    anim.add(".slider-6 .desc", "moveFromLeft"),
	    anim.add(".slider-6 .bg", "moveFromRight"),
	    anim.add(".slider-6 .bottom", "moveFromBottom"),
	    anim.add(".slider-6 .pao", "moveFromRight", {
	        onComplete: function() {
	            $(".slider-6 .goast").css("-webkit-animation", "float 1s linear infinite alternate")
	        }
	    }),
	    anim.play()
	},
	function(e) {
	    utilM2.record("page8", G_pos, "show")
	}],
	anim.show = function(e) {
	    anim.movie[e].call(anim, e)
	}
</script>
<script type="text/javascript">
function pageInit() {
    $(".sliderContainer").css("visibility", "visible"),
    $(".loading").remove(),
    slider.on("swipeTop",
    function(e) {
        setTimeout(function() {
            anim.show(e + 1)
        },
        500)
    }),
    slider.on("swipeBottom",
    function(e) {
        setTimeout(function() {
            anim.show(e - 1)
        },
        500)
    }),
    anim.show(0),
    window.gotoContent = function(e) {
        if (e == 6) if (window.flag_isWeixin) {
            $(".weixinTip").show(),
            utilM2.record("share", G_pos, "show");
            var t = parseFloat(navigator.userAgent.match(/MicroMessenger\/(\d\.\d)/)[1]);
            t < 5.3 && setTimeout(shareSucHandler, 5e3)
        } else if (window.AndroidWebview) {
            utilM2.record("share", G_pos, "show");
            var n = !1;
            try {
                n = AndroidWebview.isSupportShareFriend(),
                n = typeof n == "string" ? JSON.parse(n) : n
            } catch(r) {}
            if (typeof AndroidWebview.shareToFriend == "function" && n) {
                var i = {
                    imgUrl: "http://p7.qhimg.com/d/inn/ef297f3a/share.jpg",
                    webUrl: "http://t.cn/R7MGKHa",
                    title: "30\u53f0iPhone6\u8ba9\u4f60\u4e45\u7b49\u4e86\uff01360\u624b\u673a\u52a9\u624b3.0\u8eab\u8fb9\u7248\u6bcf\u59295000\u540d\u989d\u62a2\u5148\u6d4b",
                    desc: "360\u624b\u673a\u52a9\u624b3.0\u8eab\u8fb9\u7248\u6b63\u5f0f\u5185\u6d4b"
                };
                AndroidWebview.shareToFriend(JSON.stringify(i))
            } else {
                var i = {
                    content: "30\u53f0iPhone6\u8ba9\u4f60\u4e45\u7b49\u4e86\uff01360\u624b\u673a\u52a9\u624b3.0\u8eab\u8fb9\u7248\u6bcf\u59295000\u540d\u989d\u62a2\u5148\u6d4b http://t.cn/R7MGKHa",
                    imgUrl: "http://p7.qhimg.com/d/inn/ef297f3a/share.jpg"
                };
                AndroidWebview.shareToSNS(JSON.stringify(i))
            }
            setTimeout(shareSucHandler, 3e3)
        } else shareSucHandler()
    },
    utilM2.is_iphone() && setTimeout(function() {
        var e = $(window).height();
        e = Math.min(504, e),
        $(".sliderContainer, .section").height(e)
    },
    200),
    window.flag_isWeixin = utilM2.is_weixin(),
    flag_isWeixin && initWXShare()
}
function bindEvents() {
    $(".js-next").click(function(e) {
        var t = $(this),
        n = t.closest(".slider"),
        r = n.index();
        slider._swipeTop(r, n),
        e.preventDefault()
    }),
    $(".weixinTip").click(function() {
        $(this).hide()
    })
}
var wxCallbacks = {
    confirm: function(e) {
        $(".weixinTip").hide(),
        shareSucHandler()
    }
},
animApp = {
    images: allImages.images,
    init: function() {
        slider = new TouchSlider(".sliderContainer", ".slider", {
            vertical: !0
        });
        var e = this,
        t = this.getPreloader();
        t.onProgress = this.onPreloadProgress,
        t.load(function() {
            e.onPreloadLoad()
        }),
        window.timer_loaded = setTimeout(function() {
            e.onPreloadLoad()
        },
        5e3)
    },
    getPreloader: function() {
        return new Preloader(this.images)
    },
    onPreloadProgress: function(e, t) {
        var n = $(".loading em"),
        r = $(".progress > div");
        n.eq(0).text(e),
        n.eq(1).text(t),
        r.css("-webkit-transition", "all .4s ease-in-out"),
        r.width(100 * e / t + "%")
    },
    onPreloadLoad: function() {
        clearTimeout(window.timer_loaded)
        //setTimeout(pageInit, 500)
    }
};
$(function() {
    // if (utilM2.getCookie("gottedcode3") == 1) {
    //     setTimeout(function() {
    //         location.replace("http://" + location.host + "/html/zs3/code.html?_=" + Math.random())
    //     },
    //     500);
    //     return
    // }
    animApp.init()
    // bindEvents(),
    // utilM2.record("page1", G_pos, "show")
})
</script>
</body>
</html>