<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>Document</title>
	<link rel="shortcut icon" href="http://wangwenjie1314.github.io/statics/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../../statics/css/semantic.min.css" />
	<link rel="stylesheet" type="text/css" href="css/index.css"/>
</head>
<body>
	<div class="ui">
	
	</div>
	<script type="text/javascript" src="../../statics/js/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="../../statics/js/semantic.min.js"></script>
</body>
</html>