<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>UI Modules</title>
	<link rel="shortcut icon" href="http://wangwenjie1314.github.io/statics/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../../statics/css/semantic-0.19.3.min.css" />
	<style type="text/css">
	html,body{font-size:15px;height:100%;}
	body{font-family:"Open Sans","Helvetica Neue","Helvetica","Arial",sans-serif;background:#FFFFFF;margin:0px;padding:0px;color:#555555;text-rendering:optimizeLegibility;min-width:320px;}
	a{color:#009FDA;text-decoration:none}a:hover{color:#00BAFF}
	</style>
	<script type="text/javascript" src="../../statics/js/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="../../statics/js/semantic-0.19.3.min.js"></script>
</head>
<body style="margin:0 10px">
	<h1>UI Modules</h1>
	<div class="ui segment">
	<p>
	<a href="#Accordion">手风琴</a>
	<a href="#Checkbox">多选按钮</a>
	<a href="#Dimmer">调光器</a>
	<a href="#Dropdown">下拉</a>
	<a href="#Modal">弹出层</a>

	<a href="#Checkbox">多选按钮</a>
	<a href="#Dimmer">调光器</a>
	<a href="#Dropdown">下拉</a>
	</p>
	</div>
	<h2 id="Accordion" name="Accordion">手风琴</h2>
	<div class="ui accordion">
	  <div class="active title">
	    <i class="dropdown icon"></i>
	    What is a dog?
	  </div>
	  <div class="active content">
	    <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
	  </div>
	  <div class="title">
	    <i class="dropdown icon"></i>
	    What kinds of dogs are there?
	  </div>
	  <div class="content">
	    <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
	  </div>
	  <div class="title">
	    <i class="dropdown icon"></i>
	    How do you acquire a dog?
	  </div>
	  <div class="content">
	    <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
	    <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
	  </div>
	</div>
	<div class="ui basic accordion">
	  <div class="active title">
	    <i class="dropdown icon"></i>
	    What is a dog?
	  </div>
	  <div class="active content">
	    <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
	  </div>
	  <div class="title">
	    <i class="dropdown icon"></i>
	    What kinds of dogs are there?
	  </div>
	  <div class="content">
	    <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
	  </div>
	  <div class="title">
	    <i class="dropdown icon"></i>
	    How do you acquire a dog?
	  </div>
	  <div class="content">
	    <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
	    <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
	  </div>
	</div>
	<div class="ui fluid accordion">
	  <div class="active title">
	    <i class="dropdown icon"></i>
	    What is a dog?
	  </div>
	  <div class="active content">
	    <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
	  </div>
	  <div class="title">
	    <i class="dropdown icon"></i>
	    What kinds of dogs are there?
	  </div>
	  <div class="content">
	    <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
	  </div>
	  <div class="title">
	    <i class="dropdown icon"></i>
	    How do you acquire a dog?
	  </div>
	  <div class="content">
	    <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
	    <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
	  </div>
	</div>
	<div class="ui accordion">
	  <div class="active title">
	    <i class="dropdown icon"></i>
	    Level 1
	  </div>
	  <div class="active content">
	    <p>Welcome to level 1 where sub content formatted as its own accordion.</p>
	    <div class="accordion">
	      <div class="active title">
	          <i class="dropdown icon"></i>
	          Level 1A
	      </div>
	      <div class="active content">
	        <p>Level 1A Contents</p>
	        <div class="accordion">
	          <div class="title">
	              <i class="dropdown icon"></i>
	              Level 1A-A
	          </div>
	          <div class="content">
	              Level 1A-A Contents
	          </div>
	          <div class="title">
	              <i class="dropdown icon"></i>
	              Level 1A-B
	          </div>
	          <div class="content">
	              Level 1A-B Contents
	          </div>
	        </div>
	      </div>
	      <div class="title">
	          <i class="dropdown icon"></i>
	          Level 1B
	      </div>
	      <div class="content">
	          Level 1B Contents
	      </div>
	      <div class="title">
	          <i class="dropdown icon"></i>
	          Level 1C
	      </div>
	      <div class="content">
	          Level 1C Contents
	      </div>
	    </div>
	  </div>
	  <div class="title">
	    <i class="dropdown icon"></i>
	    Level 2
	  </div>
	  <div class="content">
	    <p>Welcome to level 2 where content is formatted without nested accordions</p>
	    <div class="active title">
	      <i class="dropdown icon"></i>
	      Level 2A
	    </div>
	    <div class="active content">
	      <p>Level 2A Contents</p>
	      <div class="title">
	          <i class="dropdown icon"></i>
	          Level 2A-A
	      </div>
	      <div class="content">
	          Level 2A-A Contents
	      </div>
	      <div class="title">
	          <i class="dropdown icon"></i>
	          Level 2A-B
	      </div>
	      <div class="content">
	          Level 2A-B Contents
	      </div>
	    </div>
	    <div class="title">
	        <i class="dropdown icon"></i>
	        Level 2B
	    </div>
	    <div class="content">
	        Level 2B Contents
	    </div>
	    <div class="title">
	        <i class="dropdown icon"></i>
	        Level 2C
	    </div>
	    <div class="content">
	        Level 2C Contents
	    </div>
	  </div>
	</div>
	<div class="ui segment">
	  <div class="ui fluid form">
	    <div class="two fields">
	      <div class="field">
	        <label>First Name</label>
	        <input placeholder="First Name" type="text">
	      </div>
	      <div class="field">
	        <label>Last Name</label>
	        <input placeholder="Last Name" type="text">
	      </div>
	    </div>
	    <div class="ui basic accordion field">
	      <div class="title">
	        <i class="icon dropdown"></i>
	        Optional Details
	      </div>
	      <div class="content field">
	        <label>Maiden Name</label>
	        <input placeholder="Maiden Name" type="text">
	      </div>
	    </div>
	    <div class="ui secondary submit button">Sign Up</div>
	  </div>
	</div>
	<div class="ui basic vertical accordion menu">
	  <div class="item">
	    <a class="active title">
	      <i class="dropdown icon"></i>
	      Size
	    </a>
	    <div class="active content menu">
	      <div class="ui form item">
	        <div class="grouped inline fields">
	          <div class="field">
	            <div class="ui radio checkbox">
	              <input type="radio" name="size" value="small">
	              <label>Small</label>
	            </div>
	          </div>
	          <div class="field">
	            <div class="ui radio checkbox">
	              <input type="radio" name="size" value="medium">
	              <label>Medium</label>
	            </div>
	          </div>
	          <div class="field">
	            <div class="ui radio checkbox">
	              <input type="radio" name="size" value="large">
	              <label>Large</label>
	            </div>
	          </div>
	          <div class="field">
	            <div class="ui radio checkbox">
	              <input type="radio" name="size" value="x-large">
	              <label>X-Large</label>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="item">
	    <a class="active title">
	      <i class="dropdown icon"></i>
	      Colors
	    </a>
	    <div class="active content menu">
	      <div class="ui form item">
	        <div class="grouped inline fields">
	          <div class="field">
	            <div class="ui checkbox">
	              <input type="checkbox" name="small">
	              <label>Red</label>
	            </div>
	          </div>
	          <div class="field">
	            <div class="ui checkbox">
	              <input type="checkbox" name="medium">
	              <label>Orange</label>
	            </div>
	          </div>
	          <div class="field">
	            <div class="ui checkbox">
	              <input type="checkbox" name="large">
	              <label>Green</label>
	            </div>
	          </div>
	          <div class="field">
	            <div class="ui checkbox">
	              <input type="checkbox" name="x-large">
	              <label>Blue</label>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="ui horizontal divider"><i class="circular heart icon"></i></div>
	<h2 id="Checkbox" name="Checkbox">多选按钮</h2>
	<div class="ui checkbox">
	  <input type="checkbox" name="fun">
	  <label>I enjoy having fun</label>
	</div>
	<div class="ui slider checkbox">
	  <input type="checkbox" name="walk">
	  <label>Allow others to see when your dog is on a walk</label>
	</div>
	<div class="ui toggle checkbox">
	  <input type="checkbox" name="pet">
	  <label>Allow other people to pet my dog</label>
	</div>
	<div class="ui form">
	  <div class="grouped inline fields">
	    <div class="field">
	      <div class="ui radio checkbox">
	        <input type="radio" name="fruit" checked="checked">
	        <label>Apples</label>
	      </div>
	    </div>
	    <div class="field">
	      <div class="ui radio checkbox">
	        <input type="radio" name="fruit">
	        <label>Oranges</label>
	      </div>
	    </div>
	    <div class="field">
	      <div class="ui radio checkbox">
	        <input type="radio" name="fruit">
	        <label>Pears</label>
	      </div>
	    </div>
	    <div class="field">
	      <div class="ui radio checkbox">
	        <input type="radio" name="fruit">
	        <label>Grapefruit</label>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="ui form">
	  <div class="inline field">
	    <div class="ui checkbox">
	      <input id="check1" type="checkbox">
	      <label for="check1">Checkbox</label>
	    </div>
	  </div>
	  <div class="inline field">
	    <div class="ui slider checkbox">
	      <input id="check2" type="checkbox">
	      <label for="check2">Slider</label>
	    </div>
	    <label></label>
	  </div>
	  <div class="inline field">
	    <div class="ui toggle checkbox">
	      <input id="check3" type="checkbox">
	      <label for="check3">Toggle</label>
	    </div>
	  </div>
	</div>
	<div class="ui large checkbox">
	  <input type="checkbox">
	  <label>Add a pro membership</label>
	</div>
	<div class="ui huge checkbox">
	  <input type="checkbox">
	  <label>Signup for our mailing list</label>
	</div>
	<div class="ui toggle button">Toggle</div>
	<div class="ui positive enable button">Enable</div>
	<div class="ui negative disable button">Disable</div>
	<div class="ui slider checkbox">
	  <input type="checkbox">
	  <div class="box"></div>
	</div>
	<div class="ui slider checkbox">
	  <input type="checkbox" checked="checked">
	  <div class="box"></div>
	</div>
	<div class="ui slider checkbox">
	  <input type="checkbox">
	  <div class="box"></div>
	</div>
	<div class="ui slider checkbox">
	  <input type="checkbox" checked="checked">
	  <div class="box"></div>
	</div>
	<div class="ui slider checkbox">
	  <input type="checkbox">
	  <div class="box"></div>
	</div>
	<div class="ui slider checkbox">
	  <input type="checkbox">
	  <div class="box"></div>
	</div>
	<div class="ui slider checkbox">
	  <input type="checkbox" checked="checked">
	  <div class="box"></div>
	</div>
	<div class="ui slider checkbox">
	  <input type="checkbox">
	  <div class="box"></div>
	</div>
	<div class="ui slider checkbox">
	  <input type="checkbox" checked="checked">
	  <div class="box"></div>
	</div>
	<div class="ui slider checkbox">
	  <input type="checkbox">
	  <div class="box"></div>
	</div>
	<div class="ui horizontal divider"><i class="circular heart icon"></i></div>
	<h2 id="Dimmer" name="Dimmer">调光器</h2>
	<div class="example">
		<div class="ui segment">
		    <h4 class="ui dividing header">
		      <i class="photo icon"></i>Dog Photos
		    </h4>
		    <img src="images/item1.jpg">
		    <img src="images/item2.jpg">
		    <div class="ui dimmer">
		      <div class="content">
		        <div class="center">
		          <h2 class="ui inverted icon header">
		            <i class="icon circular inverted emphasized red heart"></i>
		            Your poodle photo uploaded successfully!
		          </h2>
		        </div>
		      </div>
		    </div>
		</div>
		<div class="ui icon buttons">
		    <div class="ui show button"><i class="plus icon"></i></div>
		    <div class="ui hide button"><i class="minus icon"></i></div>
		</div>
	</div>
	<div class="ui page dimmer">
	  <div class="content">
	    <div class="center">
	      <h2 class="ui inverted icon header">
	        <i class="icon circular inverted emphasized green mail"></i>
	        You're all signed up for the weekly dog tips newsletter!
	        <div class="sub header">Your first edition will be sent on January 22</div>
	      </h2>
	    </div>
	  </div>
	</div>
	<div class="example">
      <h4 class="ui header">Page Dimmer</h4>
      <p>A dimmer can be formatted to be fixed to the page</p>
      <div class="existing code">
      <div class="ui page dimmer">
        <div class="content">
          <div class="center">Hello</div>
        </div>
      </div>
      </div>
      <div class="ui page button"><i class="plus icon"></i> Show</div>
    </div>
	<div class="ui segment">
	  <div class="ui active dimmer"></div>
	</div>
	<div class="ui segment">
	  <div class="ui disabled dimmer"></div>
	</div>
	<div class="ui dimmable dimmed segment">
	  <div class="ui simple dimmer"></div>
	  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
	  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
	</div>
	<div class="example">
      <h4 class="ui header">Inverted Dimmer</h4>
      <p>A dimmer can be formatted to have its colors inverted</p>
      <div class="ui segment">
        <div class="ui inverted dimmer"></div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
      </div>
      <div class="ignore ui icon buttons">
        <div class="ui show button"><i class="plus icon"></i></div>
        <div class="ui hide button"><i class="minus icon"></i></div>
      </div>
    </div>
    <div class="example">
	<div class="ui medium image dimmable">
	  <div class="ui dimmer">
	    <div class="content">
	      <div class="center">
	        <h2 class="ui header">Puppy</h2>
	        <div class="ui green button">Vote</div>
	        <a class="ui button">View</a>
	      </div>
	    </div>
	  </div>
	  <img src="images/highres.jpg">
	</div>
	<div class="ui circular image dimmable">
	  <div class="ui dimmer">
	    <div class="content">
	      <div class="center">
	        <div class="ui mini green button">Vote</div>
	        <a class="ui mini button">View</a>
	      </div>
	    </div>
	  </div>
	  <img src="images/photo2.jpg">
	</div>
	</div>
	<div class="example">
      <h4 class="ui header">Loaders inside Dimmers</h4>
      <p>Any loader inside a dimmer will automatically use an appropriate color to match</p>
      <div class="ui segment">
        <div class="ui inverted dimmer">
          <div class="ui text loader">Loading</div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
      </div>
      <div class="ignore ui icon buttons">
        <div class="ui show button"><i class="plus icon"></i></div>
        <div class="ui hide button"><i class="minus icon"></i></div>
      </div>
    </div>
	<div class="ui horizontal divider"><i class="circular heart icon"></i></div>
	<h2 id="Dropdown" name="Dropdown">下拉</h2>
	<div class="dropdown example">
		<div class="ui dropdown">
		  <div class="text">Select</div>
		  <i class="dropdown icon"></i>
		  <div class="menu">
		    <div class="item">Edit</div>
		    <div class="item">Remove</div>
		    <div class="item">Hide</div>
		  </div>
		</div>
	</div>
	<div class="dropdown example">
		<div>Show me posts trending
			<div class="ui inline dropdown example">
		    <div class="text">today</div>
		    <i class="dropdown icon"></i>
		    <div class="menu">
		      <div class="item active" data-text="today">Today</div>
		      <div class="item" data-text="this week">This Week</div>
		      <div class="item" data-text="this month">This Month</div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="dropdown example">
		<div class="ui selection dropdown">
		  <input type="hidden" name="gender">
		  <div class="default text">Gender</div>
		  <i class="dropdown icon"></i>
		  <div class="menu">
		    <div class="item" data-value="1">Male</div>
		    <div class="item" data-value="0">Female</div>
		  </div>
		</div>
	</div>
	<div class="dropdown example">
	  <div class="ui teal buttons">
	  <div class="ui button">Save</div>
	  <div class="ui teal floating dropdown icon button">
	    <i class="dropdown icon"></i>
	    <div class="menu">
	      <div class="item"><i class="edit icon"></i>Edit Post</div>
	      <div class="item"><i class="delete icon"></i>Remove Post</div>
	      <div class="item"><i class="hide icon"></i>Hide Post</div>
	    </div>
	  </div>
	</div>
	</div>
	<div class="dropdown example">
		<div class="ui compact menu">
		  <div class="menu">
		    <a class="active item">
		      <i class="home icon"></i> Home
		    </a>
		    <div class="ui pointing dropdown link item">
		      <i class="icon mail"></i> Messages <i class="dropdown icon"></i>
		      <div class="menu">
		        <a class="item"><i class="mail icon"></i>Inbox</a>
		        <a class="item"><i class="book icon"></i>Archive</a>
		      </div>
		    </div>
		    <a class="item">
		      <i class="user icon"></i> Browse
		    </a>
		    <a class="item">
		      <i class="question icon"></i> Help
		    </a>
		  </div>
		</div>
	</div>
	<div class="dropdown example">
		<div class="ui blue labeled icon top left pointing dropdown button">
		  <i class="settings icon"></i>
		  <span class="text">Settings</span>
		  <div class="menu">
		    <div class="item"><i class="edit icon"></i>Edit</div>
		    <div class="item"><i class="delete icon"></i>Remove</div>
		    <div class="item"><i class="hide icon"></i>Hide</div>
		  </div>
		</div>
		<div class="ui red labeled icon top right pointing dropdown button">
		  <i class="settings icon"></i>
		  <span class="text">Settings</span>
		  <div class="menu">
		    <div class="item"><i class="edit icon"></i>Edit</div>
		    <div class="item"><i class="delete icon"></i>Remove</div>
		    <div class="item"><i class="hide icon"></i>Hide</div>
		  </div>
		</div>
	</div>
	<div class="dropdown example">
		<div class="ui right pointing dropdown icon button">
		  <i class="settings icon"></i>
		  <div class="menu">
		    <div class="item"><i class="edit icon"></i>Edit</div>
		    <div class="item"><i class="delete icon"></i>Remove</div>
		    <div class="item"><i class="hide icon"></i>Hide</div>
		  </div>
		</div>
		<div class="ui left pointing dropdown icon button">
		  <i class="settings icon"></i>
		  <div class="menu">
		    <div class="item"><i class="edit icon"></i>Edit</div>
		    <div class="item"><i class="delete icon"></i>Remove</div>
		    <div class="item"><i class="hide icon"></i>Hide</div>
		  </div>
		</div>
	</div>
	<div class="dropdown example">
		<div class="ui compact menu">
		  <div class="ui simple dropdown item">
		    Dropdown <i class="dropdown icon"></i>
		    <div class="menu">
		      <div class="item">Choice 1</div>
		      <div class="item">Choice 2</div>
		      <div class="item">Choice 3</div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="dropdown example">
		<div class="ui vertical menu">
		  <a class="item">Link 1</a>
		  <a class="item">Link 2</a>
		  <div class="header item">All Sections</div>
		  <div class="ui item">
		    <div class="ui fluid selection dropdown">
		      <div class="text">More</div>
		      <i class="dropdown icon"></i>
		      <div class="menu">
		        <div class="item">Choice 1</div>
		        <div class="item">Choice 2</div>
		        <div class="item">Choice 3</div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="dropdown example">
		<div class="ui floating dropdown error">
		  Dropdown <i class="dropdown icon"></i>
		  <div class="menu">
		    <div class="item">Choice 1</div>
		    <div class="item">Choice 2</div>
		    <div class="item">Choice 3</div>
		  </div>
		</div>
		<div class="ui selection dropdown error">
		  Dropdown <i class="dropdown icon"></i>
		  <div class="menu">
		    <div class="item">Choice 1</div>
		    <div class="item">Choice 2</div>
		    <div class="item">Choice 3</div>
		  </div>
		</div>
	</div>
	<div class="ui info message">An active state will only affect a simple dropdown. To activate a menu on a dropdown module use <code>$('.ui.dropdown').dropdown('show');</code></div>
	<div class="ui info message">A disabled state will only affect a simple dropdown. To disable a dropdown module use <code>$('.ui.dropdown').dropdown('destroy');</code></div>
	<div class="dropdown example">
		<div class="ui inline dropdown">
		  <div class="text">Hide</div>
		  <i class="dropdown icon"></i>
		  <div class="menu">
		    <div class="item">Edit</div>
		    <div class="item">Remove</div>
		    <div class="item active">Hide</div>
		  </div>
		</div>
	</div>
	<div class="dropdown example">
		<div class="ui icon buttons">
		  <div class="ui top left pointing dropdown button">
		    <i class="user icon"></i>
		    <div class="menu">
		      <div class="item"><i class="edit icon"></i>Edit User</div>
		      <div class="item"><i class="delete icon"></i>Remove User</div>
		      <div class="item"><i class="hide icon"></i>Make Invisible</div>
		    </div>
		  </div>
		  <div class="ui top left pointing dropdown button">
		    <i class="users icon"></i>
		    <div class="menu">
		      <div class="item"><i class="edit icon"></i>Edit Group</div>
		      <div class="item"><i class="delete icon"></i>Remove Group</div>
		      <div class="item"><i class="hide icon"></i>Hide from Group</div>
		    </div>
		  </div>
		  <div class="ui top right pointing dropdown button">
		    <i class="settings icon"></i>
		    <div class="menu">
		      <div class="item"><i class="edit icon"></i>Edit</div>
		      <div class="item"><i class="delete icon"></i>Remove</div>
		      <div class="item"><i class="hide icon"></i>Hide</div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="dropdown example">
		<div class="ui teal buttons">
		  <div class="ui button">Update Post</div>
		  <div class="ui teal dropdown icon button">
		    <i class="dropdown icon"></i>
		    <div class="menu">
		      <div class="item"><i class="edit icon"></i>Edit Post</div>
		      <div class="item"><i class="delete icon"></i>Remove Post</div>
		      <div class="item"><i class="hide icon"></i>Hide Post</div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="dropdown example">
		<div class="ui inline dropdown">
		  <input type="hidden" name="gender">
		  <div class="text">Shiba Inu</div>
		  <i class="dropdown icon"></i>
		  <div class="menu">
		    <div class="item">
		      <i class="dropdown icon"></i>
		      Dogs
		      <div class="menu">
		        <div class="item">Shiba Inu</div>
		        <div class="item">Poodle</div>
		        <div class="item">Labrador</div>
		      </div>
		    </div>
		    <div class="item">
		      <i class="dropdown icon"></i>
		      Cats
		      <div class="menu">
		        <div class="item">Aegean</div>
		        <div class="item">Balinese</div>
		        <div class="item">Persian</div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="dropdown example">
		<div class="ui compact tiered purple inverted menu">
		  <div class="menu">
		    <a class="active item">
		      <i class="icon home"></i> Home
		    </a>
		    <a class="ui dropdown item">
		      <i class="icon mail"></i> Messages <i class="dropdown icon"></i>
		      <div class="menu">
		        <div class="item">
		          <i class="mail icon"></i>Categories
		          <div class="menu">
		            <div class="item">Unread</div>
		            <div class="item">Promotions</div>
		            <div class="item">Updates</div>
		          </div>
		        </div>
		        <div class="item"><i class="book icon"></i>Archive</div>
		      </div>
		    </a>
		    <a class="item">
		      <i class="user icon"></i> Browse
		    </a>
		  </div>
		  <div class="sub menu">
		    <a class="item">Activity Feed</a>
		    <a class="item">Profile</a>
		    <a class="item">Events</a>
		  </div>
		</div>
	</div>
	<div class="dropdown example">
		<div class="ui form segment">
		  <p>Let's go ahead and get you signed up.</p>
		  <div class="two fields">
		    <div class="field">
		      <label>First Name</label>
		      <input placeholder="First Name" type="text">
		    </div>
		    <div class="field">
		      <label>Last Name</label>
		      <input placeholder="Last Name" type="text">
		    </div>
		  </div>
		  <div class="field">
		    <label>Gender</label>
		    <div class="ui dropdown selection">
		      <input type="hidden" name="gender">
		      <div class="default text">...</div>
		      <i class="dropdown icon"></i>
		      <div class="menu">
		        <div class="item" data-value="male">Male</div>
		        <div class="item" data-value="female">Female</div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="dropdown example">
		<div class="ui dropdown selection error">
		  <input type="hidden" name="gender">
		  <div class="default text">...</div>
		  <i class="dropdown icon"></i>
		  <div class="menu">
		    <div class="item" data-value="male">Male</div>
		    <div class="item" data-value="female">Female</div>
		  </div>
		</div>
	</div>
	<div class="dropdown example">
		<div class="ui form segment">
		  <p>Let's go ahead and get you signed up.</p>
		  <div class="two fields">
		    <div class="field">
		      <label>First Name</label>
		      <input placeholder="First Name" type="text">
		    </div>
		    <div class="field">
		      <label>Last Name</label>
		      <input placeholder="Last Name" type="text">
		    </div>
		  </div>
		  <div class="field error">
		    <label>Gender</label>
		    <div class="ui dropdown selection">
		      <input type="hidden" name="gender">
		      <div class="default text">...</div>
		      <i class="dropdown icon"></i>
		      <div class="menu">
		        <div class="item" data-value="male">Male</div>
		        <div class="item" data-value="female">Female</div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="dropdown example">
		<div class="ui info message">
		  <code>div</code> elements do not normally gain focus on tab unless you add <code>tabindex</code> value to your dropdown
		</div>
		<div class="ui dropdown selection" tabindex="0">
		  <input type="hidden" name="gender">
		  <div class="default text">Select Gender</div>
		  <i class="dropdown icon"></i>
		  <div class="menu">
		    <div class="item" data-value="male">Male</div>
		    <div class="item" data-value="female">Female</div>
		  </div>
		</div>
	</div>
	<div class="dropdown example">
		<div class="ui teal buttons">
		  <div class="ui button">Toggle</div>
		  <div class="ui teal floating dropdown icon button">
		    <i class="dropdown icon"></i>
		    <div class="menu">
		      <div class="item" data-value="horizontal flip">Horizontal Flip</div>
		      <div class="item" data-value="fade up">Fade Up</div>
		      <div class="item" data-value="scale">Scale</div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="ui horizontal divider"><i class="circular heart icon"></i></div>
	<h2 id="Modal" name="Modal">弹出层</h2>
	


	<div class="ui horizontal divider"><i class="circular heart icon"></i></div>
	<h2 id="Comment" name="Comment">手风琴</h2>
	
	<div class="ui horizontal divider"><i class="circular heart icon"></i></div>
	<h2 id="Comment" name="Comment">手风琴</h2>
	
	<div class="ui horizontal divider"><i class="circular heart icon"></i></div>
	<h2 id="Comment" name="Comment">手风琴</h2>
	
	<div class="ui horizontal divider"><i class="circular heart icon"></i></div>
	<h2 id="Comment" name="Comment">手风琴</h2>
	
	<div class="ui horizontal divider"><i class="circular heart icon"></i></div>
	<h2 id="Comment" name="Comment">手风琴</h2>
	
	<div class="ui horizontal divider"><i class="circular heart icon"></i></div>
<script type="text/javascript">
$(function() {
    var $accordion = $('.ui.accordion'),
    $menuAccordion = $('.ui.menu.accordion'),
    $checkbox = $('.ui.checkbox');
    $accordion.accordion();
    $menuAccordion.accordion({
        exclusive: false
    });
    $checkbox.checkbox();
    //全选 反选 
    $('.enable.button').on('click',
	function() {
	  $(this).nextAll('.checkbox').checkbox('enable')
	});
	$('.disable.button').on('click',
	function() {
	  $(this).nextAll('.checkbox').checkbox('disable')
	});
	$('.toggle.button').on('click',
	function() {
	  $(this).nextAll('.checkbox').checkbox('toggle')
	});
    //显示遮罩板
    var $examples = $('.example'),
    $showButton = $examples.find('.show.button'),
    $pageButton = $examples.find('.page.button'),
    $hideButton = $examples.find('.hide.button'),
    handler = {
	    show: function(){
	      $(this).closest('.example').find('.segment').dimmer('show')
	    },
	    hide: function(){
	      $(this).closest('.example').find('.segment').dimmer('hide')
	    },
	    page: function(){
	      $('body > .page').dimmer('show')
	    }
  	};
	$pageButton.on('click', handler.page);
	$showButton.on('click', handler.show);
	$hideButton.on('click', handler.hide);
	$('.example .image').dimmer({on: 'hover'});
	//下拉
	var $hoverDropdown = $examples.filter('.hover').find('.ui.dropdown'),
	  $buttonDropdown = $examples.filter('.button.example').find('.ui.dropdown'),
	  $dropdown = $examples.filter('.dropdown').find('.ui.dropdown:not(.simple)'),
	  $transition = $examples.filter('.transition').find('.ui.dropdown'),
	  $transitionButton = $examples.filter('.transition').find('.ui.button').first();
	  $transitionButton.on('click',
	  function(event) {
	    $transition.dropdown('toggle');
	    event.stopImmediatePropagation()
	  });
	  $transition.dropdown({
	    onChange: function(value) {
	      $transition.dropdown('setting', 'transition', value)
	    }
	  });
	  $dropdown.dropdown();
	  $hoverDropdown.dropdown({
	    on: 'hover',
	    action: 'hide'
	  });
	  $buttonDropdown.dropdown({
	    action: 'hide'
	  });
	  //弹出层
	  //$('.wwj .modal').modal('show');
	  $('.selection').dropdown({
        onChange: function(value) {
          $('.test.modal')
            .modal('setting', 'transition', value)
            .modal('show')
          ;
        }
      });
});
</script>
</body>
</html>