<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta name="keywords" content="亚运,亚运会,仁川亚运会,仁川,韩国仁川亚运会,2014年仁川亚运会,第17届亚洲运动会" />
<meta name="description" content="新浪2014仁川亚运会专题,提供全面快速的2014年亚运会新闻及专题报道,赛程时间表,仁川亚运会的吉祥物,主题曲,开闭幕式及比赛视频和图片,第一时间与微博好友分享." />
<!-- 频道相关icon -->
<link rel="shortcut icon" href="http://cdn-img.easyicon.net/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="" />
<link rel="apple-touch-icon" sizes="72x72" href="" />
<link data-logo="" rel="apple-touch-icon" sizes="114x114" href="" />
<title>2014年仁川亚运会_手机新浪网</title>
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="http://wangwenjie1314.github.io/statics/css/common_wap.css" />
<link rel="stylesheet" type="text/css" href="../static/css/sina/index.css" />
</head>
<body>
<!-- noscript -->
<noscript><a class="noScript" href="##" title="页面需要开启JavaScript体验">页面需要开启JavaScript体验</a></noscript>
<!-- banner-->
<div class="banner clearfix">
	<img src="http://mjs.sinaimg.cn/wap/h5/cms/products/sports/lncheon_2014/201409161710/banner/banner.jpg" />
</div>
<!-- banner end-->
<!-- nav-->
<div class="nav clearfix">
	<ul>
		<li><a href="#">留住</a></li>
		<li><a href="#">留住</a></li>
		<li><a href="#">留住</a></li>
		<li><a href="#">留住</a></li>
		<li><a href="#">留住</a></li>
		<li><a href="#">留住</a></li>
		<li><a href="#">留住</a></li>
		<li><a href="#">留住</a></li>
		<li><a href="#">留住</a></li>
		<li><a href="#">留住</a></li>
	</ul>
</div>
<!-- nav end-->
<!-- silder -->
<div class="silder clearfix" id="silder">
	<ul>
		<li>
		<a href="#">
			<img src="http://k.sinaimg.cn/n/default/20141004/cfkptvx3753672.jpg/w480h240c20.jpg" />
			<i class="yy"></i>
			<i class="txt">我知道这是个检点图切换1</i>
		</a>
		</li>
		<li>
		<a href="#">
			<img src="http://k.sinaimg.cn/n/default/20140925/avxeafr3896383.jpg/w480h240ac8.jpg" />
			<i class="yy"></i>
			<i class="txt">我知道这是个检点图切换2</i>
		</a>
		</li>
		<li>
		<a href="#">
			<img src="http://k.sinaimg.cn/n/default/20141004/awzunex4099402.jpg/w480h240b31.jpg" />
			<i class="yy"></i>
			<i class="txt">我知道这是个检点图切换3</i>
		</a>
		</li>
	</ul>
	<em class="silder-now"><span id="silder-now-span">1</span> / 3</em>
</div>
<!-- silder end-->
<!-- news-list-->
<div class="news-list clearfix">
	<ul>
		<li>
		<a href="#">
			<div class="news-list-img"><img src="http://k.sinaimg.cn/i0/dy/o/2014-09-20/1411184374_CmM0aE.jpg/w120h90l50t1216.jpg"></div>
			<div class="news-list-con">
				<h3 class="">再见仁川:第17届亚运完美闭幕</h3>
				<h4>仁川亚运会已经完美收官。</h4>
				<p>
					<span class="fl">10月4日 20:32</span>
					<span class="fr">T:2519</span>
				</p>
			</div>
		</a>
		</li>
		<li>
		<a href="#">
			<div class="news-list-img"><img src="http://k.sinaimg.cn/i0/dy/o/2014-09-20/1411184374_CmM0aE.jpg/w120h90l50t1216.jpg"></div>
			<div class="news-list-con">
				<h3 class="">再见仁川:第17届亚运完美闭幕</h3>
				<h4>仁川亚运会已经完美收官。</h4>
				<p>
					<span class="fl">10月4日 20:32</span>
					<span class="fr">T:2519</span>
				</p>
			</div>
		</a>
		</li>
		<li>
		<a href="#">
			<div class="news-list-img"><img src="http://k.sinaimg.cn/i0/dy/o/2014-09-20/1411184374_CmM0aE.jpg/w120h90l50t1216.jpg"></div>
			<div class="news-list-con">
				<h3 class="">再见仁川:第17届亚运完美闭幕</h3>
				<h4>仁川亚运会已经完美收官。</h4>
				<p>
					<span class="fl">10月4日 20:32</span>
					<span class="fr">T:2519</span>
				</p>
			</div>
		</a>
		</li>
		<li>
		<a href="#">
			<div class="news-list-img"><img src="http://k.sinaimg.cn/i0/dy/o/2014-09-20/1411184374_CmM0aE.jpg/w120h90l50t1216.jpg"></div>
			<div class="news-list-con">
				<h3 class="">再见仁川:第17届亚运完美闭幕</h3>
				<h4>仁川亚运会已经完美收官。</h4>
				<p>
					<span class="fl">10月4日 20:32</span>
					<span class="fr">T:2519</span>
				</p>
			</div>
		</a>
		</li>
		<li>
		<a href="#">
			<div class="news-list-img"><img src="http://k.sinaimg.cn/i0/dy/o/2014-09-20/1411184374_CmM0aE.jpg/w120h90l50t1216.jpg"></div>
			<div class="news-list-con">
				<h3 class="">再见仁川:第17届亚运完美闭幕</h3>
				<h4>仁川亚运会已经完美收官。</h4>
				<p>
					<span class="fl">10月4日 20:32</span>
					<span class="fr">T:2519</span>
				</p>
			</div>
		</a>
		</li>
		<li>
		<a href="#">
			<div class="news-list-img"><img src="http://k.sinaimg.cn/i0/dy/o/2014-09-20/1411184374_CmM0aE.jpg/w120h90l50t1216.jpg"></div>
			<div class="news-list-con">
				<h3 class="">再见仁川:第17届亚运完美闭幕</h3>
				<h4>仁川亚运会已经完美收官。</h4>
				<p>
					<span class="fl">10月4日 20:32</span>
					<span class="fr">T:2519</span>
				</p>
			</div>
		</a>
		</li>
	</ul>
</div>
<!-- news-list end-->
<!-- backtop-->
<a href="javascript:;" class="backtop" id="backtop">↑</a>
<!-- backtop end-->
<script type="text/javascript" src="../static/js/zepto.js"></script>
<script type="text/javascript" src="../static/js/swipe.min.js"></script>
<script type="text/javascript">
$(function(){
	function resize(){
		var win_width=$(window).width(),
			silder=$("#silder"),
			silder_li=$("#silder li");
		silder_li.width(win_width);
	}
	resize();
	$(window).resize(function(){
		resize();
	});
	$(window).scroll(function(){
		var t = document.documentElement.scrollTop || document.body.scrollTop;
		if(t>300){
			$("#backtop").css("display","block");
		}else{
			$("#backtop").hide();
		}
	});
	function q(H){
		var K = null,
        	I = $("#" + H),
        	L = $("#silder-now-span");
            K = new Swipe(document.getElementById(H),{
            startSlide: 0,
            auto: 4000,
            speed: 300,callback:function(i){
            	L.html(i + 1);
        	}
		});
	}
	function g(){
		var j = $("#backtop");
	      if (j.length > 0) {
	        j.click(function(){window.scrollTo(0, 0)});
	      }
	}
	setTimeout(function(){
        if ($("#silder").length > 0){
        	q("silder");
        }
        g();
    },300);
});
</script>
</body>
</html>