<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="亚运,亚运会,仁川亚运会,仁川,韩国仁川亚运会,2014年仁川亚运会,第17届亚洲运动会" />
    <meta name="description" content="新浪2014仁川亚运会专题,提供全面快速的2014年亚运会新闻及专题报道,赛程时间表,仁川亚运会的吉祥物,主题曲,开闭幕式及比赛视频和图片,第一时间与微博好友分享." />
	<!-- 频道相关icon -->
	<link rel="shortcut icon" href="http://cdn-img.easyicon.net/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="" />
	<link rel="apple-touch-icon" sizes="72x72" href="" />
	<link data-logo="" rel="apple-touch-icon" sizes="114x114" href="" />
	<title>2014年仁川亚运会_手机新浪网</title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/sina/sport_index.css" />
</head>
<body>
	<!-- noscript -->
	<noscript><a class="noScript" href="##" title="页面需要开启JavaScript体验">页面需要开启JavaScript体验</a></noscript>
	<!-- header -->
	<header>
		<div class="sinaHead">
			<h2><a class="hIcon h_logo" href="javasrcipt:;" title="手机新浪网">手机新浪网</a></h2>
			<!-- //页面加载时只需要加载外部a标签 -->
			<a href="#" class="hIcon h_user" title="" id="loginBox"></a>
			<ul class="h_nav_items">
				<!-- 最多两级导航 最多不能超过8个字-->
				<li><a href="#" title="2014亚运会">2014亚运会</a></li>
			</ul>
			<a href="#" class="hIcon h_nav" title="网站导航">网站导航</a>
		</div>
	</header>
	<!-- / header -->
	<!--2014仁川-->
	<div class="baner_tips"><img src="http://mjs.sinaimg.cn/wap/h5/cms/products/sports/lncheon_2014/201409161710/banner/banner.jpg" alt="2014年仁川亚运会" /></div>
	<!--导航-->
	<div class="comment_nav clearfix">
		<ul class="comment_nav_main">
			<li><a href="http://sports.sina.cn/sports_zt/2014yayun/roll.d.html?vt=4&amp;sid=60177" title="滚动">滚动</a></li>
			<li><a href="http://sports1.sina.cn/asiangames/schedule?vt=4&amp;sid=60177" title="赛程">赛程</a></li>
			<li><a href="http://sports1.sina.cn/asiangames/medalrank?vt=4&amp;sid=60177" title="奖牌">奖牌</a></li>
			<li><a href="http://lives.sina.cn/live/index?vt=4&amp;sid=60177" title="直播">直播</a></li>
			<li><a href="http://sports.sina.cn/?vt=4&amp;sid=60177" title="体育">体育</a></li>
			<li><a href="http://sports.sina.cn/?vt=4&amp;sid=60177&amp;sa=t12d78153v18" title="看美女">看美女</a></li>
			<li><a href="http://sports.sina.cn/?vt=4&amp;sid=60177&amp;sa=t12d78102v18" title="扫盲帝">扫盲帝</a></li>
			<li><a href="http://sports.sina.cn/?vt=4&amp;sid=60177&amp;sa=t12d78149v18" title="吐槽哥">吐槽哥</a></li>
			<li><a href="http://sports.sina.cn/?vt=4&amp;sid=60177&amp;sa=t12d78156v18" title="考智商">考智商</a></li>
			<li><a href="http://sports.sina.cn/?vt=4&amp;sid=60177&amp;sa=t24d6217711v4" title="送豪礼">送豪礼</a></li>
		</ul>
	</div>
	<!--奖牌榜-->
	<div class="medallist">
		<span class="reminder">“纳智捷”邀您关注亚运奖牌榜</span>
		中国<span class="medal_icon gold">151</span>
		韩国<span class="medal_icon gold">79</span>
		日本<span class="medal_icon gold">47</span>
		<a href="http://sports1.sina.cn/asiangames/medalrank?vt=4&amp;sid=60177" title="亚运会金牌榜">更多</a>
	</div>
	<!--/ 奖牌榜-->
	<!--组图-->
	<div id="j_imgSwipe" class="swipe" data-sudaclick="swipe_pics">
		<div class="swipe-wrap">
		<div class="swipe_pic" data-loaded="0">
		<a href="http://photo.sina.cn/album?vt=4&amp;ch=2&amp;sid=60201&amp;aid=71898">
			<img src="http://k.sinaimg.cn/n/default/20141004/cfkptvx3753672.jpg/w480h240c20.jpg" alt="直击仁川亚运会闭幕式" />
			<h3 class="swipe_h3">直击仁川亚运会闭幕式</h3>
		</a>
		</div>
		<div class="swipe_pic" data-loaded="0">
		<a href="http://cs.sina.com.cn/minisite/201409fxauto/">
			<img src="http://k.sinaimg.cn/n/default/20140925/avxeafr3896383.jpg/w480h240ac8.jpg" alt="景逸S50为中国喝彩" />
			<h3 class="swipe_h3">景逸S50为中国喝彩</h3>
		</a>
		</div>
		<div class="swipe_pic" data-loaded="0">
		<a href="http://photo.sina.cn/album?vt=4&amp;ch=2&amp;sid=60201&amp;aid=71911">
			<img src="http://k.sinaimg.cn/n/default/20141004/awzunex4099353.jpg/w480h240be4.jpg" alt="新浪直击亚运圣火熄灭" />
			<h3 class="swipe_h3">新浪直击亚运圣火熄灭</h3>
		</a>
		</div>
		<div class="swipe_pic" data-loaded="0">
		<a href="http://photo.sina.cn/album?vt=4&amp;ch=2&amp;sid=60201&amp;aid=71907">
			<img src="http://k.sinaimg.cn/n/default/20141004/awzunex4099402.jpg/w480h240b31.jpg" alt="韩流明星助阵闭幕式" />
			<h3 class="swipe_h3">韩流明星助阵闭幕式</h3>
		</a>
		</div>
		<div class="swipe_pic" data-loaded="0">
		<a href="http://photo.sina.cn/channel?vt=4&amp;sid=60177&amp;ch=2#a_2_730_71881">
			<img src="http://k.sinaimg.cn/n/default/20141004/awrnsfu2513087.jpg/w480h240a8f.jpg" alt="许昕力克樊振东男单摘金" />
			<h3 class="swipe_h3">许昕力克樊振东男单摘金</h3>
		</a>
		</div>
		</div>
		<div class="swipe_num"><span>1</span> / 5</div>
	</div>
	<!--组图结束-->
	<!--列表-->
	<div id="j_items_list" class="card_layer">
		<div class="carditems carditems_com">
			<!--顶部列表-->	
			<a href="http://sports.sina.cn/others/2014-10-04/detail-iawrnsfu2518824.d.html?vt=4&amp;sid=60177">
			<dl id="" class="carditems_list">
				<dt class="carditems_list_dt"><img src="http://k.sinaimg.cn/i0/dy/o/2014-09-20/1411184374_CmM0aE.jpg/w120h90l50t1216.jpg" alt=""></dt>
				<dd class="carditems_list_dd">
				<h3 class="carditems_list_h3 intro_h3">再见仁川:第17届亚运完美闭幕</h3>

				<h4 class="carditems_list_h4">仁川亚运会已经完美收官。</h4>

				<p class="carditems_list_op">
				<span class="op_ico time_num fl">10月4日 20:32</span>
				<span class="op_ico num_ico fr">2519</span>
				</p>
				</dd>
			</dl>
			</a>
			<a href="http://sports.sina.cn/others/2014-10-04/detail-iawrnsfu2518824.d.html?vt=4&amp;sid=60177">
			<dl id="" class="carditems_list">
				<dt class="carditems_list_dt"><img src="http://k.sinaimg.cn/i0/dy/o/2014-09-20/1411184374_CmM0aE.jpg/w120h90l50t1216.jpg" alt=""></dt>
				<dd class="carditems_list_dd">
				<h3 class="carditems_list_h3 intro_h3">再见仁川:第17届亚运完美闭幕</h3>

				<h4 class="carditems_list_h4">仁川亚运会已经完美收官。</h4>

				<p class="carditems_list_op">
				<span class="op_ico time_num fl">10月4日 20:32</span>
				<span class="op_ico num_ico fr">2519</span>
				</p>
				</dd>
			</dl>
			</a>
			<a href="http://sports.sina.cn/others/2014-10-04/detail-iawrnsfu2518824.d.html?vt=4&amp;sid=60177">
			<dl id="" class="carditems_list">
				<dt class="carditems_list_dt"><img src="http://k.sinaimg.cn/i0/dy/o/2014-09-20/1411184374_CmM0aE.jpg/w120h90l50t1216.jpg" alt=""></dt>
				<dd class="carditems_list_dd">
				<h3 class="carditems_list_h3 intro_h3">再见仁川:第17届亚运完美闭幕</h3>

				<h4 class="carditems_list_h4">仁川亚运会已经完美收官。</h4>

				<p class="carditems_list_op">
				<span class="op_ico time_num fl">10月4日 20:32</span>
				<span class="op_ico num_ico fr">2519</span>
				</p>
				</dd>
			</dl>
			</a>
		</div>
		<div class="carditems_push">
			<h2 class="card_tips"><span class="card_tips_icon icon_2">独家制作-纳智捷特约</span></h2>
			<div class="carditems">
			<a href="http://sports.sina.cn/?vt=4&amp;sid=60177&amp;sa=t24d6260817v4">
			<dl id="" class="carditems_list">
				<dt class="carditems_list_dt">
					<img src="http://k.sinaimg.cn/n/default/20141002/awrnsfu2465955.jpg/w120h90l50t1093.jpg" alt="亚运吐槽:三大球想说爱你好难">	
				</dt>
				<dd class="carditems_list_dd">
					<h3 class="carditems_list_h3 intro_h3">亚运吐槽:三大球想说爱你好难</h3>
					<h4 class="carditems_list_h4"></h4>
					<p class="carditems_list_op"><span class="op_ico time_num fl">10月2日 19:56</span></p>
				</dd>
			</dl>
			</a>
			<a href="http://sports.sina.cn/?vt=4&amp;sid=60177&amp;sa=t24d6260817v4">
			<dl id="" class="carditems_list">
				<dt class="carditems_list_dt">
					<img src="http://k.sinaimg.cn/n/default/20141002/awrnsfu2465955.jpg/w120h90l50t1093.jpg" alt="亚运吐槽:三大球想说爱你好难">	
				</dt>
				<dd class="carditems_list_dd">
					<h3 class="carditems_list_h3 intro_h3">亚运吐槽:三大球想说爱你好难</h3>
					<h4 class="carditems_list_h4"></h4>
					<p class="carditems_list_op"><span class="op_ico time_num fl">10月2日 19:56</span></p>
				</dd>
			</dl>
			</a>
			<a href="http://sports.sina.cn/?vt=4&amp;sid=60177&amp;sa=t24d6260817v4">
			<dl id="" class="carditems_list">
				<dt class="carditems_list_dt">
					<img src="http://k.sinaimg.cn/n/default/20141002/awrnsfu2465955.jpg/w120h90l50t1093.jpg" alt="亚运吐槽:三大球想说爱你好难">	
				</dt>
				<dd class="carditems_list_dd">
					<h3 class="carditems_list_h3 intro_h3">亚运吐槽:三大球想说爱你好难</h3>
					<h4 class="carditems_list_h4"></h4>
					<p class="carditems_list_op"><span class="op_ico time_num fl">10月2日 19:56</span></p>
				</dd>
			</dl>
			</a>
			<a href="http://sports.sina.cn/?vt=4&amp;sid=60177&amp;sa=t24d6260817v4">
			<dl id="" class="carditems_list">
				<dt class="carditems_list_dt">
					<img src="http://k.sinaimg.cn/n/default/20141002/awrnsfu2465955.jpg/w120h90l50t1093.jpg" alt="亚运吐槽:三大球想说爱你好难">	
				</dt>
				<dd class="carditems_list_dd">
					<h3 class="carditems_list_h3 intro_h3">亚运吐槽:三大球想说爱你好难</h3>
					<h4 class="carditems_list_h4"></h4>
					<p class="carditems_list_op"><span class="op_ico time_num fl">10月2日 19:56</span></p>
				</dd>
			</dl>
			</a>
			</div>
		</div>
		<div class="carditems carditems_com">
			<a href="http://weibo.com/1638781994/BpXoG6X4Q">
			<div id="" class="carditems_list">
				<div class="card_wb_cont">
				<div class="card_wb_mate">
				<p class="card_wb_mate_pic"><img src="http://k.sinaimg.cn/n/default/20140916/avxeafr3788287.jpg/w120h90l50t1c32.jpg" alt=""></p>
				<div class="card_wb_mate_tips">
				<p class="card_wb_mate_tips_name"> 新浪体育 <img src="http://mjs.sinaimg.cn/wap/h5/cms/products/sports/lncheon_2014/201409161500/index/images/v.png" width="14"></p>
				<p class="card_wb_mate_tips_from">10月4日 08:00 &nbsp; 来自新浪微博</p>
				</div>
				</div>
				<p class="card_wb_mate_t">#仁川亚运#闭幕式主题为“这一刻，亚洲将铭记仁川”，由韩国影坛教父林权泽担任总导演。来自韩国“多文化家庭(父母一方来自其他国家和地区)”的孩子将会以合唱拉开闭幕式序幕。相比“星味”十足的开幕式，闭幕式简洁得多。值得关注的是下届主办国印尼带来的文艺表演，或许有惊喜。</p>
				</div>
			</div>
			</a>
		</div>
		<div class="carditems_push_line">
			<div class="carditems">
				<a data-cid="6-12-7367351" href="http://blog.sina.cn/dpool/blog/ArtRead.php?vt=4&amp;sid=60177&amp;nid=4c5fb26e0102v4zr">
				<dl class="carditems_list  j_imgdelay" data-imgdelay="1">
				<dd class="carditems_list_dd">
					<h3 class="carditems_list_h3">汪大昭：立足国际竞争大背景</h3>
					<h4 class="carditems_list_h4">汪大昭：立足国际竞争大背景 回望亚运之三</h4>
					<p class="carditems_list_op"><span class="op_ico time_num fl">10月12日 10:17</span></p>
				</dd>
				</dl>
				</a>
				<a data-cid="6-12-7366295" href="http://sports.sina.cn/others/2014-10-11/detail-ianfzhnh3162419.d.html?vt=4&amp;sid=60177">
				<dl class="carditems_list  j_imgdelay" data-imgdelay="1">
				<dt class="carditems_list_dt">
				<img src="http://k.sinaimg.cn/www/ty/yayun2014/o/2014-10-11/U10662P6T12D7366295F44DT20141011120222.jpg/w120h90l50t1499.jpg" alt="小城市如何承办大型运动会">
				</dt>
				<dd class="carditems_list_dd">
					<h3 class="carditems_list_h3">小城市如何承办大型运动会</h3>
					<h4 class="carditems_list_h4">小城市如何承办大型运动会 仁川亚运提供正反启示</h4>
					<p class="carditems_list_op"><span class="op_ico time_num fl">10月11日 12:02</span></p>
				</dd>
				</dl>
				</a>
				<a data-cid="6-12-7367351" href="http://blog.sina.cn/dpool/blog/ArtRead.php?vt=4&amp;sid=60177&amp;nid=4c5fb26e0102v4zr">
				<dl class="carditems_list  j_imgdelay" data-imgdelay="1">
				<dd class="carditems_list_dd">
					<h3 class="carditems_list_h3">汪大昭：立足国际竞争大背景</h3>
					<h4 class="carditems_list_h4">汪大昭：立足国际竞争大背景 回望亚运之三</h4>
					<p class="carditems_list_op"><span class="op_ico time_num fl">10月12日 10:17</span></p>
				</dd>
				</dl>
				</a>
				<a data-cid="6-12-7366295" href="http://sports.sina.cn/others/2014-10-11/detail-ianfzhnh3162419.d.html?vt=4&amp;sid=60177">
				<dl class="carditems_list  j_imgdelay" data-imgdelay="1">
				<dt class="carditems_list_dt">
				<img src="http://k.sinaimg.cn/www/ty/yayun2014/o/2014-10-11/U10662P6T12D7366295F44DT20141011120222.jpg/w120h90l50t1499.jpg" alt="小城市如何承办大型运动会">
				</dt>
				<dd class="carditems_list_dd">
					<h3 class="carditems_list_h3">小城市如何承办大型运动会</h3>
					<h4 class="carditems_list_h4">小城市如何承办大型运动会 仁川亚运提供正反启示</h4>
					<p class="carditems_list_op"><span class="op_ico time_num fl">10月11日 12:02</span></p>
				</dd>
				</dl>
				</a>
			</div>
		</div>
	</div>
	<!-- footer -->
	<footer id="j_footer">
		<div class="footer">
			<!--页尾信息-->
			<div class="footer_nav">
				<span class="j_backPrePage backPrevPage">后退</span>
				<span class="j_scrollToTop backTop">回顶部</span>
				<a href="#" title="手机新浪网">首页</a>
				<a href="#" title="导航">导航</a>
				<a href="#" title="反馈">反馈</a>
				<a href="#" class="linkico">登录</a>
			</div>
			<p class="footer_times">
				<a href="#" title="手机新浪网">Sina.cn</a>
				<span class="footer_t_ico">10-22 09:16</span>
			</p>
		</div>
	</footer>
	<!-- /footer -->
	<script type="text/javascript" src="../static/js/zepto.js"></script>
	<script type="text/javascript" src="../static/js/swipe.min.js"></script>
	<script type="text/javascript">
	$(function(){
		function q(H){
			var K = null,
	        	I = $("#" + H),
	        	L = I.children().eq(1).find("span");
	            K = new Swipe(document.getElementById(H),{
	            startSlide: 0,
	            auto: 4000,
	            speed: 300,callback:function(i){
	            	L.html(i + 1);
	        	}
			});
		}
		function g(){
			var j = $("#j_footer .j_scrollToTop");
		      if (j.length > 0) {
		        j.click(function(){window.scrollTo(0, 0)});
		      }
		}
		setTimeout(function(){
	        if ($("#j_imgSwipe").length > 0){
	        	q("j_imgSwipe");
	        }
	        g();
	    },300);
	});
	</script>
</body>
</html>