<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
	<meta name="format-detection"content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<title>腾讯新闻</title>
	<link rel="apple-touch-icon" href="images/touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="images/touch-icon-iphone-retina.png" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="global">
		<!-- header/S -->
	    <div class="header">
	      <h1 class="logo logoNews"><a href="http://xw.qq.com/iphone/m/news/index.htm">腾讯新闻</a></h1>
	      <span class="gochannels" id="gochannels">导航</span>
	    </div>
	    <!-- header/E -->
		<!--channels/S -->
		<div class="channels" id="channels">
		    <ul>
		        <li><a href="http://xw.qq.com/">首页</a></li>
		        <li><a href="http://xw.qq.com/m/news/">新闻</a></li>
		        <li><a href="http://xw.qq.com/m/finance/">财经</a></li>
		        <li><a href="http://xw.qq.com/m/ent/">娱乐</a></li>
		        <li><a href="http://xw.qq.com/m/sports/">体育</a></li>
		        <li><a href="http://xw.qq.com/m/stock/">证券</a></li>
		        <li><a href="http://xw.qq.com/m/mil/">军事</a></li>
		        <li><a href="http://xw.qq.com/m/tech/">科技</a></li>
		        <li><a href="http://xw.qq.com/m/digi/">数码</a></li>
		        <li><a href="http://xw.qq.com/m/fashion/">时尚</a></li>
		        <li><a href="http://xw.qq.com/m/auto/">汽车</a></li>
		        <li><a href="http://xw.qq.com/m/games/">游戏</a></li>
		        <li><a href="http://m.house.qq.com/index.php?mod=house&rf=newswap">房产</a></li>
		        <li><a href="http://xw.qq.com/m/astro/">星座</a></li>
		        <!-- <li><a href="http://xw.qq.com/m/photo/">图片</a></li> -->
		        <li><a href="http://m.v.qq.com/">视频</a></li>
		    </ul>
		</div>
		<!-- channels/E-->
		<!-- gallery/S -->
	    <div class="gallery">
	      <a href="http://xw.qq.com/c/news/20150302001189/NEW2015030200118904" class="galleryinner">
		    <div class="galleryimage">
		      <img src="http://inews.gtimg.com/newsapp_ls/0/38207567_640330/0">
		    </div>
		    <h2 class="gallerytitle">浙江豪车自燃被烧成空壳</h2>
	      </a>
	    </div>
	    <!-- gallery/E -->
		<!-- list/S -->
		<div class="list" id="list">
			<ul></ul>
		</div>
		<!-- list/E -->
		<!-- footnav/S -->
		<div class="footnav">
		    <ul>
		        <li><a href="http://xw.qq.com/">首页</a></li>
		        <li><a href="http://xw.qq.com/m/news/">新闻</a></li>
		        <li><a href="http://xw.qq.com/m/finance/">财经</a></li>
		        <li><a href="http://xw.qq.com/m/ent/">娱乐</a></li>
		        <li><a href="http://xw.qq.com/m/sports/">体育</a></li>
		        <li><a href="http://xw.qq.com/m/stock/">证券</a></li>
		        <li><a href="http://xw.qq.com/m/mil/">军事</a></li>
		        <li><a href="http://xw.qq.com/m/tech/">科技</a></li>
		        <li><a href="http://xw.qq.com/m/digi/">数码</a></li>
		        <li><a href="http://xw.qq.com/m/fashion/">时尚</a></li>
		        <li><a href="http://xw.qq.com/m/auto/">汽车</a></li>
		        <li><a href="http://xw.qq.com/m/games/">游戏</a></li>
		        <li><a href="http://m.house.qq.com/index.php?mod=house&rf=newswap">房产</a></li>
		        <li><a href="http://xw.qq.com/m/astro/">星座</a></li>
		        <li><a href="http://m.v.qq.com/">视频</a></li>
		    </ul>
		</div>
		<!-- footnav/E -->
		<!-- footer/S -->
		<div class="footer">
		    <div class="foot_user">
		        <strong>   文杰</strong>
		        <span class="foot_logout">[注销]</span>
		        <span class="foot_login">[登录]</span>
		    </div>
		    <div class="links">
		        <a href="http://url.cn/JVoGlc" class="repweb">反馈</a>
		        <a href="javascript:void(0)" class="pcs">电脑版</a>
		        <a href="http://xw.qq.com/simple/s/index/" class="smlweb">简版</a>
		        <a href="http://xw.qq.com/senior/" class="iosweb">iPhone版</a>
		    </div>
		    <div class="copyright">Copyright &copy; 1998 - 2015 Tencent. All Rights Reserved</div>
		    <div class="gotop"></div>
		</div>
		<!-- footer/E -->
	</div>
	<script type="text/html" id="listTpl">
	{ if type === '1' }
	  <li class="photo">
	    <a href="{ link }">
	      <h2>{ title }</h2>
	      <div class="thumb">
	        <img src="{ loadimg }" data-src="{ echo imgsrc }">
	      </div>
	      <p>
	       { summary }
	        <span class="count">
	          <i class="cPic">{ imagecount }</i>
	          <i class="cComm">{ commcount }</i>
	        </span>
	      </p>
	    </a>
	  </li>
	{ else }
	  <li class="full">
	    <a href="{ link }">
	      <div class="thumb">
	        <img src="{  loadimg }" data-src="{ echo imgsrc }">
	      </div>
	      <h2>{ title }</h2>
	      <p>
	       { summary }
	        <span class="count">
	          <i class="flag { flag }"></i>
	          <i class="cComm">{ commcount }</i>
	        </span>
	      </p>
	    </a>
	  </li>
	{ /if }
	</script>
	<script src="js/zepto.min.js"></script>
	<script src="js/template.min.js"></script>
	<script src="js/getQQNewsNormalContent.js"></script>
	<script src="js/index.js"></script>
</body>
</html>