<!DOCTYPE HTML>
<html>
<head>
    <title>王文杰-个人网站-前端开发工程师｜伪全栈工程师</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="王文杰,wangwenjie,wenjie" />
    <meta name="keywords" content="王文杰,wangwenjie,wenjie" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="shortcut icon" href="../../statics/images/favicon.ico" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--引入-->
    <link rel="stylesheet" type="text/css" href="assets/css/menu.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?1cb7855a914b199e5bbfce083b9d1f5a";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s)})();</script>
</head>
<body>
    <section id="header" class="dark">
        <header>
            <h1>个人简介</h1>
            <p>前端开发工程师 / 伪全栈开发工程师</p>
            <p>王文杰 / 1990年09月 / 处女座 / 整理控</p>
            <p>爱好：跑步，知乎，旅游</p>
            <p>座右铭：努力runing，不被生活难住</p>
        </header>
    </section>
    <!-- First -->
    <section id="work" class="main">
        <header>
            <div class="container">
                <h2>职业技能简述</h2>
                <p>精通CSS、HTML、JavaScript进行Web标准开发，熟练运用jQuery进行插件开发，熟练运用Vue.js(MVVM框架)进行移动端项目开发，熟悉基于React、AngularJs框架开发。既能独立完成网站项目开发，即需求文档、产品效果图、前端开发、后端开发(PHP、Node.js)；也能带领前端团队敏捷开发，高效高质量完成项目的同时，让团队每位成员快速成长～</p>
            </div>
        </header>
        <div class="content dark style1 featured">
            <div class="container">
                <h2>个人覆历</h2>
                <h3>1、乐视云计算有限公司 —— 前端开发工程师 （2014.9~至今）</h3>
                <b>技术栈：Pc:Jquery+Bootstrap+Gulp, Webapp:Vue.js+Webpack+Zepto &nbsp; &nbsp;  开发环境：Mac</b>
                <p class="content-t">乐视云计算前端团队，主要负责乐视云计算Pc、Webapp以及架构工具等开发工作，期间开发浙江卫视<a href="http://tv.cztv.com/" target="_blank">中国蓝TV</a>、<a href="http://tv.cztv.com/voice.html" target="_blank">中国好声音</a>项目工作。</p>
                <p class="content-t">pc网站主要涉及<a href="http://www.lecloud.com/" target="_blank">云计算官网[用户中心等]</a>、<a href="http://www.lecloud.com/live.html" target="_blank">云直播[管理系统]</a>、<a href="http://www.lecloud.com/vod.html" target="_blank">云点播[管理系统]</a>、<a href="http://www.lecloud.com/cdn.html" target="_blank">cdn[管理系统]</a>、<a href="http://www.lecloud.com/data.html" target="_blank">data＋[管理系统]</a>、<a href="http://www.lecloud.com/saas.html" target="_blank">saas[管理系统]</a>开发，pc网站主要采用Jquery+Bootstrap+Gulp开发网站（考虑到项目周期短、成员更换、成员新技术学习成本高），使用前端自动化工具<a href="https://coding.net/u/wangwenjie/p/fedautotool/git" target="_blank">Fedautotool</a>(快速开发，提高效率，让前端更多地精力进行业务逻辑书写)；主张推行前后端分离，编写通用js类库，采用分模块架构，组件化方式，提高了代码重用性和可维护性，后期不再需要后端技术人员参与模板开发。近期组织学习<a href="http://ant.design/" target="_blank">ANT DESIGN</a>(蚂蚁金服采用React封装一套组件库,感觉像是野战军遇到了正规王牌军,学习其规范、标准、组件思想受益匪浅)，计划平行移植诸多后台管理系统。学习练手项目：<a href="https://github.com/wangwenjie1314/ant-blog" target="_blank">Ant-blog</a>。</p>
                <p class="content-t">Webapp主要参与项目的架构工作，采用了最新的MVVM框架<a href="http://cn.vuejs.org/" target="_blank">Vue.js</a>开发的单页面webapp，一切以数据驱动，双向绑定，组件化的思想进 行开发，在开发效率上有很明显的提升，然后整合<a href="https://github.com/webpack/webpack" target="_blank">Webpack</a>打包压缩，整个页面非常轻量，整体体验性非常不错。学习练手项目：<a href="http://wangwenjie1314.github.io/cnodevue/" target="_blank">Cnode</a>（<a href="https://coding.net/u/wangwenjie/p/Vue-cnodejs/git" target="_blank">源代码</a>）、<a href="http://m.highoh.cn" target="_blank">Highoh</a>。另外期间也学习过<a href="http://www.imooc.com/course/list?c=angularjs" target="_blank">Angularjs</a>+<a href="http://www.ionic.wang/" target="_blank">Ionic</a>+<a href="http://www.phonegap100.com/" target="_blank">Phonegap</a>开发，遗憾是没有真实的项目练手，不多说。</p>
                <p class="content-t">乐视期间，从刚开始传统的前端书写，经历了Bootstrap,AMD/CMD,Sass/Less,Node,Grunt/Gulp/Webpack,Zepto,AngularJs/Recat/Vue.js，通过项目和学习，见证了前端从传统农耕时代进化到蒸汽工业时代，整个前端技术百家齐鸣，“野蛮”化进步，虽说前端是个大深坑，但倍感荣幸，因为有意思。</p>
                <h3>2、大公网科技有限公司 —— 前端开发工程师 （2013.10-2014.9）</h3>
                <b>技术栈：Jquery＋插件  开发环境：Windows</b>
                <p class="content-t">承“UI设计”的上，启“后台技术”的下，主要负责新闻专题的静态页面、交互效果实现、解决问题以及上下过渡的沟通交流，同时担任前端组组长，有效地带领前端小组完成日常开发工作，并且对组员进行指导学习。</p>
                <p class="content-t">在其期间，主要成就主导<a href="http://www.takungpao.com/" target="_blank">大公网2.0改版</a>、两会专题以及员工前端技术培训工作。</p>
                <h3>3、中国网络保健院 —— Java工程师 （2012.4-2013.8）</h3>
                <b>技术栈：Java(Play Framework) + Mysql  &nbsp; &nbsp;  开发环境：Windows</b>
                <p class="no-indent">从业务需求产品原型图讨论到前端页面制作交互到后台技术实现整套流程（设计网页除外），小公司人少活多，前端后台都接触，加上项目经理愿意带我，得到了很快地成长。</p>
                <p class="no-indent"><a href="http://www.yiyee.com/" target="_blank">易随诊(医业网)</a>：医生和患者快速问诊的网络平台，创新性医患就诊模式的网站，一直在摸索中前进。我从实习一直到离职，为了能更好的用户体验，网站先后改版三次，期间做页面码代码改bug，慢慢地把自己的能力提升上来了。在项目经理的指导下参与制作了网站前端后台规范等工作，再后来进行公司业务层开发和修改以及功能演示。为了能让用户更方便地使用我们的服务，开发了IOS、Android版移动网络保健院以及电视端网络盒子版保健院的产品。</p>
            </div>
        </div>
    </section>
    <!-- Second -->
    <section id="skil" class="main">
        <header>
            <div class="container">
                <h2>技能标签</h2>
                <span class="skil">Html4(5) + Css(3) + Javascript</span>
                <span class="skil">Vue.js + Webpack + Zepto</span>
                <span class="skil">Jquery + Bootstrap + Gulp</span>
                <span class="skil">PHP + Mysql</span>
                <span class="skil">Node.js + MongoDB/Mysql + Jade</span>
                <span class="skil">Git</span>
            </div>
        </header>
        <div class="content dark style2">
            <div class="container">
                <h2>职业技能</h2>
                <div class="row">
                    <div class="12u 12u(narrow)">
                        <div class="row">
                            <div class="6u item">
                                <span class="image fit">
                                <b class="title">JavaScript:</b>
                                <p>熟悉JavaScript编程，对面向对象编程有丰富经验，可进行高效模块化开发和插件开发，并保证良好复用和维护性。对编写基于jQuery组件和类库有丰富经验，可熟练使用MVVM框架(如Vue.js)进行复杂单页面应用开发，期间学习React/AngularJs暂未上项目。</p>
                                </span>
                            </div>
                            <div class="6u item">
                                <span class="image fit">
                                <b class="title">HTML(5)+CSS(3):</b>
                                <p>熟练html+css进行网页开发，尤其是语义化标签，已习惯性使用HTML5标签。能熟练运用CSS完成各种类型的网页布局，包括当前流行的响应式布局和流布局。常在实际项目中实践css3语法，倡导抛弃老旧的浏览器，推进新语法的发展。</p>
                                <p>纯页面项目：<a href="http://wangwenjie.coding.io/" target="_blank">coding</a></p>
                                </span>
                            </div>
                            <div class="6u item">
                                <span class="image fit">
                                <b class="title">Node.js:</b>
                                <p>使用Node.js构建前端自动化工具<a href="https://coding.net/u/wangwenjie/p/fedautotool/git" target="_blank">Fedautotool</a>等；</p>
                                <p>使用Node.js，搞了几个小项目：<a href="https://coding.net/u/wangwenjie/p/node-async/git" target="_blank">node-async(爬虫抓取百度贴吧：异步并发加入控制数)</a>、<a href="https://coding.net/u/wangwenjie/p/node-file/git" target="_blank">node-file(爬虫抓取内容生成文件到本地 支持json、txt格式)</a>、<a href="https://coding.net/u/wangwenjie/p/node-practice/git" target="_blank">node-practice(爬虫抓取知乎最高收藏)</a>；</p>
                                <p>使用Node.js+MongoDB/Mysql进行后端服务器开发或者中间调度层开发，能在项目中采用ES6新属性进行快速开发。练手项目：<a href="https://coding.net/u/wangwenjie/p/node-movie/git" target="_blank">node-movie</a>、<a href="https://coding.net/u/wangwenjie/p/node-movie-plus/git" target="_blank">node-movie-plus</a>，启蒙视频：<a href="http://www.imooc.com/view/75" target="_blank">Node.js+Mongodb建站攻略（Scott）－慕课网</a></p>
                                </span>
                            </div>
                            <div class="6u item">
                                <span class="image fit">
                                <b class="title">PHP:</b>
                                <p>熟练使用PHP（Thinkphp）开发中小型网站应用，从无到有完成婚恋主题case网站（需求－原型-设计－前端－后端－上线）</p>
                                <p>整个前后端都走了一遍，实现自己2015年的一个目标，对产品、前端后端、服务器有了更深的认识。</p>
                                <p>上线项目：<a href="http://www.tcjy99.com/" target="_blank">天赐佳缘网</a>、<a href="http://www.highoh.cn" target="_blank">HighoH</a>、<a href="https://coding.net/u/wangwenjie/p/zhihu/git" target="_blank">看知乎</a></p>
                                </span>
                            </div>
                            <div class="6u item">
                                <span class="image fit">
                                <b class="title">移动端开发:</b>
                                <p>有微信营销专题制作和微信移动项目开发经验，根据微信js-sdk实现微信授权、获取微信用户信息、微信支付、微信分享、微信图片上传等微信操作。熟练使用Vue.js + Vue-Router进行移动端单页面开发，以组件和数据驱动的方式进行页面切换和数据切换。</p>
                                <p>上线项目：<a href="http://wangwenjie1314.github.io/views/canting/" target="_blank">[专题]明星餐厅</a>、<a href="http://wangwenjie1314.github.io/views/xingzuo/" target="_blank">[专题]生肖运势</a>、<a href="http://wangwenjie1314.github.io/cnodevue/" target="_blank">Cnode</a>、<a href="http://m.highoh.cn" target="_blank">Highoh(m站)</a></p>
                                </span>
                            </div>
                            <div class="6u item">
                                <span class="image fit">
                                <b class="title">数据库:</b>
                                <p>熟练使用MYSQL（MongoDB未上项目）进行增删改查的操作，对大量数据的查询优化有一定经验。能熟练运用PHP/Node.js操作数据库。</p>
                                </span>
                            </div>
                            <div class="6u item">
                                <span class="image fit">
                                <b class="title">团队项目管理:</b>
                                <p>熟悉敏捷开发流程，熟悉版本进度控制、项目进度控制和项目周期排版。让每个人得到最大化的能力提升，让效益最大化，善于塑造一支有极强凝聚力的团队。</p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <div class="f-left">
                <img src="images/wenjie.jpg">
            </div>
            <div class="f-right">
                <p>
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=1662484899&site=qq&menu=yes" target="_blank" class="icon fa fa-qq"><span>QQ</span></a>
                    <a href="javascript" class="icon fa fa-wechat"><span>Android_Jie</span></a>
                    <a href="http://wangwenjie1314.github.io/views/blog/index.html" target="_blank" class="icon fa fa-book"><span>Blog</span></a>
                    <a href="https://github.com/wangwenjie1314" target="_blank" class="icon fa fa-github"><span>Github</span></a>
                    <a href="https://coding.net/u/wangwenjie" target="_blank" class="fa fa-codepen" title="Coding"><span>Coding</span></a>
                </p>
            </div>
        </div>
        <div class="copyright">
            <ul class="menu">
                <li>&copy; Untitled. All rights reserved.</li>
                <li>Design: <a href="https://github.com/shinygang">shinygang</a></li>
            </ul>
        </div>
    </section>
    <div class="htmleaf-container">
        <div id='ss_menu'>
            <div>
                <a href="#footer" class="fa" title="联系我">联系</a>
            </div>
            <div>
                <a href="#skil" class="fa" title="技能">技能</a>
            </div>
            <div>
                <a href="#work" class="fa" title="覆历">覆历</a>
            </div>
            <div>
                <a href="#header" class="fa" title="关于我">关于</a>
            </div>
            <div>
                <a href="http://wangwenjie1314.github.io" class="fa" title="首页">首页</a>
            </div>
            <div class='menu'>
                <div class='share' id='ss_toggle' data-rot='180'>
                    <div class='circle'></div>
                    <div class='bar'></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
</body>
</html>