<!DOCTYPE HTML>
<html>
<head>
    <title>王文杰-个人网站-前端开发工程师｜伪全栈工程师</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="王文杰,wangwenjie,wenjie" />
    <meta name="keywords" content="王文杰,wangwenjie,wenjie" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="shortcut icon" href="../../statics/images/favicon.ico" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--引入-->
    <link rel="stylesheet" type="text/css" href="assets/css/menu.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <script>
    var _hmt = _hmt || [];
    (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?1cb7855a914b199e5bbfce083b9d1f5a";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>
    <section id="header" class="dark">
        <header>
            <h1>个人简介</h1>
            <p>前端开发工程师 / 伪全栈开发工程师</p>
            <p>王文杰 / 1990年09月 / 处女座 / 整理控</p>
            <p>爱好：跑步，知乎，旅游</p>
            <p>座右铭：努力runing，不被生活难住</p>
        </header>
    </section>
    <!-- First -->
    <section id="work" class="main">
        <header>
            <div class="container">
                <h2>职业技能简述</h2>
                <p>精通CSS、HTML、JavaScript进行Web标准开发，熟练运用AngularJs、VueJs进行项目开发，熟练运用jQuery进行插件开发，熟悉基于React框架开发。既能独立完成网站项目开发，即需求文档、产品效果图、前端开发、后端开发(Node.js、PHP)；也能带领前端团队敏捷开发，高效高质量完成项目的同时，让团队每位成员快速成长～</p>
            </div>
        </header>
        <div class="content dark style1 featured">
            <div class="container">
                <h2>个人覆历</h2>
                <h3>1、北京蜂睿信息科技有限公司 —— 技术副总监+前端组组长 （2016.4~至今）</h3>
                <b>技术栈：Pc：AngularJs（1.5.8）+ Bootstrap, H5（App-Webview）：VueJs（全家桶）+Webpack &nbsp; &nbsp; 开发环境：Mac</b>
                <p class="content-t">前期：管理30%、技术70%；中期：管理50%、技术50%；后期：管理60%、技术40%</p>
                <p class="content-t">管理工作：协助技术总监管理技术部，项目计划排期、跟进、更新迭代，设定团队级OKR和个人OKR，制定项目文档规范，代码Review，策划团队团建，组织内部分享和谈心。</p>
                <p class="content-t">随着年龄的增长，做技术还是做管理成了一道选择题，很荣幸从乐视出来后来到蜂睿信息创业，从技术慢转管理，从公司最初5个人发展到现在的38人（技术18人），管理是门学问，如何让团队保持活力凝聚力、高效沟通、方向明确、不断进步、员工归属感等等这些点逐渐成为我每天要思考的东西，管理至今有得亦有失，不断成长。</p>
                <p class="content-t">创业万般难，管理更不易，贵在坚持和不忘初心！延伸阅读：
                <a href="http://mp.millionshow.cn/article/info/54224a82d0344a79b1147d773" target="_blank">《如何才能做好技术团队管理》</a></p>
                <p class="content-t">技术工作：主要负责蜂睿信息-<a href="https://www.123eblog.com/" target="_blank"> 事事明 </a>PC、H5项目架构、前端技术可行性方案、前端优化难点突破和日常业务开发。</p>
                <p class="content-t">创业团队前期快速开发，带领小组开发<a href="https://ething.123eblog.com/" target="_blank"> 事事明Web端 </a>（期间由于无法满足业务使用AngularJs进行重构，技术沉淀成熟后又延伸到管理后台、运营平台端等）,中期主要负责难点突破：和APP内嵌H5开发（通信规则、webview强缓存、Vuejs工作表业务等）,后期主要带领团队进行项目优化（底层、组件、业务、代码）（成果比对）以及技术学习分享（深度、广度）</p>
                <h3>2、乐视云计算有限公司 —— 前端开发工程师 （2014.9~2016.4）</h3>
                <b>技术栈：Pc：bootstrap+jquery+requirejs+gulp, Webapp：frozenui(weui)+zepto+vue.js+webpack &nbsp; &nbsp;  开发环境：Mac</b>
                <p class="content-t">乐视云计算前端团队，主要负责乐视云计算Pc、Webapp以及架构工具等开发工作，期间开发浙江卫视中国蓝TV、中国好声音项目工作。</p>
                <p class="content-t">Pc：针对云计算项目进行重构，采用全局频道广播设计模式，基于requirejs模块化、bootstrap定制化ui组件库、接口rap定义及文档落地、前端自动化工具fedautotool技术方案，解决了前端开发业务逻辑复杂黏性强，各模块之间交互更清晰，有效地解耦合，同时降低了前后端沟通调试成本，最终让前后端开发微分离，加快迸发式业务需求开发，并且前后端工作也做到了标准规范化，开发成本大大降低，最后基于这种开发模式进行推广延伸。</p>
                <p class="content-t">WebApp：参与项目的架构工作，采用了最新的MVVM框架VueJs开发的单页面webapp，一切以数据驱动，双向绑定，组件化的思想进 行开发，在开发效率上有很明显的提升，然后整合Webpack打包压缩，整个页面非常轻量，整体体验性非常不错。</p>
                <p class="content-t">前端开发软件环境：node.js、gulp、sublimetext、git、ps、xmind、IntelliJ IDEA。</p>
                <p class="content-t">乐视期间，通过项目和学习，见证了前端从传统农耕时代进化到蒸汽工业时代，整个前端技术百家齐鸣，“野蛮”化进步，虽说前端是个大深坑，但倍感荣幸，因为热爱。</p>
                <h3>3、大公网科技有限公司 —— 前端开发工程师 （2013.10-2014.9）</h3>
                <b>技术栈：Jquery＋插件  开发环境：Windows</b>
                <p class="content-t">承“UI设计”的上，启“后台技术”的下，主要负责新闻专题的静态页面、交互效果实现、解决问题以及上下过渡的沟通交流，同时担任前端组组长，有效地带领前端小组完成日常开发工作，并且对组员进行指导学习。</p>
                <p class="content-t">在其期间，主要成就主导大公网2.0改版、两会专题以及员工前端技术培训工作。</p>
                <h3>4、中国网络保健院 —— Java工程师 （2012.4-2013.8）</h3>
                <b>技术栈：Java(Play Framework) + Mysql  &nbsp; &nbsp;  开发环境：Windows</b>
                <p class="no-indent">从业务需求产品原型图讨论到前端页面制作交互到后台技术实现整套流程（设计网页除外），小公司人少活多，前端后台都接触，加上项目经理愿意带我，得到了很快地成长。</p>
                <p class="no-indent">易随诊(医业网)：医生和患者快速问诊的网络平台，创新性医患就诊模式的网站，一直在摸索中前进。我从实习一直到离职，为了能更好的用户体验，网站先后改版三次，期间做页面码代码改bug，慢慢地把自己的能力提升上来了。在项目经理的指导下参与制作了网站前端后台规范等工作，再后来进行公司业务层开发和修改以及功能演示。为了能让用户更方便地使用我们的服务，开发了IOS、Android版移动网络保健院以及电视端网络盒子版保健院的产品。</p>
            </div>
        </div>
    </section>
    <!-- Second -->
    <section id="skil" class="main">
        <header>
            <div class="container">
                <h2>技能标签</h2>
                <span class="skil">Html4(5) + Css(3) + Javascript</span>
                <span class="skil">VueJs + Webpack + Zepto</span>
                <span class="skil">AngularJs + Fj + Bootstrap</span>
                <span class="skil">Jquery + Bootstrap + Gulp</span>
                <span class="skil">PHP + Mysql</span>
                <span class="skil">Node.js + MongoDB/Mysql + Jade</span>
                <span class="skil">小程序</span>
                <span class="skil">Three.js / KrPano</span>
                <span class="skil">Git</span>
            </div>
        </header>
        <div class="content dark style2">
            <div class="container">
                <h2>职业技能</h2>
                <div class="row">
                    <div class="12u 12u(narrow)">
                        <div class="row">
                            <div class="6u item">
                                <span class="image fit">
                                    <b class="title">HTML(5)+CSS(3):</b>
                                    <p>熟练html+css进行网页开发，尤其是语义化标签，已习惯性使用HTML5标签。能熟练运用CSS完成各种类型的网页布局，包括当前流行的响应式布局和流布局。常在实际项目中实践css3语法，倡导抛弃老旧的浏览器，推进新语法的发展。</p>
                                </span>
                            </div>
                            <div class="6u item">
                                <span class="image fit">
                                <b class="title">JavaScript:</b>
                                <p>熟悉JavaScript编程，对面向对象编程有丰富经验，可进行高效模块化开发和插件开发，并保证良好复用和维护性。对编写基于jQuery组件和类库有丰富经验，可熟练使用MVVM框架(如AngularJs、VueJs)进行复杂单页面应用开发。</p>
                                </span>
                            </div>
                            <div class="6u item">
                                <span class="image fit">
                                    <b class="title">Node.js:</b>
                                    <p>基于Nodejs+Mysql+Express+JWT实现纯后端API（2017小目标）</p>
                                    <p>基于Nodejs+MongoDB+Koa2+SSR实现服务端渲染（2018小目标）</p>
                                </span>
                            </div>
                            <div class="6u item">
                                <span class="image fit">
                                <b class="title">移动端开发:</b>
                                <p>有微信移动项目和微信营销专题制作开发经验，根据微信js-sdk实现微信授权、获取微信用户信息、微信支付、微信分享、微信图片上传等微信操作。熟练使用VueJs（全家桶）进行移动端单页面开发，以组件和数据驱动的方式进行页面切换和数据切换。<a href="http://mp.millionshow.cn/" target="_blank">图文进化论</a></p>
                                </span>
                            </div>
                            <div class="6u item">
                                <span class="image fit">
                                    <b class="title">小程序:</b>
                                    <p>有小程序开发经验，苦于没有好的点子，要不然就自己注册个公司弄个，前几天看到一个创意甚为惊奇：世界杯期间，通过小程序拍照球员，人脸识别球员基本资料信息，延伸赛事和周边。</p>
                                </span>
                            </div>
                            <div class="6u item">
                                <span class="image fit">
                                    <b class="title">数据库:</b>
                                    <p>熟悉使用MYSQL、MongoDB进行增删改查的操作，对数据的查询优化有一些经验。能熟练运用PHP/Node.js操作数据库。</p>
                                    <p>&nbsp;&nbsp;</p>
                                </span>
                            </div>
                            <div class="6u item">
                                <span class="image fit">
                                <b class="title">PHP:</b>
                                <p>熟练使用PHP（Thinkphp）开发中小型网站应用，从无到有完成婚恋主题网站（需求－原型-设计－前端－后端－上线）</p>
                                <p>整个前后端都走了一遍，实现自己2015年的一个目标，对产品、前端后端、服务器有了更深的认识。</p>
                                </span>
                            </div>
                            <div class="6u item">
                                <span class="image fit">
                                    <b class="title">服务器:</b>
                                    <p>熟练搭建服务器环境，配置Nginx，下一步学习使用Docker管理</p>
                                </span>
                            </div>
                            <div class="6u item">
                                <span class="image fit">
                                <b class="title">团队项目管理:</b>
                                <p>熟悉敏捷开发流程，熟悉版本进度控制、项目进度控制和项目周期排版。让每个人得到最大化的能力提升，让效益最大化，善于塑造一支有极强凝聚力的团队。</p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <div class="f-left">
                <img src="images/wenjie.jpg">
            </div>
            <div class="f-right">
                <p>
                    <a href="http://meizhaiqiniu.millionshow.cn/image/wechat/wenjie.jpg" target="_blank" class="icon fa fa-wechat"><span>Android_Jie</span></a>
                    <a href="https://coding.net/u/wangwenjie" target="_blank" class="fa fa-codepen" title="Coding"><span>Coding(主)</span></a>
                    <a href="https://zhuanlan.zhihu.com/wangwenjie" target="_blank" class="icon fa fa-book"><span>Blog</span></a>
                    <a href="https://github.com/wangwenjie1314" target="_blank" class="icon fa fa-github"><span>Github</span></a>
                </p>
            </div>
        </div>
        <div class="copyright">
            <ul class="menu">
                <li>&copy; Untitled. All rights reserved.</li>
                <li>Design: <a href="https://github.com/shinygang">shinygang</a></li>
            </ul>
        </div>
    </section>
    <div class="htmleaf-container">
        <div id='ss_menu'>
            <div>
                <a href="#footer" class="fa" title="联系我">联系</a>
            </div>
            <div>
                <a href="#skil" class="fa" title="技能">技能</a>
            </div>
            <div>
                <a href="#work" class="fa" title="覆历">覆历</a>
            </div>
            <div>
                <a href="#header" class="fa" title="关于我">关于</a>
            </div>
            <div>
                <a href="http://wangwenjie1314.github.io" class="fa" title="首页">首页</a>
            </div>
            <div class='menu'>
                <div class='share' id='ss_toggle' data-rot='180'>
                    <div class='circle'></div>
                    <div class='bar'></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
</body>
</html>