<!DOCTYPE html>
<html lang="zh-CN">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta content="width=320,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
  <title>关于我</title>
  <meta name="author" content="wangwenjie" />
  <link rel="shortcut icon" href="http://wangwenjie1314.github.io/statics/images/favicon.ico" />
  <link rel="stylesheet" href="http://wangwenjie1314.github.io/statics/css/blog-index.css" />
  <link rel="stylesheet" href="http://wangwenjie1314.github.io/statics/css/font-zui.css" />
  <style type="text/css">.index p{margin: 15px 0}.ds-thread{margin-top: 50px}</style>
 </head>
<body>
<body>
  <header class="header"> 
   <div class="navigation container_12"> 
    <div class="row"> 
     <section class="grid_2 logo"><a href="http://wangwenjie1314.github.io/">前端风景</a></section> 
     <div class="grid_8"> 
      <nav role="navigation"> 
       <ul role="main-navigation"> 
        <li><a href="http://wangwenjie1314.github.io/blog/" target="_blank">文章</a></li>
        <li><a href="http://wangwenjie1314.github.io/views/tool/index.htm" target="_blank"><i class="icon-stack"></i> 前端工具箱</a></li>
        <li><a href="http://wangwenjie1314.github.io/views/weblearn/index.html" target="_blank">前端知识</a></li>
        <li><a href="https://github.com/wangwenjie1314/webQd/blob/master/README.md" target="_blank">前端面试</a></li>
        <li><a href="http://wangwenjie1314.github.io/views/about/me.html" target="_blank">关于我</a></li>
       </ul>
      </nav> 
     </div> 
     <div class="social grid_2 share_link"> 
      <span><a href="http://www.renren.com/260146739" target="_blank"><i class="icon-renren" title="人人"></i></a>
      <a href="http://weibo.com/wangwenjie1314" target="_blank"><i class="icon-weibo" title="微博"></i></a></span>
     </div>
     <!--hide -->
     <div class="grid_5 dn"><a href="http://wangwenjie1314.github.io/">首页</a></div><div class="grid_5 dn"><a href="http://wangwenjie1314.github.io/blog/">文章列表</a></div>
     <!-- hide end-->
    </div>
   </div>
  </header>
  <div class="banner"></div> 
  <section class="main container_12"> 
   <div class="row"> 
    <div class="area-header"></div> 
    <div class="block-contents"> 
     <div class="bg-contents"></div> 
     <h1 class="title">王文杰</h1> 
     <div class="contents"> 
      <div class="index"> 
      <p>男、25、处女座</p>
      <p>热爱前端，热爱生活...</p>
      <p>我也要去摸星星，哪怕去的路上荆棘满地。</p>
      <p>王小波老师说，“人的一切痛苦，本质上都是对自己的无能的愤怒”。</p>
      <p>二十歲之前，要交對朋友，二十歲到三十歲，要跟對人，三十歲到四十歲，要做對事，四十歲到五十歲，要做對人，五十歲以後，則錢要放對地方。</p>
      <p>其实我小时候的梦想并不是要当什么科学家,我只是幻想自己是地主家的少爷,家有良田千顷,终日不学无术,没事领着一群狗奴才上街去 调戏一下良家少女 2333333333</p>
      <!-- 多说评论框 start -->
      <div class="ds-thread" data-thread-key="请将此处替换成文章在你的站点中的ID" data-title="请替换成文章的标题" data-url="请替换成文章的网址"></div>
      <!-- 多说评论框 end -->
      <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
      <script type="text/javascript">
      var duoshuoQuery = {short_name:"wangwenjie"};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
      </script>
      <!-- 多说公共JS代码 end -->
      </div> 
      <div class="archive-link"> 
       <!-- <i class="fa fa-share"></i> 
       <a href="/archive.html">Archives</a> -->
      </div> 
      <div class="clear"></div>
     </div>
    </div>
   </div> 
  </section>
  <footer class="footer" role="contentinfo"> 
   <div class="footer-content container_12"> 
    <div class="row"> 
     <div class="grid_6 left">
      <span>特别说明:本站所有资源仅供学习与参考,请勿用于商业用途。转载请注明来自https://github.com/wangwenjie1314</span>
     </div> 
     <div class="copyright grid_6 right"> 
      <span> Powered by welefen and <a target="_blank" href="https://github.com/wangwenjie1314">github</a> &copy; 2014 </span>
     </div>
    </div>
   </div> 
  </footer>
  <div class="dn"><script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F05147a4961fd5f5d3a31494134c7417b' type='text/javascript'%3E%3C/script%3E"));
</script></div>
 </body>
</html>