<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/index.css" rel="stylesheet" type="text/css"/>
<title>我的导航</title>
</head>
<body>
<!--head-->
<div class="head">
	<div class="comWidth clearfix">
    	<div class="head_l fl_dib">
        	<ul>
            <li><a href="#" class="i_setHome">设为主页</a></li>
            <li><span id="nows">当前日期加载中。。。</span></li>
            <li class="last"><span id="weather">当前天气加载中。。。</span></li>
            </ul>
        </div>
        <div class="head_r fr_dib">
        	<ul>
            <li><a href="#" target="_blank" class="">登录</a></li>
            <li><a href="#" target="_blank">注册</a></li>
            <li class="last"><a href="#" target="_blank">换肤</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- 内容区-->
<div class="content">
	<!-- logo search -->
	<div class="logo_con comWidth clearfix">
    	<div class="logo fl_dib"><a href="#"><img src="image/logo.jpg" /></a></div>
        <div class="search fl_dib">
        	<form id="search_form" action="" method="post">
        	<div class="search_tab">
            	<ul>
                <li class="on">网页</li><li>新闻</li><li>视频</li><li>图片</li><li>百科</li><li>音乐</li><li>地图</li><li>问答</li>
                </ul>
            </div>
            <div class="search_box">
            	<div class="s_b_l fl_dib"><input id="s_input" name="s_input" class="s_input" type="text" value=""/></div>
                <div class="s_b_r fr_dib"><input id="s_submit" name="s_submit" class="s_submit" type="submit" value="搜索"/></div>
            </div>
            </form>
        </div>
        <div class="email fr_dib">
        	<form id="email_form" action="" method="post">
        	<div class="email_t clearfix">
            	<div class="e_t_l fl_dib">
                <input id="e_count" name="e_count" class="e_count" type="text" value="" placeholder="邮箱账号"/>
                </div>
                <div class="e_t_r fr_dib">
                	<input id="e_count_type" name="e_count_type" type="hidden" value="" />
                	<div class="e_chose"><span>选择邮箱</span><em></em></div>
                    <div class="e_chose_list dn clearfix">
                    	<ul>
                        <li>@163.com</li>
                        <li>@126.com</li>
                        <li>@qq.com</li>
                        <li>@sina.com</li>
                        <li>@139.com</li>
                        <li>@hotmail.com</li>
                        <li>@alibaba.com</li>
                        <li>@souhu.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="email_b clearfix">
            	<div class="e_b_l fl_dib"><input id="e_pwd" name="e_pwd" class="e_pwd" type="password" value="" placeholder="邮箱密码"/></div>
                <div class="e_b_r fr_dib">
                	<input id="e_submit" name="e_submit" class="e_submit" onclick="javascript:return submitEmail();" type="button" value="登录"/>
                </div>
            </div>
            </form>
        </div>
    </div>
    <!-- logo search end-->
    <!-- daohang -->
    <div class="dh_con comWidth clearfix">
    	<!-- 左-->
    	<div class="dh_con_l fl_dib">
        	<!-- 名站导航-->
            <div class="site_box clearfix">
            	<div class="site_tabs">
                	<ul>
                    <li class="on">名站导航</li>
                    <li>我的导航</li>
                    </ul>
                </div>
                <!-- 名站导航内容区-->
                <div class="hao_con site_hao clearfix">
                	<ul>
                    <li><a href="#" target="_blank" class="red">腾讯</a></li>
                    <li><a href="#" target="_blank">百度</a></li>
                    <li><a href="#" target="_blank">新浪</a></li>
                    <li><a href="#" target="_blank" class="green">凤凰网</a></li>
                    <li><a href="#" target="_blank">网易</a></li>
                    <li><a href="#" target="_blank">搜狐</a></li>
                    <li><a href="#" target="_blank">人人网</a></li>
                    <li><a href="#" target="_blank" class="blue">腾讯</a></li>
                    <li><a href="#" target="_blank">百度</a></li>
                    <li><a href="#" target="_blank">新浪</a></li>
                    <li><a href="#" target="_blank" class="orange">凤凰网</a></li>
                    <li><a href="#" target="_blank">网易</a></li>
                    <li><a href="#" target="_blank">搜狐</a></li>
                    <li><a href="#" target="_blank">人人网</a></li>
                    <li><a href="#" target="_blank">腾讯</a></li>
                    <li><a href="#" target="_blank">百度</a></li>
                    <li><a href="#" target="_blank">新浪</a></li>
                    <li><a href="#" target="_blank">凤凰网</a></li>
                    <li><a href="#" target="_blank">网易</a></li>
                    <li><a href="#" target="_blank">搜狐</a></li>
                    <li><a href="#" target="_blank">人人网</a></li>
                    <li><a href="#" target="_blank">腾讯</a></li>
                    <li><a href="#" target="_blank">百度</a></li>
                    <li><a href="#" target="_blank">新浪</a></li>
                    <li><a href="#" target="_blank">凤凰网</a></li>
                    <li><a href="#" target="_blank">网易</a></li>
                    <li><a href="#" target="_blank">搜狐</a></li>
                    <li><a href="#" target="_blank">人人网</a></li>
                    </ul>
                </div>
                <!-- 我的导航内容区-->
                <div class="hao_con my_hao dn clearfix">
                	<li><a href="#" target="_blank">腾讯</a></li>
                    <li><a href="#" target="_blank">百度</a></li>
                    <li><a href="#" target="_blank">新浪</a></li>
                    <li><a href="#" target="_blank">凤凰网</a></li>
                    <li><a href="#" target="_blank">网易</a></li>
                    <li><a href="#" target="_blank">搜狐</a></li>
                    <li><a href="#" target="_blank">人人网</a></li>
                </div>
            </div>
            <!-- 名站导航end-->
            <!-- 分类导航-->
            <div class="type_box clearfix">
            	<!-- 娱乐·休闲-->
            	<div class="type_tle">娱乐·休闲</div>
                <div class="type_con clearfix">
                	<ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                </div>
                <!-- 社会·资讯-->
                <div class="type_tle">社会·资讯</div>
                <div class="type_con clearfix">
                	<ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                </div>
                <!-- 购物·团购-->
                <div class="type_tle">购物·团购</div>
                <div class="type_con clearfix">
                	<ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                </div>
                <!-- 时尚·交友-->
                <div class="type_tle">时尚·交友</div>
                <div class="type_con clearfix">
                	<ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                </div>
                <!-- 网游·数码-->
                <div class="type_tle">网游·数码</div>
                <div class="type_con clearfix">
                	<ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                </div>
                <!-- 生活·酷站-->
                <div class="type_tle">生活·酷站</div>
                <div class="type_con last clearfix">
                	<ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                    <ul>
                    <li class="tile"><a href="#" target="_blank">视频</a></li>
                    <li class="tcon">
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">优酷网</a>
                    <a href="#" target="_blank">腾讯视频</a>
                    </li>
                    <li class="tmore"><a href="#" target="_blank">更多</a></li>
                    </ul>
                </div>
            </div>
            <!-- 分类导航end-->
        </div>
        <!-- 右-->
    	<div class="dh_con_r fr_dib">
        	<!-- 新闻-->
            <div class="dh_box news_box clearfix">
            	<div class="dh_tle">新闻</div>
                <div class="dh_tabs clearfix">
                	<ul><li class="on">头条</li><li>八卦</li><li>社会</li><li>情感</li></ul>
                </div>
                <!-- 头条-->
                <div class="dh_cen clearfix">
                	<div class="dh_img"><a href="#" target="_blank"><img src="image/st_1.jpg" /></a></div>
                    <div class="dh_title"><em class="no1">1</em><a href="#" target="_blank">清1华研究交燃交燃生夫妻抱女儿毕业</a></div>
                    <div class="dh_list clearfix">
                    	<ul>
                        <li><em>2</em><a href="#" target="_blank">杭州公交燃烧系交燃交燃人为15人重伤</a></li>
                        <li><em>3</em><a href="#" target="_blank">默克尔访华或交交燃燃掌勺炒宫保鸡丁</a></li>
                        <li><em>4</em><a href="#" target="_blank">杭州公交燃烧交燃系人为15人重伤</a></li>
                        <li><em>5</em><a href="#" target="_blank">默克尔访交燃华或掌交燃勺炒宫保鸡丁</a></li>
                        <li><em>6</em><a href="#" target="_blank">杭州公交燃烧系交燃人为15人重伤</a></li>
                        </ul>
                    </div>
                </div>
                <!-- 八卦-->
                <div class="dh_cen dn clearfix">
                	<div class="dh_img"><a href="#" target="_blank"><img src="image/st_1.jpg" /></a></div>
                    <div class="dh_title"><em class="no1">1</em><a href="#" target="_blank">清2华研究生夫妻抱交燃交燃女儿毕业</a></div>
                    <div class="dh_list clearfix">
                    	<ul>
                        <li><em>2</em><a href="#" target="_blank">杭州公交燃烧系交燃人为15人重伤</a></li>
                        <li><em>3</em><a href="#" target="_blank">默克尔访华或掌交燃勺炒宫保鸡丁</a></li>
                        <li><em>4</em><a href="#" target="_blank">杭州公交燃烧系人为15人重伤</a></li>
                        <li><em>5</em><a href="#" target="_blank">默克尔访华或掌勺炒宫保鸡丁</a></li>
                        <li><em>6</em><a href="#" target="_blank">杭州公交燃烧系人为15人重伤</a></li>
                        </ul>
                    </div>
                </div>
                <!-- 社会-->
                <div class="dh_cen dn clearfix">
                	<div class="dh_img"><a href="#" target="_blank"><img src="image/st_1.jpg" /></a></div>
                    <div class="dh_title"><em class="no1">1</em><a href="#" target="_blank">清3华交燃研究生夫妻抱女儿毕业</a></div>
                    <div class="dh_list clearfix">
                    	<ul>
                        <li><em>2</em><a href="#" target="_blank">杭州公交燃交燃烧系人为15人重伤</a></li>
                        <li><em>3</em><a href="#" target="_blank">默克尔访华或掌勺炒宫保鸡丁</a></li>
                        <li><em>4</em><a href="#" target="_blank">杭州公交燃烧系人为15人重伤</a></li>
                        <li><em>5</em><a href="#" target="_blank">默克尔访华或掌勺炒宫保鸡丁</a></li>
                        <li><em>6</em><a href="#" target="_blank">杭州公交燃烧系人为15人重伤</a></li>
                        </ul>
                    </div>
                </div>
                <!-- 情感-->
                <div class="dh_cen dn clearfix">
                	<div class="dh_img"><a href="#" target="_blank"><img src="image/st_1.jpg" /></a></div>
                    <div class="dh_title"><em class="no1">1</em><a href="#" target="_blank">清4华交燃研究生夫妻抱女儿毕业</a></div>
                    <div class="dh_list clearfix">
                    	<ul>
                        <li><em>2</em><a href="#" target="_blank">杭州公交燃烧系人为15人重伤</a></li>
                        <li><em>3</em><a href="#" target="_blank">默克尔访交燃华或掌勺炒宫保鸡丁</a></li>
                        <li><em>4</em><a href="#" target="_blank">杭州公交燃交燃烧系人为15人重伤</a></li>
                        <li><em>5</em><a href="#" target="_blank">默克尔访华或掌勺炒宫保鸡丁</a></li>
                        <li><em>6</em><a href="#" target="_blank">杭州公交燃烧系人为15人重伤</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 视频-->
            <div class="dh_box videos_box clearfix">
            	<div class="dh_tle">视频</div>
                <div class="dh_tabs clearfix">
                	<ul><li class="on">热播</li><li>电视</li><li>电影</li><li>花边</li></ul>
                </div>
                <!-- 热播-->
                <div class="dh_cen clearfix">
                	<div class="dh_img"><a href="#" target="_blank"><img src="image/st_1.jpg" /></a></div>
                    <div class="dh_title"><em class="no1">1</em><a href="#" target="_blank">清1华研交燃究生夫妻抱女儿毕业</a></div>
                    <div class="dh_list clearfix">
                    	<ul>
                        <li><em>2</em><a href="#" target="_blank">杭州公交燃交燃交燃烧系人为15人重伤</a></li>
                        <li><em>3</em><a href="#" target="_blank">默克尔访华或掌勺炒宫保鸡丁</a></li>
                        <li><em>4</em><a href="#" target="_blank">杭州公交燃烧系人为15人重伤</a></li>
                        <li><em>5</em><a href="#" target="_blank">默克尔访华或掌交燃勺炒宫保鸡丁</a></li>
                        <li><em>6</em><a href="#" target="_blank">杭州公交燃烧系人为15人重伤</a></li>
                        </ul>
                    </div>
                </div>
                <!-- 电视-->
                <div class="dh_cen dn clearfix">
                	<div class="dh_img"><a href="#" target="_blank"><img src="image/st_1.jpg" /></a></div>
                    <div class="dh_title"><em class="no1">1</em><a href="#" target="_blank">清2华研交燃究生夫妻抱女儿毕业</a></div>
                    <div class="dh_list clearfix">
                    	<ul>
                        <li><em>2</em><a href="#" target="_blank">杭州公交燃烧系人为15人重伤</a></li>
                        <li><em>3</em><a href="#" target="_blank">默克尔访华交燃或掌勺炒宫保鸡丁</a></li>
                        <li><em>4</em><a href="#" target="_blank">杭州公交燃烧系人为15人重伤</a></li>
                        <li><em>5</em><a href="#" target="_blank">默克尔访华或掌勺交燃宫保鸡丁</a></li>
                        <li><em>6</em><a href="#" target="_blank">杭州公交燃烧系人为15人重伤</a></li>
                        </ul>
                    </div>
                </div>
                <!-- 电影-->
                <div class="dh_cen dn clearfix">
                	<div class="dh_img"><a href="#" target="_blank"><img src="image/st_1.jpg" /></a></div>
                    <div class="dh_title"><em class="no1">1</em><a href="#" target="_blank">清3华研究生夫妻抱女儿毕业</a></div>
                    <div class="dh_list clearfix">
                    	<ul>
                        <li><em>2</em><a href="#" target="_blank">杭州公交燃烧系交燃人为15人重伤</a></li>
                        <li><em>3</em><a href="#" target="_blank">默克尔访华或掌交燃勺炒宫保鸡丁</a></li>
                        <li><em>4</em><a href="#" target="_blank">杭州公交燃烧系人为15人重伤</a></li>
                        <li><em>5</em><a href="#" target="_blank">默克尔访华或掌勺炒宫保鸡丁</a></li>
                        <li><em>6</em><a href="#" target="_blank">杭州公交燃烧系人为15人重伤</a></li>
                        </ul>
                    </div>
                </div>
                <!-- 花边-->
                <div class="dh_cen dn clearfix">
                	<div class="dh_img"><a href="#" target="_blank"><img src="image/st_1.jpg" /></a></div>
                    <div class="dh_title"><em class="no1">1</em><a href="#" target="_blank">清4华研究生夫妻抱女儿毕业</a></div>
                    <div class="dh_list clearfix">
                    	<ul>
                        <li><em>2</em><a href="#" target="_blank">杭州公交燃交燃交燃烧系人为15人重伤</a></li>
                        <li><em>3</em><a href="#" target="_blank">默克尔访交燃交燃华或掌勺炒宫保鸡丁</a></li>
                        <li><em>4</em><a href="#" target="_blank">杭州公交交燃交燃燃烧系人为15人重伤</a></li>
                        <li><em>5</em><a href="#" target="_blank">默克尔访交燃华或掌勺炒宫保鸡丁</a></li>
                        <li><em>6</em><a href="#" target="_blank">杭州公交燃烧系人为15人重伤</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 彩票-->
            <div class="dh_box tickets_box clearfix">
            	<div class="dh_tle">彩票</div>
                <div class="dh_tabs clearfix">
                	<ul><li class="on">双色球</li><li>七星彩</li><li>大乐透</li><li>七乐彩</li></ul>
                </div>
                <!-- 双色球-->
                <div class="dh_cen clearfix">
                	<div class="caipiao">
                        <p>第202014076期(07-06)奖号：</p>
                        <div class="tk_qiu clearfix"><span>06</span><span>06</span><span>06</span><span>06</span><span>06</span><span class="sp-blue">10</span></div>
                        <ul class="clearfix">
                            <li>奖池奖金：<b class="c-red">17775</b>万元</li>
                            <li>投注截止：<b>14-07-06 19:45</b></li>
                            <li>开奖时间：<b>14-07-06</b></li>
                        </ul>
                        <p>
                            <a href="http://www.lecai.com/lottery/analysis/50/?agentId=8821" target="_blank">走势图</a>
                            <a href="http://www.lecai.com/lottery/analysis/50/?agentId=8821" target="_blank">预测</a>
                            <a href="http://www.lecai.com/lottery/ssq/?agentId=8821" target="_blank">投注</a>
                        </p>
                    </div>
                </div>
                <!-- 七星彩-->
                <div class="dh_cen dn clearfix">
                	<div class="caipiao">
                        <p>第202014076期(07-06)奖号：</p>
                        <div class="tk_qiu clearfix"><span>06</span><span>06</span><span>06</span><span>06</span><span>06</span><span class="sp-blue">10</span></div>
                        <ul class="clearfix">
                            <li>奖池奖金：<b class="c-red">17775</b>万元</li>
                            <li>投注截止：<b>14-07-06 19:45</b></li>
                            <li>开奖时间：<b>14-07-06</b></li>
                        </ul>
                        <p>
                            <a href="http://www.lecai.com/lottery/analysis/50/?agentId=8821" target="_blank">走势图</a>
                            <a href="http://www.lecai.com/lottery/analysis/50/?agentId=8821" target="_blank">预测</a>
                            <a href="http://www.lecai.com/lottery/ssq/?agentId=8821" target="_blank">投注</a>
                        </p>
                    </div>
                </div>
                <!-- 大乐透-->
                <div class="dh_cen dn clearfix">
                	<div class="caipiao">
                        <p>第202014076期(07-06)奖号：</p>
                        <div class="tk_qiu clearfix"><span>06</span><span>06</span><span>06</span><span>06</span><span>06</span><span class="sp-blue">10</span></div>
                        <ul class="clearfix">
                            <li>奖池奖金：<b class="c-red">17775</b>万元</li>
                            <li>投注截止：<b>14-07-06 19:45</b></li>
                            <li>开奖时间：<b>14-07-06</b></li>
                        </ul>
                        <p>
                            <a href="http://www.lecai.com/lottery/analysis/50/?agentId=8821" target="_blank">走势图</a>
                            <a href="http://www.lecai.com/lottery/analysis/50/?agentId=8821" target="_blank">预测</a>
                            <a href="http://www.lecai.com/lottery/ssq/?agentId=8821" target="_blank">投注</a>
                        </p>
                    </div>
                </div>
                <!-- 七乐彩-->
                <div class="dh_cen dn clearfix">
                	<div class="caipiao">
                        <p>第202014076期(07-06)奖号：</p>
                        <div class="tk_qiu clearfix"><span>06</span><span>06</span><span>06</span><span>06</span><span>06</span><span class="sp-blue">10</span></div>
                        <ul class="clearfix">
                            <li>奖池奖金：<b class="c-red">17775</b>万元</li>
                            <li>投注截止：<b>14-07-06 19:45</b></li>
                            <li>开奖时间：<b>14-07-06</b></li>
                        </ul>
                        <p>
                            <a href="http://www.lecai.com/lottery/analysis/50/?agentId=8821" target="_blank">走势图</a>
                            <a href="http://www.lecai.com/lottery/analysis/50/?agentId=8821" target="_blank">预测</a>
                            <a href="http://www.lecai.com/lottery/ssq/?agentId=8821" target="_blank">投注</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 列表-->
            <div class="dh_box nlists_box last clearfix">
            	<div class="dh_img_box"><a href="#" target="_blank"><img src="image/st_1.jpg" /></a></div>
                <div class="dh_list_box clearfix">
                	<ul>
                    <li><a href="#" target="_blank">[女人] 逗逼女人跑到药店人跑到药店去去买砒霜</a></li>
                    <li><a href="#" target="_blank">[女人] 逗逼女人跑到跑到药店去买砒霜</a></li>
                    <li><a href="#" target="_blank">[女人] 逗逼女人跑跑到药店去买砒霜</a></li>
                    <li><a href="#" target="_blank">[节操] 史上最没有节操的毕业照啊</a></li>
                    <li><a href="#" target="_blank">[女人] 逗逼女人跑到跑到药药店去买砒霜</a></li>
                    <li><a href="#" target="_blank">[女人] 逗逼女人跑跑到药到药店去买砒霜</a></li>
                    <li><a href="#" target="_blank">[女人] 逗逼女人跑跑到药到药店去买砒霜</a></li>
                    <li><a href="#" target="_blank">[节操] 史上最没跑到药有节操的毕业照啊</a></li>
                    <li><a href="#" target="_blank">[女人] 逗逼女人跑跑到药到药店去买砒霜</a></li>
                    <li><a href="#" target="_blank">[女人] 逗逼女人跑到药店去买砒霜</a></li>
                    <li><a href="#" target="_blank">[女人] 逗逼女人跑跑到药到药店去买砒霜</a></li>
                    <li><a href="#" target="_blank">[女人] 逗逼女人跑到药店去买砒霜</a></li>
                    <li><a href="#" target="_blank">[囧人] 约好打球跑到药走太急拿错拍子了</a></li>
                    <li><a href="#" target="_blank">[女人] 逗逼女人跑到药跑到药店去买砒霜</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- daohang end-->
    <!--实用工具 -->
    <div class="tool_con comWidth clearfix">
        <ul>
        <li class="clearfix">
            <div class="tool_tle"><a href="#" target="_blank">查询工具</a></div>
            <div class="tool_box clearfix">
                <dl>
                <dd><a href="#" target="_blank">周公解梦</a></dd>
                <dd><a href="#" target="_blank">星座运势</a></dd>
                <dd><a href="#" target="_blank">万年历</a></dd>
                <dd><a href="#" target="_blank">天气预报</a></dd>
                <dd><a href="#" target="_blank">特价机票</a></dd>
                <dd><a href="#" target="_blank">火车票</a></dd>
                <dd><a href="#" target="_blank">在线翻译</a></dd>
                <dd><a href="#" target="_blank">手机查询</a></dd>
                <dd><a href="#" target="_blank">身份证</a></dd>
                <dd><a href="#" target="_blank">快递查询</a></dd>
                <dd><a href="#" target="_blank">搜狗地图</a></dd>
                <dd><a href="#" target="_blank">特价酒店</a></dd>
                </dl>
            </div>
        </li>
        <li class="clearfix">
            <div class="tool_tle"><a href="#" target="_blank">常用软件</a></div>
            <div class="tool_box clearfix">
                <dl>
                <dd><a href="#" target="_blank">周公解梦</a></dd>
                <dd><a href="#" target="_blank">星座运势</a></dd>
                <dd><a href="#" target="_blank">万年历</a></dd>
                <dd><a href="#" target="_blank">天气预报</a></dd>
                <dd><a href="#" target="_blank">特价机票</a></dd>
                <dd><a href="#" target="_blank">火车票</a></dd>
                <dd><a href="#" target="_blank">在线翻译</a></dd>
                <dd><a href="#" target="_blank">手机查询</a></dd>
                <dd><a href="#" target="_blank">身份证</a></dd>
                <dd><a href="#" target="_blank">快递查询</a></dd>
                <dd><a href="#" target="_blank">搜狗地图</a></dd>
                <dd><a href="#" target="_blank">特价酒店</a></dd>
                </dl>
            </div>
        </li>
        <li class="clearfix">
            <div class="tool_tle"><a href="#" target="_blank">游戏专题</a></div>
            <div class="tool_box clearfix">
                <dl>
                <dd><a href="#" target="_blank">周公解梦</a></dd>
                <dd><a href="#" target="_blank">星座运势</a></dd>
                <dd><a href="#" target="_blank">万年历</a></dd>
                <dd><a href="#" target="_blank">天气预报</a></dd>
                <dd><a href="#" target="_blank">特价机票</a></dd>
                <dd><a href="#" target="_blank">火车票</a></dd>
                <dd><a href="#" target="_blank">在线翻译</a></dd>
                <dd><a href="#" target="_blank">手机查询</a></dd>
                <dd><a href="#" target="_blank">身份证</a></dd>
                <dd><a href="#" target="_blank">快递查询</a></dd>
                <dd><a href="#" target="_blank">搜狗地图</a></dd>
                <dd><a href="#" target="_blank">特价酒店</a></dd>
                </dl>
            </div>
        </li>
        </ul>
    </div>
    <!--生活服务 -->
    <div class="life_con comWidth clearfix">
    	<ul>
        <li class="clearfix">
        	<div class="life_tle">休闲娱乐</div>
            <div class="life_box clearfix">
                <dl>
                <dd><a href="#" target="_blank">电影</a></dd>
                <dd><a href="#" target="_blank">动漫</a></dd>
                <dd><a href="#" target="_blank">电视</a></dd>
                <dd><a href="#" target="_blank">美图</a></dd>
                <dd><a href="#" target="_blank">星座</a></dd>
                <dd><a href="#" target="_blank">笑话</a></dd>
                <dd><a href="#" target="_blank">视频</a></dd>
                <dd><a href="#" target="_blank">游戏</a></dd>
                <dd><a href="#" target="_blank">小说</a></dd>
                <dd><a href="#" target="_blank">NBA</a></dd>
                <dd><a href="#" target="_blank">体育</a></dd>
                <dd><a href="#" target="_blank">音乐</a></dd>
                <dd><a href="#" target="_blank">新闻</a></dd>
                <dd><a href="#" target="_blank">军事</a></dd>
                <dd><a href="#" target="_blank">明星</a></dd> 
                </dl>
            </div>
        </li>
        <li class="clearfix">
        	<div class="life_tle">生活服务</div>
            <div class="life_box clearfix">
                <dl>
                <dd><a href="#" target="_blank">电影</a></dd>
                <dd><a href="#" target="_blank">动漫</a></dd>
                <dd><a href="#" target="_blank">电视</a></dd>
                <dd><a href="#" target="_blank">美图</a></dd>
                <dd><a href="#" target="_blank">星座</a></dd>
                <dd><a href="#" target="_blank">笑话</a></dd>
                <dd><a href="#" target="_blank">视频</a></dd>
                <dd><a href="#" target="_blank">游戏</a></dd>
                <dd><a href="#" target="_blank">小说</a></dd>
                <dd><a href="#" target="_blank">NBA</a></dd>
                <dd><a href="#" target="_blank">体育</a></dd>
                <dd><a href="#" target="_blank">音乐</a></dd>
                <dd><a href="#" target="_blank">新闻</a></dd>
                <dd><a href="#" target="_blank">军事</a></dd>
                <dd><a href="#" target="_blank">明星</a></dd> 
                </dl>
            </div>
        </li>
        <li class="clearfix">
        	<div class="life_tle">购物科技</div>
            <div class="life_box clearfix">
                <dl>
                <dd><a href="#" target="_blank">电影</a></dd>
                <dd><a href="#" target="_blank">动漫</a></dd>
                <dd><a href="#" target="_blank">电视</a></dd>
                <dd><a href="#" target="_blank">美图</a></dd>
                <dd><a href="#" target="_blank">星座</a></dd>
                <dd><a href="#" target="_blank">笑话</a></dd>
                <dd><a href="#" target="_blank">视频</a></dd>
                <dd><a href="#" target="_blank">游戏</a></dd>
                <dd><a href="#" target="_blank">小说</a></dd>
                <dd><a href="#" target="_blank">NBA</a></dd>
                <dd><a href="#" target="_blank">体育</a></dd>
                <dd><a href="#" target="_blank">音乐</a></dd>
                <dd><a href="#" target="_blank">新闻</a></dd>
                <dd><a href="#" target="_blank">军事</a></dd>
                <dd><a href="#" target="_blank">明星</a></dd> 
                </dl>
            </div>
        </li>
        <li class="clearfix">
        	<div class="life_tle">其他类别</div>
            <div class="life_box clearfix">
                <dl>
                <dd><a href="#" target="_blank">电影</a></dd>
                <dd><a href="#" target="_blank">动漫</a></dd>
                <dd><a href="#" target="_blank">电视</a></dd>
                <dd><a href="#" target="_blank">美图</a></dd>
                <dd><a href="#" target="_blank">星座</a></dd>
                <dd><a href="#" target="_blank">笑话</a></dd>
                <dd><a href="#" target="_blank">视频</a></dd>
                <dd><a href="#" target="_blank">游戏</a></dd>
                <dd><a href="#" target="_blank">小说</a></dd>
                <dd><a href="#" target="_blank">NBA</a></dd>
                <dd><a href="#" target="_blank">体育</a></dd>
                <dd><a href="#" target="_blank">音乐</a></dd>
                <dd><a href="#" target="_blank">新闻</a></dd>
                <dd><a href="#" target="_blank">军事</a></dd>
                <dd><a href="#" target="_blank">明星</a></dd> 
                </dl>
            </div>
        </li>
        </ul>
    </div>
</div>
<!-- 返回顶部-->
<div id="tipback" class="btn_top" title="返回顶部" onclick="gotop();"><a class="icon_top" href="javascript:;"></a></div>
<!-- 返回顶部end-->
<!-- footer-->
<div class="foot">
	<div class="foot_con comWidth clearfix">
    	<div class="foot_link">
        	<a href="#" target="_blank">关于我们</a>
            <a href="#" target="_blank">About US</a>
            <a href="#" target="_blank">服务条款</a>
            <a href="#" target="_blank">加入我们</a>
            <a href="#" target="_blank">联系我们</a>
            <a href="#" style="color:red" target="_blank">用户反馈</a>
        </div>
        <div class="foot_txt">Copyright © 1998 - 2014 Us. All Rights Reserved. </div>
    </div>
</div>
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.js"></script>
<script type="text/javascript" src="http://static.takungpao.com/js/jquery.gotop.js"></script>
<script type="text/javascript">
$(function(){
	dateTimeHtml();//初始化日期
	dateWeatherHtml();//初始化天气
	s_change_tab();//搜索 tab切换
	click_email();//邮箱事件
	check_email();//邮箱选择类型
	site_tabs();//名站导航tabs
	news_tabs(".news_box .dh_tabs li",".news_box .dh_cen");//新闻tabs切换
	news_tabs(".videos_box .dh_tabs li",".videos_box .dh_cen");//视频tabs切换
	news_tabs(".tickets_box .dh_tabs li",".tickets_box .dh_cen");//彩票tabs切换
})
//当前日期
function dateTimeHtml(){
	var html = '',
	d = new Date;
	html = d.getFullYear() + '年' + (d.getMonth() + 1) + '月' + d.getDate() + '日 星期' + ['日', '一', '二', '三', '四', '五', '六'][d.getDay()]; 
	$('#nows').html(html);
}
//当前天气
function dateWeatherHtml(){
	var html="北京市 晴 空气质量中";
	$('#weather').html(html);
}
//搜索tab切换
function s_change_tab(){
	$(".search_tab li").each(function(){
		$(this).bind("mouseover",function(){
			$(this).addClass("active");
		}).bind("mouseout",function(){
			$(this).removeClass("active");
		}).bind("click",function(){
			$(".search_tab li").removeClass("on");
			$(this).addClass("on");
		});
	})
}
//点击邮箱类型
function click_email(){
	$(".e_chose").click(function(){
		$(".e_chose_list").toggle('normal');
	});
}
//选择邮箱类型
function check_email(){
	$(".e_chose_list li").each(function(){
		$(this).bind("click",function(){
			var html=$(this).html();
			$(".e_chose span").html(html);
			$("#e_count_type").val(html);
			$(".e_chose_list").hide();
		})
	})
}
//邮箱登录
function submitEmail(){
	var e_count=$("#e_count").val();
	var e_count_type=$("#e_count_type").val();
	var e_pwd=$("#e_pwd").val();
	if(e_count==""||e_count==null||e_count=="邮箱账号"){
		alert("提示：请您填写邮箱账号");
		$("#e_count").focus();
		return;
	}else{
		e_count=e_count.split("@")[0];//防止用户自己填写@xxx.com
	}
	if(e_count_type==""||e_count_type==null){
		alert("提示：请您选择邮箱类型");
		$(".e_chose").click();
		return;
	}
	if(e_pwd==""||e_pwd==null){
		alert("提示：请您填写邮箱密码");
		$("#e_pwd").focus();
		return;
	}
	e_count=e_count+""+e_count_type;
	return true;
}
//名站导航tabs
function site_tabs(){
	$(".site_tabs li").each(function(){
		$(this).bind("click",function(){
			$(".site_tabs li").removeClass("on");
			$(this).addClass("on");
			var ind=$(this).index();
			$(".hao_con").hide();
			$(".hao_con:eq("+ind+")").fadeIn();
		});
	})
}
//新闻tabs
function news_tabs(obj,con){
	$(obj).each(function(){
		$(this).bind("click",function(){
			$(obj).removeClass("on");
			$(this).addClass("on");
			var ind=$(this).index();
			$(con).hide();
			$(con+":eq("+ind+")").fadeIn();
		});
	})
}
</script>
</body>
</html>