<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>欧洲旅游攻略,欧洲自助游自由行-欧洲客旅游网</title>
<meta name="keywords" content="欧洲自由行，欧洲自助游，欧洲旅游论坛，欧洲旅游攻略" />
<meta name="description" content=" 欧洲客旅游网 欧洲自由行，欧洲自助游，欧洲旅游论他，欧洲旅游攻略" />
<!--<link rel="shortcut icon" href="http://www.takungpao.com/favicon.ico" />-->
<link type="text/css" href="css/headFoot.css?t=140406" rel="stylesheet" />
<link type="text/css" href="css/index.css?t=140406" rel="stylesheet" />
<base target=_blank>
</head>
<body>
<!-- 顶部导航-->
<div class="pubTopNav">
  <div class="hd">
    <div class="nav_l fl_dib">
      <ul>             
        <li><a href="#">欧洲酒店推荐</a></li>
        <li><a href="#">欧洲酒店预订</a></li>
		<li><a href="#">申根保险推荐</a></li>
        <li><a href="#">欧洲租车</a></li>
      </ul>
    </div>
    <div class="nav_r fr_dib">
      <ul>
        <li><a href="#">登录</a></li>
        <li>|</li>
        <li><a href="#">注册</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- 顶部导航end-->
<!-- 内容区-->
<div class="pubContent clearfix">
	<!-- banner-->
    <div class="banner_box b_box">
    	<a href="#"><img src="images/logo.jpg" class="logo"/></a>
        <img src="images/logo_txt.jpg" class="logo_txt"/>
        <a href="#"><img src="images/icon_wd.png" class="icon_ask"/></a>
    </div>
	<!-- banner end-->
    <!-- nav-->
    <div class="nav_box b_box clearfix">
        <div class="nav_l fl_dib">
          <ul>             
            <li><a href="#">首页</a></li>
            <li><a href="#">申请签证</a>
                <dl>
                    <dd><a href="#">欧洲玩什么？</a></dd>
                    <dd><a href="#">欧铁</a></dd>
                    <dd><a href="#">廉航</a></dd>
                    <dd><a href="#">租车</a></dd>
                    <dd><a href="#">机票</a></dd>
                    <dd><a href="#">日落查询</a></dd>
                    <dd><a href="#">天气查询</a></dd>
                </dl>
            </li>
            <li><a href="#">路线推荐</a>
            	<dl>
                    <dd><a href="#">欧洲玩什么2？</a></dd>
                    <dd><a href="#">欧铁</a></dd>
                    <dd><a href="#">廉航</a></dd>
                    <dd><a href="#">租车</a></dd>
                    <dd><a href="#">日落查询</a></dd>
                    <dd><a href="#">天气查询</a></dd>
                </dl>
            </li>
            <li><a href="#">交通攻略</a>
            	<dl>
                    <dd><a href="#">欧洲玩什3么？</a></dd>
                    <dd><a href="#">欧铁</a></dd>
                    <dd><a href="#">租车</a></dd>
                    <dd><a href="#">机票</a></dd>
                    <dd><a href="#">日落查询</a></dd>
                    <dd><a href="#">天气查询</a></dd>
                </dl>
            </li>
            <li><a href="#">住宿推荐</a>
            	<dl>
                    <dd><a href="#">欧洲玩4什么？</a></dd>
                    <dd><a href="#">欧铁</a></dd>
                    <dd><a href="#">廉航</a></dd>
                    <dd><a href="#">租车</a></dd>
                    <dd><a href="#">机票</a></dd>
                    <dd><a href="#">天气查询</a></dd>
                </dl>
            </li>
          </ul>
        </div>
        <div class="nav_r fr_dib">
          <ul>
            <li><a href="#">法国游</a></li>
            <li><a href="#">意大利游</a></li>
            <li><a href="#">瑞士游</a></li>
            <li><a href="#">希腊游</a></li>
            <li><a href="#">欧洲综合版</a></li>
          </ul>
        </div>
    </div>
	<!-- nav end-->
    <!-- nav hidden-->
    <div class="nav_box_hide"></div>
	<!-- nav hidden end-->
    <!-- 攻略以及酒店搜索-->
    <div class="gl_box b_box clearfix">
    	<div class="gl_box_1 gl_box_ty fl_dib">
        	<div class="gl_box_t t1">申根签证全攻略</div>
            <div class="gl_box_con">
                <div class="gl_box_k">
                <ul>
                <li><a href="#">法国签证</a></li>
                <li><a href="#">希腊签证</a></li>
                <li><a href="#">意大利签证</a></li>
                <li><a href="#">瑞士签证</a></li>
                <li><a href="#">德国签证</a></li>
                <li><a href="#">西班牙签证</a></li>
                </ul>
                </div>
                <div class="gl_box_sg">
                <h1>申根通用： </h1>
                <ul>
                <li><a href="#">酒店预订单准备</a></li>
                <li><a href="#">保险准备</a></li>
                <li><a href="#">签证材料全模板</a></li>
                <li><a href="#">拒签如何处理</a></li>
                </ul>
                </div>
            </div>
            <div class="gl_box_ask l_0"><a href="#">提问签证问题</a></div>
        </div>
        <div class="gl_box_2 gl_box_ty fl_dib">
        	<div class="gl_box_t t2">住宿全推荐</div>
            <div class="gl_box_con">
            	<div class="zs_tj clearfix">
                    <div class="zs_tj_c fl_dib">
                        <h1>法国</h1>
                        <ul>  
                        <li><a href="#">巴黎住宿</a></li>
                        <li><a href="#">阿维尼翁住宿</a></li>
                        <li><a href="#">尼斯住宿</a></li>
                        </ul>
                    </div>
                    <div class="zs_tj_c fr_dib">
                        <h1>希腊</h1>
                        <ul>   
                        <li><a href="#">雅典住宿</a></li>
                        <li><a href="#">圣岛住宿</a></li>
                        </ul>
                    </div>
                </div>
                <div class="zs_tj mt_5 clearfix">
                    <div class="zs_tj_c fl_dib">
                        <h1>意大利</h1>
                        <ul>
                        <li><a href="#">罗马住宿</a></li>
                        <li><a href="#">威尼斯住宿</a></li>
                        <li><a href="#">米兰住宿</a></li>
                        <li><a href="#">佛罗伦萨住宿</a></li>
                        <li><a href="#">五渔村住宿</a></li>
                        </ul>
                    </div>
                    <div class="zs_tj_c fr_dib">
                        <h1>瑞士</h1>
                        <ul>
                        <li><a href="#">因特拉肯住宿</a></li>
                        <li><a href="#">卢塞恩住宿</a></li>
                        <li><a href="#">采尔马特住宿</a></li>
                        <li><a href="#">日内瓦住宿</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="gl_box_ask"><a href="#">提问签证问题</a></div>
        </div>
         <div class="gl_box_3 gl_box_ty fl_dib">
        	<div class="gl_box_t t3">行程路线推荐</div>
            <div class="gl_box_con">
                <ul>             
                <li><a href="#">法国7日游</a></li>
                <li><a href="#">意大利7日游</a></li>
                <li><a href="#">瑞士7日游</a></li>
                <li><a href="#">希腊7日游</a></li>
                <li><a href="#">法意15日游</a></li>
                <li><a href="#">法瑞15日游</a></li>
                <li><a href="#">意瑞15日游</a></li>
                </ul>
            </div>
            <div class="gl_box_ask"><a href="#">提问签证问题</a></div>
        </div>
         <div class="gl_box_4 gl_box_ty fl_dib">
        	<div class="gl_box_t t4">欧洲交通攻略</div>
            <div class="gl_box_con">
            	<ul>
                <li><a href="#">机票如何选择</a></li>
                <li><a href="#">廉航攻略</a></li>
                <li><a href="#">欧洲夜火车攻略</a></li>
                <li><a href="#">瑞铁攻略</a></li>
                <li><a href="#">法铁攻略</a></li>
                <li><a href="#">意大利铁路攻略</a></li>
                <li><a href="#">希腊游船攻略</a></li>
                </ul>
            </div>
            <div class="gl_box_ask"><a href="#">提问签证问题</a></div>
        </div>
        <div class="jd_box fr_dib">
        	<div class="jd_box_t">搜索酒店</div>
            <form action="" name="fom" method="post">
            <div class="jd_box_c clearfix">
            <div class="jd_box_c_l fl_dib">目的地</div>
            <div class="jd_box_c_r r_bg fr_dib"><input type="text" name="site" id="site" placeholder="城市,区域,国家,地标,酒店" class="input_site"/><span class="i_search"></span></div>
            </div>
            <div class="jd_box_c clearfix">
            <div class="jd_box_c_l fl_dib">日&nbsp;&nbsp;期</div>
            <div class="jd_box_c_r fr_dib">
            	<div class="jd_box_c_r_c r_bg"><font>入住</font><input type="text" name="date_in" id="date_in" class="input_date" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" autocomplete="off" /><span class="i_date"></span></div>
                <div class="jd_box_c_r_c r_bg mt_10"><font>离店</font><input type="text" name="date_out" id="date_out" class="input_date" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" autocomplete="off" /><span class="i_date"></span></div>
            </div>   
            </div>
            <div class="jd_box_s">
            	<input type="checkbox" name="isSure" id="isSure" class="input_checkbox"/><span>我还没有确定具体的日期</span>
                <input type="button" class="search_btn" onclick="javascript:return submitSearch();" onmouseover="this.className='search_btn_on'" onmouseout="this.className='search_btn'" value="查询"/>
            </div>
            </form>
            <!-- 广告-->
            <div class="ad_box">
            	<div class="ad_box_t">酒店预订网推荐</div>
                <a href="http://www.booking.com/index.html?aid=350940"><img src="http://ouzhouke.com/1.jpg"/></a>
                <a href="http://hotels.ouzhouke.com/"><img src="http://ouzhouke.com/3.jpg"/></a>
            </div>
            <!-- 广告end-->
        </div>
    </div>
    <!-- 攻略以及酒店搜索end-->
    <!-- 必去精华四国-->
    <div class="jh_box b_box clearfix">
    	<div class="jh_box_tle box_tle">欧洲必去精华四国</div>
        <div class="jh_box_t"><h1 class="t_1"></h1></div>
        <div class="jh_box_con clearfix">
        	<div class="jh_box_con_l fl_dib">
            	<ul>
                <li><a href="#">法国玩什么</a><span></span></li>
                <li><a href="#">法国旅游路线规划</a><span></span></li>
                <li><a href="#">法铁购票</a><span></span></li>
                <li><a href="#">到达和离开法国</a><span></span></li>
                </ul>
            </div>
        	<div class="jh_box_con_r fr_dib">
            	<ul>
                <li>
                <div class="jh_img_box clearfix">
                	<a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
                    <a href="#" class="jh_teach_link">教你游法国巴黎</a>
                    <div class="jh_a_box">
                    <a href="#">巴黎玩什么</a><span>|</span><a href="#">巴黎景点</a><span>|</span><a href="#">巴黎交通</a><span>|</span><a href="#">到达和离开巴黎</a><span>|</span><a href="#">巴黎一日游攻略</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a>
                    </div>
                </div>
                </li>
                <li>
                <div class="jh_img_box">
                	<a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
                    <a href="#" class="jh_teach_link">教你游法国巴黎</a>
                    <div class="jh_a_box">
                    <a href="#">巴黎玩什么</a><span>|</span><a href="#">巴黎景点</a><span>|</span><a href="#">巴黎交通</a><span>|</span><a href="#">到达和离开巴黎</a><span>|</span><a href="#">巴黎一日游攻略</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a>
                    </div>
                </div>
                </li>
                <li>
                <div class="jh_img_box">
                	<a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
                    <a href="#" class="jh_teach_link">教你游法国巴黎</a>
                    <div class="jh_a_box">
                    <a href="#">巴黎玩什么</a><span>|</span><a href="#">巴黎景点</a><span>|</span><a href="#">巴黎交通</a><span>|</span><a href="#">到达和离开巴黎</a><span>|</span><a href="#">巴黎一日游攻略</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a>
                    </div>
                </div>
                </li>
                </ul>
            </div>
        </div>
        <div class="jh_box_t"><h1 class="t_2"></h1></div>
        <div class="jh_box_con clearfix">
        	<div class="jh_box_con_l fl_dib">
            	<ul>
                <li><a href="#">法国玩什么</a><span></span></li>
                <li><a href="#">法国旅游路线规划</a><span></span></li>
                <li><a href="#">法铁购票</a><span></span></li>
                <li><a href="#">到达和离开法国</a><span></span></li>
                </ul>
            </div>
        	<div class="jh_box_con_r fr_dib">
            	<ul>
                <li>
                <div class="jh_img_box">
                	<a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
                    <a href="#" class="jh_teach_link">教你游法国巴黎</a>
                    <div class="jh_a_box">
                    <a href="#">巴黎玩什么</a><span>|</span><a href="#">巴黎景点</a><span>|</span><a href="#">巴黎交通</a><span>|</span><a href="#">到达和离开巴黎</a><span>|</span><a href="#">巴黎一日游攻略</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a>
                    </div>
                </div>
                </li>
                <li>
                <div class="jh_img_box">
                	<a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
                    <a href="#" class="jh_teach_link">教你游法国巴黎</a>
                    <div class="jh_a_box">
                    <a href="#">巴黎玩什么</a><span>|</span><a href="#">巴黎景点</a><span>|</span><a href="#">巴黎交通</a><span>|</span><a href="#">到达和离开巴黎</a><span>|</span><a href="#">巴黎一日游攻略</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a>
                    </div>
                </div>
                </li>
                <li>
                <div class="jh_img_box">
                	<a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
                    <a href="#" class="jh_teach_link">教你游法国巴黎</a>
                    <div class="jh_a_box">
                    <a href="#">巴黎玩什么</a><span>|</span><a href="#">巴黎景点</a><span>|</span><a href="#">巴黎交通</a><span>|</span><a href="#">到达和离开巴黎</a><span>|</span><a href="#">巴黎一日游攻略</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a>
                    </div>
                </div>
                </li>
                </ul>
            </div>
        </div>
        <div class="jh_box_t"><h1 class="t_3"></h1></div>
        <div class="jh_box_con clearfix">
        	<div class="jh_box_con_l fl_dib">
            	<ul>
                <li><a href="#">法国玩什么</a><span></span></li>
                <li><a href="#">法国旅游路线规划</a><span></span></li>
                <li><a href="#">法铁购票</a><span></span></li>
                <li><a href="#">到达和离开法国</a><span></span></li>
                </ul>
            </div>
        	<div class="jh_box_con_r fr_dib">
            	<ul>
                <li>
                <div class="jh_img_box">
                	<a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
                    <a href="#" class="jh_teach_link">教你游法国巴黎</a>
                    <div class="jh_a_box">
                    <a href="#">巴黎玩什么</a><span>|</span><a href="#">巴黎景点</a><span>|</span><a href="#">巴黎交通</a><span>|</span><a href="#">到达和离开巴黎</a><span>|</span><a href="#">巴黎一日游攻略</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a>
                    </div>
                </div>
                </li>
                <li>
                <div class="jh_img_box">
                	<a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
                    <a href="#" class="jh_teach_link">教你游法国巴黎</a>
                    <div class="jh_a_box">
                    <a href="#">巴黎玩什么</a><span>|</span><a href="#">巴黎景点</a><span>|</span><a href="#">巴黎交通</a><span>|</span><a href="#">到达和离开巴黎</a><span>|</span><a href="#">巴黎一日游攻略</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a>
                    </div>
                </div>
                </li>
                <li>
                <div class="jh_img_box">
                	<a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
                    <a href="#" class="jh_teach_link">教你游法国巴黎</a>
                    <div class="jh_a_box">
                    <a href="#">巴黎玩什么</a><span>|</span><a href="#">巴黎景点</a><span>|</span><a href="#">巴黎交通</a><span>|</span><a href="#">到达和离开巴黎</a><span>|</span><a href="#">巴黎一日游攻略</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a>
                    </div>
                </div>
                </li>
                </ul>
            </div>
        </div>
        <div class="jh_box_t"><h1 class="t_4"></h1></div>
        <div class="jh_box_con clearfix">
        	<div class="jh_box_con_l fl_dib">
            	<ul>
                <li><a href="#">法国玩什么</a><span></span></li>
                <li><a href="#">法国旅游路线规划</a><span></span></li>
                <li><a href="#">法铁购票</a><span></span></li>
                <li><a href="#">到达和离开法国</a><span></span></li>
                </ul>
            </div>
        	<div class="jh_box_con_r fr_dib">
            	<ul>
                <li>
                <div class="jh_img_box">
                	<a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
                    <a href="#" class="jh_teach_link">教你游法国巴黎</a>
                    <div class="jh_a_box">
                    <a href="#">巴黎玩什么</a><span>|</span><a href="#">巴黎景点</a><span>|</span><a href="#">巴黎交通</a><span>|</span><a href="#">到达和离开巴黎</a><span>|</span><a href="#">巴黎一日游攻略</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a>
                    </div>
                </div>
                </li>
                <li>
                <div class="jh_img_box">
                	<a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
                    <a href="#" class="jh_teach_link">教你游法国巴黎</a>
                    <div class="jh_a_box">
                    <a href="#">巴黎玩什么</a><span>|</span><a href="#">巴黎景点</a><span>|</span><a href="#">巴黎交通</a><span>|</span><a href="#">到达和离开巴黎</a><span>|</span><a href="#">巴黎一日游攻略</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a>
                    </div>
                </div>
                </li>
                <li>
                <div class="jh_img_box">
                	<a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
                    <a href="#" class="jh_teach_link">教你游法国巴黎</a>
                    <div class="jh_a_box">
                    <a href="#">巴黎玩什么</a><span>|</span><a href="#">巴黎景点</a><span>|</span><a href="#">巴黎交通</a><span>|</span><a href="#">到达和离开巴黎</a><span>|</span><a href="#">巴黎一日游攻略</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a><span>|</span><a href="#">巴黎三日游攻略</a><span>|</span><a href="#">巴黎住宿推荐</a>
                    </div>
                </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 必去精华四国end-->
    <!-- 常去热门城市-->
    <div class="rm_box b_box clearfix">
    	<div class="rm_box_tle box_tle">欧洲常去四城市</div>
        <div class="rm_box_con">
        <ul>
        <li>
        <div class="rm_img_box">
            <a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
            <a href="#" class="jh_teach_link">教你怎么玩阿姆斯特丹</a>
            <div class="rm_a_box">
            	<dl>
                <dd><a href="#">一日游攻略 | 三日游攻略 | 景点</a></dd>
                <dd><a href="#">来阿姆斯特丹吃什么？</a></dd>
                <dd><a href="#">阿姆斯玩什么？</a></dd>
                <dd><a href="#">姆斯特丹住宿推荐</a></dd>
                <dd><a href="#">在阿姆斯特丹买什么</a></dd>
                <dd><a href="#">阿姆斯特丹交通 | 如何到达和离开</a></dd>
                </dl>
            </div>
        </div>
        </li>
        <li>
        <div class="rm_img_box">
            <a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
            <a href="#" class="jh_teach_link">教你怎么玩阿姆斯特丹</a>
            <div class="rm_a_box">
            	<dl>
                <dd><a href="#">一日游攻略 | 三日游攻略 | 景点</a></dd>
                <dd><a href="#">来阿姆斯特丹吃什么？</a></dd>
                <dd><a href="#">阿姆斯玩什么？</a></dd>
                <dd><a href="#">姆斯特丹住宿推荐</a></dd>
                <dd><a href="#">在阿姆斯特丹买什么</a></dd>
                <dd><a href="#">阿姆斯特丹交通 | 如何到达和离开</a></dd>
                </dl>
            </div>
        </div>
        </li>
        <li>
        <div class="rm_img_box">
            <a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
            <a href="#" class="jh_teach_link">教你怎么玩阿姆斯特丹</a>
            <div class="rm_a_box">
            	<dl>
                <dd><a href="#">一日游攻略 | 三日游攻略 | 景点</a></dd>
                <dd><a href="#">来阿姆斯特丹吃什么？</a></dd>
                <dd><a href="#">阿姆斯玩什么？</a></dd>
                <dd><a href="#">姆斯特丹住宿推荐</a></dd>
                <dd><a href="#">在阿姆斯特丹买什么</a></dd>
                <dd><a href="#">阿姆斯特丹交通 | 如何到达和离开</a></dd>
                </dl>
            </div>
        </div>
        </li>
        <li>
        <div class="rm_img_box">
            <a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
            <a href="#" class="jh_teach_link">教你怎么玩阿姆斯特丹</a>
            <div class="rm_a_box">
            	<dl>
                <dd><a href="#">一日游攻略 | 三日游攻略 | 景点</a></dd>
                <dd><a href="#">来阿姆斯特丹吃什么？</a></dd>
                <dd><a href="#">阿姆斯玩什么？</a></dd>
                <dd><a href="#">姆斯特丹住宿推荐</a></dd>
                <dd><a href="#">在阿姆斯特丹买什么</a></dd>
                <dd><a href="#">阿姆斯特丹交通 | 如何到达和离开</a></dd>
                </dl>
            </div>
        </div>
        </li>
        </ul>
        </div>
    </div>
    <!-- 常去热门城市end-->
    <!-- 游记-->
    <div class="yj_box b_box clearfix">
    	<div class="yj_box_l fl_dib">
        	<div class="yj_box_tle box_tle">游记</div>
        	<div class="yj_box_con">
            	<ul>
                <li>
                <div class="yj_con clearfix">
                	<div class="yj_con_l fl_dib">
                    <a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
                    </div>
                	<div class="yj_con_r fr_dib">
                    <div class="yj_con_tle"><a href="#">北京退休夫妻欧洲12国63天自驾游经历记录</a></div>
                    <div class="yj_con_info"><span>文/<a href="#">高手顶级</a></span><span>2013-1-25</span></div>
                    <div class="yj_con_txt">经过63天的旅途，7月31日早8点多（飞机晚点）到达首都机场第三航站楼出发前看了许多网友们的攻略游记，对我们的成行帮助很大，现在也把我们这次欧洲自驾游的经历发表出来... <a href="#">阅读全文>></a></div>
                    </div>
                </div>
                </li>
                <li>
                <div class="yj_con clearfix">
                	<div class="yj_con_l fl_dib">
                    <a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
                    </div>
                	<div class="yj_con_r fr_dib">
                    <div class="yj_con_tle"><a href="#">北京退休夫妻欧洲12国63天自驾游经历记录</a></div>
                    <div class="yj_con_info"><span>文/<a href="#">高手顶级</a></span><span>2013-1-25</span></div>
                    <div class="yj_con_txt">经过63天的旅途，7月31日早8点多（飞机晚点）到达首都机场第三航站楼出发前看了许多网友们的攻略游记，对我们的成行帮助很大，现在也把我们这次欧洲自驾游的经历发表出来... <a href="#">阅读全文>></a></div>
                    </div>
                </div>
                </li>
                <li>
                <div class="yj_con clearfix">
                	<div class="yj_con_l fl_dib">
                    <a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
                    </div>
                	<div class="yj_con_r fr_dib">
                    <div class="yj_con_tle"><a href="#">北京退休夫妻欧洲12国63天自驾游经历记录</a></div>
                    <div class="yj_con_info"><span>文/<a href="#">高手顶级</a></span><span>2013-1-25</span></div>
                    <div class="yj_con_txt">经过63天的旅途，7月31日早8点多（飞机晚点）到达首都机场第三航站楼出发前看了许多网友们的攻略游记，对我们的成行帮助很大，现在也把我们这次欧洲自驾游的经历发表出来... <a href="#">阅读全文>></a></div>
                    </div>
                </div>
                </li>
                <li>
                <div class="yj_con clearfix">
                	<div class="yj_con_l fl_dib">
                    <a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
                    </div>
                	<div class="yj_con_r fr_dib">
                    <div class="yj_con_tle"><a href="#">北京退休夫妻欧洲12国63天自驾游经历记录</a></div>
                    <div class="yj_con_info"><span>文/<a href="#">高手顶级</a></span><span>2013-1-25</span></div>
                    <div class="yj_con_txt">经过63天的旅途，7月31日早8点多（飞机晚点）到达首都机场第三航站楼出发前看了许多网友们的攻略游记，对我们的成行帮助很大，现在也把我们这次欧洲自驾游的经历发表出来... <a href="#">阅读全文>></a></div>
                    </div>
                </div>
                </li>
                <li>
                <div class="yj_con clearfix">
                	<div class="yj_con_l fl_dib">
                    <a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
                    </div>
                	<div class="yj_con_r fr_dib">
                    <div class="yj_con_tle"><a href="#">北京退休夫妻欧洲12国63天自驾游经历记录</a></div>
                    <div class="yj_con_info"><span>文/<a href="#">高手顶级</a></span><span>2013-1-25</span></div>
                    <div class="yj_con_txt">经过63天的旅途，7月31日早8点多（飞机晚点）到达首都机场第三航站楼出发前看了许多网友们的攻略游记，对我们的成行帮助很大，现在也把我们这次欧洲自驾游的经历发表出来... <a href="#">阅读全文>></a></div>
                    </div>
                </div>
                </li>
                <li>
                <div class="yj_con clearfix">
                	<div class="yj_con_l fl_dib">
                    <a href="#"><img src="http://ouzhouke.com/images/index/1308212012089f67268f91bc5c.jpg.thumb.jpg"/></a>
                    </div>
                	<div class="yj_con_r fr_dib">
                    <div class="yj_con_tle"><a href="#">北京退休夫妻欧洲12国63天自驾游经历记录</a></div>
                    <div class="yj_con_info"><span>文/<a href="#">高手顶级</a></span><span>2013-1-25</span></div>
                    <div class="yj_con_txt">经过63天的旅途，7月31日早8点多（飞机晚点）到达首都机场第三航站楼出发前看了许多网友们的攻略游记，对我们的成行帮助很大，现在也把我们这次欧洲自驾游的经历发表出来... <a href="#">阅读全文>></a></div>
                    </div>
                </div>
                </li>
                </ul>
                <a href="#" class="yj_show_more">查看更多 》</a>
        	</div>
        </div>
        <div class="yj_box_r fr_dib">
        	<div class="yj_box_r_tle">
            	台湾问答<a href="#" class="more_ans">更多问题 》</a>
        	</div>
            <div class="yj_box_r_tle_info">提出您的问题，将有专人为您解答！</div>
            <div class="yj_box_r_con">
            <ul>
            <li>
            <div class="yj_tw_tle"><a href="#">孕期去台湾自由行，请问入有限制吗？</a></div>
            <div class="yj_tw_con"><span>回答数：<font class="c_h">1</font></span><span>状态值：<font class="c_g">解决中</font></span></div>
            <div class="yj_tw_con"><span>提问者：<font class="c_l">笑笑声</font></span></div>
            <div class="yj_tw_con"><span>所属类别：<font class="c_l">［办理手续］</font></span></div>
            </li>
            <li>
            <div class="yj_tw_tle"><a href="#">孕期去台湾自由行，请问入境会有限制吗？</a></div>
            <div class="yj_tw_con"><span>回答数：<font class="c_h">1</font></span><span>状态值：<font class="c_g">解决中</font></span></div>
            <div class="yj_tw_con"><span>提问者：<font class="c_l">笑笑声</font></span></div>
            <div class="yj_tw_con"><span>所属类别：<font class="c_l">［办理手续］</font></span></div>
            </li>
            </ul>
            </div>
            <div class="yj_hf_box clearfix">
            	<div class="yj_hf_tle">最新回复</div>
                <ul>
                <li><a href="#">意大利签证地点问题，问题回答c80101005问题</a><span>2014-3-22 21:22</span></li>
                <li><a href="#">申根签证材料准备：酒店预订单准备攻略（步骤+注意事项）</a><span>2014-3-22 21:22</span></li>
                <li><a href="#">申根签证材料准备：酒店预订单准备攻略（步骤+注意事项）</a><span>2014-3-22 21:22</span></li>
                <li><a href="#">意大利签证地点问题，问题回答c80101005问题</a><span>2014-3-22 21:22</span></li>
                <li><a href="#">申根签证材料准备：酒店预订单准备攻略（步骤+注意事项）</a><span>2014-3-22 21:22</span></li>
                <li><a href="#">申根签证材料准备：酒店预订单准备攻略（步骤+注意事项）</a><span>2014-3-22 21:22</span></li>
                <li><a href="#">意大利签证地点问题，问题回答c80101005问题</a><span>2014-3-22 21:22</span></li>
                <li><a href="#">申根签证材料准备：酒店预订单准备攻略（步骤+注意事项）</a><span>2014-3-22 21:22</span></li>
                <li><a href="#">申根签证材料准备：酒店预订单准备攻略（步骤+注意事项）</a><span>2014-3-22 21:22</span></li>
                <li><a href="#">意大利签证地点问题，问题回答c80101005问题</a><span>2014-3-22 21:22</span></li>
                <li><a href="#">申根签证材料准备：酒店预订单准备攻略（步骤+注意事项）</a><span>2014-3-22 21:22</span></li>
                <li><a href="#">申根签证材料准备：酒店预订单准备攻略（步骤+注意事项）</a><span>2014-3-22 21:22</span></li>
                <li><a href="#">申根签证材料准备：酒店预订单准备攻略（步骤+注意事项）</a><span>2014-3-22 21:22</span></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 游记end-->
    <!-- 返回顶部-->
	<div id="tipback" class="btn-top"><a href="javascript:;" target="_self" onclick="gotop();"><img src="images/top.jpg"></a></div>
	<!-- 返回顶部end-->
</div>
<!-- 内容区end-->
<!-- 底部-->
<div class="footer">
	<div class="footer_hd b_box">
    	<div class="footer_tle">海岛全攻略</div>
        <div class="footer_con">
        <ul>
        <li>
        <div class="footer_con_tle">新手指南</div>
        <div class="footer_con_cen">
        	<dl>
            	<dd><a href="#">售后</a></dd>
                <dd><a href="#">售后服务政策</a></dd>
                <dd><a href="#">退换货服务流程</a></dd>
                <dd><a href="#">优质售后服务</a></dd>
                <dd><a href="#">特色服务指南</a></dd>
                <dd><a href="#">服务时效承诺</a></dd>
            </dl>
        </div>
        </li>
        <li>
        <div class="footer_con_tle">苏梅岛</div>
        <div class="footer_con_cen">
        	<dl>
            	<dd><a href="#">售后</a></dd>
                <dd><a href="#">售后服务政策</a></dd>
                <dd><a href="#">退换货服务流程</a></dd>
                <dd><a href="#">优质售后服务</a></dd>
                <dd><a href="#">特色服务指南</a></dd>
                <dd><a href="#">服务时效承诺</a></dd>
            </dl>
        </div>
        </li>
        <li>
        <div class="footer_con_tle">热浪岛</div>
        <div class="footer_con_cen">
        	<dl>
            	<dd><a href="#">售后</a></dd>
                <dd><a href="#">售后服务政策</a></dd>
                <dd><a href="#">退换货服务流程</a></dd>
                <dd><a href="#">优质售后服务</a></dd>
                <dd><a href="#">特色服务指南</a></dd>
                <dd><a href="#">服务时效承诺</a></dd>
            </dl>
        </div>
        </li>
        <li>
        <div class="footer_con_tle">沙巴</div>
        <div class="footer_con_cen">
        	<dl>
            	<dd><a href="#">售后</a></dd>
                <dd><a href="#">售后服务政策</a></dd>
                <dd><a href="#">退换货服务流程</a></dd>
                <dd><a href="#">优质售后服务</a></dd>
                <dd><a href="#">特色服务指南</a></dd>
                <dd><a href="#">服务时效承诺</a></dd>
            </dl>
        </div>
        </li>
        <li>
        <div class="footer_con_tle">兰卡威</div>
        <div class="footer_con_cen">
        	<dl>
            	<dd><a href="#">售后</a></dd>
                <dd><a href="#">售后服务政策</a></dd>
                <dd><a href="#">退换货服务流程</a></dd>
                <dd><a href="#">优质售后服务</a></dd>
                <dd><a href="#">特色服务指南</a></dd>
                <dd><a href="#">服务时效承诺</a></dd>
            </dl>
        </div>
        </li>
        <li>
        <div class="footer_con_tle">毛里求斯</div>
        <div class="footer_con_cen">
        	<dl>
            	<dd><a href="#">售后</a></dd>
                <dd><a href="#">售后服务政策</a></dd>
                <dd><a href="#">退换货服务流程</a></dd>
                <dd><a href="#">优质售后服务</a></dd>
                <dd><a href="#">特色服务指南</a></dd>
                <dd><a href="#">服务时效承诺</a></dd>
            </dl>
        </div>
        </li>
        </ul>
        </div>
        <div class="footer_bot">
        <p>欧洲旅游攻略,欧洲自助游自由行 - 欧洲客旅游论坛  ( 京ICP备08000895号)|<a href="#">联系我们</a>|<a href="#">Archiver</a></p> 
        <p>GMT+8, <font id="now_date"></font></p>
        </div>
    </div>
</div>
<!-- 底部end-->
<script type="text/javascript" src="js/jquery.min.js?t=140406"></script>
<script type="text/javascript" src="js/My97DatePicker/WdatePicker.js?t=140406"></script>
<script type="text/javascript" src="js/jquery.placeholder.js?t=140406"></script>
<script type="text/javascript" src="js/index.js?t=140406"></script>
</body>
</html>