/*add by wwj 2015-01-16*/
.le-header{height:37px;padding-top:13px;margin:0 auto;background-color:#1b80da}
.le-logo{width:90px;height:25px;background-image:url(../images/le-logo-1x.png);background-image:-webkit-image-set(url(../images/le-logo-1x.png) 1x,url(../images/le-logo-2x.png) 2x,url(../images/le-logo-3x.png) 3x);background-repeat:no-repeat;background-position:0 0}
.le-logo-text{font-size:1.2rem;line-height:35px}
/*展开全部 收起全部*/
a.le-switch-flag{display:block;color:#1b80da;height:20px;line-height:20px}
a.le-switch-flag i{background-color:#1b80da;color:#fff;border-radius:50%;-webkit-border-radius:50%;width:20px;text-align: center;margin-right:5px}
a.le-switch-flag i.in{-webkit-transform:rotate(180deg);transform:rotate(180deg)}
/*h5播放器下的title*/
.le-player-title{font-size:1.6rem;background-color:#2d2d2d;height:50px;line-height:50px;color:#a9a9ac}
/*相关视频*/
.le-video-item .le-fr *{padding-left:10px}
.le-video-item .le-fr span{padding-left:0}
/*media*/
/*NOTE3 360x640*/
@media all and (min-width:360px){.le-logo-text{font-size:1.5rem}
}
/*iphone6 375x667*/
@media all and (min-width:375px){.le-logo-text{font-size:1.6rem}
.le-player-title{font-size:1.8rem}
.le-video-item h3{margin-top:0.5rem}
}
/*iphone6 plus 414x736px*/
@media all and (min-width:410px){.le-logo-text{font-size:1.8rem}
.le-player-title{font-size:2rem}
.le-video-item h3{margin-top:0.5rem}
}