@charset "utf-8";/*Css Reset By LeTv*/
html{-webkit-text-size-adjust:100%}
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details,video{display:block}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left;font-weight:normal}
html,body,fieldset,img,iframe,abbr{border:0}
i,cite,em,var,address,dfn{font-style:normal}
[hidefocus],summary{outline:0}
li{list-style:none}
h1,h2,h3,h4,h5,h6,small{font-size:100%}
sup,sub{font-size:83%}
pre,code,kbd,samp{font-family:inherit}
q:before,q:after{content:none}
textarea{overflow:auto;resize:none}
label,summary{cursor:default}
a,button{cursor:pointer}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold}
del,ins,u,s,a,a:hover{text-decoration:none}
textarea,input,button,select,keygen,legend{font:12px/1.14 "\5FAE\8F6F\96C5\9ED1",Arial,sans-serif,"\65B0\5B8B\4F53";color:#969696;outline:0}
body{background:#efeff4;position:relative;font-family:"\5FAE\8F6F\96C5\9ED1",Arial,sans-serif,"\65B0\5B8B\4F53";font-weight:normal;line-height:1.6;color:#333333;font-size:1.2rem;min-width:310px}
html{font-size:62.5%;-webkit-tap-highlight-color:rgba(0,0,0,0)}
input{outline:none}
div:after,ul:after,dl:after{content:"";display:block;clear:both;height:0;visibility:hidden}
i,u,b,em,span,small{font-weight:normal;font-style:normal;text-decoration:none;display:inline-block}
a{color:#444;outline:none;text-decoration:none;-webkit-tap-highlight-color:rgba(0,160,233,0.5);background:transparent}
a:hover{color:#444}
a:focus{outline:thin dotted;outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
a:active,a:hover{outline:0}
i,u,b,em,span,small{font-size:16px}
img{max-width:100% !important;height:auto}
/* Float blocks*/
.le-cf:before,.le-cf:after{content:" ";display:table}
.le-cf:after{clear:both}
.le-fl{float:left}
.le-fr{float:right}
.le-nbfc{overflow:hidden}
.le-center{display:block;margin-left:auto;margin-right:auto}
/* Display */
.le-block{display:block !important}
.le-inline{display:inline !important}
.le-inline-block{display:inline-block !important}
.le-hide{display:none !important;visibility:hidden !important}
/* Animate*/
.t{-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}
/* Font*/
.le-font-normal{font-weight:normal}
.le-font-bold{font-weight:bold}
/* Fade In Out*/
.le-fade{opacity:0}
.le-fade.in{opacity:1}
/*Background*/
.le-bg-black{background-color:#000}
.le-bg-white{background-color:#fff}
/* Text*/
.le-text-center{text-align:center}
.le-text-black{color:#000}
.le-text-blue{color:#1b80da}
.le-text-primary{color:#0e90d2}
.le-text-secondary{color:#3bb4f2}
.le-text-success{color:#5eb95e}
.le-text-warning{color:#f37b1d}
.le-text-danger{color:#dd514c}
.le-text-yellow{color:#f6ff00}
.le-text-gray{color:#999}
.le-link-muted{color:#666}
.le-link-muted a{color:#666}
.le-link-muted:hover,.le-link-muted a:hover{color:#555}
.le-text-default{font-size:1.6rem}
.le-text-xs{font-size:1.2rem}
.le-text-sm{font-size:1.4rem}
.le-text-lg{font-size:1.8rem}
.le-text-xl{font-size:2.4rem}
.le-text-xxl{font-size:3.2rem}
.le-text-xxxl{font-size:4.2rem}
.le-ellipsis,.le-text-truncate{word-wrap:normal;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.le-text-break{word-wrap:break-word;-webkit-hyphens:auto;-ms-hyphens:auto;-moz-hyphens:auto;hyphens:auto}
.le-text-nowrap{white-space:nowrap}
.le-line-clamp{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.le-line-clamp-5{-webkit-line-clamp:5}
/*Divider 分隔线*/
hr{display:block;padding:0;border:0;height:0;border-top:1px solid #c8c8cc;border-bottom:1px solid #fff;-moz-box-sizing:content-box;box-sizing:content-box;margin:1rem 0}
/* Margin helpers */
.le-margin{margin:1.5rem}
.le-margin-zreo{margin:0}
.le-margin-xs{margin:0.5rem}
.le-margin-sm{margin:1rem}
.le-margin-horizontal{margin-left:1.5rem;margin-right:1.5rem}
.le-margin-horizontal-xs{margin-left:0.5rem;margin-right:0.5rem}
.le-margin-horizontal-sm{margin-left:1rem;margin-right:1rem}
.le-margin-vertical{margin-top:1.5rem;margin-bottom:1.5rem}
.le-margin-vertical-xs{margin-top:0.5rem;margin-bottom:0.5rem}
.le-margin-vertical-sm{margin-top:1rem;margin-bottom:1rem}
.le-margin-top{margin-top:1.5rem}
.le-margin-top-xs{margin-top:0.5rem}
.le-margin-top-sm{margin-top:1rem}
.le-margin-bottom{margin-bottom:1.5rem}
.le-margin-bottom-xs{margin-bottom:0.5rem}
.le-margin-bottom-sm{margin-bottom:1rem}
.le-margin-left{margin-left:1.5rem}
.le-margin-left-xs{margin-left:0.5rem}
.le-margin-left-sm{margin-left:1rem}
.le-margin-right{margin-right:1.5rem}
.le-margin-right-xs{margin-right:0.5rem}
.le-margin-right-sm{margin-right:1rem}
/* Padding helpers */
.le-padding{padding:1.5rem}
.le-padding-zreo{padding:0}
.le-padding-xs{padding:0.5rem}
.le-padding-sm{padding:1rem}
.le-padding-horizontal{padding-left:1.5rem;padding-right:1.5rem}
.le-padding-horizontal-xs{padding-left:0.5rem;padding-right:0.5rem}
.le-padding-horizontal-sm{padding-left:1rem;padding-right:1rem}
.le-padding-vertical{padding-top:1.5rem;padding-bottom:1.5rem}
.le-padding-vertical-xs{padding-top:0.5rem;padding-bottom:0.5rem}
.le-padding-vertical-sm{padding-top:1rem;padding-bottom:1rem}
.le-padding-top{padding-top:1.5rem}
.le-padding-top-xs{padding-top:0.5rem}
.le-padding-top-sm{padding-top:1rem}
.le-padding-bottom{padding-bottom:1.5rem}
.le-padding-bottom-xs{padding-bottom:0.5rem}
.le-padding-bottom-sm{padding-bottom:1rem}
.le-padding-left{padding-left:1.5rem}
.le-padding-left-xs{padding-left:0.5rem}
.le-padding-left-sm{padding-left:1rem}
.le-padding-right{padding-right:1.5rem}
.le-padding-right-xs{padding-right:0.5rem}
.le-padding-right-sm{padding-right:1rem}
/*layout*/
.col-sm-1{width:8.33333%}
.col-sm-2{width:16.66667%}
.col-sm-3{width:25%}
.col-sm-4{width:33.33333%}
.col-sm-5{width:41.66667%}
.col-sm-6{width:50%}
.col-sm-7{width:58.33333%}
.col-sm-8{width:66.66667%}
.col-sm-9{width:75%}
.col-sm-10{width:83.33333%}
.col-sm-11{width:91.66667%}
.col-sm-12{width:100%}
/* Font-face */
@font-face{font-family:'FontAwesome';src:url('http://cdn.staticfile.org/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?v=4.2.0');src:url('http://cdn.staticfile.org/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),url('http://cdn.staticfile.org/font-awesome/4.2.0/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'),url('http://cdn.staticfile.org/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'),url('http://cdn.staticfile.org/font-awesome/4.2.0/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}
/* Component */
[class*="le-icon-"]{display:inline-block}
[class*="le-icon-"]:before{display:inline-block;font-family:"FontAwesome";font-weight:normal;font-style:normal;vertical-align:baseline;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-family:"FontAwesome" !important}
.le-icon-border{padding:.2em .25em .15em;border:solid 0.08em #eeeeee;border-radius:.1em}
.le-icon-angle-up:before{content:"\f106"}
.le-icon-angle-down:before{content:"\f107"}
.le-icon-play-circle:before{content:"\f144"}
/*p*/
p,.le-text{font-size:1.4rem}
/*media*/
/*NOTE3 360x640*/
@media all and (min-width:360px){p,.le-text{font-size:1.5rem}
}
/*iphone6 375x667*/
@media all and (min-width:375px){p,.le-text{font-size:1.6rem}
}
/*iphone6 plus 414x736px*/
@media all and (min-width:410px){p,.le-text{font-size:1.8rem}
}