@charset "utf-8";.banner img{width:100%}
.nav{background-color:#2ea32f;line-height:38px;color:#fff}
.nav li{float:left;width:20%;overflow:hidden;text-align:center;white-space:nowrap;text-overflow:ellipsis}
.nav li a{color:#fff}
.silder{width:100%;height:160px;overflow:hidden;position:relative}
.silder ul{width:10000%}
.silder li{float:left;width:100%;position:relative}
.silder li img{display:block;width:100%;height:160px}
.silder li i{display:block;position:absolute;bottom:0;left:0;width:100%}
.silder li i.yy{background-color:#000;opacity:.7;filter:alpha(opacity=70);height:30px}
.silder li i.txt{height:30px;line-height:30px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font:14px/30px "微软雅黑";color:#fff;padding-left:10px}
.silder-now{display:block;width:50px;height:30px;position:absolute;bottom:0;right:0;line-height:30px;color:#fff;text-align:center}
.silder-now span{color:#c00}
.news-list{background-color:#f9f9f9;margin-bottom:10px}
.news-list li{clear:both;border-bottom:1px solid #ececec;padding:10px 0;margin:0 8px;background-color:#fff}
.news-list-img{float:left;width:80px;height:60px;border:1px solid #efefef;position:relative;margin-right:10px}
.news-list-img img{display:block;width:100%;height:100%}
.news-list-con{overflow:hidden}
.news-list-con h3{font:14px/22px "微软雅黑";color:#333}
.news-list-con h4{font:12px/22px "微软雅黑";color:#666}
.news-list-con h3,.news-list-con h4{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.news-list-con p{height:20px;overflow:hidden;color:#8b8b8b}
.news-list-con p span{display:inline-block;font-size:10px;height:20px;line-height:20px}
.backtop{width:50px;height:50px;border:1px solid #ddd;background-color:#fff;box-shadow:0 0 5px #888;position:fixed;bottom:30px;right:10px;border-radius:5px;opacity:0.5;filter:alpha(opacity=50);text-align:center;line-height:50px;display:none}
.backtop:hover{opacity:1;filter:alpha(opacity=100)}