<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>公司信息</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="TB传媒 网站开发 网页设计 传媒" />
  <meta name="description" content="TB传媒 优秀网页设计 打造与众不同的你 网站建设布道者" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="TB传媒">
  <link rel="alternate icon" type="image/png" href="assets/images/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/images/app-icon72x72@2x.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/app.css"/>
</head>
<body>
<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">
  <!-- <h1 class="am-header-title">
     <a href="index.html">TB传媒</a>
  </h1> -->
  <a href="index.html" class="am-icon-logo"></a>
</header>
<!-- Menu -->
<nav data-am-widget="menu" class="am-menu am-menu-offcanvas1" data-am-menu-offcanvas>
  <a href="javascript: void(0)" class="am-menu-toggle">
    <i class="am-menu-toggle-icon am-icon-bars"></i>
  </a>
  <div class="am-offcanvas">
    <div class="am-offcanvas-bar">
      <ul class="am-menu-nav sm-block-grid-1">
        <li><a href="index.html">首页</a></li>
        <li class="am-parent"><a href="javascript:;">关于</a>
         <ul class="am-menu-sub am-collapse sm-block-grid-1">
          <li><a href="companyInfo.html">公司信息</a></li>
          <li><a href="companyTeams.html">团队优势</a></li>
          <li><a href="companyLinian.html">服务理念</a></li>
          <li><a href="companyNews.html">公司新闻</a></li>
          <li><a href="companyGuandian.html">TB观点</a></li>
          <li><a href="companyYunying.html">网站运营</a></li>
         </ul></li>
        <li class="am-parent"><a href="javascript:;">服务</a>
         <ul class="am-menu-sub am-collapse sm-block-grid-1">
          <li><a href="serviceWebsite.html">企业官网</a></li>
          <li><a href="serviceWeiphp.html">手机网站</a></li>
          <li><a href="serviceSeo.html">网站优化</a></li>
          <li><a href="serviceDomain.html">企业管家</a></li>
          <li><a href="serviceTaobao.html">淘宝开店</a></li>
         </ul></li>
        <li class="am-parent"><a href="javascript:;">案例</a>
         <ul class="am-menu-sub am-collapse sm-block-grid-1">
          <li><a href="workBusiness.html">企业官网</a></li>
          <li><a href="workBusiness.html">手机网站</a></li>
          <li><a href="workBusiness.html">电子商城</a></li>
          <li><a href="workBusiness.html">成品网站</a></li>
         </ul></li>
        <li class="am-parent"><a href="javascript:;">联络</a>
         <ul class="am-menu-sub am-collapse sm-block-grid-1">
          <li><a href="contantUs.html">北京市海淀区上地科实大厦B座6层</a></li>
          <li><a href="contantUs.html">010-56019936 57186393</a></li>
          <li><a href="contantUs.html">service@tbchuanmei.com</a></li>
         </ul></li>
      </ul>
    </div>
  </div>
</nav>
<!-- banner -->
<div class="am-g">
  <img src="http://www.tbchuanmei.com/statics/images/skins/images/center_top.jpg" alt=""/>
</div>
<!-- breadcrumb -->
<ol class="am-breadcrumb am-margin-xs">
  <li><a href="index.html" class="am-icon-home">首页</a></li>
  <li><a href="#">关于</a></li>
  <li class="am-active">公司信息</li>
</ol>
<!-- info -->
<div class="am-article-bd am-margin-horizontal-sm am-text-sm">
  <h3>我们是谁？</h3>
  <p> 时间兄弟（北京）国际文化传播有限公司（简称TB传媒）成立于2008年，伴随互联网的蓬勃发展，向客户提供高端网站建设服务及品牌网络营销服务的专业企业。发展至今已小有规模，千余客户成功案例实施经验。</p>
  <p>让客户满意是我们工作的目标。TB传媒把公司的定位明确在网络应用服务提供商的位置上，我们立志把最好的技术通过最有效、最简单的方式提供给客户，为您的企业电子商务化提供最简单的解决方案。TB传媒将通过不懈努力成为客户在信息化领域值得信任、有价值的长期合作伙伴。</p>
  <p>1. 实现客户价值</p>
  <p>2. 协助客户提高运行维护效益</p>
  <p>3. 协助客户树立竞争优势</p>
  <p>4. 协助客户培养自己的技术专家</p>
  <h3>我们做什么？</h3>
  <p> TB传媒为客户量身定做各类网站建设业务，包括企业型网站建设、电子商务型网站建设、行业门户型网站建设、品牌建立型网站建设等，从网站的前期定位策划分析，顾问咨询以及技术架构，到网站实施的界面设计，创意表现站点架构搭建以及后续的访问监控服务，后续维护服务以及网站运营反馈建议等内容，站在为客户带来价值的角度，规划、定制符合企业发展需求的，带有营销价值及功能的网上品牌专家。我们提供的产品解决方案有：</p>
  <p> a. Build a viable e-commerce site</p>
  <p> 搭建有生命力的电子商务网站 </p>
  <p>b. City Internet Marketing</p>
  <p>c. Internet Brand Website</p>
  <p> 互联网品牌网站建设</p>
  <p><img src="http://www.tbchuanmei.com/uploadfile/2014/1107/20141107031755151.jpg" /></p>
</div>
<!-- gotop-->
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
  <a href="#top" title="">
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>
<!-- footer-->
<footer data-am-widget="footer" class="am-footer am-footer-default">
  <div class="am-footer-switch">
    <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">移动版</span>
    <span class="am-footer-divider">|</span>
    <a id="godesktop" data-rel="desktop" class="am-footer-desktop"
    href="#">电脑版</a>
  </div>
  <div class="am-footer-miscs ">
    <p>TB传媒提供技术支持</p>
    <p>时间兄弟（北京）国际文化传播有限公司</p>
    <p>Copyright © 2014 tbchuanmei.com</p>
    <p>京ICP备14001143号</p>
  </div>
</footer>
<script src="assets/js/zepto.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>