<!DOCTYPE html>
<html lang="en">
 <head> 
  <meta charset="UTF-8" /> 
  <title>火球网-最安全的一站式投资理财平台</title> 
  <meta name="description" content="火球计划是基于债权转让的自动交易服务，每天通过智能模型组合上百家平台的上千份债权，并将债权组合在用户间进行转让，为理财用户创造收益的同时，最大限度分散风险。" /> 
  <meta name="keywords" content="理财产品,债权转让,P2P理财,理财产品排行,P2P网贷,P2P理财产品,网贷,网贷平台,投资理财" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <link rel="stylesheet" type="text/css" href="css/reset.css" /> 
  <link rel="stylesheet" type="text/css" href="css/index.css" /> 
  <!--[if lt IE 9]>
	<style type="text/css">
	.static-container-s{background-color: #b6b6b7;}
	</style>
  <![endif]--> 
  <!--[if lt IE 9]>
    <script src="/js/css3-mediaqueries.js"></script>
	<![endif]--> 
  <!--[if lt IE 8]>
    <style type="text/css">
	.ie7_div{height:38px;width:100%;position:fixed;left:0;top:0;z-index:9999;line-height:38px;padding-left:30px;filter:alpha(opacity=73);background:#111;font-size:16px;}
	.ie7_content{height:38px;width:100%;color:#fff;}
	.ie7_content img{vertical-align:middle;padding-bottom:5px;}
	.ie7_content>a{color:#fff;}
	.ie7_content>a:hover{text-decoration:underline;color:#fff;}    
    </style>
    <![endif]--> 
  <link href="images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" /> 
 </head> 
 <body> 
  <!--[if lt IE 8]>
<div class="ie7_div">
    <div class="ie7_content">
        亲，您的浏览器版本过低将会降低页面质量，提升体验您可以：<img src="images/ie_img.png"><a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie">【升级IE浏览器】</a>或点击下载<img src="images/chrome_img.png" style="padding-left: 8px;"><a href="http://www.google.cn/intl/zh-CN/chrome/">【chrome浏览器】</a>
    </div>
</div>
<![endif]--> 
  <div class="main"> 
   <div class="nav"> 
    <a href="/" title="火球理财网" rel="nofollow"> <img src="images/vertical-logo.png" alt="火球理财" width="74" height="125" style="margin-top:52px;" /> </a> 
    <ul class="nav-list"> 
     <li class="nav-index"> <a href="/plan/index.html" class="current" rel="nofollow">首页</a> </li> 
     <li class="nav-logandreg"> <a rel="nofollow" href="/login.html" style="padding:14px 0 14px 47px;">登录</a>&nbsp;<span style="font-size:12px;">|</span>&nbsp;<a href="/register.html" style="padding: 14px 0 14px 0; background:none;" rel="nofollow">注册</a> </li>
     <li class="nav-ask"> <a href="/group/index.html" title="理财小组" style="padding:14px 0 14px 47px;" rel="nofollow">小组</a>&nbsp;<span style="font-size:12px;">|</span>&nbsp;<a href="/asks/index.html" title="理财问答" style="padding: 14px 0 14px 0; background:none;" rel="nofollow">问答</a> </li> 
    </ul> 
    <div class="footer-contact"> 
     <a href="/plan/download_app.html" alt="火球理财客户端" class="contact-client-download" rel="nofollow"> <img src="images/client-phone-img.png" /> 
      <div class="contact-client-content"> 
       <div style="font-size:20px; color:#726763; padding-top:8px;">免费下载</div> 
       <div style="font-size:12px; color:#bcada8; padding-top:4px;">火球计划客户端</div> 
      </div> </a> 
     <div class="contact-hr"></div> 
     <div class="contact-phone-num">400-022-0101</div> 
     <div class="contact-phone-text">客服电话9:00-18:00</div> 
     <div class="contact-mail">help@huoqiu.cn</div> 
    </div> 
   </div> 
   <div class="main-container"> 
    <!-- 微信分享 --> 
    <div class="share-container"> 
     <a href="#" title="分享到微博或微信" class="share-father" rel="nofollow"></a> 
     <a href="＃" title="分享到微博" class="share-to-weibo" rel="nofollow"></a> 
     <a href="#" title="分享到微信" class="share-to-wechat" rel="nofollow"></a> 
    </div> 
    <div class="wechat-share-way"> 
     <div> 
      <img src="images/share-code-close.jpg" class="wechat-share-close" /> 
      <img src="images/wechat-share-code.jpg" alt="理财分享" class="wechat-share-code" /> 
      <div>手机扫描二维码，把火球网分享给您的小伙伴吧！</div> 
     </div> 
    </div> 
    <!-- mc-left   计划S 计划 活动 --> 
    <div class="mc-left-container"> 
     <!-- 计划S --> 
     <div class="banner-container" href="/plan/huoqiuS/index.html?key=active" style="background: #ffc64d"> 
      <div class="banner-container-inner"> 
       <!-- 火球s --> 
       <div class="static-container-s"> 
        <h1><img src="images/plan_s.png" alt="理财产品_火球计划S" /></h1> 
        <div class="plan-s-advantages-1">
         定期理财一月起，年化收益率最高
         <span>14%</span>
        </div> 
        <div class="plan-s-advantages-2">
         <span>九重安全保障</span>，让风险低无可低！
        </div> 
        <a href="/plan/huoqiuS/index.html" class="check-plan-btn check-plan-1">查看火球计划<span style="position:relative; top:1px; left:1px;">S</span></a> 
       </div> 
       <!-- background --> 
       <div id="shuff-2"></div> 
       <div id="shuff-1"> 
        <img src="images/shuff_left_bg.png" class="shuff_left_bg" /> 
        <img src="images/shuff_right_bg.png" class="shuff_right_bg" /> 
        <div class="shuff-1-bg-center"> 
         <img src="images/shuff_1_bg_1.png" class="shuff-1-bg-1" /> 
        </div> 
       </div> 
       <div id="shuff-0"> 
        <img src="images/shuff_3_bg_1.png" class="shuff-3-bg-1" /> 
       </div> 
       <!-- 焦点图 --> 
       <div class="focus-img-container"> 
        <img src="images/pyramid-1600.png" alt="火球理财产品" class="shuff-img pyramid-2 pyramid-0-1 shuff-hide" rel="nofollow" /> 
        <img src="images/shuff_1_1.png" alt="火球理财产品" class="shuff-img pyramid-1 pyramid-1-1 shuff-hide" rel="nofollow" /> 
        <img src="images/shuff_1_2.png" alt="火球理财产品" class="shuff-img pyramid-1 pyramid-1-2 shuff-hide" rel="nofollow" /> 
        <img src="images/shuff_3_1.png" alt="火球理财产品" class="shuff-img pyramid-0 pyramid-3-1" rel="nofollow" /> 
        <img src="images/shuff_3_2.png" alt="火球理财产品" class="shuff-img pyramid-0 pyramid-3-2" rel="nofollow" /> 
       </div> 
       <ul class="point-list"> 
        <li class="point-0 current" data-value="0"></li> 
        <li class="point-1" data-value="1"></li> 
        <li class="point-2" data-value="2"></li> 
       </ul> 
      </div> 
     </div> 
     <!-- 计划 活动 --> 
     <ul class="mc-plan-list"> 
      <li class="plan-enterprising">
      <img src="images/decoration-1.png" class="decoration-1" />
      <a href="/plan/huoqiu/index.html" title="火球计划" rel="nofollow">
      <img src="images/huoqiu-plan-new.png" class="huoqiu-plan-new" /></a> 
       <div class="enterprising-time-container" style="cursor:pointer;" title="火球计划"> 
        <img src="images/piggy_bank.png" class="piggy_bank" /> 
        <div class="snap-time">每日11:45</div> 
        <div class="snap-text">开抢</div> 
       </div> 
       <h2>零花钱神器</h2> 
       <div class="plan-advantages">
        <span>火球计划</span>
       </div> 
       <div class="plan-advantages" style="margin-bottom: 24px;">
        4倍X额宝，随存随取
       </div> <a href="/plan/huoqiu/index.html" class="check-plan-btn check-plan-2" rel="nofollow">查看火球计划</a> </li> 
      <li class="plan-growth"> 
       <a href="/register.html" title="我们帮你赚钱"><img src="images/register_part_img_2.png" class="register-part-img" /></a> 
       <div class="plan-advantages" style="padding-top:10px;">
        Ta们让你花钱
       </div> <h2>我们帮你赚钱</h2> 
       <div class="plan-advantages">
        火球理财存一年，赚出一份旅游钱
       </div><a href="/register.html" title="马上注册" class="check-plan-btn check-plan-3" rel="nofollow">马上注册</a> </li> 
     </ul> 
    </div> 
    <!-- mc-right 新手入门 火球＋--> 
    <div class="mc-right-container"> 
     <!-- 新手入门 --> 
     <div class="huoqiu-community"> 
      <a href="/guide/introduction.html" title="新手入门" rel="nofollow"><img src="images/plan-newcommer-new.png" alt="理财指南" class="plan-growth-img" /></a> 
      <h2>新手入门</h2> 
      <div class="plan-advantages">
       三分钟学会玩转火球
      </div> 
      <div class="plan-advantages" style="margin-bottom: 20px;" rel="nofollow"> 
       <a href="/guide/security.html.html" title="火球计划S安全保障" style="color:#ffda5a;" rel="nofollow">火球计划S安全保障</a>｜
       <a href="/guide/enterprise_strategy.html" title="火球计划抢购攻略" style="color:#f2e4de;" rel="nofollow">火球计划抢购攻略</a> 
      </div> 
      <a href="/guide/introduction.html" class="check-plan-btn check-plan-4" rel="nofollow">查看新手指引</a> 
     </div> 
     <!-- 火球＋ --> 
     <div class="plan-huoqiuplus"> 
      <a href="/trading/index.html" title="火球＋"><img src="images/plan-huoqiuplus.png" alt="理财产品-火球+" class="plan-growth-img" /></a> 
      <h2>火球＋</h2> 
      <div class="plan-advantages">
       更高收益！玩转火球！
      </div> 
      <div class="plan-advantages" style="margin-bottom: 20px;">
       <span>用户间交易平台全新上线</span>
      </div> 
      <a href="/trading/index.html" title="查看火球＋" class="check-plan-btn check-plan-5" rel="nofollow">查看火球＋</a> 
     </div> 
    </div> 
    <!-- 新手引导 --> 
    <!-- 火球社区 -->
    <div class="media-outer"> 
     <div class="mc-media"> 
      <div class="media-content"> 
       <div class="media-reports"> 
        <div class="lawfirm-and-investment"> 
         <div class="media-title">
          <a href="/about/new_about_us.html" rel="nofollow">更多</a>
         </div> 
         <div class="logo-container"> 
          <div> 
           <span class="cooperative-law">合作律所</span> 
           <a href="/about/new_about_us.html#lvshi" rel="nofollow"><img src="images/lawfirm.jpg" /></a> 
          </div> 
          <div class="media-reports-2"> 
           <span class="our-investors">股东背景</span> 
           <a href="/about/new_about_us.html#investment" rel="nofollow"><img src="images/yuanmaziben.jpg" /></a> 
          </div> 
          <div class="media-reports-3"> 
           <a href="/about/new_about_us.html#investment" rel="nofollow"><img src="images/mingshiziben.jpg" /></a> 
          </div> 
          <div class="media-reports-4"> 
           <a href="/about/new_about_us.html#investment" rel="nofollow"><img src="images/changba.jpg" /></a> 
          </div> 
          <div class="media-reports-5"> 
           <a href="/about/new_about_us.html#investment" rel="nofollow"><img src="images/meihua.jpg" /></a> 
          </div> 
          <div class="media-reports-6"> 
           <a href="/about/new_about_us.html#investment" rel="nofollow"><img src="images/jidiaowangluo.jpg" /></a> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="huoqiu-anouncement"> 
        <div> 
         <div class="media-title" style="text-align:left;">
          火球公告
          <a href="/about/bulletin.html" rel="nofollow">更多</a>
         </div> 
         <ul class="anouncement-list"> 
          <li> 
           <div class="anouncement-tri"></div> <a href="/about/1023.html">火球双十一“带你收益一直飞”活动说明</a> </li> 
          <li> 
           <div class="anouncement-tri"></div> <a href="/about/1020.html">火球网成功举办第一次“媒体沟通会”</a> </li> 
          <li> 
           <div class="anouncement-tri"></div> <a href="/about/1018.html">壕の排行获奖名单</a> </li> 
          <li> 
           <div class="anouncement-tri"></div> <a href="/about/1022.html">火球计划购买上限恢复为5万元</a> </li> 
          <li> 
           <div class="anouncement-tri"></div> <a href="/about/1021.html">火球计划S奖励活动公告 </a> </li> 
         </ul> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="footer"> 
     <div class="footer-nav"> 
      <div style="display:none;">
       <script src="https://v1.cnzz.com/z_stat.php?id=1000374757&amp;web_id=1000374757" language="JavaScript"></script>
      </div> 
      <div class="footer-nav-content"> 
       <div class="nav-a-group" style="padding-bottom: 15px;"> 
        <span style="font-size: 12px; color: #a8a8a8; padding-right: 26px;">友情链接</span> 
        <a href="http://www.wangdaitiandi.com/" target="_blank">网贷天地</a> 
        <a href="http://www.qidaile.com/" target="_blank">期待乐</a> 
        <a href="http://chongqing.haodai.com/" target="_blank">重庆贷款</a> 
        <a href="http://iof.hexun.com/" target="_blank">和讯互联网金融</a> 
        <a href="http://www.dyp2p.com/" target="_blank">互联网金融</a> 
       </div> 
       <div class="nav-a-group" style="border-top: 1px dashed #e4e4e4;padding-top: 20px;"> 
        <a href="/about/new_about_us.html" rel="nofollow">关于火球</a> 
        <a href="/about/new_contact.html" rel="nofollow">联系方式</a> 
        <a href="/about/new_join.html" rel="nofollow">加入我们</a> 
        <a href="/about/new_cost.html" rel="nofollow">费用说明</a> 
        <a href="/about/new_liability.html" rel="nofollow">免责声明</a> 
        <a href="/about/new_privacy.html" rel="nofollow">隐私声明</a> 
       </div> 
       <div class="huoqiu-copyright">
        @ 2013-2014 火球网 京ICP备14013924号-1
       </div> 
       <ul class="auth-link"> 
        <li class="auth-link-item"> <a href="/plan/org-link-kexin.html" class="trusted" rel="nofollow">认证诚信网站</a> </li> 
       </ul> 
      </div> 
     </div> 
    </div> 
   </div> 
   <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script> 
   <script type="text/javascript" src="js/new_index.js"></script> 
  <script type="text/javascript">
	$(function() {
		superSlide();
	});
  $(".show").click(function(){
      location.href = $(this).attr("href");
  });

 function confettiAnimate (event) {
	$(".confetti").each(function() {
		$(this).hide();
		$(this).css({"left":"70px","top":"70px"});
		$(this).show();
		var thisTop = $(this).attr("data-top");
		var thisLeft = $(this).attr("data-left");
		$(this).animate({
			top: thisTop,
			left: thisLeft
		}, 1000, "swing");
	});
	};
	$(".plan-growth").mouseenter(function(event) {
		confettiAnimate();
	});

	 $(".wechat-share-close").click(function(event) {
	 	$(".wechat-share-way").hide();
	 });

	 $(".share-to-wechat").click(function(event) {
	 	event.preventDefault();
	 	$(".wechat-share-way").show();
	 });

	 function shareTSina(title, rLink, site, pic) {
		window.open('http://service.weibo.com/share/share.php?title=' + encodeURIComponent(title) + '&url=' + encodeURIComponent(rLink) + '&appkey=' + encodeURIComponent(site) + '&pic=' + encodeURIComponent(pic), '_blank', 'scrollbars=no,width=600,height=450,left=75,top=20,status=no,resizable=yes');
	}

	$(".share-to-weibo").click(function(event) {
		event.preventDefault();
		shareTSina("我发现了一个非常好的理财网站@火球计划 小伙伴们一起来看看吧 http://www.huoqiu.cn/", "http://www.huoqiu.cn", "2599857654", "https://www.huoqiu.cn/source/images/longweibo_index.jpg");
	});
	$(".enterprising-time-container").click(function(event) {
		location.href = "/plan/huoqiu/index.html";
	});
	$(".confetti-container").click(function(event) {
		location.href="/register.html";
	});
	</script>  
  </div>
 </body>
</html>