<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:wb="http://open.weibo.com/wb">
 <head> 
  <meta charset="UTF-8" /> 
  <title>加入火球 - 火球网</title> 
  <meta name="description" content="" /> 
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" /> 
  <meta content="www.huoqiu.cn" name="author" /> 
  <link href="https://www.huoqiu.cn/source/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" /> 
  <meta content="CSRFToken" name="csrf-param" /> 
  <meta content="96f65872-06bd-47d5-8b9e-f36aabd09e2d" name="csrf-token" /> 
  <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://www.huoqiu.cn/source/css/reset-ee636d3206f992712e200659076c744ef86da5f1.css" /> 
  <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://www.huoqiu.cn/source/css/base-abf081fd6e4be5dd7d4749f0e7b7fc147c8bbc42.css" /> 
 </head> 
 <body> 
  <div class="header"> 
   <div class="top-bar"> 
    <a href="javascript:;" rel="nofollow" class="nav-top-message ">消息中心</a> 
    <span class="nav-top-login"> <a href="/login.html" rel="nofollow">登录</a> <span style="padding:0 1px; display: inline-block;">|</span> <a href="/register.html" rel="nofollow">注册</a> </span> 
    <a href="/guide/introduction.html" rel="nofollow" class="nav-top-newcomer ">新手入门</a> 
    <a href="/" title="首页" class="nav-top-index">首页</a> 
    <a href="/plan/huoqiuS/index.html" title="火球计划S" class="nav-top-steady ">火球计划S</a> 
    <a href="/plan/huoqiu/index.html" title="火球计划" class="nav-top-enterprise ">火球计划</a> 
    <a href="/trading/index.html" title="火球＋" class="nav-top-plus ">火球＋</a> 
    <span class="nav-top-community "> <a href="/group/index.html" title="小组" class="">小组</a> <span></span> <a href="/asks/index.html" title="问答" class="">问答</a> </span> 
    <div class="user-section" style="display:none; right:58px; top:43px;"> 
     <div class="section-balance"> 
      <span>账户余额:</span> 
      <div class="balance-hide"></div> 
      <input type="text" readonly="" class="user-section-balance" value="" /> 
      <a href="#" title="显示余额">显示余额</a> 
     </div> 
     <a href="/recharge.html" rel="nofollow">充&nbsp;值</a> 
     <hr style="border-style:dashed; color: #dfdfdf; width:279px; margin:0 auto;" /> 
     <div class="user-section-nav"> 
      <a href="/account.html" rel="nofollow">我的账户</a> 
      <span class="span-line"></span> 
      <a href="/logout.html" rel="nofollow">退出</a> 
     </div> 
    </div> 
    <ul class="new-message-list"> 
     <li class="link-to-allmsg"><a href="/message/message_center.html" title="查看全部消息">查看全部消息</a></li> 
    </ul> 
   </div> 
   <div class="top-main"> 
    <div class="top-container"> 
     <a href="/" title="火球"><img src="https://www.huoqiu.cn/source/images/logo-121.png" /></a> 
     <span>注册</span> 
    </div> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="https://www.huoqiu.cn/source/css/login_new.css" /> 
  <div class="section"> 
   <div class="main-container" style="border: none;"> 
    <div class="register-form-nav"> 
     <div class="register-nav-child current"> 
      <div class="register-step">
       1
      </div> 
      <span>填写注册信息</span> 
      <div class="register-triangle"></div> 
     </div> 
     <div class="register-nav-child"> 
      <div class="register-step">
       2
      </div> 
      <span>验证账户邮箱</span> 
      <div class="register-triangle"></div> 
     </div> 
     <div class="register-nav-child"> 
      <div class="register-step">
       3
      </div> 
      <span>注册成功</span> 
      <div class="register-triangle"></div> 
     </div> 
    </div> 
    <div class="register-form"> 
     <form method="post" action="/login/register.html"> 
      <input type="hidden" name="CSRFToken" value="96f65872-06bd-47d5-8b9e-f36aabd09e2d" /> 
      <input type="hidden" name="register-agree" value="1" /> 
      <div class="register-form-container"> 
       <img src="https://www.huoqiu.cn/source/images/register_ad_2.png" /> 
       <div class="register-form-container-inner"> 
        <div class="register-error-msg" id="errormessage"></div> 
        <div class="register-succ-msg" id="successmessage"></div> 
        <div class="register-item-container"> 
         <div class="register-succ-msg" style="display:none;"></div> 
         <input type="text" name="register-mail" class="register-input" placeholder="邮箱" style="margin-top:27px;" /> 
        </div> 
        <div class="register-item-container"> 
         <div class="register-succ-msg" style="display:none;"></div> 
         <input type="password" name="register-pwd" class="register-input" placeholder="密码" /> 
        </div> 
        <div class="register-item-container"> 
         <div class="register-succ-msg" style="display:none;"></div> 
         <a id="numclick" title="发送验证码" class="send-register-code">发送验证码</a> 
         <input type="text" name="register-phone" class="register-input" placeholder="手机号" style="width:180px;" /> 
        </div> 
        <div class="register-item-container"> 
         <div class="register-succ-msg" style="display:none;"></div> 
         <input type="text" name="register-code" class="register-input" placeholder="短信验证码" /> 
        </div> 
        <div style="width: 298px; height:36px; line-height:36px; font-size:14px; color:#959595;"> 
         <input type="checkbox" name="remember-me" style="margin:0;" checked="checked" /> 
         <span>我同意</span>
         <a href="/about/member_service_agreement.html" title="火球网用户服务协议" style="color:#5ba8ea;">《火球网用户服务协议》</a> 
        </div> 
        <a class="register-submit">下&nbsp;一&nbsp;步</a> 
        <p style="text-align: center;padding-top: 10px;">港澳台用户注册请<a style="color:#5ba8ea " href="/HK-TW-MO.html">点击此处</a></p> 
       </div> 
      </div> 
     </form> 
    </div> 
   </div> 
  </div> 
  <script type="text/javascript" charset="UTF-8" src="https://www.huoqiu.cn/source/javascripts/jquery-1.11.0.min-8c5ee3896c26727dae8708554d7a70e3be6d1ab9.js"></script> 
  <script type="text/javascript" src="https://www.huoqiu.cn/source/javascripts/jquery.placeholder.js"></script> 
  <script type="text/javascript">
		$(document).ready(function() {
			$("input").placeholder();
			
			var count = 0;
			
			$('input[name=register-phone]').keyup(function(event) {
				var cell = $('input[name=register-phone]').val();
				if (cell != null && cell != "" && cell.length == 11 ){
					$('#numclick').click();
				};
			});

			$('#numclick').click(function(event) {
				if(count<0){count = 0;};
				if (count==0) {
					count = 60;
					change();
					var url = '/login/cellphone.json';
					var cell = $('input[name=register-phone]').val();
					var date = new Date();
					var time = date.getTime();
					if (cell == null || cell == "" || cell.length != 11) {
						displayErrorMessage('手机号格式非法，请重新输入');
						count = 0;
					}else{
						var ajaxData = {
							cell:cell,
							CSRFToken:"96f65872-06bd-47d5-8b9e-f36aabd09e2d",
							time:time
						};
						$.post(url, ajaxData, function(response) {
							if(response.success){
								displaySuccessMessage(response.message);
							}else{
								displayErrorMessage(response.message);
								count = 0;
							}	
						});
					};
				};

				function change(){
					setTimeout(function() {
						var $a = $('#numclick');
						$a.text("请稍等"+(count)+"秒");
						count = count - 1;
						if (count > 0) {
							change();
						}else{
							$a.text("发送验证码");
						}
					}, 1000);
				}
				return false;
			});

			$("input[name='remember-me']").click(function(event) {
				$("input[name='register-agree']").val($("input[name='remember-me']:checkbox:checked").length);
			});
			function displayErrorMessage(message) {
				$("#successmessage").hide();
				$('.register-error-msg').empty().hide();
				$('#errormessage').text(message).fadeIn();
			}
            function displaySuccessMessage(message) {
				$('#successmessage').empty().hide();
				$('.register-error-msg').hide();
				$('#successmessage').text(message).fadeIn();
			}
			$(".register-submit").click(function(event) {
                var email = $('input[name=register-mail]');
                var pwd = $('input[name=register-pwd]');
                var phone = $('input[name=register-phone]');
                var phonecode = $('input[name=register-code]');
                if(email == null){
                    displayErrorMessage('邮箱不能为空');
                }else if(pwd == null){
                    displayErrorMessage('密码不能为空');
                }else if(phone == null){
                    displayErrorMessage('手机号不能为空');
                }else if(phonecode == null){
                    displayErrorMessage('手机验证码不能为空');
                }else{
				$(".register-form form").submit();
                }
			});
		});
	</script> 
  <div class="footer-outer"> 
   <div class="footer"> 
    <div class="footer-nav"> 
     <div class="footer-nav-a"> 
      <span>客服热线 9:00 — 18:00</span> 
      <a href="/guide/introduction.html" rel="nofollow">新手入门</a> 
      <a href="/about/new_about_us.html" rel="nofollow">关于火球</a> 
      <a href="/about/new_contact.html" rel="nofollow">联系方式</a> 
      <a href="/about/new_join.html" rel="nofollow">加入我们</a> 
      <a href="/about/new_cost.html" rel="nofollow">费用说明</a> 
      <a href="/about/new_liability.html" rel="nofollow">免责声明</a> 
      <a href="/about/new_privacy.html" rel="nofollow">隐私声明</a> 
      <a href="/about/opinion.html" rel="nofollow">意见反馈</a> 
     </div> 
     <div class="footer-nav-phonenum">
      400&nbsp;022&nbsp;0101
     </div> 
     <div class="footer-nav-info"> 
      <span class="footer-nav-info-mail">客服邮箱 help@huoqiu.cn</span> 
      <span>@ 2013-2014<span class="text-indent-3"></span>火球网<span class="text-indent-4"></span></span> 
      <a href="http://www.miitbeian.gov.cn/" rel="nofollow">京ICP备14013924号-1</a> 
      <span class="seprate-line"></span> 
      <a href="http://gawa.bjchy.gov.cn/websearch/" rel="nofollow">京公网安备11010502026152</a> 
     </div> 
    </div> 
    <div class="footer-certification"> 
     <a href="/plan/org-link-kexin.html" rel="nofollow" class="rzwz">认证诚信网站</a> 
    </div> 
   </div> 
  </div>  
  <script type="text/javascript" src="https://www.huoqiu.cn/source/javascripts/jquery.placeholder.js"></script> 
  <script type="text/javascript">
$(function() {
		var token = $("meta[name='csrf-token']").attr("content");
		var header = $("meta[name='csrf-param']").attr("content");
		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});
	});

	$(function(){
		$("#top-nav a.login-btn-s").attr("href",function(){
			if(!$(this).attr("href")){
				return "/login.html";
			}
			if(location.href.indexOf("/login.html")!=-1){
				return $(this).href;
			}
			return $(this).attr("href")+"?url="+window.location.href;
		});
	});


	$(function(){
		var oOrgLing=$(".footer_org_link")
		var oOrgLingImg1=$(".footer_org_link .org_link_img1")
		var oOrgLingImg2=$(".footer_org_link .org_link_img2")
		var oOrgLingA=$(".footer_org_link a")
		oOrgLingA.hover(
			function(){
			oOrgLingImg2.css('display','block')
			oOrgLingImg1.css('display','none')

			},
			function(){
			oOrgLingImg2.css('display','none')
			oOrgLingImg1.css('display','block')

			});
	});

	$(function(){
		var android_logo=$('.android_logo');
		android_logo.animate({top:50},function(){
			android_logo.animate({top:30},function(){
				move();
			});
		});
		var i=0;
		function move()
		{
			android_logo.animate({top:50},function(){
					i++;
					if(i==2)
					{
						android_logo.stop().animate();
					}
					android_logo.animate({top:30});
					move();
				});
		}

        //点击用户名 点击安全中心
        $("#user-info").click(function(event) {
            $(".nav-top-message").removeClass("current");
            $(".new-message-list").hide();
            if($(this).hasClass('active')){
                $(this).removeClass('active');
                $(this).parent("div").find(".user-section").hide();
            }
            else{
                $(this).addClass('active');
                $(this).parent("div").find(".user-section").show();
            }
            return false;
        });
        $(document).click(function(event) {
            $("#user-info").removeClass('active');
            $(".user-section").hide();
            $(".nav-top-message").removeClass("current");
            $(".new-message-list").hide();
        });
        $(".section-balance a").click(function(event) {
            if($(this).hasClass('hide-status')) {
                $(".balance-hide").show();
                $(this).html("显示余额");
                $(this).removeClass('hide-status');
            }
            else{
                $(this).html("隐藏余额");
                $(this).addClass('hide-status');
                $(".balance-hide").hide();
            }

        });

        $(".user-section").click(function(event) {
            event.stopPropagation();
        });

        $(".new-message-list").click(function(event) {
            event.stopPropagation();
        })

//        $(".nav-mission").click(function(event) {
//            event.preventDefault();
//            if($(this).parent("li").hasClass('active')) {
//                $(this).parent("li").removeClass('active');
//                $(".mission-child-list").hide();
//            }
//            else{
//                $(this).parent("li").addClass('active');
//                $(".mission-child-list").show();
//            }
//        });
        $("input").placeholder();

        $.get("/message/count_unread.json?time="+new Date().getTime(), function(data) {
            if(data.data.userId == 0) {
                $(".nav-top-message").hide();
            }
            else{
                $(".nav-top-message").show();
                if(data.data.msgCount > 0) {
                    var pointObj = "<div class='message-note-point'>"+data.data.msgCount+"</div>"
                    $(".nav-top-message").prepend(pointObj);
                    $("#nav-message span").html("("+data.data.msgCount+")");

                    $.get("/message/list.json?read=false&time="+new Date().getTime(), function(data) {
                        if(data.data.totalCount >= 5) {
                            for(var i = 0; i < 5; i++) {
                                var newMsgLiObj = "<li><a href='/message/message_detail.html?msgId="+data.data.list[i].id+"' title='"+data.data.list[i].title+"'>"+data.data.list[i].title+"</a></li>";
                                $(".link-to-allmsg").before(newMsgLiObj);
                            }
                        }
                        else{
                            if(data.data.totalCount > 0){
                                for(var item in data.data.list) {
                                    var newMsgLiObj = "<li><a href='/message/message_detail.html?msgId="+data.data.list[item].id+"' title='"+data.data.list[item].title+"'>"+data.data.list[item].title+"</a></li>";
                                    $(".link-to-allmsg").before(newMsgLiObj);
                                    item++;
                                }
                            }
                        }

                    });
                }
                else{
                    var noNewMsgObj = "<li style='text-align: center; color:#797979; height:30px; line-height: 30px; padding-top: 0;'>没有未读消息</li>";
                    $(".new-message-list").prepend(noNewMsgObj);
                    $("#nav-message span").html("");
                }
            }
        });

        $(".nav-top-message").click(function() {
            $("#user-info").removeClass('active');
            $(".user-section").hide();
            if($(this).hasClass("current")) {
                $(this).removeClass("current");
                $(".new-message-list").hide();
            }
            else{
                $(this).addClass("current");
                $(".new-message-list").show();
            }
            return false;
        });
	});
</script> 
 </body>
</html>