<!DOCTYPE html>
<html lang="eng">
<head>
   <meta charset="UTF-8"/>
   <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
   <meta name="format-detection" content="telephone=no" />
   <meta name="apple-mobile-web-app-capable" content="yes">
   <meta name="apple-mobile-web-app-status-bar-style" content="black">
   <title>九宫格</title>
   <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
   <link type="text/css" rel="stylesheet"  media="screen" href="css/style.css">
</head>
<body>
<div class="con">
    <ul class="img-list">
        <li><img src="images/01.png"></li>
        <li><img src="images/02.png"></li>
        <li><img src="images/03.png"></li>
        <li><img src="images/04.png"></li>
        <li><img src="images/05.png"></li>
        <li><img src="images/06.png"></li>
        <li><img src="images/07.png"></li>
        <li><img src="images/08.png"></li>
        <li><img src="images/09.png"></li>
    </ul>
    <a class="btn" onClick="star()">开始</a>
    <div class="graph" style="display:none;"> <span id="bar" style="width:1%;"></span> </div>
</div>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">	
var t;
var data01 = ["01","02","03","04","05","06","07","08","09"];
var data02 = ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27"];
var bar = document.getElementById("bar");
function show(){
	$(".btn").hide();
	$(".graph").show();
}
function hide(){
	$(".btn").show();
	$(".graph").hide();
}
function tfail(){
	clearInterval(t); 
    alert("很遗憾，时间到啦,闯关失败~！");
    paixu00();
    animate(); 
    bar.style.width = "1%";
	hide();
}
function dfail(){
	clearInterval(t);
	alert("很遗憾，您闯关失败啦");
	paixu00();
	animate(); 
	bar.style.width = "1%";
	hide();
}
function goo(){ 
	bar.style.width = parseInt(bar.style.width) + 1 + "%"; 
	bar.innerHTML =  bar.style.width;
	if( bar.style.width == "100%"){ 
	   tfail();
	} 
}
function done(){
	bar.style.width = "1%";
	clearInterval(t); 
    t=setInterval("goo()",100); 
}
function animate(){
	$('.img-list li img').css({'opacity' : 0,'width':0,'height':0});
    $('.img-list li img').animate({'opacity' :1,'width':200,'height':125},1000)	;
}
function star(){
	show();
	paixu01();
	var i=0;
	var a=0;
	animate();
	done();
	$('.img-list li img').click(function(){
		a++;
		$(this).css({'border-color' : '#e00'});
		if($(this).attr('src')=='images/01.png' || $(this).attr('src')=='images/02.png' || $(this).attr('src')=='images/03.png')
		{
			i++;
			if(i==3){
				alert("恭喜你第一关挑战成功，即将进入第二关");
				paixu02();
				var j = 0;
				animate();
				done();
				$('.img-list li img').click(function(){
					a++;
					$(this).css({'border-color' : '#e00'});
					if($(this).attr('src')=='images/04.png' || $(this).attr('src')=='images/05.png' || $(this).attr('src')=='images/06.png')
					{
						j++;
						if(j==3){
							alert("恭喜你第二关挑战成功，即将进入第三关");
							paixu03();
							var k = 0;
							animate();
							done();
							$('.img-list li img').click(function(){
								a++;
								$(this).css({'border-color' : '#e00'});
					            if($(this).attr('src')=='images/07.png' || $(this).attr('src')=='images/08.png' || $(this).attr('src')=='images/09.png'){
									k++;
									if(k==3){
									alert("恭喜你闯关成功");
									clearInterval(t);
									a=0;
									}
								}
								if(a==3&& k!=3)
	            	            {dfail();a=0;}
							});
							a=0;
						}						
					}
					if(a==3&& j!=3)
	            	{dfail();a=0;}
				});
				a=0;
			}
		}			
		if(a==3&& i!=3)
		{dfail();a=0;}
	});
}
function getArrayItems(arr, num) {
    var temp_array = new Array();
    for (var index in arr) {
        temp_array.push(arr[index]);
    }
    var return_array = new Array();
    for (var i = 0; i<num; i++) {
        if (temp_array.length>0) {
            var arrIndex = Math.floor(Math.random()*temp_array.length);
            return_array[i] = temp_array[arrIndex];
            temp_array.splice(arrIndex, 1);
        } else { break;}
    }
    return return_array;
}
function paixu00(){
	var data03 = ["01","02","03","04","05","06","07","08","09"];
	var array01 = [];
	var k=0;
	for(var n=0; n<data03.length;n++)
	{
	 array01[n]= '<img src="images/'+data03[n]+'.png">';
	}
	$(".img-list li").each(function(){
	     $(this).html(array01[k]);
		 k++;
	});
}
function paixu01(){
	var data03 = ["01","02","03"];
	var data04 = getArrayItems(data02,6);
	var array01 = [];
	var k=0;
	data03 = data03.concat(data04);
	data03.sort(function(){return Math.random()>0.5?-1:1;}); 
	for(var n=0; n<data03.length;n++)
	{
	 array01[n]= '<img src="images/'+data03[n]+'.png">';
	}
	$(".img-list li").each(function(){
	     $(this).html(array01[k]);
		 k++;
	});
}
function paixu02(){
	var data03 = ["04","05","06"];
	var data04 = getArrayItems(data02,6);
	var array01 = [];
	var k=0;
	data03 = data03.concat(data04);
	data03.sort(function(){return Math.random()>0.5?-1:1;}); 
	for(var n=0; n<data03.length;n++)
	{
	 array01[n]= '<img src="images/'+data03[n]+'.png">';
	}
	$(".img-list li").each(function(){
	     $(this).html(array01[k]);
		 k++;
	});
}	
function paixu03(){
	var data03 = ["07","08","09"];
	var data04 = getArrayItems(data02,6);
	var array01 = [];
	var k=0;
	data03 = data03.concat(data04);
	data03.sort(function(){return Math.random()>0.5?-1:1;}); 
	for(var n=0; n<data03.length;n++)
	{
	 array01[n]= '<img src="images/'+data03[n]+'.png">';
	}
	$(".img-list li").each(function(){
	     $(this).html(array01[k]);
		 k++;
	});
}	
</script>
</body>
</html>
