<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta content="fullscreen=yes,preventMove=no" name="ML-Config">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
	<title>♥ 我把全部都给你 ♥</title>
	<link href="images/favicon.ico" rel="shortcut icon" type="images/x-icon">
	<link rel="stylesheet" type="text/css" href="css/parallax.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<div class="wrapper">
	<div class="pages">
		<!-- 第1屏 -->
		<section class="page"></section>
        <!-- 第2屏 -->
		<section class="page"></section>
        <!-- 第3屏 -->
		<section class="page"></section>
		<!-- 第4屏 -->
		<section class="page"></section>
		<!-- 第5屏 -->
		<section class="page"></section>
		<!-- 第6屏 -->
		<section class="page"></section>
        <!-- 第7屏 -->
		<section class="page"></section>
        <!-- 第8屏 -->
		<section class="page"></section>
		<!-- 第9屏 -->
		<section class="page"></section>
		<!-- 第10屏 -->
		<section class="page"></section>
		<!-- 第11屏 -->
		<section class="page"></section>
		<!-- 第12屏 -->
		<section class="page"><img class="page-share-img" src="images/wx.jpg" /></section>
	</div>
	<!-- 心 飘-->
	<div class="xin xin-1"></div>
	<div class="xin xin-2"></div>
	<div class="xin xin-3"></div>
	<div class="xin xin-4"></div>
	<!-- 信息提示-->
	<div class="box-txt" id="tip"><p>专属VIP定制请关注微信Android_Jie</p></div>
	<!-- 加入音乐元素-->
	<div class="music">
		<audio id="audio" autoplay="autoplay" loop="loop" src="audio/1.mp3"></audio>
		<div class="music-btn" id="music-btn">
			<div class="music-open" id="music-open">
			<img src="images/pause.png" />
			<img src="images/play.gif" />
			</div>
			<div class="music-close dn" id="music-close">
			<img src="images/play.png" />
			<img src="images/paused2.png" />
			</div>
		</div>
	</div>
</div>
<script src="js/zepto.min.js"></script>
<script src="js/parallax.js"></script>
<script type="text/javascript">
$('.pages').parallax({
	direction: 'horizontal', 	// horizontal (水平翻页)
	swipeAnim: 'cover', 	// cover (切换效果)
	drag:      true,		// 是否允许拖拽 (若 false 则只有在 touchend 之后才会翻页)
	loading:   true,		// 有无加载页
	indicator: false,		// 有无指示点
	arrow:     true,		// 有无指示箭头
	onchange: function(index, element, direction) {},
	orientationchange: function(orientation){}
});
</script>
<script src="js/weixinApi.js"></script>
<script type="text/javascript">
window.onload=function(){
var audio=document.getElementById("audio"),
	music_btn=$("#music-btn"),
	music_flag=false,
	music_open=$("#music-open"),
	music_close=$("#music-close"),
	tip=$("#tip");
	setTimeout(function(){tip.css("opacity",".8");},3000);
music_btn.on('click',function(){
	if(!music_flag){
		music_open.hide();
		music_close.show();
		audio.pause();
		music_flag=true;
	}else{
		music_close.hide();
		music_open.show();
		audio.play();
		music_flag=false;
	}
});
WeixinApi.ready(function(Api){
    var wxData = {
        "appId": "",
        "imgUrl" : 'http://wangwenjie1314.github.io/views/sliderlove/images/icon.jpg',
        "link" : 'http://wangwenjie1314.github.io/views/sliderlove/index.html',
        "desc" : '秀恩爱，情侣专用，给她/他一个惊喜，拥有一份专属定制VIP版请关注尾页微信～',
        "title" : "♥ 我把全部都给你 ♥"};
    var wxCallbacks={};
    Api.shareToFriend(wxData, wxCallbacks);
    Api.shareToTimeline(wxData, wxCallbacks);
    Api.shareToWeibo(wxData, wxCallbacks);
});
}
</script>
</body>
</html>